
        <!-- 价格调整设置 -->

        {include file="template/_meta" /}
        <title></title>
        </head>
        
        {block name="css"}
        
            <style type="text/css">
                table{
                    width: 80%;
                    margin: 60px auto;
                    border-color:#E4E4E4 ;
                }
                th{
                    text-align: center;
                    background: #F9FAFC;
                    height: 50px;
                    color: #333;
                }
                td{
                    height: 30px;
                    text-align: center;
                }
                .blue{
                    color: #0099FF;
                }
                body{
                    background: #fff;
                }
                    /* 弹窗 */
                    .tanchuang {
                        width: 100%;
                        min-height: 800px;
                        background: RGBA(0, 0, 0, 0.3);
                        position: fixed;
                        z-index: 9999;
                    }
                
                    .tanchuang-content {
                        width: 800px;
                        height: 500px;
                        background: #fff;
                        z-index: 10000;
                        position: fixed;
                        top: 20%;
                        left: 20%;
                    }
                
                    .close {
                        width: 30px;
                    }
                
                    .clear {
                        clear: both;
                    }
                
                    .title-a {
                        background: RGB(247, 247, 247);
                    }
                
                    .content-title {
                        padding-top: 10px;
                        padding-left: 20px;
                        float: left;
                        width: 50%;
                        height: 40px;
                
                    }
                    .noshow {
                        display: none;
                    }
                    .dom{
                        width: 80%;
                        margin: 0 auto;
                    }
                    .dom>div{
                        margin-top: 20px;
                    }
                    .label-information>div>ul{
                        margin-left: 20px;
                    }
                    .label-information>div>ul>li{
                        width: 30%;
                        float: left;
                    }
                    .btus{
                        width: 100%;
                        text-align: center;
                    }
                    .submit_btn{
                        background: #0099FF;
                        margin-left: 100px;
                    }
                    .btus button{
                         width: 160px;
                         height: 30px;
                         color: #fff;
                         border-radius: 10px;
                    }
                    
                
            </style>
        
        
         
        
        {/block}
        <body>
        
        {block name="content"}
        <!-- 弹窗 -->
            <div class="tanchuang noshow">
                <div class="tanchuang-content ">
                    <div class="title-a clear">
                        <div class="content-title">消息</div>
                        <div class="close"><img src="__STATIC__/admin/common/img/a7.png"></div>
                    </div>
                    <!-- 里面的内容 -->
        
                    <div class="dom">
                        <form action="" method="post">
                    
                          <div class="type">
                                 <span>消息类型：</span>
                                 <span>活动广告信息</span>
                          </div>
                          <div class="title">
                              <span>信息标题：</span>
                              <span><input type="text" name="" id="" value="" /></span>
                          </div>
                          <div class="label-information">
                              <p>标签说明：</p>
                              <div>
                                  <ul class="clear">
                                      <li>
                                        <span>用户名：</span>
                                        <span>$Username$</span>
                                    </li>
                                    <li>
                                        <span>用户名：</span>
                                        <span>$Username$</span>
                                    </li>
                                    <li>
                                        <span>用户名：</span>
                                        <span>$Username$</span>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                           <div class="edit-content">
                               <span style="vertical-align: 132px;">编辑内容:</span>
                               <textarea rows="10" cols="60">
                                   
                               </textarea>
                               <p style="margin-left: 60px;">内容不能为空，长度限制在1-300个字符之间</p>
                           </div>
                           <div class="btus">
                               <button type="button"> 取消</button>
                               <button type="submit" class="submit_btn"> 确定</button>
                           </div>
                             </form>
                    </div>
                </div>
            </div>
        
                <div class="content">
                    <table border="" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="8%">序号</th>
                            <th>消息类型</th>
                            <th>站内消息</th>
                            <th>手机短信</th>
                            <th>APP消息推送</th>
                            
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>订单创建时</td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>系统消息</td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                        </tr>
                        <!--<tr>
                            <td>1</td>
                            <td>活动广告信息</td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="checkbox" value="是否发送" title="是否发送">是否发送
                                </span>
                                <span class="blue edit">
                                    编辑内容
                                </span>
                            </td>
                        </tr>-->
                    </table>
                </div>
        
        {/block}
        
        <!--_footer 作为公共模版分离出去-->
        {include file="template/_footer" /}
        <!--/_footer 作为公共模版分离出去-->
        
        
        
        <!--请在下方写此页面业务相关的脚本-->
        {block name="bottom"}
        <script type="text/javascript">
            $(".edit").click(function(){
                    $(".tanchuang").removeClass("noshow");
                
            });
            $(".close").on('click', function() {
                $(".tanchuang").addClass("noshow");
            });
        </script>
        
        
        
        {/block}
        