{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}
	
	#page {
		width: 96%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}
	.on {
        color: #21A5FA !important;
        border-bottom: solid 3px #21A5FA;
    }
    
    .distribution_list {
        margin-bottom: 10px;
        border-bottom: solid 1px #D7D7D7;
    }
    
    .distribution_list ul {
        display: flex;
        width: 600px;
        justify-content: center;
        align-items: center;
    }
    
    .distribution_list a {
        font-size: 17px;
        padding: 9px;
        color: #5E5E5E;
    }
    
    .distribution_list ul li {
        flex: 1;
    }
</style>

{/block}

<body>

	{block name="content"}

	<div class="childrenBody">
		<div class="distribution_list">
            <ul>
                <li>
                    <a href="{:url('admin/operate/operate_problem')}">常见问题</a>
                </li>
                <li>
                    <a href="{:url('admin/operate/operate_contract')}"  >协议合同</a>
                </li>
                <li>
                    <a href="{:url('admin/operate/operate_message')}" class="on" >消息提醒</a>
				</li>
				<li>
                    <a href="{:url('admin/operate/operate_integral_rule')}" >积分规则</a>
                </li>
				<li>
                    <a href="{:url('admin/operate/operate_about_index')}" >关于我们</a>
				</li>
				<li>
                    <a href="{:url('admin/operate/operate_broadcast')}" >广播消息</a>
                </li>
            </ul>
        </div>

	    <div class="tip" style="display:flex;align-items: center;">
			<img src="__STATIC__/admin/index/img/u39113.png" alt="" class="laba" style="width:16px;margin-right: 10px;margin-left: 10px;">
			<span style="font-size: 13px;color: #333333;">消息提醒为系统触发通知消息，一般无需操作，如有特殊信息要求，请联系平台客服予以协助添加</span>
		</div>
		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
				</colgroup>
				<thead>
					<tr>
						<th>消息类型</th>
						<th>消息分类</th>
						<th>站内消息</th>
					</tr>
				</thead>
				<tbody class="news_content">
				{if !empty($message)}{volist name="message" id="value"}
					<tr>
						<td>{$value.name}</td>
						<td>{$value.time|date="Y-m-d H:i",###}</td>
						<td>
							<a class="layui-btn layui-btn-mini edit" href="{:url('admin/operate/operate_message_edit',['id'=>$value.id])}"> 编辑</a>
						</td>
					</tr>
				{/volist}{/if}
				</tbody>
			</table>
			{$message->render()}

		</div>

	</div>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
		})
	</script>

	{/block}

</body>

</html>