<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板商城</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/template_goods_buy.css">
    <!-- author:sam -->
</head>
<body>
     <div class="wrapper">
         <!-- header 作为公共模板分离出去 common.css -->
        <div class="header">
            <!-- 登录条 start -->
            <div class="login_bar">
                <div class="login_bar_box">
                    <div class="change_language">
                        <a href="javascript:;">繁体&nbsp;&nbsp;</a>|&nbsp;
                        <a href="javascript:;">English</a>
                    </div>
                    <div class="login_box">
                        <!-- 登陆后 -->
                        <div class="login_after">
                            <div class="my_order mgr15">
                                <a href="javascript:;">
                                    <i class="icon_cart"></i>&nbsp;
                                    我的订单
                                </a>
                            </div>
                            <div class="my_msg mgr15">
                                <i class="icon_msg">
                                    <span class="msg_num">3</span>
                                </i>
                            </div>
                            <div class="personal_center mgr15">
                                <a href="javascript:;">
                                    <i class="icon_my"></i>
                                    136****3045
                                </a>
                            </div>
                            <a href="javascript:;" class="sign_out">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 登录条 end -->
        </div>
        <div class="logo_out">
            <div class="logo_img">
                <img src="__STATIC__/index/img/logo.png">
            </div>
            <div class="home_page">
                <a href="{:url('/')}">
                    首页<i class="icon_out"></i>
                </a>
            </div>
        </div>
        <div class="order">
            <h2 class="order_title">订单已提交，请及时支付</h2>
            <div class="order_pay">
                <div class="pay_info">
                    <div class="currency">支付信息 <span>（币种:人民币）</span></div>
                    <div class="total_pay">应付金额：￥<span>999.00</span></div>
                    <div class="balance_payment">
                        <p class="balance_to_pay">使用账户余额支付：</p>
                        <div class="pay_input">
                            <input type="text">
                            <i></i>
                        </div>
                        <div class="balance">
                            <p class="balance_money">
                                (账户余额：<i></i><span>10.00</span>)
                            </p>
                            <a href="javascript:;">余额充值</a>
                        </div>
                        <div class="use_coupon">
                            使用优惠券&gt;&gt;
                        </div>
                    </div>
                </div>

            </div>
        </div>
     </div>
<script src="__STATIC__/index/thirdpart/js/jquery.js"></script>
</body>
</html>