<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板商城</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/thirdpart/css/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/template_goods_show.css">
    <!-- author: sam | 创建：2018-09-26-->
</head>
<body>
     <div class="wrapper">
         <!-- header 作为公共模板分离出去 common.css -->
        <div class="header">
            <!-- 登录条 start -->
            <div class="login_bar">
                <div class="login_bar_box">
                    <div class="change_language">
                        <a href="javascript:;">繁体&nbsp;&nbsp;</a>|&nbsp;
                        <a href="javascript:;">English</a>
                    </div>
                    <div class="login_box">
                        <!-- 登录前 -->
                        <p class="login_before" style="display:block;">
                            <a href="javascript:;" class="sign_up">注册&nbsp;&nbsp;</a>|&nbsp;
                            <a href="javascript:;" class="sign_in">登录</a>
                        </p>
                        <!-- 登陆后 -->
                        <div class="login_after" style="display:none;">
                            <div class="my_order mgr15">
                                <a href="javascript:;">
                                    <i class="icon_cart"></i>&nbsp;
                                    我的订单
                                </a>
                            </div>
                            <div class="my_msg mgr15">
                                <i class="icon_msg">
                                    <span class="msg_num">3</span>
                                </i>
                            </div>
                            <div class="personal_center mgr15">
                                <a href="javascript:;">
                                    <i class="icon_my"></i>
                                    136****3045
                                </a>
                            </div>
                            <a href="javascript:;" class="sign_out">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 登录条 end -->
    
            <!-- 导航条 start -->
            <div class="nav_bar">
                <div class="nav_inner_box">
                    <div class="logo_box">
                        <img src="__STATIC__/index/img/logo.png" width="101" height="42" alt="公司logo">
                    </div>
                    <div class="nav_box">
                        <ul class="first_class_ul">
                            <li class="first_class_li"><a href="{:url('/')}">首页</a></li>|
                            <li class="first_class_li"><a href="template_index">模板商城</a></li>|
                            <li class="first_class_li"><a href="javascript:;">定制开发</a></li>|
                            <li class="first_class_li">
                                <a href="javascript:;" class="first_class_bot">云平台</a>
                                <ul>
                                    <li><a href="javascript:;">SaaS平台</a></li>
                                    <li><a href="javascript:;">支付平台</a></li>
                                    <li><a href="javascript:;">短信平台</a></li>
                                </ul>
                            </li>|
                            <li class="first_class_li"><a href="javascript:;">投融介</a></li>|
                            <li class="first_class_li"><a href="javascript:;">代理加盟</a></li>|
                            <li class="first_class_li"><a href="javascript:;">关于我们</a></li>
                        </ul>
                    </div>
                    <div class="dzxq_box">
                        <a href="javascript:;">定制需求</a>
                    </div>
                </div>
            </div>
            <!-- 导航条 end -->
    
            <!-- 轮播图 start -->
            <div class="swiper_box">
                <div class="swiper-container swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__STATIC__/index/img/img1.png" alt="轮播图"></div>
                        <div class="swiper-slide"><img src="__STATIC__/index/img/img2.png" alt="轮播图"></div>
                        <div class="swiper-slide"><img src="__STATIC__/index/img/img3.png" alt="轮播图"></div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                    <!-- 如果需要滚动条 -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <!-- 轮播图 end -->
        </div>
        
        <!-- 商品详情 -->
        <div class="content">
            <div class="title_box">
                <p>模板商城</p>
            </div>
            <div class="goods_detail_box clearfix">
                <div class="goods_detail_left">
                    <div class="goods_info_box clearfix">
                        <div class="goods_img_box">
                            <img src="__STATIC__/index/img/u80.png">
                        </div>
                        <div class="goods_detail_info">
                            <div class="name_and_number clearfix mgt20">
                                <h2 class="name fl">B2C购物商城</h2>
                                <span class="number fr">编号:MB001</span>
                            </div>
                            <div class="price_and_collect clearfix mgt20">
                                <p class="price fl">
                                    <span class="login_before" style="display:none;">登陆后可查看</span>
                                    <span class="login_after">
                                        <i class="del_price">原价:￥25000.00</i>
                                        <i class="present_price">现价:￥15000.00</i>
                                    </span>
                                </p>
                                <p class="collect fr">
                                    <i class="icon_star"></i>&nbsp;收藏
                                </p>
                            </div>
                            <div class="goods_type_and_time clearfix mgt20">
                                <p class="type fl">商品类型：<span>电商</span></p>
                                <p class="time fr">
                                    <i class="icon_time"></i>
                                    <span class="day">10</span>天
                                </p>
                            </div>
                            <div class="version mgt20">
                                <p>终端版本：<span>APP|小程序|微信公众号</span></p>
                            </div>
                            <div class="buy_btn_box">
                                <a href="javascript:;" class="demo_a">演示</a>
                                <a href="template_goods_buy" class="buy_a">购买</a>
                            </div>
                        </div>
                    </div>
                    <div class="goods_desc_comment" id="goods_desc_comment">
                        <div class="tab_a_box clearfix">
                            <a href="javascript:;" @click="goods_desc_a=true,goods_comment_a=false" class="goods_desc_a active">商品描述</a>
                            <a href="javascript:;" @click="goods_desc_a=false,goods_comment_a=true" class="goods_comment_a">会员评价</a>
                        </div>
                        <div class="tab_cont_box">
                            <div class="goods_desc_cont" v-show="goods_desc_a">
                                <ul>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(二) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(三) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(四) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                </ul>
                            </div>
                            <div class="goods_comment_cont" v-show="goods_comment_a">
                                <ul>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(二) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(三) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(四) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recommend_right">
                    <p class="li_title">
                        <i class="icon_fire"></i>&nbsp;&nbsp;推荐产品
                    </p>
                    <ul>
                        <!-- <li class="clearfix">
                            <a href="javascript:;">
                                <div class="recommend_img fl">
                                    <img src="__STATIC__/index/img/u80.png">
                                </div>
                                <div class="recommend_info fl">
                                    <p class="recommend_name">区块链商城</p>
                                    <p class="recommend_time">
                                        <i></i><span>10</span>天
                                    </p>
                                    <p class="recommend_version">APP|小程序|微信公众号</p>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>

         <!-- footer引用公共样式common.css -->
         <div class="footer">
            <!-- 经典用户 -->
            <div class="classic_user">
                <div class="title_box">
                    <p>经典用户</p>
                </div>
                <div class="classic_user_inner">
                    <div class="swiper-container2 swiper-no-swiping">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user1.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user2.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user3.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user4.png" alt="轮播图"></div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="footer_info">
                <div class="footer_info_inner">
                    <div class="footer_ul">
                        <ul>
                            <li>
                                <h2>定制开发</h2>
                                <p><a href="javascript:;">IOSAPP开发</a></p>
                                <p><a href="javascript:;">安卓APP开发</a></p>
                                <p><a href="javascript:;">HTML5开发</a></p>
                                <p><a href="javascript:;">小程序开发</a></p>
                                <p><a href="javascript:;">区块链开发</a></p>
                            </li>
                            <li>
                                <h2>云平台</h2>
                                <p><a href="javascript:;">小程序SaaS平台</a></p>
                                <p><a href="javascript:;">支付平台</a></p>
                                <p><a href="javascript:;">短信平台</a></p>
                            </li>
                            <li>
                                <h2>模板商城</h2>
                                <p><a href="javascript:;">智能硬件</a></p>
                                <p><a href="javascript:;">电子商务</a></p>
                                <p><a href="javascript:;">生活娱乐</a></p>
                                <p><a href="javascript:;">金融</a></p>
                                <p><a href="javascript:;">媒体</a></p>
                                <p><a href="javascript:;">企业服务</a></p>
                                <p><a href="javascript:;">政府公益</a></p>
                            </li>
                            <li>
                                <h2>投融资</h2>
                                <p><a href="javascript:;">项目融资申请</a></p>
                                <p><a href="javascript:;">融资评审会</a></p>
                            </li>
                            <li>
                                <h2>代理加盟</h2>
                                <p><a href="javascript:;">申请代理</a></p>
                            </li>
                            <li>
                                <h2>联系我们</h2>
                                <p>座机:<br />0755-36609873</p>
                                <p>专家顾问直线:<br />19925374651</p>
                                <p>邮箱:<br />zhq@siring.com.cn</p>
                                <p>地址:<br />深圳市福田区新闻路1号<br />中电信息大厦东座1518</p>
                            </li>
                            <li>
                                <h2>意见反馈</h2>
                                <div class="handle_box">
                                    <div class="handle_logo">
                                        <a href="javascript:;" class="curr"><i class="iconfont weixin">&#xe650;</i></a>
                                        <a href="javascript:;"><i class="iconfont sina">&#xe716;</i></a>
                                    </div>
                                </div>
                                <div class="code_box">
                                    <div class="wx_code">
                                        <span class="wx_span"><img src="__STATIC__/index/img/weixin.png" alt="微信二维码"></span>
                                        <p>微信公众号</p>
                                    </div>
                                    <div class="wb_code" style="display:none">
                                        <span class="wb_span"><img src="__STATIC__/index/img/weixin.png" alt="微信二维码"></span>
                                        <p>新浪微博</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="yqlj">
                        <h2>友情链接:</h2>
                        <ul>
                            <li><a href="javascript:;">微信公众平台</a></li>
                            <li><a href="javascript:;">微信开放平台</a></li>
                            <li><a href="javascript:;">微信支付平台 </a></li>
                            <li><a href="javascript:;">微信</a></li>
                            <li><a href="javascript:;">快递100</a></li>
                            <li><a href="javascript:;">阿里云</a></li>
                            <li><a href="javascript:;">腾讯云</a></li>
                            <li><a href="javascript:;">西部数据</a></li>
                            <li><a href="javascript:;">新浪微博</a></li>
                            <li><a href="javascript:;">极光推送</a></li>
                            <li><a href="javascript:;">企业支付宝</a></li>
                            <li><a href="javascript:;">七牛云</a></li>
                            <li><a href="javascript:;">银联</a></li>
                            <li><a href="javascript:;">神箭云</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bottom">
                    <p>版权所有 © 1996-2018  深圳市思锐信息技术有限公司 All Rights Reserved. 粤ICP备17014906号</p>
                </div>
            </div>
        </div>
     </div>
<script src="__STATIC__/index/thirdpart/js/jquery.js"></script>
<script src="__STATIC__/index/thirdpart/js/swiper-4.3.5.min.js"></script>
<script src="__STATIC__/index/thirdpart/js/vue.js"></script>
<!-- 页面头部尾部公共脚本 -->
<script src="__STATIC__/index/js/common.js"></script>
<script>
    var str = '';
    for(var i = 0; i < 6; i++){
        str += '<li class="clearfix">\
                    <a href="javascript:;">\
                        <div class="recommend_img fl">\
                            <img src="__STATIC__/index/img/u80.png">\
                        </div>\
                        <div class="recommend_info fl">\
                            <p class="recommend_name">区块链商城</p>\
                            <p class="recommend_time">\
                                <i></i><span>10</span>天\
                            </p>\
                            <p class="recommend_version">APP|小程序|微信公众号</p>\
                        </div>\
                    </a>\
                </li>'
    }
    str += '<a href="javascript:;" class="more_recommend">更多&gt;</a>'
    $('.recommend_right ul').append(str);
</script>
<!-- 商品描述 会员评价 切换 -->
<script>
    var goods_desc_comment = new Vue({
        el: '#goods_desc_comment',
        data: {
            goods_desc_a: true,
            goods_comment_a: false,
            active: 'active'
        }
    })
    $('.tab_a_box a').click(function(){
        $(this).addClass('active').siblings().removeClass('active');
    })
</script>
</body>
</html>