{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<style type="text/css">
	body {
		background: #fff;
	}	
    .form-group .layui-form-select {
		display: none;
	}
	
</style>

{/block}

<body>
	{block name="content"}

	<form class="layui-form layui-form-lists" action="{:url('admin/Category/save')}" method="post" enctype="multipart/form-data">
	
		<div class="form-item">
			<label class="form-label">自提点名称</label>
			<div class="form-input">
				<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" required>
			
			</div>
		</div>
		<div class="form-item">
				<label class="form-label">活动地址</label>
                <div class="form-input">
					<div class="form-inline">
						<div data-toggle="distpicker">
							<div class="form-group">
								<label class="sr-only" for="province2">Province</label>
								<select class="form-control" name="address_city1" id="province2" data-province="---- 选择省 ----"></select>
							</div>
							<div class="form-group">
								<label class="sr-only" for="city2">City</label>
								<select class="form-control" name="address_city2" id="city2" data-city="---- 选择市 ----"></select>
							</div>
							<div class="form-group">
								<label class="sr-only" for="district2">District</label>
								<select class="form-control" name="address_city3" id="district2" data-district="---- 选择区 ----"></select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-item">
				<label class="form-label"></label>
				<div class="form-input">
					<input type="text" name="address_street" lay-verify="title" autocomplete="off" placeholder="请填写具体地址" class="layui-input" id="sort_number">
		
				</div>
			</div>
		<div class="form-item">
                <label class="form-label">联系电话</label>
                <div class="form-input">
                    <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" >
                </div>
            </div>
            
	
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
			</div>
		</div>
	</form>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
			var form = layui.form(),
				$ = layui.jquery;
			form.render();
			
		});
	</script>

	{/block}

</body>

</html>