<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <style>
        .about-container{width: 1350px; margin: 0 auto;}
        .about-banner{margin-bottom: 20px;}
        .about-content{padding: 0 115px 20px;}
        .about-content .about-content-title{text-align: center; font-size: 32px; font-weight: 700; color: #515151; padding-bottom: 18px; border-bottom: 18px solid #eee; margin-bottom: 45px;}
        .about-content .about-content-container .about-content-text{font-size: 15px; line-height: 48px; color: #515151; text-indent: 36px;}
        .about-content .about-content-container .about-content-image{text-align: center; margin: 30px 0;}
        .about-content .address-message-container{display: flex; justify-content: space-around;}
        .about-content .address-message-container .message-container,
        .about-content .address-message-container .address-container{flex-basis: 48%;}
        .about-content .address-message-container .message-container{background-color: #eee; padding: 50px 50px 0;}
        .address-message-container .message-container .message-title{font-size: 28px; color: #515151; line-height: 32px;}
        .address-message-container .message-container .email{font-size: 13px; color: #515151; margin: 30px 0;}
        .address-message-container .message-container .threepart{display: flex; align-items: center; border-bottom: 1px solid #aaa; padding-bottom: 30px; }
        .message-container .threepart span{margin: 0 20px; font-size: 16px; color: #515151;}
        .message-container .company{margin-top: 30px; font-size: 13px; color: #515151;}
        .message-container .company dd{ line-height: 26px;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/u9238.jpg" width="50" height="50">
                    <p style="font-size:35px;font-weight:bolder;margin-left:7px;">智慧茶仓</p>
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">城市合伙人</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a nav-on">关于我们</a></li>
                    </ul>
                </div>

                {if !empty($phone_num)}
                <div class="header-section loaded-common">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">{$phone_num}</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;" class="backstage">进入后台</a></li>
                            <li><a href="javascript:;" class="logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                {else}
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                {/if}

            </div>
        </div>

        <div class="about">
            <div class="about-container">
                <div class="about-banner">
                    <img src="__STATIC__/index/img/img37.png" width="1350" height="460">
                </div>
                <div class="about-content">
                    <h2 class="about-content-title">关于我们</h2>
                    <div class="about-content-container">
                        <p class="about-content-text">  茶，南方之嘉木也。种茶、制茶、饮茶的传统贯穿中华文明。 茶仓，顾名思义就是贮存茶叶的仓库。</p>
                        <p class="about-content-text"> 随着人们生活水平的提高，茶产业及文化的发展，人们对普洱茶有了更深的认识，仓储逐渐变得重要起来。对于像普洱茶、藏茶等适合陈化的茶品，不同的仓储环境会对茶叶的口感有着不同的影响。如环境相对干燥的地区，茶叶转化较慢，但香气足，回甘生津迅猛；空气湿热的地区茶叶转化较快，茶汤比较柔和顺滑，但由于湿度高更难储存，茶叶容易受潮滋生霉菌，影响茶质。</p>
                        <p class="about-content-text"> 可以这样说，仓储已成为普洱茶加工的最后一道工艺，是继茶树品种、茶叶加工后最后一道重要的加工工艺。经过初精制加工出来的普洱茶，在没有经过仓储前，只能叫半成品，只有经过仓储后，才称为成品茶。仓储现在已经成为普洱茶流通环节中必要的一环，并将成为继种植、生产、销售后的一个新兴行业，甚至可以通过由仓储而完善的行业体系，达到整合资源，树立品牌，带动普洱茶发展的作用。</p>
                        <p class="about-content-text"> 然而藏茶，需要场地和资金实力。普通消费者即便拥有优质的茶品，但是苦于没有很好的存放场所；亦或不懂”行“，买到的是假货、农药、重金属偏高的低劣商品；那些良心茶厂、茶商却又深受市场劣币驱逐良币的经济怪想象困扰，时下的收藏者和经营者开始理性地对待普洱茶投资，一些先知先觉的茶商，开始重视藏茶的品质……</p>
                        <div class="about-content-image">
                            <img src="__STATIC__/index/img/img38.png" width="343" height="363">
                        </div>
                        <p class="about-content-text">以上亟待解决的问题，需要有一个有社会责任感的企业，伸出宽援之手来推动行业发展。</p>
                        <p class="about-content-text">宣铭科技！敬奉时代的召唤，扛起行业的大旗，砥砺奋进在茶行业、茶文化的最前沿，是国内最早意识到茶产业可持续发展，需要依靠茶叶科技创新的集供销及研发为一体的高科技公司，宣铭科技与国内多个本科院校，全国性茶叶研究所和省级茶叶研究所建立着长期稳定的科工研合作关系。宣铭科技为茶行业深度研发的垂直门户”智慧茶仓“SAAS平台，将给茶产业链上包含消费者、茶商、茶厂、乃至配套服务的物联网传感设备厂商等所有角色者受益 。</p>
                        <p style="text-indent: 36px; font-size: 18px; font-weight: 700; color: #515151; margin: 30px 0;">消费者收益：<p>
                        <p class="about-content-text">1.宣铭科技SAAS平台倡导有机茶概念的提出与推广应用，对茶叶农药使用、重金属、非法添加剂、微生物的通过物联传感器的数字读取提升茶叶品质提升了；可追溯系统在茶产业应用，对茶叶安全生产就变得可控，给消费者定心丸；可视化连续化生产设备使用，使茶叶变得洁净、不落地卫生；茶叶深加工产品开发，带动了茶产业链的延伸。</p>
                        <p class="about-content-text"> 2.从私人的藏茶发展到企业专门设立存储仓库，最后演变为设立专门存储的茶仓，并由最初的存储功能不断发展到交易、展示、发现潜在价值、传播茶文化等功能。</p>
                        <h3 style="text-indent: 36px; font-size: 18px; font-weight: 700; color: #515151; margin: 30px 0;">茶商茶厂收益：</h3>
                        <p class="about-content-text">1.宣铭科技SAAS平台倡导有机茶概念的提出与推广应用，对茶叶农药使用、重金属、非法添加剂、微生物的通过物联传感器的数字读取提升茶叶品质提升了；可追溯系统在茶产业应用，对茶叶安全生产就变得可控，给消费者定心丸；可视化连续化生产设备使用，使茶叶变得洁净、不落地卫生；茶叶深加工产品开发，带动了茶产业链的延伸。</p>
                        <p class="about-content-text">  2.智慧茶仓高级版可为消费者提供学茶、识茶，辩茶、鉴茶、品茶、泡茶、藏茶、喝茶与养生等相关服务； 为高端消费群体定制私享茶，为企业单位定制专用商务茶，为广大从业人员提供茶艺、茶道、审评、进修服务，为普通消费者提供物美价廉的生活茶。</p>
                        <p class="about-content-text">3.通过线上茶圈进行多层次的增值服务及招商，打通上下游供应链，从而获得更多收益。此外，智慧茶仓已计划切入供应链金融，与银行合作推广保理金融，把茶叶的品饮、收藏、投资价值最大化。</p>
                        <h3 style="text-indent: 36px; font-size: 18px; font-weight: 700; color: #515151; margin: 30px 0;"> 营销推广全员收益：</h3>
                        <p class="about-content-text">  智慧茶仓的线上推广采用分销+分享的策略，让每个茶商用户既是参与者又是传播者。线下方面，智慧茶仓采用硬广+支付入口的方式。在线下门店投放智慧茶仓收款码，消费者扫码支付后的信息将同步到商家的智慧茶仓小程序，从而构建线上线下的营销推广支付闭环。</p>
                        <p class="about-content-text">综上所述，我们另外还会在产品上会继续添加新功能，优化用户体验;另外，团队目前正在准备A轮融资，希望资金的引入可以扩张市场、运营团队，加大产品的推广力度等。</p>
                        <div class="address-message-container">
                            <div class="message-container">
                                <h2 class="message-title">合作联系</h2>
                                <p class="email">example@mail.com</p>
                                <div class="threepart">
                                    <img src="__STATIC__/index/img/wechat.png" width="60" height="60">
                                    <span>电话同号：1383445667</span>
                                    <img src="__STATIC__/index/img/qq.png" width="60" height="60">
                                    <span>1383445667</span>
                                </div>
                                <div class="company">
                                    <dl>
                                        <dt>北京公司</dt>
                                        <dd>地址：北京西城区马连道第三区商业街1060B</dd>
                                        <dd>电话：010999999999</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="address-container">
                                <img src="__STATIC__/index/img/img39.png" width="430" height="465">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 合作伙伴 --><div class="partner" style="display:none;">
            <div class="partner-container">
                <h2 class="title-h2">合作伙伴</h2>
                <div class="partner-items">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
                <div class="friendly-link">
                    <span class="link-title">友情链接：</span>
                    <a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a>
                    <a href="https://open.weixin.qq.com/" target="_blank">微信开放平台</a>
                    <a href="https://pay.weixin.qq.com/index.php" target="_blank">微信支付平台</a>
                    <a href="https://m.kuaidi100.com/" target="_blank">快递100</a>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：010-123456</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="javascript:;" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p>智慧茶仓</p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">京公网安备 33010602004345</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aside -->
    <div class="aside-container">
        <ul>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon4.png" width="32" height="32">
                <span class="aside-text">热线</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon8.png" width="32" height="32">热线电话：
                    </div>
                    <p class="contact-number">010-63268696</p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon5.png" width="32" height="32">
                <span class="aside-text">客服</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon9.png" width="32" height="32">QQ客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=63268696&amp;site=qq&amp;menu=yes">63268696</a>
                    </p>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=63268696&amp;site=qq&amp;menu=yes">63268696</a>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon6.png" width="32" height="32">
                <span class="aside-text">扫一扫</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon10.png" width="32" height="32">微信客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        w1126526701w
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/qrcode2.png" width="150" height="150">
                        </span>
                    </p>
                    <p class="contact-number interactive-bg">
                        w1126526701w
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/qrcode2.png" width="150" height="150">
                        </span>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon7.png" width="32" height="32">
                <span class="aside-text">回顶部</span>
            </li>
        </ul>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
</body>
</html>