<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <style>
        .about-container{width: 1350px; margin: 0 auto;}
        .about-banner{margin-bottom: 20px;}
        .about-content{padding: 0 115px 20px;}
        .about-content .about-content-title{text-align: center; font-size: 32px; font-weight: 700; color: #515151; padding-bottom: 18px; border-bottom: 18px solid #eee; margin-bottom: 45px;}
        .about-content .about-content-container .about-content-text{font-size: 18px; line-height: 48px; color: #515151; text-indent: 36px;}
        .about-content .about-content-container .about-content-image{text-align: center; margin: 30px 0;}
        .about-content .address-message-container{display: flex; justify-content: space-around;}
        .about-content .address-message-container .message-container,
        .about-content .address-message-container .address-container{flex-basis: 48%;}
        .about-content .address-message-container .message-container{background-color: #eee; padding: 50px 50px 0;}
        .address-message-container .message-container .message-title{font-size: 28px; color: #515151; line-height: 32px;}
        .address-message-container .message-container .email{font-size: 13px; color: #515151; margin: 30px 0;}
        .address-message-container .message-container .threepart{display: flex; align-items: center; border-bottom: 1px solid #aaa; padding-bottom: 30px; }
        .message-container .threepart span{margin: 0 20px; font-size: 16px; color: #515151;}
        .message-container .company{margin-top: 30px; font-size: 13px; color: #515151;}
        .message-container .company dd{ line-height: 26px;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/logo3.png" width="177" height="40">
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">招募经销商</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a nav-on">关于我们</a></li>
                    </ul>
                </div>
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                <div class="header-section loaded-common" style="display:none;">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">13691853045</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;">进入后台</a></li>
                            <li><a href="javascript:;">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="about-container">
                <div class="about-banner">
                    <img src="__STATIC__/index/img/img37.png" width="1350" height="460">
                </div>
                <div class="about-content">
                    <h2 class="about-content-title">关于我们</h2>
                    <div class="about-content-container">
                        <p class="about-content-text">截至目前，智慧茶仓已有3000多家合作茶商，C端用户100多万，月流水110万左右。客单价在300左右，远高于传统电商茶叶平台。</p>
                        <p class="about-content-text">智慧茶仓现阶段的盈利来源主要是会员费，未来会通过线上茶圈进行多层次的增值服务及招商，打通上下游供应链，从而获得更多收益。此外，智慧茶仓已计划切入供应链金融，与银行合作推广保理金融，把茶叶的品饮、收藏、投资价值最大化。</p>
                        <div class="about-content-image">
                            <img src="__STATIC__/index/img/img38.png" width="343" height="363">
                        </div>
                        <p class="about-content-text">智慧茶仓的线上推广采用分销+分享的策略，让每个茶商用户既是参与者又是传播者。线下方面，智慧茶仓采用硬广+支付入口的方式。在线下门店投放智慧茶仓收款码，消费者扫码支付后的信息将同步到商家的智慧茶仓小程序，从而构建线上线下的营销推广支付闭环。</p>
                        <p class="about-content-text">我们另外还会在产品上会继续添加新功能，优化用户体验;另外，团队目前正在准备A轮融资，希望资金的引入可以扩张市场、运营团队，加大产品的推广力度等。</p>
                        <div class="address-message-container">
                            <div class="message-container">
                                <h2 class="message-title">合作联系</h2>
                                <p class="email">example@mail.com</p>
                                <div class="threepart">
                                    <img src="__STATIC__/index/img/wechat.png" width="60" height="60">
                                    <span>电话同号：1383445667</span>
                                    <img src="__STATIC__/index/img/qq.png" width="60" height="60">
                                    <span>1383445667</span>
                                </div>
                                <div class="company">
                                    <dl>
                                        <dt>北京公司</dt>
                                        <dd>地址：北京西城区马连道第三区商业街1060B</dd>
                                        <dd>电话：010999999999</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="address-container">
                                <img src="__STATIC__/index/img/img39.png" width="430" height="465">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 合作伙伴 -->
        <div class="partner">
            <div class="partner-container">
                <h2 class="title-h2">合作伙伴</h2>
                <div class="partner-items">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：010-123456</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="javascript:;" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p>智慧茶仓</p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">京公网安备 33010602004345</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aside -->
    <div class="aside-container">
        <ul>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon4.png" width="32" height="32">
                <span class="aside-text">热线</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon8.png" width="32" height="32">热线电话：
                    </div>
                    <p class="contact-number">010-63268696</p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon5.png" width="32" height="32">
                <span class="aside-text">客服</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon9.png" width="32" height="32">QQ客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=63268696&amp;site=qq&amp;menu=yes">63268696</a>
                    </p>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=63268696&amp;site=qq&amp;menu=yes">63268696</a>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon6.png" width="32" height="32">
                <span class="aside-text">扫一扫</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon10.png" width="32" height="32">微信客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        w1126526701w
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/qrcode2.png" width="150" height="150">
                        </span>
                    </p>
                    <p class="contact-number interactive-bg">
                        w1126526701w
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/qrcode2.png" width="150" height="150">
                        </span>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon7.png" width="32" height="32">
                <span class="aside-text">回顶部</span>
            </li>
        </ul>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
</body>
</html>