<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/yycj.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/logo1.png" width="110" height="60">
                    <!--<p style="font-size:35px;font-weight:bolder;margin-left:7px;">智慧茶仓</p>-->
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">城市合伙人</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">关于我们</a></li>
                    </ul>
                </div>
                {if !empty($phone_num)}
                <div class="header-section loaded-common">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">{$phone_num}</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;" class="backstage">进入后台</a></li>
                            <li><a href="javascript:;" class="logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                {else}
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                {/if}
            </div>
        </div>

        <!-- 应用场景 main -->
        <div class="app-scene">
            <div class="app-scene-container">
                <div class="app-scene-nav">
                    <div class="app-scene-title">应用场景</div>
                    <div class="app-scene-nav-container clearfix">
                        <!-- scene-nav-item-on -->
                        <div class="app-scene-nav-item">茶厂</div>
                        <div class="app-scene-nav-item">茶商</div>
                        <div class="app-scene-nav-item">茶圈</div>
                        <div class="app-scene-nav-item scene-nav-item-on">用户</div>
                    </div>
                </div>
                <div class="app-scene-banner">
                    <img src="__STATIC__/index/img/cons.jpg" width="1350" height="460">
                </div>
                <div class="app-scene-article">
                    <h2 class="app-scene-article-title">宣铭会员尊享待权</h2>
                    <div class="app-scene-article-content">
                        <h3 class="app-scene-article-subtitle">普通会员</h3>
                        <p class="article-paragraph">购买了“智慧茶仓‘SaaS平台套餐的商户可轻松配置小程序各项应用，对自己的会员设置多级会员功能，例如：普通会员，面向个人客户开设。可享受商户产品优惠购买服务，享受一定折扣，针对普通会员提供独家服务，例如：</p>
                        <p class="article-paragraph">一 、任何会员都有资格在商户小程序中实现分销代理功能，既是消费者也是销售者！</p>
                        <!--<p class="article-paragraph">二、任何会员都有资格在平台上实现分销代理功能，既是消费者也是销售者！</p>-->
                        <h3 class="app-scene-article-subtitle">金卡以上会员 </h3>
                        <p class="article-paragraph">为留存商户的高等级会员，商户可设置凡消费满或储值满一万元或以上者，可申请成为金卡会员。除常规购茶优惠、限购产品优先购买等权益，针对金卡会员还可提供独家服务，例如：</p>
                        <p class="article-paragraph">一、仓库买茶代存。会员通过商户提供的小程序电商平台购买到的茶产品，可存放于商户的存茶仓库，专享企业级的一流仓储服务。</p>
                        <p class="article-paragraph">二、众筹定制再生产。为商户缔造出一种全新的零接触、高透明、无风险的茶叶市场营销模式。私人茶园也将吸引更多追求健康自然生活的人群,传递茶文化和高品质。</p>
                        <p class="article-paragraph">三、创意个性化产品及包装。在视觉消费不断充斥人们消费欲望的今天，茶叶包装除了完成基本盛装茶叶功能外，还引导着消费的价值取向。现代人们对审美要求的提高，使得我们茶叶的包装也不能马虎。茶叶包装的意义是将茶叶包装外在形态进行改变，提高茶叶给消费者带来的视觉冲击，推动茶叶销售。</p>
                        <p class="article-paragraph">四、RFID 智能化无人值守仓储管理。基于RFID的智能化仓储管理系统是在现有仓库仓储管理中引入RFID技术，对仓库到货物资入库、出库、移库、库存盘点等各个作业环节的数据进行自动化的数据采集。</p>
                        <p class="article-paragraph" style="margin: 20px 0">商户还可以可结合自身资源，为钻石卡、金卡会员提供增值服务集结， 以茶为媒介，集结高端优质人群，围绕合作、参与、价值、分享、健康、国学、中医等不同角度，服务会员用户。</p>
                        <p class="article-paragraph" style="margin: 20px 0">以上所有会员在商户购买不同店铺版本后，均可在小程序中自由配置，为用户实现贴心服务；平台还提供线上一对一专人客服，提供”懒人服务“，一条龙服务好商户提出的各项服务。</p>
                        <p class="article-paragraph" style="margin: 20px 0">通过上述会员增值服务体系，让每一个人都能使用起商户的小程序应用，让商户的会员更轻松地接触茶、了解茶、爱上茶，为广大消费者终身饮茶、习茶、悟茶提供最为便利的消费通道及良好体验！</p>
                        <div class="article-img-box"><img src="__STATIC__/index/img/img26.png" width="350" height="320"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 合作伙伴 -->
        <div class="partner">
            <div class="partner-container">
                <h2 class="title-h2" style="display: none;">合作伙伴</h2>
                <div class="partner-items" style="display: none;">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
                <div class="friendly-link">
                    <span class="link-title">友情链接：</span>
                    <a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a>
                    <a href="https://open.weixin.qq.com/" target="_blank">微信开放平台</a>
                    <a href="https://pay.weixin.qq.com/index.php" target="_blank">微信支付平台</a>
                    <a href="https://m.kuaidi100.com/" target="_blank">快递100</a>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：0755-36609696</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="{:url('index/index/about')}" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p><a href="{:url('index/index/wisdom')}" class="cpy-contact">智慧茶仓</a></p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">备案/许可证编号为：京ICP备16042486号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>

</body>
</html>