<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/swiper-4.3.5.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/logo3.png" width="300" height="68">
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a nav-on">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">招募合伙人</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">关于我们</a></li>
                    </ul>
                </div>
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                <div class="header-section loaded-common" style="display: none;">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">13691853045</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;">进入后台</a></li>
                            <li><a href="javascript:;">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="__STATIC__/index/img/banner1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/index/img/banner2.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/index/img/banner3.png">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 智慧茶仓 -->
        <div class="zhcc">
            <div class="zhcc-container">
                <div class="zhcc-img">
                    <img src="__STATIC__/index/img/img1.png" width="700" height="360">
                </div>
                <div class="zhcc-content">
                    <h2 class="title-h2">智慧茶仓</h2>
                    <h3>让您的门店商机无限</h3>
                    <ul>
                        <li>线下和线上经营完美结合</li>
                        <li>线上增值服务，叠增价值</li>
                        <li>无需专业开发，节省成本</li>
                        <li>您想到的，我们都有，您没想到的，是我们给您的惊喜！</li>
                    </ul>
                    <div class="tryout">
                        <a href="javascript:;">立即免费试用</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 应用场景 -->
        <div class="yycj">
            <div class="yycj-container">
                <h2 class="title-h2">应用场景</h2>
                <div class="scene-container">
                    <div class="scene-item item1">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">茶厂</p>
                                    <p class="subtitle">通过物联网监控实时监控茶园</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                    <div class="scene-item item2">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">茶商</p>
                                    <p class="subtitle">多渠道销售，会员及时互动</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                    <div class="scene-item item3">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">茶圈</p>
                                    <p class="subtitle">通过综合服务 ，创建丰富茶文化</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                    <div class="scene-item item4">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">用户</p>
                                    <p class="subtitle">消费的同时，茶资产也许在增值</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 典型案例 -->
        <div class="dxal">
            <div class="dxal-container">
                <h2 class="title-h2">典型案例</h2>
                <div class="case-container">
                    <div class="case-item">
                        <img src="__STATIC__/index/img/img7.png" width="387" height="235">
                        <div class="case-address-container">
                            <div class="title">
                                <span class="icon-case"></span>
                                <span class="case-name">茶之道</span>
                            </div>
                            <div class="address">
                                <div class="city">城市：<span>山东</span></div>
                                <span class="role">茶商</span>
                            </div>
                        </div>
                        <div class="case-item-mask">
                            <img src="__STATIC__/index/img/img8.png" width="155" height="152">
                            <p>扫码看实例</p>
                        </div>
                    </div>
                    <div class="case-item">
                        <img src="__STATIC__/index/img/img7.png" width="387" height="235">
                        <div class="case-address-container">
                            <div class="title">
                                <span class="icon-case"></span>
                                <span class="case-name">茶之道</span>
                            </div>
                            <div class="address">
                                <div class="city">城市：<span>山东</span></div>
                                <span class="role">茶商</span>
                            </div>
                        </div>
                        <div class="case-item-mask">
                            <img src="__STATIC__/index/img/img8.png" width="155" height="152">
                            <p>扫码看实例</p>
                        </div>
                    </div>
                    <div class="case-item">
                        <img src="__STATIC__/index/img/img7.png" width="387" height="235">
                        <div class="case-address-container">
                            <div class="title">
                                <span class="icon-case"></span>
                                <span class="case-name">茶之道</span>
                            </div>
                            <div class="address">
                                <div class="city">城市：<span>山东</span></div>
                                <span class="role">茶商</span>
                            </div>
                        </div>
                        <div class="case-item-mask">
                            <img src="__STATIC__/index/img/img8.png" width="155" height="152">
                            <p>扫码看实例</p>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="more-case">更多案例</a>
            </div>
        </div>
        <!-- 我们的服务 -->
        <div class="service">
            <div class="service-container">
                <h2 class="title-h2">我们的服务</h2>
                <div class="service-items">
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img10.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img11.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img12.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img13.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 合作伙伴 -->
        <div class="partner">
            <div class="partner-container">
                <h2 class="title-h2">合作伙伴</h2>
                <div class="partner-items">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：010-123456</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="javascript:;" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p>智慧茶仓</p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">京公网安备 33010602004345</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
    <script src="__STATIC__/index/js/swiper-4.3.5.min.js"></script>
    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        })
    </script>
</body>
</html>