<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/swiper-4.3.5.min.css">
</head>

<body>
    <div class="wrapper">

        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/u9238.jpg" width="50" height="50">
                    <p style="font-size:35px;font-weight:bolder;margin-left:7px;">智慧茶仓</p>
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a nav-on">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">城市合伙人</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">关于我们</a></li>
                    </ul>
                </div>
                {if !empty($phone_num)}
                <div class="header-section loaded-common">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">{$phone_num}</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;" class="backstage">进入后台</a></li>
                            <li><a href="javascript:;" class="logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                {else}
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                {/if}
            </div>
        </div>

        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="__STATIC__/index/img/banner1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/index/img/banner2.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="__STATIC__/index/img/banner3.png">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 智慧茶仓 -->
        <div class="zhcc">
            <div class="zhcc-container">
                <div class="zhcc-img">
                    <img src="__STATIC__/index/img/img1.png" width="700" height="360">
                </div>
                <div class="zhcc-content">
                    <h2 class="title-h2">智慧茶仓</h2>
                    <h3>让您的门店商机无限</h3>
                    <ul>
                        <li>线下和线上经营完美结合</li>
                        <li>线上增值服务，叠增价值</li>
                        <li>无需专业开发，节省成本</li>
                        <li>您想到的，我们都有，您没想到的，是我们给您的惊喜！</li>
                    </ul>
                    <div class="tryout">
                        <a href="sign_in">立即试用</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 应用场景 -->
        <div class="yycj">
            <div class="yycj-container">
                <h2 class="title-h2">应用场景</h2>
                <div class="scene-container">
                    <div class="scene-item item1">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">茶厂</p>
                                    <p class="subtitle">个性化柔性生产服务</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                    <div class="scene-item item2">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">茶商</p>
                                    <p class="subtitle">小程序saas电商服务</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                    <div class="scene-item item3">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">茶圈</p>
                                    <p class="subtitle">小程序O2O服务</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                    <div class="scene-item item4">
                        <div class="scene-item-mask">
                            <div class="scene-title-container">
                                <div class="text-container">
                                    <p class="title">用户</p>
                                    <p class="subtitle">等级消费、分销代理服务</p>
                                </div>
                                <div class="icon-more"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 典型案例 -->
        <div class="dxal">
            <div class="dxal-container">
                <h2 class="title-h2">典型案例</h2>
                <div class="case-container">
                    <div class="case-item">
                        <img src="__STATIC__/index/img/img7.png" width="387" height="235">
                        <div class="case-address-container">
                            <div class="title">
                                <span class="icon-case"></span>
                                <span class="case-name">茶之道</span>
                            </div>
                            <div class="address">
                                <div class="city">城市：<span>山东</span></div>
                                <span class="role">茶商</span>
                            </div>
                        </div>
                        <div class="case-item-mask">
                            <img src="__STATIC__/index/img/img8.png" width="155" height="152">
                            <p>扫码看实例</p>
                        </div>
                    </div>
                    <div class="case-item">
                        <img src="__STATIC__/index/img/img7.png" width="387" height="235">
                        <div class="case-address-container">
                            <div class="title">
                                <span class="icon-case"></span>
                                <span class="case-name">茶之道</span>
                            </div>
                            <div class="address">
                                <div class="city">城市：<span>山东</span></div>
                                <span class="role">茶商</span>
                            </div>
                        </div>
                        <div class="case-item-mask">
                            <img src="__STATIC__/index/img/img8.png" width="155" height="152">
                            <p>扫码看实例</p>
                        </div>
                    </div>
                    <div class="case-item">
                        <img src="__STATIC__/index/img/img7.png" width="387" height="235">
                        <div class="case-address-container">
                            <div class="title">
                                <span class="icon-case"></span>
                                <span class="case-name">茶之道</span>
                            </div>
                            <div class="address">
                                <div class="city">城市：<span>山东</span></div>
                                <span class="role">茶商</span>
                            </div>
                        </div>
                        <div class="case-item-mask">
                            <img src="__STATIC__/index/img/img8.png" width="155" height="152">
                            <p>扫码看实例</p>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="more-case">更多案例</a>
            </div>
        </div>
        <!-- 我们的服务 -->
        <div class="service">
            <div class="service-container">
                <h2 class="title-h2">我们的服务</h2>
                <div class="service-items">
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img10.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img11.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img12.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                    <div class="service-item">
                        <img src="__STATIC__/index/img/img13.png" width="134" height="134">
                        <p class="service-titme">专业客服答疑</p>
                        <p class="advantage">7*24小时专业指导</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 合作伙伴 -->
        <div class="partner">
            <div class="partner-container">
                <h2 class="title-h2" style="display: none;">合作伙伴</h2>
                <div class="partner-items" style="display: none;">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
                <div class="friendly-link">
                    <span class="link-title">友情链接：</span>
                    <a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a>
                    <a href="https://open.weixin.qq.com/" target="_blank">微信开放平台</a>
                    <a href="https://pay.weixin.qq.com/index.php" target="_blank">微信支付平台</a>
                    <a href="https://m.kuaidi100.com/" target="_blank">快递100</a>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：0755-36609696</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="{:url('index/index/about')}" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p><a href="{:url('index/index/wisdom')}" class="cpy-contact">智慧茶仓</a></p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">备案/许可证编号为：京ICP备16042486号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aside -->
    <div class="aside-container">
        <ul>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon4.png" width="32" height="32">
                <span class="aside-text">热线</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon8.png" width="32" height="32">热线电话：
                    </div>
                    <p class="contact-number">010-63268696</p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon5.png" width="32" height="32">
                <span class="aside-text">客服</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon9.png" width="32" height="32">QQ客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank"
                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=415364124&amp;site=qq&amp;menu=yes">415364124</a>
                    </p>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank"
                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=717797081&amp;site=qq&amp;menu=yes">717797081</a>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u120.png" width="32" height="32">
                <span class="aside-text">扫一扫</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon10.png" width="32" height="32">微信客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        xcx_zhihuichacang
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/qrcode2.png" width="150" height="150">
                        </span>
                    </p>
                    <p class="contact-number interactive-bg">
                        siring98
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/u120.png" width="150" height="150">
                        </span>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon7.png" width="32" height="32">
                <span class="aside-text">回顶部</span>
            </li>
        </ul>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/swiper-4.3.5.min.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        })
    </script>
</body>

</html>