<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择店铺</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/intlTelInput.min.css">
    <script src="__STATIC__/index/js/intlTelInput.min.js"></script>
    <style>
        .inner-wrap{width: 1000px; margin: 0 auto;}
        .head{margin: 25px 0;}
        .head h2{display: inline-block; font-size: 16px; color: #333; font-weight: normal; vertical-align: super;}
        .head .right{float: right;}
        .head .right .dash{color: #e8e8e8;}
        .head .right .logout{font-size: 12px; color: #38f;}
        .select{background-color: #f9f8f7; padding-bottom: 5px;}
        .select .infobar{padding: 10px 10px 0; margin-bottom: 10px;}
        .select .infobar img{margin-right: 5px; vertical-align: middle;}
        .select .infobar span{font-size: 14px; margin-right: 5px; vertical-align: middle;}
        .select .infobar span.change-phone{color: #38f; cursor: pointer;}
        .select .infobar .add-shop{float: right; margin-top: 4px; cursor: pointer; background-color: #38f; color: #fff; border: 0; padding: 7px 10px; border-radius: 3px; font-size: 13px;}
        .select .infobar .add-shop:hover{background-color: #39e;}
        .select .shop-innerbox{min-height: 460px; margin: 0 5px; padding: 20px 30px; background-color: #fff;}
        .select .shop-innerbox ul{display: flex; justify-content: space-between; flex-wrap: wrap;}
        .select .shop-innerbox li.holder{height: 0; margin: 0; padding: 0; width: 280px;}
        .select .shop-innerbox li.add-shop-li{width: 280px; height: 120px; box-sizing: border-box; border: 1px dashed #a8a8a8; border-radius: 10px; text-align: center; line-height: 120px; cursor: pointer;}
        .select .shop-innerbox .add-shop-li .cross{font-size: 25px; color: #999; font-style: normal;}
        .select .shop-innerbox .add-shop-li span{font-size: 20px; color: #999;}
        .select .shop-innerbox li.shop-item{display: flex; flex-direction: column; width: 280px; height: 120px; box-sizing: border-box; border: 1px solid #a8a8a8; margin-bottom: 20px; padding: 10px 15px;}
        .select .shop-innerbox li.audit-status{border-top: 5px solid #c9c9c9;}
        .select .shop-innerbox li.universal-shop{border-top: 5px solid #e9b665;}
        .select .shop-innerbox li.industry-shop{border-top: 5px solid #821006;}
        .select .shop-innerbox li.progress-shop{border-top: 5px solid #ff2c2e;}
        .select .shop-innerbox li.overdue-shop{border-top: 5px solid #aeaeae;}
        .shop-innerbox .shop-item .shop-info{position: relative; margin-bottom: 5px;}
        .shop-innerbox .shop-item .shop-name,
        .shop-innerbox .shop-item .shop-number{color: #0bf; width: 120px; font-size: 12px; height: 18px;}
        .shop-innerbox .shop-item .shop-version{position: absolute; top: 6px; right: 0; color: #fff; background-color: #f00; padding: 2px 0; cursor: pointer; width: 80px; text-align: center;}
        .shop-innerbox .shop-item .shop-introduce{font-size: 12px; color: #949494; flex: 1;}
        .shop-innerbox .shop-item .remaining-time{float: left; line-height: 24px; color: #949494;}
        .shop-innerbox .shop-item .into-shop{float: right; background-color: transparent; border: 1px solid #ccc; cursor: pointer; padding: 0 10px; color: #949494; margin-top: 2px;}
        .shop-innerbox .overdue-shop .renew{float: right; background-color: transparent; cursor: pointer; padding: 0 10px; color: #f00; margin-top: 2px; border: 0;}
        .shop-innerbox .universal-shop .shop-version{background: linear-gradient(to right, #e4c28b, #e9b665); border-radius: 10px;}
        .shop-innerbox .industry-shop .shop-version{background: linear-gradient(to right, #bb6a62, #821006); border-radius: 10px;}
        .shop-innerbox .progress-shop .shop-version{background: linear-gradient(to right, #da8485, #ff2c2e); border-radius: 10px;}
        .shop-innerbox .overdue-shop .shop-version{background: linear-gradient(to right, #c8c8c8, #949494); border-radius: 10px;}
        .shop-innerbox .audit-status .status-txt{font-size: 16px; line-height: 2em; text-align: center; padding: 0 20px;}
        .shop-innerbox .auditing .status-txt{margin-top: 20px;}
        .shop-innerbox .audit-status .giveup{color: #f00; cursor: pointer;}
        .shop-innerbox .audit-status .continue,
        .shop-innerbox .audit-status .cVersion{color: #00BBFF; cursor: pointer;}
        .copyright{text-align: center; margin-top: 50px;color: #515151;}
        .copyright a{color: #515151;}
        /* 修改手机号弹窗 */
        .pop-changephone{width: 680px; height: 550px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #a8a8a8; box-sizing: border-box;}
        .pop-headbar{height: 40px; background-color: #eef7ea; border-bottom: 1px solid #d7d7d7; padding: 0 20px;}
        .pop-headbar .pop-headtitle{ font-size: 14px; color: #660; line-height: 40px;}
        .pop-headbar .pop-close{font-size: 20px; color: #f00; float: right; line-height: normal; margin-top: 7px; width: 20px; text-align: center;}
        .pop-changephone .input-container{margin-top: 40px;}
        .pop-changephone .input-container .input-item{display: flex; align-items: center; height: 50px;}
        .pop-changephone .input-container .input-title{width: 210px; text-align: right; margin-right: 30px; font-size: 13px; color: #333;}
        .pop-changephone .input-container .nowphone-span{color: #c90000; font-size: 18px;}
        .pop-changephone .input-container .changephone-button{display: block; margin: 20px auto 0; width: 200px; height: 35px; background-color: #38f; color: #fff; border-radius: 5px; border: 0; cursor: pointer;}
        .pop-changephone .input-item input{width: 218px; height: 45px; border: 1px solid rgb(204, 204, 204); border-radius: 3px; padding-left: 10px; box-sizing: border-box; font-size: 14px;}
        .pop-changephone .input-item input:focus{border-color: #38f;}
        .pop-changephone .input-item button{width: 125px; height: 45px; border: 1px solid rgb(204, 204, 204); border-radius: 3px; background-color: #fff; color: #333; cursor: pointer;}
        .pop-changephone .input-item button:hover{border-color: #38f; color: #38f;}
        .cerify-code-panel{display: flex; flex-direction: row-reverse;}
        /* 创建店铺弹窗 */
        .pop-addshop{width: 720px; padding-bottom: 30px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #a8a8a8; box-sizing: border-box;}
        .pop-addshop .content-wrap{max-height: 600px; overflow-y: auto;}
        .pop-addshop .content-item{display: flex; align-items: center; margin-top: 28px;}
        .pop-addshop .content-item .content-title{width: 130px; text-align: right; margin-right: 30px; font-size: 13px; color: #333;}
        .pop-addshop .content-item input[type=text]{width: 200px; height: 30px; border: 1px solid rgb(204, 204, 204); border-radius: 3px; box-sizing: border-box; padding-left: 10px; font-size: 14px;}
        .pop-addshop .content-item input:focus{border-color: #38f;}
        .pop-addshop .address-item, 
        .pop-addshop .id-item,
        .pop-addshop .introduce-item{align-items: end;}
        .pop-addshop .id-item .id-box{display: flex;}
        .pop-addshop .id-item .positive, .pop-addshop .id-item .back{position: relative; margin-right: 70px;}
        .pop-addshop .id-item input[type=file]{position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 2;}
        .pop-addshop .id-item .id-tips{text-align: center; font-size: 13px; color: #a1a1a1;}
        .pop-addshop .introduce-item textarea{width: 500px; height: 80px; resize: none; padding: 5px; box-sizing: border-box; border: 1px solid #ccc;}
        .pop-addshop .introduce-item textarea:focus{border-color: #38f;}
        .pop-addshop .addshop-button{display: block; margin: 20px auto 0; width: 200px; height: 35px; background-color: #38f; color: #fff; border-radius: 5px; border: 0; cursor: pointer;}
        .pop-addshop .address-item select{width: 150px; height: 30px; border: 1px solid rgb(204, 204, 204); margin-bottom: 5px;}
        .pop-addshop .address-item input{width: 458px !important;}
    </style>
</head>
<body>
    <div id="app">
        <div class="warpper">
            <div class="inner-wrap">
                <div class="head">
                    <a href="./">
                        <!-- <img src="__STATIC__/index/img/logo3.png" width="100" height="23"> -->
                        <img src="__STATIC__/index/img/logo1.png" width="115" height="65">
                    <!--<p style="font-size:35px;font-weight:bolder;margin-left:7px;">智慧茶仓</p>-->
                    </a>
                    <span class="sep"></span>
                    <h2>选择店铺</h2>
                    {if !empty($phone_num)}
                    <span class="right">
                        {$phone_num}
                        <span class="dash">-</span>
                        <a href="javascript:;" class="logout">退出</a>
                    </span>
                    {/if}
                </div>
                <div class="select">
                    <div class="infobar">
                        <img src="__STATIC__/index/img/icon3.png" width="40" height="40">
                        {if !empty($phone_num)}
                        <span class="infobar-phone">{$phone_num}</span>
                        {/if}
                        <span class="change-phone">修改店铺绑定手机号</span>
                        <span style="color: red;font-weight: bold;font-size: 10px">温馨提示：由于使用最新技术，如部分用户后台IE浏览器显示异常，建议使用<a style="color: blue;" href="https://www.google.cn/chrome/">谷歌浏览器</a>、<a style="color: #66ce42;" href="http://mse.360.cn/">360浏览器</a>、<a style="color:orange" href="https://mb.qq.com/">QQ浏览器</a>等</span>
                        <button class="add-shop">创建店铺</button>
                    </div>
                    <div class="shop-box">
                        <div class="shop-innerbox">
                            <ul>
                                <li class="add-shop-li">
                                    <span class="cross">＋</span>
                                    <span>创建店铺</span>
                                </li>
                                <!-- <li class="shop-item audit-status auditing">
                                    <div class="status-txt">您的店铺申请资料已提交请耐心等待审核……</div>
                                </li> -->
                                <!-- <li class="shop-item audit-status rejected">
                                    <div class="status-txt">您的店铺资料不完整，请重新申请</div>
                                    <div class="clearfix">
                                        <span class="fl giveup">放弃</span>
                                        <span class="fr continue">继续编辑>></span>
                                    </div>
                                </li> -->
                                <!-- <li class="shop-item audit-status passed">
                                    <div class="status-txt">您的店铺申请已通过，请选择店铺版本</div>
                                    <div class="clearfix">
                                        <span class="fl giveup">放弃</span>
                                        <span class="fr cVersion">选择店铺版本>></span>
                                    </div>
                                </li> -->
                                <!-- <li class="shop-item universal-shop">
                                    <div class="shop-info">
                                        <div class="shop-name txt-hid-one">店铺名</div>
                                        <div class="shop-number txt-hid-one">店铺编号</div>
                                        <div class="shop-version">万用版</div>
                                    </div>
                                    <div class="shop-introduce txt-hid-two">店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介</div>
                                    <div class="bottom clearfix">
                                        <div class="remaining-time">剩余时间：<span>1天</span></div>
                                        <button class="into-shop">进入</button>
                                    </div>
                                </li> -->
                                <!-- <li class="shop-item industry-shop">
                                    <div class="shop-info">
                                        <div class="shop-name txt-hid-one">店铺名</div>
                                        <div class="shop-number txt-hid-one">店铺编号</div>
                                        <div class="shop-version">茶行业版</div>
                                    </div>
                                    <div class="shop-introduce txt-hid-two">店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介</div>
                                    <div class="bottom clearfix">
                                        <div class="remaining-time">剩余时间：<span>1天</span></div>
                                        <button class="into-shop">进入</button>
                                    </div>
                                </li> -->
                                <!-- <li class="shop-item progress-shop">
                                    <div class="shop-info">
                                        <div class="shop-name txt-hid-one">店铺名</div>
                                        <div class="shop-number txt-hid-one">店铺编号</div>
                                        <div class="shop-version">茶进阶版</div>
                                    </div>
                                    <div class="shop-introduce txt-hid-two">店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介</div>
                                    <div class="bottom clearfix">
                                        <div class="remaining-time">剩余时间：<span>1天</span></div>
                                        <button class="into-shop">进入</button>
                                    </div>
                                </li> -->
                                <!-- <li class="shop-item overdue-shop">
                                    <div class="shop-info">
                                        <div class="shop-name txt-hid-one">店铺名</div>
                                        <div class="shop-number txt-hid-one">店铺编号</div>
                                        <div class="shop-version">茶进阶版</div>
                                    </div>
                                    <div class="shop-introduce txt-hid-two">店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介店铺简介</div>
                                    <div class="bottom clearfix">
                                        <div class="remaining-time">剩余时间：<span>1天</span></div>
                                        <button class="renew">续费或升级订购>></button>
                                    </div>
                                </li> -->
                                <li class="holder"></li>
                                <li class="holder"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot">
                <p class="copyright">
                    © 2016 - 2019
                    <a href="./">宣铭科技版权所有</a>
                </p>
            </div>
        </div>
        <div class="mask" style="display:none;"></div>
        <!-- 修改手机号弹窗 -->
        <div class="pop pop-changephone" style="display: none;">
            <div class="pop-headbar clearfix">
                <span class="pop-headtitle">修改手机号</span>
                <a href="javascript:;" class="pop-close">×</a>
            </div>
            <div class="input-container">
                <div class="input-item nowphone">
                    <label class="input-title">现在手机号：</label>
                    <div>
                        {if !empty($phone_num)}
                        <span class="nowphone-span">{$phone_num}</span>
                        {/if}
                    </div>
                </div>
                <div class="input-item">
                    <label class="input-title">发送验证码：</label>
                    <div>
                        <input type="text" placeholder="请输入手机验证码" id="oldPhoneCode">
                        <button class="nowphone-sendcode">获取验证码</button>
                    </div>
                </div>
                <div class="input-item">
                    <label class="input-title">新手机号：</label>
                    <div>
                        <input type="text" class="newphone" id="newphone" placeholder="请输入新手机号码">
                    </div>
                </div>
                <div class="input-item">
                    <label class="input-title">新手机号验证码：</label>
                    <div>
                        <input type="text" placeholder="请输入新手机验证码" id="newPhoneCode">
                        <button class="newphone-sendcode">获取验证码</button>
                    </div>
                </div>
                <div class="input-item">
                    <label class="input-title">新手机密码：</label>
                    <div>
                        <input type="password" placeholder="请输入新手机密码" id="newPhonePwd">
                    </div>
                </div>
                <div class="input-item">
                    <label class="input-title">确认新手机密码：</label>
                    <div>
                        <input type="password" placeholder="请再次输入新手机密码" id="newPhonePwd2">
                    </div>
                </div>
                <div class="input-item">
                    <label class="input-title">验证码：</label>
                    <div>
                        <div id="mpanel"></div>
                    </div>
                </div>
                <button class="changephone-button" id="changephone-button">确认</button>
            </div>
        </div>
        <!-- 创建店铺弹窗 -->
        <div class="pop pop-addshop" style="display: none;">
            <div class="pop-headbar clearfix">
                
                <span class="pop-headtitle">创建店铺</span>
                <a href="javascript:;" class="pop-close">×</a>
            </div>
            <div class="content-wrap">
                <div class="content-item">
                    <label class="content-title">我是：</label>
                    <div>
                        <input type="radio" onchange="myEvent.changeNatureItem(this.id);" name="nature" id="personal" checked><label for="personal">个人</label>
                        <input type="radio" onchange="myEvent.changeNatureItem(this.id);" name="nature" id="company"><label for="company">公司</label>
                    </div>
                </div>
                <!-- 个人 -->
                <div class="personal-item" style="display: block;">
                    <div class="content-item">
                        <label class="content-title" for="p-storename">店铺名：</label>
                        <div>
                            <input type="text" id="p-storename" onblur="myEvent.onBlurGetInfo(this.value, 0);">
                        </div>
                    </div>
                    <!-- <div class="content-item">
                        <label class="content-title" for="p-email">邮箱：</label>
                        <div>
                            <input type="text" id="p-email" onblur="myEvent.onBlurGetInfo(this.value, 7);">
                        </div>
                    </div> -->
                    <div class="content-item">
                        <label class="content-title" for="p-name">姓名：</label>
                        <div>
                            <input type="text" id="p-name" onblur="myEvent.onBlurGetInfo(this.value, 1);">
                        </div>
                    </div>
                    <div class="content-item">
                        <label class="content-title" for="p-id">身份证号码：</label>
                        <div>
                            <input type="text" id="p-id" onblur="myEvent.onBlurGetInfo(this.value, 2)">
                        </div>
                    </div>
                    <div class="content-item address-item">
                        <label class="content-title">详细地址：</label>
                        <div>
                            <div data-toggle="distpicker" id="p-dist">
                                <select id="province" data-province="---- 选择省 ----"></select>
                                <select id="city" data-city="---- 选择市 ----"></select>
                                <select id="district" data-district="---- 选择区 ----"></select>
                            </div>
                            <input type="text" id="p-dt-add" placeholder="请填写详细地址" onblur="myEvent.onBlurGetInfo(this.value, 3)">
                        </div>
                    </div>
                    <div class="content-item id-item">
                        <label class="content-title">上传身份证：</label>
                        <div class="id-box">
                            <div class="positive">
                                <div>
                                    <img src="__STATIC__/index/img/id1.png" id='p-imgf' width="150" height="98">
                                    <input type="file" id="p-f">
                                </div>
                                <p class="id-tips">身份证正面(国徽)</p>
                            </div>
                            <div class="back">
                                <div>
                                    <img src="__STATIC__/index/img/id2.png" id="p-imgb" width="150" height="98">
                                    <input type="file" id="p-b">
                                </div>
                                <p class="id-tips">身份证反面(人像)</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item introduce-item">
                        <label class="content-title" for="p-intr">店铺介绍：</label>
                        <div>
                            <textarea onblur="myEvent.onBlurGetInfo(this.value, 4)" id="p-intr"></textarea>
                        </div>
                    </div>
                </div>
                <!-- 公司 -->
                <div class="company-item" style="display: none;">
                    <div class="content-item">
                        <label class="content-title" for="c-storename">店铺名：</label>
                        <div>
                            <input type="text" id="c-storename" onblur="myEvent.onBlurGetInfo(this.value, 0);">
                        </div>
                    </div>
                    <div class="content-item">
                        <label class="content-title" for="c-name">联系人姓名：</label>
                        <div>
                            <input type="text" id="c-name" onblur="myEvent.onBlurGetInfo(this.value, 1)">
                        </div>
                    </div>
                    <div class="content-item">
                        <label class="content-title" for="c-id">联系人身份证号：</label>
                        <div>
                            <input type="text" id="c-id" onblur="myEvent.onBlurGetInfo(this.value, 2)">
                        </div>
                    </div>
                    <div class="content-item address-item">
                        <label class="content-title">详细地址：</label>
                        <div>
                            <div data-toggle="distpicker" id="c-dist">
                                <select id="province2" data-province="---- 选择省 ----"></select>
                                <select id="city2" data-city="---- 选择市 ----"></select>
                                <select id="district2" data-district="---- 选择区 ----"></select>
                            </div>
                            <input type="text" id="c-dt-add" placeholder="请填写详细地址" onblur="myEvent.onBlurGetInfo(this.value, 3)">
                        </div>
                    </div>
                    <div class="content-item">
                        <label class="content-title" for="c-cpname">企业名称：</label>
                        <div>
                            <input type="text" id="c-cpname" onblur="myEvent.onBlurGetInfo(this.value, 5)">
                        </div>
                    </div>
                    <div class="content-item">
                        <label class="content-title" for="c-cpnum">企业执照号：</label>
                        <div>
                            <input type="text" id="c-cpnum" onblur="myEvent.onBlurGetInfo(this.value, 6)">
                        </div>
                    </div>
                    <div class="content-item id-item">
                        <label class="content-title"></label>
                        <div class="id-box">
                            <div class="positive">
                                <div>
                                    <img src="__STATIC__/index/img/id1.png" id="c-imgf" width="150" height="98">
                                    <input type="file" id="c-f">
                                </div>
                                <p class="id-tips">身份证正面(国徽)</p>
                            </div>
                            <div class="back">
                                <div>
                                    <img src="__STATIC__/index/img/id3.png" id="c-imgb" width="120">
                                    <input type="file" id="c-b">
                                </div>
                                <p class="id-tips">企业营业执照(人像)</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-item introduce-item">
                        <label class="content-title" for="c-intr">店铺介绍：</label>
                        <div>
                            <textarea id="c-intr" onblur="myEvent.onBlurGetInfo(this.value, 4)"></textarea>
                        </div>
                    </div>
                </div>
                <button class="addshop-button">确认</button>
            </div>
        </div>
    </div>

    <script src="__STATIC__/index/js/jquery.js"></script>
    <!-- 验证码 -->
    <script src="__STATIC__/index/js/verify.js"></script>
    <!-- 三级联动 -->
    <script src="__STATIC__/index/js/distpicker.data.js"></script>
    <script src="__STATIC__/index/js/distpicker.js"></script>
    <script src="__STATIC__/index/js/layer/layer.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
    <script>
        // 判断是否登录
        if(!myEvent.getCookie(btoa('phone')) && !myEvent.getCookie(btoa('password'))){
            location.pathname.indexOf('sign_in') == -1 ? location.href = 'sign_in' : '';
        }
    </script>
    <script>
        // 国际电话区号
        (function(){
            var newphone = document.querySelector('#newphone');
            // http://www.jq22.com/jquery-info12917
            var iti = window.intlTelInput(newphone, {
                preferredCountries: ['cn'],
                separateDialCode: true,
            })
        }());

        // 验证码  https://veui.net/
        (function($el, btnId){
            $($el).codeVerify({
                type : 1,
                // figure : 10,	//位数，仅在type=2时生效
                // arith : 0,	//算法，支持加减乘，不填为随机，仅在type=2时生效
                width : '130px',
                height : '45px',
                fontSize : '16px',
                codeLength: 4,
                btnId : btnId,
                ready : function() {},
                success : function(e) {
                    // alert('验证匹配！');
                    changePhone();
                },
                error : function() {
                    alert('验证码不匹配！');
                }
            });
        }('#mpanel', 'changephone-button'));

        // 修改手机号
        function changePhone(){
            var oldPhoneCode = $('#oldPhoneCode').val(),
                newphone = $('#newphone').val(),
                newPhoneCode = $('#newPhoneCode').val(),
                newPhonePwd = $('#newPhonePwd').val(),
                newPhonePwd2 = $('#newPhonePwd2').val();
            if(oldPhoneCode && newphone && newPhoneCode && newPhonePwd && newPhonePwd2){
                if(newPhonePwd === newPhonePwd2){
                    (function(){
                        $.ajax({
                            url: 'new_phone_update',
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                mobiles: newphone,
                                mobile_code: oldPhoneCode,
                                mobile_codes: newPhoneCode,
                                password: newPhonePwd,
                                confirm_password: newPhonePwd2
                            },
                            success: function(res){
                                console.log('修改手机成功');
                                if(res.status == 1){
                                    layer.msg('修改成功！');
                                    setTimeout(function(){location.reload()}, 1000);
                                }else{
                                    layer.msg(res.info);
                                }
                            },
                            error: function(){console.log('修改手机失败')}
                        })
                    }())
                }else{
                    layer.msg('前后密码不一致！');
                }
            }else{
                layer.msg('请填写信息！');
            }
        }
        
        // 关闭弹窗
        (function(){
            $('.pop-close').click(function(){
                $('.mask').hide();
                $(this).parents('.pop').hide();
                location.reload();
            })
        }());

        // 创建店铺
        (function(){
            var key = true;
            $('.addshop-button').click(function(){
                if(key){
                    var addrArr = [],
                        select,
                        id = this.id;
                    key = false;
                    if(myEvent.data.natureTag == 1){
                        select = document.querySelectorAll('#p-dist select');
                    }else{
                        select = document.querySelectorAll('#c-dist select');
                    }
                    select.forEach(function(v, i){
                        addrArr.push(v.value);
                    })
                    myEvent.data.addressStr = addrArr.join(',');
                    $.ajax({
                        url: myEvent.data.isEdit?'store_edit':'store_add',
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            id: id,
                            is_business: myEvent.data.natureTag,
                            id_card: myEvent.data.idCardNum,
                            contact_name: myEvent.data.userName,
                            address_data: myEvent.data.addressStr,
                            address_real_data: myEvent.data.addressStr2,
                            card_positive: myEvent.data.pf,
                            card_side: myEvent.data.pb,
                            store_introduction: myEvent.data.storeDesc,
                            business_name: myEvent.data.compName,
                            licence_no: myEvent.data.licenceNum,
                            store_name: myEvent.data.storeName,
                            // email: myEvent.data.email
                        },
                        success: function(res){
                            console.log('添加店铺成功',res);
                            if(res.status == 1){
                                layer.msg(res.info);
                                setTimeout(function(){
                                    location.reload();
                                    key = true;
                                }, 1000);
                            }else{
                                layer.msg(res.info);
                                key = true;
                            }
                        },
                        error: function(){
                            console.log('添加店铺失败');
                            key = true;
                        }
                    })
                }
            })
        }());

        // 获取所有店铺信息
        (function() {
            return $.ajax({
                url: 'store_all_data',
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/x-www-form-urlencoded',
            })
        }()).then(function(res){
            console.log('所有店铺', res); 
            if(res.status == 1){
                var dataArr = res.data;
                var domStr = '';
                dataArr.forEach(function(v, i){
                    if(v.status == -1){
                        domStr += '<li class="shop-item audit-status rejected">\
                                        <div class="status-txt">您的店铺资料不完整，请重新申请</div>\
                                        <div class="clearfix">\
                                            <span class="fl giveup" data-id="'+v.id+'">放弃</span>\
                                            <span class="fr continue" data-id="'+v.id+'">继续编辑>></span>\
                                        </div>\
                                    </li>';
                    }else if(v.status == 1){
                        if(v.goods_name){
                            if(v.time > 0){
                                if(v.version == 1){
                                    domStr += '<li class="shop-item universal-shop">\
                                                    <div class="shop-info">\
                                                        <div class="shop-name txt-hid-one">'+(v.store_name?v.store_name:'')+'</div>\
                                                        <div class="shop-number txt-hid-one">'+(v.store_number?v.store_number:'')+'</div>\
                                                        <div class="shop-version">'+v.goods_name+'</div>\
                                                    </div>\
                                                    <div class="shop-introduce txt-hid-two">'+v.store_introduction+'</div>\
                                                    <div class="bottom clearfix">\
                                                        <div class="remaining-time">剩余时间：<span>'+v.time+'天</span></div>\
                                                        <button class="into-shop" data-id="'+v.id+'">进入</button>\
                                                    </div>\
                                                </li>'
                                }else if(v.version == 2){
                                    domStr += '<li class="shop-item industry-shop">\
                                                    <div class="shop-info">\
                                                        <div class="shop-name txt-hid-one">'+(v.store_name?v.store_name:'')+'</div>\
                                                        <div class="shop-number txt-hid-one">'+(v.store_number?v.store_number:'')+'</div>\
                                                        <div class="shop-version">'+v.goods_name+'</div>\
                                                    </div>\
                                                    <div class="shop-introduce txt-hid-two">'+v.store_introduction+'</div>\
                                                    <div class="bottom clearfix">\
                                                        <div class="remaining-time">剩余时间：<span>'+v.time+'天</span></div>\
                                                        <button class="into-shop" data-id="'+v.id+'">进入</button>\
                                                    </div>\
                                                </li>'
                                }else if(v.version == 3){
                                    domStr += '<li class="shop-item progress-shop">\
                                                    <div class="shop-info">\
                                                        <div class="shop-name txt-hid-one">'+(v.store_name?v.store_name:'')+'</div>\
                                                        <div class="shop-number txt-hid-one">'+(v.store_number?v.store_number:'')+'</div>\
                                                        <div class="shop-version">'+v.goods_name+'</div>\
                                                    </div>\
                                                    <div class="shop-introduce txt-hid-two">'+v.store_introduction+'</div>\
                                                    <div class="bottom clearfix">\
                                                        <div class="remaining-time">剩余时间：<span>'+v.time+'天</span></div>\
                                                        <button class="into-shop" data-id="'+v.id+'">进入</button>\
                                                    </div>\
                                                </li>'
                                }

                            }else{
                                domStr += '<li class="shop-item overdue-shop">\
                                                <div class="shop-info">\
                                                    <div class="shop-name txt-hid-one">'+(v.store_name?v.store_name:'')+'</div>\
                                                    <div class="shop-number txt-hid-one">'+(v.store_number?v.store_number:'')+'</div>\
                                                    <div class="shop-version">'+v.goods_name+'</div>\
                                                </div>\
                                                <div class="shop-introduce txt-hid-two">'+v.store_introduction+'</div>\
                                                <div class="bottom clearfix">\
                                                    <div class="remaining-time">店铺到期</span></div>\
                                                    <button class="renew" data-id="'+v.id+'">续费或升级订购>></button>\
                                                </div>\
                                            </li>'
                            }
                        }else{
                            domStr += '<li class="shop-item audit-status passed">\
                                            <div class="status-txt">您的店铺申请已通过，请选择店铺版本</div>\
                                            <div class="clearfix">\
                                                <span class="fl giveup" data-id="'+v.id+'">放弃</span>\
                                                <span class="fr cVersion" data-id="'+v.id+'">选择店铺版本>></span>\
                                            </div>\
                                        </li>';
                        }
                    }else if(v.status == 2){
                        domStr += '<li class="shop-item audit-status auditing">\
                                        <div class="status-txt">您的店铺申请资料已提交请耐心等待审核……</div>\
                                    </li>';
                    }
                })
                $('.add-shop-li').after(domStr);
                // 放弃
                $('.giveup').click(function(){
                    if(confirm('是否放弃？')){
                        var id = $(this).data('id');
                        deleteShop(id);
                    }
                })
                // 选择版本
                $('.cVersion').click(function(){
                    var id = $(this).data('id');
                    myEvent.setCookie('cvt', 1, 1);
                    selectVeri(id);
                })
                // 店铺进入后台
                $('.into-shop').click(function(){
                    var id = $(this).data('id');
                    console.log(id)
                    selectVeri(id);
                })
                // 继续编辑
                $('.continue').click(function(){
                    var id = $(this).data('id');
                    $('.addshop-button').attr('id', id);
                    modifyShop(id);
                })
                // 续费或升级订购
                $('.renew').click(function(){
                    var id = $(this).data('id');
                    selectVeri(id);
                })
            }
        });

        // 继续编辑
        function modifyShop(id){
            (function(){
                return $.ajax({
                    url: 'store_return',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        id: id
                    }
                })
            }()).then(function(res){
                console.log(res);
                if(res.status == 1){
                    $('.add-shop-li').click();
                    myEvent.data.isEdit = true;
                    myEvent.data.natureTag = res.data.is_business;
                    myEvent.data.userName = res.data.contact_name;
                    myEvent.data.idCardNum = res.data.id_card;
                    myEvent.data.addressStr = res.data.address_data;
                    myEvent.data.addressStr2 = res.data.address_real_data;
                    myEvent.data.storeDesc = res.data.store_introduction;
                    if(res.data.is_business == 1){
                        myEvent.changeNatureItem('personal');
                        $('#personal').prop('checked', true);
                        $('#p-name').val(res.data.contact_name);
                        $('#p-id').val(res.data.id_card);
                        // 三级联动
                        $('#p-dist').distpicker('destroy').distpicker({autoSelect: false});
                        $('#province').val(res.data.address_data.split(',')[0]).trigger('change');
                        $('#city').val(res.data.address_data.split(',')[1]).trigger('change');
                        $('#district').val(res.data.address_data.split(',')[2]).trigger('change');

                        $('#p-dt-add').val(res.data.address_real_data);
                        $('#p-imgf').attr('src', '__UPLOADS__/'+res.data.card_positive);
                        $('#p-imgb').attr('src', '__UPLOADS__/'+res.data.card_side);
                        $('#p-intr').val(res.data.store_introduction);
                    }else{
                        myEvent.changeNatureItem('company');
                        $('#company').prop('checked', true);
                        myEvent.data.compName = res.data.business_name;
                        myEvent.data.licenceNum = res.data.licence_no;
                        $('#c-name').val(res.data.contact_name);
                        $('#c-id').val(res.data.id_card);
                        // 三级联动
                        $('#c-dist').distpicker('destroy').distpicker({autoSelect: false});
                        $('#province2').val(res.data.address_data.split(',')[0]).trigger('change');
                        $('#city2').val(res.data.address_data.split(',')[1]).trigger('change');
                        $('#district2').val(res.data.address_data.split(',')[2]).trigger('change');

                        $('#c-dt-add').val(res.data.address_real_data);
                        $('#c-cpname').val(res.data.business_name);
                        $('#c-cpnum').val(res.data.licence_no);
                        $('#c-imgf').attr('src', '__UPLOADS__/'+res.data.card_positive);
                        $('#c-imgb').attr('src', '__UPLOADS__/'+res.data.card_side);
                        $('#c-intr').val(res.data.store_introduction);
                    }
                }
            })
        }

        // 选择店铺版本
        function selectVeri(id){
            $.ajax({
                url: 'store_goto_admin',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    id: id
                },
                success: function(res){
                    if(res.status == 1){
                        location.href = 'admin';
                    }
                },
                error: function(res){console.log(res.status, res.statusText);}
            })
        }
        // 放弃店铺
        function deleteShop(id){
            $.ajax({
                url: 'store_give_up',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    id: id
                },
                success: function(res){
                    if(res.status == 1){
                        layer.msg(res.info);
                        setTimeout(function(){
                            location.reload();
                        }, 1000)
                    }
                },
                error: function(res){console.log(res.status, res.statusText);}
            })
        }

        (function(myEvent){
            myEvent.data = {
                isEdit: false,
                natureTag: 1,
                userName: '',
                idCardNum: null,
                addressStr: '',
                addressStr2: '',
                pf: '',
                pb: '',
                storeDesc: '',
                compName: null,
                licenceNum: null,
                storeName: null,
                // email: '',
            };
            // 手机打星号
            myEvent.hidePhone = function(num){
                var reg = /(\d{3})\d{4}(\d{4})/;
                return num.replace(reg, '$1****$2');
            }
            // 发送验证码
            myEvent.sendPhoneCode = function(phone, _this, url){
                var phoneReg = /^1[345789]\d{9}$/;
                if(phone !== '' && phoneReg.test(phone)){
                    getIdentifyingCode(_this, url, phone);
                }else{
                    layer.msg('电话号码格式不正确！');
                }
            }
            // 切换个人 公司
            myEvent.changeNatureItem = function(id){
                if(id == 'personal'){
                    $('.personal-item').show();
                    $('.company-item').hide();
                    myEvent.data.natureTag = 1;
                }else{
                    $('.personal-item').hide();
                    $('.company-item').show();
                    myEvent.data.natureTag = 2;
                }
            }
            // 上传图片
            myEvent.imgUpload = function(e, _this){
                var file = e.target.files[0],
                    reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e){
                    $(_this).siblings('img').attr('src', e.target.result);
                    if(_this.id == 'p-f' || _this.id == 'c-f'){
                        myEvent.data.pf = e.target.result;
                    }else{
                        myEvent.data.pb = e.target.result;
                    }
                }
            }
            // 获取名字
            myEvent.onBlurGetInfo = function(val, tag){
                if(val){
                    switch(tag){
                        case 0:
                            myEvent.data.storeName = val;
                            break;
                        case 1: 
                            myEvent.data.userName = val;
                            break;
                        case 2: 
                            myEvent.data.idCardNum = val;
                            break;
                        case 3: 
                            myEvent.data.addressStr2 = val;
                            break;
                        case 4: 
                            myEvent.data.storeDesc = val;
                            break;
                        case 5: 
                            myEvent.data.compName = val;
                            break;
                        case 6: 
                            myEvent.data.licenceNum = val;
                            break;
                        // case 7: 
                        //     myEvent.data.email = val;
                        //     break;
                    }
                }
            }
            window.myEvent = myEvent;
        }(window.myEvent || {}));

        (function(){
            $('#p-f').add('#p-b').add('#c-f').add('#c-b').on('change', function(e){
                if(this.id == 'p-f' || this.id == 'c-f'){
                    myEvent.imgUpload(e, this);
                }else{
                    myEvent.imgUpload(e, this);
                }
            })

        }())
        
        // 隐藏手机号
        $('.nowphone-span').text(myEvent.hidePhone($('.nowphone-span').text()));
        // 旧手机发送验证码
        $('.nowphone-sendcode').click(function(){
            var $phone = $('.infobar-phone').text();
            myEvent.sendPhoneCode($phone, this, 'sendMobileCodeByPhone');
        })
        // 新手机发送验证码
        $('.newphone-sendcode').click(function(){
            var $phone = $('#newphone').val();
            myEvent.sendPhoneCode($phone, this, 'PcsendMobileCode');
        })

        $('.change-phone').click(function(){
            $('.mask').show();
            $('.pop-changephone').show();
        })

        $('.add-shop').add('.add-shop-li').click(function(){
            myEvent.data.isEdit = false;
            $('.mask').show();
            $('.pop-addshop').show();
        })

    </script>


</body>
</html>