<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>招募经销商</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/swiper-4.3.5.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/upfile/css/index.css" />
    <style>
        body{position: relative;}
        .partner-info-container{width: 1350px; margin: 0 auto;}
        .partner-info-detail .info-item-title-bg{background: url(__STATIC__/index/img/img35.jpg) no-repeat center; width: 1350px; margin: 50px 0;}
        .partner-info-detail .info-item-title-bg .title{font-size: 32px; line-height: 38px; text-align: center; color: #515551; margin-bottom: 10px;}
        .partner-info-detail .info-item-title-bg .subtitle{font-size: 18px; line-height: 21px; text-align: center; color: #515551;}
        .partner-info-item .info-item-img{text-align: center;}
        .representative{margin: 100px 0;}
        .representative .swiper-slide{width: 700px; background-color: #fff; box-shadow: 0 8px 30px #ddd;}
        .representative .swiper-slide img{display: block;}
        .foot-btn{margin:auto 0;width: 300px;height:35px;line-height:35px;text-align: center;color: #fff;font-size: 18px;font-weight:700;border-radius: 5px;padding: 10px;cursor: pointer;}
        .btn-l{background-color: rgb(102,153,0);margin-right: 200px;}
        .btn-r{background-color: rgb(255,102,0);}
        .foot-box{width: 100%;height: 100px;background-color: rgb(0, 0, 0, .5);display: flex;justify-content: center;align-content: stretch;position: fixed;bottom:0px;}
        .city-title{display: flex;justify-content: space-between;padding: 10px 0;}
        .title-l{font-weight: 700;font-size: 16px;}
        .city-apply{color: #fff;background-color:rgb(152,145,52);padding:0 10px;margin-right: 15px;line-height: 23px;border-radius: 3px;}
        .city-login{line-height: 23px;}
        .apply_main{background-color: rgb(0, 0, 0, .5);width:100%;height: 100%;position: absolute;top:-80px;display: none;z-index: 1000;}
        .apply_t{width: 45%;margin:auto;margin-top:5%;background-color:#fff;padding: 20px 50px;border-radius: 15px;}
        .m_t{margin-top:30px;margin-bottom: 5px;}
        .m_t p{color: rgb(131,94,62)}
        .m_t input{border-radius: 3px;border: 1px solid rgb(215, 215, 215);height: 30px;}
        .dz>select{width: 31%;height: 30px;margin: 10px 0;}
        .sq>select{width: 25%;height: 30px;margin: 10px 0;}
        .input_w {width: 100%;}
        .input_w > input{width: 88%}
        .form-input{width: 50%;}
        .btn-code{background-color: rgb(102,204,0);color: #fff;width: 128px;height: 34px;border-radius: 3px;margin-left: -130px;}
        .btn-sub{background-color: rgb(248,84,68);color: #fff;width: 150px;height: 30px;border-radius: 30px;margin-left: 10px;}
        .deal{color: blue;cursor: pointer;}
        .deal_main{overflow-y:scroll;width: 100%;padding: 10px 20px;height: 300px;overflow-y: scroll;display: none;}
        .upimg-div .up-section {width: 200px; height: 150px;}
        .tips{color: rgb(215, 215, 215);text-align: center;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/logo1.png" width="110" height="60">
                    <!--<p style="font-size:35px;font-weight:bolder;margin-left:7px;">智慧茶仓</p>-->
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a nav-on">城市合伙人</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">关于我们</a></li>
                    </ul>
                </div>
                {if !empty($phone_num)}
                <div class="header-section loaded-common">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">{$phone_num}</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;" class="backstage">进入后台</a></li>
                            <li><a href="javascript:;" class="logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                {else}
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                {/if}
            </div>
        </div>

        <div class="partner-info">
            <div class="partner-info-container">
                <div class="city-title">
                    <div class="title-l">服务窗口</div>
                    <div style="flex:1;"></div>
                    <div class="city-apply">申请城市合伙人</div>
                    <div class="city-login">合伙人后台登录</div>
                </div>
                <div class="partner-info-banner">
                    <img src="__STATIC__/index/img/img32.jpg" width="1350" height="425">
                </div>
                <div class="partner-info-detail">
                    <div class="partner-info-item">
                        <div class="info-item-title-bg">
                            <h2 class="title">智慧茶仓 · 服务万商</h2>
                            <h3 class="subtitle">基于物联网深度茶行业解决方案</h3>
                        </div>
                        <div class="info-item-img">
                            <img src="__STATIC__/index/img/img33.jpg" width="1350" height="700">
                        </div>
                    </div>
                    <div class="partner-info-item">
                        <div class="info-item-title-bg">
                            <h2 class="title">智慧茶仓 · 预测收益</h2>
                            <h3 class="subtitle">服务万家商户月销售过亿</h3>
                        </div>
                        <div class="info-item-img">
                            <img src="__STATIC__/index/img/img34.png" width="1230" height="700">
                        </div>
                    </div>
                    <div class="partner-info-item">
                        <div class="info-item-title-bg">
                            <h2 class="title">经销商申请</h2>
                            <h3 class="subtitle">咨询电话：4000-228-258</h3>
                        </div>
                        <div class="info-item-img">
                            <img src="__STATIC__/index/img/img36.png" width="1350" height="410">
                        </div>
                    </div>
                </div>
                <div class="representative" style="display:none;">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="__STATIC__/index/img/swiper1.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="__STATIC__/index/img/swiper2.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="__STATIC__/index/img/swiper3.png"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="__STATIC__/index/img/swiper4.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 合作伙伴 -->
        <div class="partner">
            <div class="partner-container">
                <h2 class="title-h2" style="display: none;">合作伙伴</h2>
                <div class="partner-items" style="display: none;">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
                <div class="friendly-link">
                    <span class="link-title">友情链接：</span>
                    <a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a>
                    <a href="https://open.weixin.qq.com/" target="_blank">微信开放平台</a>
                    <a href="https://pay.weixin.qq.com/index.php" target="_blank">微信支付平台</a>
                    <a href="https://m.kuaidi100.com/" target="_blank">快递100</a>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：0755-36609696</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="{:url('index/index/about')}" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p><a href="{:url('index/index/wisdom')}" class="cpy-contact">智慧茶仓</a></p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">备案/许可证编号为：京ICP备16042486号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部按钮 -->
    <div class="foot-box">
            <a href="{:url('index/index/city_login')}" class="foot-btn btn-l">已有城市合伙人账号后台登录</a>
            <div class="foot-btn btn-r">立即申请城市合伙人</div>
    </div>

    <!-- aside -->
    <div class="aside-container">
        <ul>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon4.png" width="32" height="32">
                <span class="aside-text">热线</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon8.png" width="32" height="32">热线电话：
                    </div>
                    <p class="contact-number">4000-228-258</p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon5.png" width="32" height="32">
                <span class="aside-text">客服</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon9.png" width="32" height="32">QQ客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=415364124&amp;site=qq&amp;menu=yes">415364124</a>
                    </p>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=717797081&amp;site=qq&amp;menu=yes">717797081</a>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u120.png" width="32" height="32">
                <span class="aside-text">扫一扫</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon10.png" width="32" height="32">微信客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        xcx_zhihuichacang
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/qrcode2.png" width="150" height="150">
                        </span>
                    </p>
                    <p class="contact-number interactive-bg">
                        siring98
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/u120.png" width="150" height="150">
                        </span>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/icon7.png" width="32" height="32">
                <span class="aside-text">回顶部</span>
            </li>
        </ul>
    </div>


    <!-- 申请城市合伙人弹框 -->
    <form action="{:url('city/apply_register')}" method="post" enctype="multipart/form-data">
    <div class="apply_main">
        <div class="apply_t">
            <div class="m_t" style="width: 100%;display: flex;">
                <div style="font-size: 30px;font-weight: 700;width:95%;text-align:center;">申请城市合伙人</div>
                <div class="close" style="width: 5%;cursor: pointer;">
                    <img style="width: 30px;" src="__STATIC__/admin/index/img/X.png" alt="">
                </div>
            </div>
            <div class="m_t">
                <p>身份选择</p>
                <input type="radio" onchange="myEvent.changeNatureItem(this.id);" id="company" name="id_status" value="1" checked><label  style="margin-right: 100px;">企业</label>
                <input type="radio" onchange="myEvent.changeNatureItem(this.id);" id="personal" name="id_status" value="2" ><label>个人</label>
            </div>
            <div class="m_t" style="display: flex;">
                <div class="input_w">
                    <p>姓名（必填）</p>
                    <input type="text" name="user_name" onblur="myEvent.onBlurGetInfo(this.value, 0)" placeholder="  请输入您的真实姓名" required>
                </div>
                <div class="input_w">
                    <p>身份证号（必填）</p>
                    <input type="text" name="id_card" onblur="myEvent.onBlurGetInfo(this.value, 1)" placeholder="  请输入您的身份证号" required>
                </div>
            </div>
            <div class="m_t company-item" style="display: flex;">
                <div class="input_w">
                    <p>企业名称（必填）</p>
                    <input type="text" name="user_name" onblur="myEvent.onBlurGetInfo(this.value, 2)" placeholder="  请输入企业名称"  required>
                </div>
                <div class="input_w">
                    <p>企业营业执照号（必填）</p>
                    <input type="text" name="id_card" onblur="myEvent.onBlurGetInfo(this.value, 3)" placeholder="  请输入企业营业执照号（必填）" required>
                </div>
            </div>
            <div class="m_t dz">
                <p>详细地址（必选-邮寄发票地址请勿填错）</p>
                <div class="dz" data-toggle="distpicker" id="c-dist">
                    <select id="province" name="post_address_one" data-province="---- 选择省 ----"></select>
                    <select id="city" name="post_address_two" data-city="---- 选择市 ----"></select>
                    <select id="district" name="post_address_three" data-district="---- 选择区 ----"></select>
                </div>
                <input type="text" name="detail" id="c-dt-add" placeholder="请填写详细地址" onblur="myEvent.onBlurGetInfo(this.value, 4)" style="width: 94%;">
            </div>
            <div class="m_t">
                <p>证明文件（必选）</p>
                <div style="display: flex;">
                    <div class="form-input">
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div clear">
                                    <section class="z_file fl" style="width: 200px;">
                                        <img src="__STATIC__/index/img/id2.png" class="add-img" style="width: 200px;">
                                        <input type="file" name="id_image" id="file" class="file" value=""
                                            accept="image/jpg,image/jpeg,image/png,image/bmp" data-id="1" required style="width: 200px;"/>
                                            <div class="tips">+身份证正面照</div>
                                        </section>
                                </div>
                            </section>
                        </div>
                        <aside class="mask works-mask">
                            <div class="mask-content">
                                <p class="del-p ">您确定要删除作品图片吗？</p>
                                <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                            </div>
                        </aside>
                    </div>
                    <div class="form-input company-item">
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div clear">
                                    <section class="z_file fl" style="width: 120px;height: 150px;">
                                        <img src="__STATIC__/index/img/id3.png" class="add-img" style="width: 120px;height: 150px;">
                                        <input type="file" name="id_image_reverse" id="files" class="file" value="" 
                                            accept="image/jpg,image/jpeg,image/png,image/bmp" data-id="1" required style="width: 120px;height: 150px;"/>
                                            <div class="tips">+营业执照副本照</div>
                                    </section>
                                </div>
                            </section>
                        </div>
                        <aside class="mask works-mask">
                            <div class="mask-content">
                                <p class="del-p ">您确定要删除作品图片吗？</p>
                                <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                            </div>
                        </aside>
                    </div>
                    <div class="form-input personal-item" style="display: none">
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div clear">
                                    <section class="z_file fl" style="width: 200px;">
                                        <img src="__STATIC__/index/img/id1.png" class="add-img" style="width: 200px;">
                                        <input type="file" name="id_image_reverse" id="files" class="file" value=""
                                            accept="image/jpg,image/jpeg,image/png,image/bmp" data-id="1" required style="width: 200px;"/>
                                            <div class="tips">+身份证反面照</div>
                                        </section>
                                </div>
                            </section>
                        </div>
                        <aside class="mask works-mask">
                            <div class="mask-content">
                                <p class="del-p ">您确定要删除作品图片吗？</p>
                                <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                            </div>
                        </aside>
                    </div>
                </div>
                
            </div>
            <div class="m_t" style="display: flex;margin-top: 60px;">
                    <div class="input_w">
                        <p>城市合伙人登录账号（必填）</p>
                        <input type="number" name="phone_number" placeholder="  请输入您的手机号" required>
                    </div>
                    <div class="input_w">
                        <p>手机验证码</p>
                        <input type="number" name="identifying_code" id="newphone" placeholder="  30分钟内有效" required>
                        <button class="btn-code">获取验证码</button>
                    </div>
            </div>
            <div class="m_t" style="display: flex;">
                    <div class="input_w">
                        <p>城市合伙人登录密码（必填）</p>
                        <input type="password" name="password" onblur="myEvent.onBlurGetInfo(this.value, 5)" placeholder="  请输入6位以上的密码" required>
                    </div>
                    <div class="input_w">
                        <p>重新输入城市合伙人登录密码（必填）</p>
                        <input type="password" name="password_repeat" onblur="myEvent.onBlurGetInfo(this.value, 6)" placeholder="  请输入6位以上的密码" required>
                    </div>
            </div>
            <div class="m_t">
                <p>我的优势（必填）</p>
                <textarea style="width: 94%;" name="advantage" id="advantage" cols="30" rows="10" required></textarea>
            </div>
            <div class="m_t sq">
                <p>申请城市（必选）</p>
                <select name="apply_city_one">
                        <option value="0">选择省份直辖市</option>
                </select>
                <select name="city_rank">
                        <option value="2">特级城市</option>
                        <option value="3">一级城市</option>
                        <option value="4">二级城市</option>
                        <option value="5">三级城市</option>
                </select>
                <select name="city_address">
                        <option value ="0">选择城市</option>
                </select>
                <button class="btn-sub" type="submit" id="submit" >立即申请</button>
            </div>
            <div class="m_t">
                <input style="height: 13px;" type="checkbox" value="0" name="">
                <span>我已阅读并同意</span>
                <span class="deal">《城市合伙人代理协议》</span>
            </div>
            <div class="deal_main">

                    <div style="text-align: center;font-size:25px;margin: 10px 0;">城市合伙人协议</div>
                    1. 重要定义<br />
                    
                    1.1. 用户:特指智慧茶仓小程序的用户、智慧茶仓微信号粉丝和智慧茶仓官网访客。<br />
                    
                    1.2. 智慧茶仓平台:是指由智慧茶仓所拥有、控制和运营的网络平台(涵盖小程序、微信、网站等)。<br />
                    
                    1.3. 智慧茶仓城市合伙人(以下简称“城市合伙人”):是指通过智慧茶仓审核后,使用智慧茶仓平台服务的公司、单位及其他组织机构。<br />
                    
                    1.4. 智慧茶仓城市合伙人服务(以下简称“合伙人服务”):是指智慧茶仓平台为城市合伙人提供的服务。按照服务内容的不同合伙人服务可分为基础服务和扩展服务。<br />
                    
                    1.5. 基础服务:a、指城市合伙人的基础信息经智慧茶仓审核通过后,智慧茶仓将会在用户使用智慧茶仓平台发送服务请求时,及时将服务请求发送给城市合伙人的服务端,城市合伙人可以第一时间获取用户的基本信息,并为用户提供服务;b、城市合伙人使用智慧茶仓服务段及时与客户沟通,获取智慧茶仓其他相关业务的权限;c、为城市合伙人提供运营推广方案;<br />
                    
                    1.6. 扩展服务<br />
                    
                    (1)自定义菜单功能:是指城市合伙人的基础信息经智慧茶仓审核通过后,智慧茶仓可根据城市合伙人建议对该城市页面菜单配置,城市合伙人可配置业务、价格及优惠活动,配置后的内容在智慧茶仓微信服务号及智慧茶仓小程序中进行展现。<br />
                    
                    (2)营销管理:是指城市合伙人的基础信息经智慧茶仓审核通过后,城市合伙人可配置优惠信息的标题、时间,配置后的内容提交智慧茶仓,审核通过后将在城市页面展现优惠信息的标题、时间,可以点击跳转至城市合伙人配置的具体内容页面。<br />
                    
                    (3)咨询问答:是指城市合伙人的基础信息经智慧茶仓审核通过后,城市合伙人在智慧茶仓服务平台对用户问答进行管理,用户可直接跳转至城市合伙人所在城市页面<br />
                    
                    (5)自助业务管理:是指城市合伙人的基础信息经智慧茶仓审核通过后,城市合伙人可使用智慧茶仓业务管理系统,对自身业务进行有效数据管理,完成对用户的有效管理体系。<br />
                    
                    1.7. “知识产权”:指任何专利、著作权、商标、域名、精神权利、商业秘密或依法产生的任何其他知识产权以及所有附属和相关的权利,包括所有注册权、续展权以及对违约、侵占或侵害任一前述权利进行起诉的权利。<br />
                    
                    2. 城市合伙人申请条件<br />
                    
                    2.1. 智慧茶仓服务平台提供的城市合伙人服务仅供具有合法经营资质的公司、单位及其他组织机构使用。无论是普通合伙人还是邀请制合伙人,都应当根据智慧茶仓的要求提交相应的经营资质证明。仅有在智慧茶仓对合伙人提交的全部资料审核通过后,合伙人方可成为本协议的一方,本协议方可生效。否则,合伙人将不具备使用合伙人服务的主体资格。如城市合伙人违反智慧茶仓及智慧茶仓平台的任何协议或规则或智慧茶仓认为其有违法、不当行为,智慧茶仓可随时自行全权决定拒绝向城市合伙人提供城市合伙人服务,必要时将移交有关机关处理。<br />
                    
                    3. 城市合伙人的声明和保证<br />
                    
                    3.1. 城市合伙人承诺并保证,在注册时及整个协议期限内:<br />
                    
                    (1) 其是依据中国法律合法设立、有效存续并良好运营的;<br />
                    
                    (2) 其拥有所有必需的法定资质、权利、能力和授权签订本协议并履行相应义务,授予本协议项下的权利、许可和授权,并已获得为经营其业务依法所需的所有许可、批准和执照;<br />
                    
                    (3) 城市合伙人及其所有的承包商、代理人和供应商将在该城市合伙人履行本协议项下义务和行使权利过程中遵守所有适用的法律。<br />
                    
                    3.2. 城市合伙人有义务确保其向智慧茶仓提供的任何资料、注册/审核信息的真实性、完整性和准确性,包括但不限于企业营业执照、相关资质证书、联系人真实姓名、身份证号、联系电话、地址、服务信息等,保证智慧茶仓或用户可以通过上述联系方式与该城市合伙人进行联系。同时,城市合伙人也有义务在相关资料实际变更时及时更新有关资料。否则,城市合伙人应当承担由此可能造成的一切不利后果。智慧茶仓有权对城市合伙人的注册资料进行随时查阅,对存在任何问题或怀疑的注册资料,智慧茶仓有权发出通知询问城市合伙人并要求城市合伙人做出解释、改正,或直接做出处罚乃至删除账户并终止向城市合伙人提供服务等处理。<br />
                    
                    3.3. 城市合伙人对其线下与用户的交流、交易行为承担全部责任。城市合伙人保证其线下与用户的交易物品和服务:不得是国家禁止销售的或限制销售的物品和服务,不得是侵犯他人知识产权或其他合法权益的物品和服务,不得是违背社会公共利益或公共道德的物品和服务。城市合伙人有义务在线下交易完成后对物品和服务依法承担相应的售后保障义务,并积极配合智慧茶仓完成对用户投诉的处理工作。<br />
                    
                    3.4. 城市合伙人应当妥善保管其账号及相关密码,并对以该账户进行的所有活动和事件负全部责任(包括但不限于重新设置账户密码)。如果城市合伙人认为其密码处于危险状态,应立刻更改密码。城市合伙人不得以任何形式擅自披露、转让或授权他人使用自己在智慧茶仓服务平台的账户(依本协议授权使用城市合伙人账户的第三方除外)。城市合伙人应充分理解并知悉,其所设置的密码仅可于本协议有效期内用于访问城市合伙人平台(或智慧茶仓提供的其他工具)以使用服务。<br />
                    
                    3.5. 城市合伙人保证其在智慧茶仓服务平台上提交的审核信息和向用户展示的内容(包括但不限于名称、标识、联系电话、咨询问答等)的合法性,不侵犯第三方的合法权益(包括但不限于知识产权、肖像权、名誉权、所有权等)。如遇举报投诉,智慧茶仓有权发出通知询问城市合伙人并要求城市合伙人做出解释、改正,或直接做出处罚乃至删除账户并终止向城市合伙人提供服务等处理。造成智慧茶仓损害的,智慧茶仓有权追究城市合伙人责任。<br />
                    
                    3.6. 城市合伙人不得在智慧茶仓服务平台发布各类违法或违规信息。<br />
                    
                    3.7. 城市合伙人在智慧茶仓服务平台不得从事与城市合伙人服务无关的不当行为。<br />
                    
                    3.8. 城市合伙人承诺自己在使用智慧茶仓服务平台实施的所有行为遵守国家法律、法规和智慧茶仓服务平台的相关规定以及各种社会公共利益或公共道德。城市合伙人承诺对于其使用城市合伙人服务的一切行为造成的任何法律后果,包括但不限于城市合伙人基础信息和商品信息的合法性、真实性、城市合伙人与用户纠纷等,城市合伙人均应以自己的名义独立承担所有相应的法律责任,智慧茶仓无需承担任何责任。<br />
                    
                    3.9. 城市合伙人同意接收来自智慧茶仓服务平台的信息和通知。<br />
                    
                    4. 服务使用规范<br />
                    
                    4.1. 本协议为《智慧茶仓用户服务协议》的补充,城市合伙人使用城市合伙人服务应同时遵守该两份协议的约定。<br />
                    
                    4.2.通过智慧茶仓提供的服务,城市合伙人可向用户展示审核通过的信息,参加智慧茶仓平台组织的活动以及使用其他信息服务及技术服务。<br />
                    
                    4.3. 智慧茶仓有权根据运营情况和/或公司策略随时对城市合伙人服务内容和服务模式进行调整,包括但不限于增加或者减少服务的项目、对免费服务进行收费等。<br />
                    
                    4.4. 智慧茶仓服务平台有权介入和监督城市合伙人及用户之间的交易过程。该等介入和监督行为包括但不限于:<br />
                    
                    (1) 随时查阅发布城市合伙人信息的真实性、合法性、有效性,并依据智慧茶仓服务平台的相应规则对发布城市合伙人信息及城市合伙人予以处理;<br />
                    
                    (2) 依据城市合伙人和用户共同提出的仲裁申请,对城市合伙人及用户之间的交易纠纷进行单方判断,并予以仲裁裁决,该裁决结果对城市合伙人及用户均具有法律约束力;<br />
                    
                    4.5. 城市合伙人因进行交易、获取服务而发生的所有应纳税赋,均由城市合伙人自行负责支付。<br />
                    
                    4.6. 智慧茶仓服务平台发现或得到第三方通知某个具体城市合伙人或具体交易事项可能存在重大问题或平台上有违法或不当行为的;智慧茶仓服务平台有权以普通非专业人员的知识水平标准对相关内容进行判别,如智慧茶仓服务平台认为这些内容或行为具有违法或不当性质的,智慧茶仓服务平台有权根据不同情况采取删除相关信息,对城市合伙人采取限制性措施或终止对该城市合伙人提供服务,涉及违反国家强制性法律的、侵犯他人合法权利的、违反合同约定的追究相关法律责任。<br />
                    
                    4.7. 智慧茶仓有权在不通知城市合伙人的前提下删除或采取其他限制性措施处理包括但不限于下列信息:<br />
                    
                    (1) 存在欺诈等恶意或虚假内容;<br />
                    
                    (2) 与网上提供信息无关或不是以提供信息为目的;<br />
                    
                    (3) 该信息违反公共利益或可能严重损害智慧茶仓服务平台和其他城市合伙人合法利益的。<br />
                    
                    4.8. 城市合伙人修改审核通过信息,应提交智慧茶仓重新审核、通过后方可向用户进行展示。<br />
                    
                    5. 服务费用<br />
                    
                    5.1智慧茶仓收取城市合伙人年合作费用，费用金额依据城市等级而不同，城市合伙人资格期限为一年，到期后有首要续约权利，也可放弃第二年城市合伙人资格，获取城市合伙人资格还需缴纳第二年年费。<br />
                    
                    5.2智慧茶仓为城市合伙人设计线上线下推广方案,为城市合伙人持续增加客源。甲方线上线下推广活动产生的费用,由城市合伙人自行承担。<br />
                    
                    5.3城市合伙人代理城市: 为城市合伙人自行选择<br />
                    
                    5.5城市合伙人提现帐户: 为线上合伙人自行录入账号<br />
                    
                    6. 处理交易争议<br />
                    
                    6.1. 城市合伙人完全理解并不可撤销地授权智慧茶仓服务平台或城市合伙人与智慧茶仓平台一致同意的第三方,根据本协议及智慧茶仓服务平台相关规则的规定,处理用户与城市合伙人之间因智慧茶仓服务平台展示城市合伙人信息所引起的所有交易及可能产生的交易纠纷。据此,城市合伙人同意智慧茶仓服务平台有权依据城市合伙人和用户共同提出的仲裁申请,对城市合伙人及用户之间的交易纠纷进行单方判断,并予以仲裁裁决,该裁决结果对城市合伙人及用户均具有法律约束力。<br />
                    
                    6.2. 智慧茶仓服务平台或城市合伙人与智慧茶仓服务平台一致同意的第三方有权基于城市合伙人及用户不可撤销的授权受理城市合伙人与用户因交易产生的争议,并有权单方判断与该争议相关的事实及应适用的规则,进而做出处理决定,包括但不限于调整相关城市合伙人信息展示状态。该处理决定对双方均有约束力。城市合伙人应弥补智慧茶仓服务平台的损失,否则智慧茶仓服务平台有权直接抵减城市合伙人在其他合同项下的权益,并有权继续追偿。<br />
                    
                    6.3. 城市合伙人理解并同意,智慧茶仓服务平台并非司法机构,仅能以普通人的身份及知识对证据进行鉴别,智慧茶仓服务平台对争议的仲裁完全是基于城市合伙人不可撤销得授权,其无法保证争议处理结果符合城市合伙人的期望,也不对争议调处结论承担任何责任。如城市合伙人因此遭受损失,则应自行向受益人索偿。<br />
                    
                    7. 服务的终止<br />
                    
                    7.1. 城市合伙人向智慧茶仓服务平台提出注销智慧茶仓服务平台注册用户身份,经智慧茶仓服务平台审核同意,由智慧茶仓注销该注册用户,城市合伙人即解除与智慧茶仓服务平台的协议关系。<br />
                    
                    7.2. 因城市合伙人违反相关法律法规或者违反本协议中的任何承诺或保证,包括但不限于本协议项下的任何约定,智慧茶仓服务平台均有权立刻终止本协议,且按有关规则对城市合伙人进行处罚,包括但不限于在不通知城市合伙人的情况下,冻结或关闭其所有与智慧茶仓相关的服务账号、解除与其发生的或即将发生的合作关系等。<br />
                    
                    7.3. 协议终止后,智慧茶仓服务平台没有义务为城市合伙人保留智慧茶仓服务平台服务账户中或与之相关的任何信息,或转发任何未曾阅读或发送的信息给城市合伙人或第三方,亦不就终止协议而对城市合伙人或任何第三者承担任何责任。<br />
                    
                    7.4. 无论本协议因何原因终止,在协议终止前的行为所导致的任何赔偿和责任,城市合伙人必须完全且独立地承担;如城市合伙人在协议终止前在智慧茶仓服务平台上存在违法行为或违反协议的行为,智慧茶仓仍可行使本协议所规定的权利。<br />
                    
                    8. 知识产权<br />
                    
                    8.1. 智慧茶仓是智慧茶仓服务平台的所有者及运营方,拥有智慧茶仓服务平台内容及资源的版权,受知识产权法律法规及规范性文件的保护,享有对智慧茶仓服务平台各种协议、声明的修改权;未经智慧茶仓的明确书面许可,任何第三方不得为任何非私人或商业目的获取或使用智慧茶仓服务平台的任何部分或通过智慧茶仓服务平台可直接或间接获得的任何内容、服务或资料。任何第三方违反本协议的规定以任何方式,和/或以任何文字对智慧茶仓服务平台的任何部分进行发表、复制、转载、更改、引用、链接、下载或以其他方式进行使用,或向任何其他第三方提供获取智慧茶仓服务平台任何内容的渠道,则对智慧茶仓服务平台的使用权将立即终止,且任何第三方必须按照智慧茶仓的要求,归还或销毁使用智慧茶仓服务平台任何部分的内容所创建的资料的任何副本。<br />
                    
                    8.2. 智慧茶仓未向任何第三方转让智慧茶仓服务平台或其中的任何内容所相关的任何权益或所有权,且一切未明确向任何第三方授予的权利均归智慧茶仓所有。未经本协议明确允许而擅自使用本平台任何内容、服务或资料的,构成对本协议的违约行为,且可能触犯著作权、商标、专利和/或其他方面的法律法规,智慧茶仓保留对任何违反本协议规定的第三方(包括单位或个人等)提起法律诉讼的权利。<br />
                    
                    8.3. 城市合伙人授予智慧茶仓免费的、非独占的、世界范围内的、永久的、不可撤销的权利和许可,对城市合伙人的任何以及全部资料进行使用、复制、演示、展示、分发、改编、修改、重新排版、制作衍生作品以及商业化或非商业化,并可再许可前述权利,惟其前提是,智慧茶仓不会更改城市合伙人所提供的商标的形式(除非为了推广介绍的目的而改变商标的大小,前提是相关比例保持不变),并将遵守城市合伙人就城市合伙人商标的特定使用提出的移除商标的要求(如果城市合伙人不能通过智慧茶仓服务平台或服务提供的标准化功能进行此操作),然而,如果未经城市合伙人同意,但依据所适用法律未经城市合伙人或者城市合伙人的关联机构授权仍允许使用城市合伙人的<br />
                    
                    资料(例如,著作权法项下的合理使用或第三方的有效许可),则本协议的任何规定均不阻止或者损害智慧茶仓使用城市合伙人的资料的权利。<br />
                    
                    9. 用户及第三方投诉<br />
                    
                    9.1. 用户及第三方发现智慧茶仓服务平台展示的城市合伙人信息和/或城市合伙人所<br />
                    
                    提供的产品或服务侵犯或违反了其他个人、公司或实体的名誉权、专利、版权、商业秘密时,可以向智慧茶仓发出权利通知。智慧茶仓将及时把权利通知转发给城市合伙人。<br />
                    
                    9.2. 城市合伙人收到权利通知后,可以依法向智慧茶仓发出不侵权的反通知。反通知发出后,智慧茶仓可将反通知转发权利方,且依法不承担法律责任。<br />
            </div>
        </div>
    </div>
    </form>

 

    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/distpicker.data.js"></script>
    <script src="__STATIC__/index/js/distpicker.js"></script>
    <script src="__STATIC__/index/js/layer/layer.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
    <script src="__STATIC__/index/js/swiper-4.3.5.min.js"></script>
    <script type="text/javascript " src="__STATIC__/admin/common/upfile/js/imgUp.js"></script>
    <script>
        var representative = new Swiper('.swiper-container', {
			watchSlidesProgress: true,
			slidesPerView: 'auto',
			centeredSlides: true,
			loop: true,
			autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
			on: {
				progress: function (progress) {
					for (i = 0; i < this.slides.length; i++) {
						var slide = this.slides.eq(i);
						var slideProgress = this.slides[i].progress;
						modify = 1;
						if (Math.abs(slideProgress) > 1) {
							modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
						}
						translate = slideProgress * modify * 260 + 'px';
						scale = 1 - Math.abs(slideProgress) / 5;
						zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
						slide.transform('translateX(' + translate + ') scale(' + scale + ')');
						slide.css('zIndex', zIndex);
						slide.css('opacity', 1);
						if (Math.abs(slideProgress) > 3) {
							slide.css('opacity', 0);
						}
					}
				},
				setTransition: function (transition) {
					for (var i = 0; i < this.slides.length; i++) {
						var slide = this.slides.eq(i)
						slide.transition(transition);
					}
				}
			}
		});
      
        (function(myEvent){
            myEvent.data = {
                real_name: '',
                id_number: '',
                company_name: '',
                company_number: '',
                detail: '',
                phone_password: '',
                phone_password_repeat: '',
                // email: '',
            };
            // 发送验证码
            myEvent.sendPhoneCode = function(phone, _this, url){
                var phoneReg = /^1[345789]\d{9}$/;
                if(phone !== '' && phoneReg.test(phone)){
                    getIdentifyingCode(_this, url, phone);
                }else{
                    layer.msg('电话号码格式不正确！');
                }
            }
            // 切换个人 公司
            myEvent.changeNatureItem = function(id){
                if(id == 'personal'){
                    $('.personal-item').show();
                    $('.company-item').hide();
                    myEvent.data.natureTag = 1;
                }else{
                    $('.personal-item').hide();
                    $('.company-item').show();
                    myEvent.data.natureTag = 2;
                }
            }

            // 获取名字
            myEvent.onBlurGetInfo = function(val, tag){
                if(val){
                    switch(tag){
                        case 0:
                            myEvent.data.real_name = val;//姓名
                            break;
                        case 1: 
                            myEvent.data.id_number = val;//身份证
                            break;
                        case 2: 
                            myEvent.data.company_name = val;//企业名
                            break;
                        case 3: 
                            myEvent.data.company_number = val;//企业营业号
                            break;
                        case 4: 
                            myEvent.data.detail = val;//详细地址
                            break;
                        case 5: 
                            myEvent.data.phone_password = val;//密码
                            break;
                        case 6: 
                            myEvent.data.phone_password_repeat = val;//确认密码
                            break;
                        // case 7: 
                        //     myEvent.data.email = val;
                        //     break;
                    }
                }
            }
            console.log($('#province').data("province"))
            window.myEvent = myEvent;
        }(window.myEvent || {}));


        // 申请合伙人
        (function(){
            $('.btn-sub').click(function(){
                
            })
        }());

        //手机号发生验证码
        $('.btn-code').click(function(){
            var $phone = $('#newphone').val();
            myEvent.sendPhoneCode($phone, this, 'PcsendMobileCode');
        })

        //调起申请弹框
        $(".btn-r").click(function() {
            $(".apply_main").show();
        })
        //关闭弹窗
        $(".close").click(function() {
            $(".apply_main").hide();
        })
        //协议
        $(".deal").click(function() {
            $(".deal_main").toggle();
        })
    </script>
</body>
</html>