<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>茶厂</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/yycj.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/u9238.jpg" width="50" height="50">
                    <p style="font-size:35px;font-weight:bolder;margin-left:7px;">智慧茶仓</p>
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">城市合伙人</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">关于我们</a></li>
                    </ul>
                </div>
                {if !empty($phone_num)}
                <div class="header-section loaded-common">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">{$phone_num}</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;" class="backstage">进入后台</a></li>
                            <li><a href="javascript:;" class="logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                {else}
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                {/if}
            </div>
        </div>

        <!-- 应用场景 main -->
        <div class="app-scene">
            <div class="app-scene-container">
                <div class="app-scene-nav">
                    <div class="app-scene-title">应用场景</div>
                    <div class="app-scene-nav-container clearfix">
                        <!-- scene-nav-item-on -->
                        <div class="app-scene-nav-item scene-nav-item-on">茶厂</div>
                        <div class="app-scene-nav-item">茶商</div>
                        <div class="app-scene-nav-item">茶圈</div>
                        <div class="app-scene-nav-item">用户</div>
                    </div>
                </div>
                <div class="app-scene-banner">
                    <img src="__STATIC__/index/img/teafac.jpg" width="1350" height="460">
                </div>
                <div class="app-scene-article">
                    <h2 class="app-scene-article-title"> “专属定制”和“众筹期茶”服务茶厂柔性生产</h2>
                    <div class="app-scene-article-content">
                        <h3 class="app-scene-article-subtitle">“专属定制”冲击波来袭</h3>
                        <p class="article-paragraph">随着个性化、小众化时代到来，定制茶叶日渐受宠。宣铭科技的“智慧茶仓”平台，为茶厂专心设计的“专属定制”板块不仅提供茶叶从生产到包装的专属定制，其延伸的茶圈服务，甚至到私人茶园、茶文化、茶旅游等，都能为客户量身打造出具有浓郁个体专属风格。</p>
                        <p class="article-paragraph">所谓茶叶私人订制，即茶叶专属定制，是指茶叶企业根据客户的特定需求，从茶叶选料、加工工艺、品质等级和包装形象设计等进行定制化的加工生产 ，与一般用茶相比，茶叶私人定制打上用户风格烙印，具有更多的文化因素以及个性元素和纪念意义，为市场所青睐。</p>
                        <p class="article-paragraph">茶叶产于哪片茶园，用什么样的工艺制作，到用什么材质来包装，服务哪个国度哪类人群，都可以依照自己的需求进行定制。实际上，茶叶“私人定制”由来已久，据史料记载，清朝雍正年间，地方官员统一挑选一流制茶师手工精制，在贡茶上印上专门标志，进贡朝廷，成为宫廷茶饮。</p>
                        <div class="article-img-box"><img src="__STATIC__/index/img/u9296.png" width="485" height="300"></div>
                        <h3 class="app-scene-article-subtitle">“众筹期茶” 让茶厂个性生成大显身手</h3>
                        <p class="article-paragraph">众筹，已经不是什么新鲜事物。现如今大众可以众筹买水果、众筹买房子、众筹买店面、众筹入股等等，宣铭科技如今推出的“众筹期茶”业务可以让入驻茶厂轻松发起了一场茶叶众筹的活动，收获茶叶消费者的积极参与。  </p>
                        <p class="article-paragraph">不同于常规的茶叶消费，众筹买茶具有团队优势、价格优势、多样性等优势。茶厂在不确定哪一款茶今年会“火爆”，就可以从多角度为大众上新各类品种茶叶让用户挑选。消费者从中也能发掘出不同品类的精品好茶，体现出消费品类的多样性。  </p>
                        <div class="article-img-box"><img src="__STATIC__/index/img/img15.png" width="485" height="300"></div>
                        
                </div>
            </div>
        </div>

        <!-- 合作伙伴 -->
        <div class="partner">
            <div class="partner-container">
                <h2 class="title-h2" style="display: none;">合作伙伴</h2>
                <div class="partner-items" style="display: none;">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
                <div class="friendly-link">
                    <span class="link-title">友情链接：</span>
                    <a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a>
                    <a href="https://open.weixin.qq.com/" target="_blank">微信开放平台</a>
                    <a href="https://pay.weixin.qq.com/index.php" target="_blank">微信支付平台</a>
                    <a href="https://m.kuaidi100.com/" target="_blank">快递100</a>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：0755-36609696</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="{:url('index/index/about')}" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p><a href="{:url('index/index/wisdom')}" class="cpy-contact">智慧茶仓</a></p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">备案/许可证编号为：京ICP备16042486号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
</body>
</html>