<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>茶厂</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/yycj.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/logo3.png" width="177" height="40">
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">招募经销商</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">关于我们</a></li>
                    </ul>
                </div>
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                <div class="header-section loaded-common" style="display:none;">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">13691853045</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;">进入后台</a></li>
                            <li><a href="javascript:;">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 应用场景 main -->
        <div class="app-scene">
            <div class="app-scene-container">
                <div class="app-scene-nav">
                    <div class="app-scene-title">应用场景</div>
                    <div class="app-scene-nav-container clearfix">
                        <!-- scene-nav-item-on -->
                        <div class="app-scene-nav-item scene-nav-item-on">茶厂</div>
                        <div class="app-scene-nav-item">茶商</div>
                        <div class="app-scene-nav-item">茶圈</div>
                        <div class="app-scene-nav-item">用户</div>
                    </div>
                </div>
                <div class="app-scene-banner">
                    <img src="__STATIC__/index/img/img14.jpg" width="1350" height="460">
                </div>
                <div class="app-scene-article">
                    <h2 class="app-scene-article-title">现代化的茶厂物联应用</h2>
                    <div class="app-scene-article-content">
                        <h3 class="app-scene-article-subtitle">“农残超标”冲击波</h3>
                        <p class="article-paragraph">一些品牌的茶叶抽检被爆农药残留超标，此消息一经报道，犹如投下一颗重磅炸弹，在消费者中引发了担忧。据相关人士分析，茶叶农药残留超标源头在种植上，为了防虫防害，茶农大多会大量使用高毒性的农药，要解决茶叶的农药残留问题，首先就要抓源头，提倡有机种植，减少农药使用。</p>
                        <h3 class="app-scene-article-subtitle">有机茶燃爆市场</h3>
                        <p class="article-paragraph">一份份的检测报告呈现在大众的眼前，已经使众多茶客谈“茶”色变，在哪里买到自己放心的茶喝，己成为众多茶客每天要思谋的事情。有机茶逐渐走进了人们的视线，有机茶是不使用任何农药、化肥，是茶叶的最高标准。  </p>
                        <div class="article-img-box"><img src="__STATIC__/index/img/img15.png" width="485" height="300"></div>
                        <h3 class="app-scene-article-subtitle">“宣铭科技” 大显身手，时时监控茶园种植</h3>
                        <p class="article-paragraph">成片成片的茶园都在深山中，自我调节能力较弱，易受自然气候、病虫害等自然因素的影响。因此，在有机茶园种植过程中，如何才能做到恶劣天气提前预警？面对病虫害、气候异常、土壤生态变化等环境因素变化时如何应对？这些都是宣铭所要考虑的问题。</p>
                        <p class="article-paragraph">随着5g拉开序幕，为有机茶园的种植、推广带来了东风。未来有机茶种植的数字化、智能化、精细化作业的构想，为茶园的后续发展提供技术服务支撑。</p>
                        <p class="article-paragraph">根据实际情况，宣铭将会使用无线传感网络系统对有机茶园进行监控管理，通过监控并采集地下和地面信息，同时根据这些信息进行实时跟踪，这样就可以实时、直观地了解茶园详实、多维的动态信息。无线传感网络系统还会根据定制的标准规则自动产生预警信息提示，比如，茶园发生病虫害，将会触发监督预警机制，对病虫害进行分析和防治，采用生物防治病虫害，这样不仅保护了茶园的生态环境，从而也保障了有机茶的品质。</p>
                        <p class="article-paragraph">宣铭的有机茶园种植无线传感监测系统，运用的是最新微功率无线通信技术，数字化温度和湿度传感技术，可实时自动监测茶园的关键点，大幅度降低了人工巡查的工作量和成本，并对不安全状况提前预警，通过后台计算机轻松实现自动远程监测，通过这些精密的数据监控，茶叶的品质也将会得到更好的保障。在原料种植过程通过严格的监控，茶叶原料品质得到了有效保障，然后是茶叶的生产加工过程，茶厂如果缺失必要的监控手段以及检验手段，容易造成含有添加剂超标的茶叶流入市场。宣铭研发的宽温型温湿度变送器、KL-S数据采集器不仅能够敏锐地感知茶叶生产加工车间的温度、湿度变化，还实现了数据的智能管理、智能传输。RFID温度标签不但能够对所运输的茶叶进行识别，也能够对茶叶所处环境温度进行测量和记录。所有数据都记录在专用的RFID标签上，检测人员只需要通过专用的读卡器读取标签的ID号和其存储的数据，就能知道所运输的茶叶是否超过限定温度，从而能够避免因高温造成茶叶的腐败变质。北京宣铭科技始终引领物联网技术创新、研发新潮流，秉承着“科技创造价值”的经营理念，本着为社会创造价值、为客户创造价值、为企业创造价值、为员工创造价值的核心理念，立足成为“国内领先的传感器与数据采集产品供应商”。</p>
                        <p class="article-paragraph">未来十年是物联网高速发展的黄金时期，物联网应用的范围也会越来越广。在物联网市场群雄并起的时代，作为一家多年经验积淀的企业来说，宣铭积极发挥行业龙头的示范作用，加快物联网技术的产业化应用，为实现农业现代化、智能化、精细化发展起到了重要的推动作用。在今后的发展道路中，宣铭依旧是坚守自己的企业理念，走在行业发展的最前沿。</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 合作伙伴 -->
        <div class="partner">
            <div class="partner-container">
                <h2 class="title-h2">合作伙伴</h2>
                <div class="partner-items">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：010-123456</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="javascript:;" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p>智慧茶仓</p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">京公网安备 33010602004345</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
</body>
</html>