<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>茶商</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/yycj.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-container">
                <div class="header-section logo">
                    <!-- <div class="logo-container">
                        <img src="__STATIC__/index/img/logo.png" width="50" height="40">
                    </div>
                    <span>宣铭科技</span> -->
                    <img src="__STATIC__/index/img/u9238.jpg" width="50" height="50">
                    <p style="font-size:35px;font-weight:bolder;margin-left:7px;">智慧茶仓</p>
                </div>
                <div class="header-section nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="javascript:;" class="nav-a">首页</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">智慧茶仓</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">城市合伙人</a></li>
                        <li class="nav-li"><a href="javascript:;" class="nav-a">关于我们</a></li>
                    </ul>
                </div>
                {if !empty($phone_num)}
                <div class="header-section loaded-common">
                    <div class="loaded-inner">
                        <span class="loaded-icon"></span>
                        <a href="javascript:;" target="_blank">
                            <span class="loaded-mobile">{$phone_num}</span>
                        </a>
                        <i class="caret"></i>
                        <ul class="loaded-menu">
                            <li><a href="javascript:;" class="backstage">进入后台</a></li>
                            <li><a href="javascript:;" class="logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                {else}
                <div class="header-section login">
                    <a href="javascript:;" class="sign-in">登录</a>
                    <a href="javascript:;" class="register">注册</a>
                </div>
                {/if}
            </div>
        </div>

        <!-- 应用场景 main -->
        <div class="app-scene">
            <div class="app-scene-container">
                <div class="app-scene-nav">
                    <div class="app-scene-title">应用场景</div>
                    <div class="app-scene-nav-container clearfix">
                        <!-- scene-nav-item-on -->
                        <div class="app-scene-nav-item">茶厂</div>
                        <div class="app-scene-nav-item scene-nav-item-on">茶商</div>
                        <div class="app-scene-nav-item">茶圈</div>
                        <div class="app-scene-nav-item">用户</div>
                    </div>
                </div>
                <div class="app-scene-banner">
                    <img src="__STATIC__/index/img/teamer.jpg" width="1350" height="460">
                </div>
                <div class="app-scene-article">
                    <h2 class="app-scene-article-title">商家使用“SaaS平台” 电商小程序更便宜、更方便、更省心</h2>
                    <div class="app-scene-article-content">
                        <h3 class="app-scene-article-subtitle">saas平台有什么优点？</h3>
                        <p class="article-paragraph">随着智能手机的普及，现在手机上可安装的应用也越来越丰富，功能也越来越多。但是随着时间的增长，相信很多人会发现，手机里装满了各式各样的app，手机的运行速度也越来越卡，有些人的手机也经常会出现存储空间不足的情况。为此，微信小程序上线了，微信小程序就是为了解决这个问题而诞生的。微信小程序是一个在微信里无需下载安装即可使用的app，为用户节省了安装app的时间，也避免了手机安装过多应用导致手机存储空间不足，完美的践行了用完即走的设计理念。但是很多商家并不会小程序开发，怎么办呢？</p>
                        <p class="article-paragraph">宣铭科技开发的智慧茶仓平台为广大商家提供小程序SaaS服务，可为企业搭建信息化所需要的所有网络基础设施及软件、硬件运作平台，并负责所有前期的实施、后期的维护等一系列服务，企业无需购买软硬件、建设机房、招聘IT人员，即可通过互联网使用信息系统。就像打开自来水龙头就能用水一样，企业可根据实际需要，从SaaS提供商租赁软件服务。</p>
                        <div class="article-img-box"><img src="__STATIC__/index/img/u9336.png" width="490" height="380"></div>
                        <h3 class="app-scene-article-subtitle">智慧茶仓平台优势 </h3>
                        <p class="article-paragraph"> 智慧茶仓是一款专门为茶商服务的营销工具类小程序，旨在帮助茶商通过微信微博等新媒体渠道进行线上线下的获客、营销与推广，同时可以实现对店铺经营管理提供简单易操作的管理操作。 </p>
                        <p class="article-paragraph">茶行业本身呈现三大特点：一是茶叶本身的非标准化，二是熟人交易，三是消费者对服务体验的要求越来越高。“这就需要一款营销工具帮助茶商拉近与消费者之间的距离，提高互动频次、增加消费次数，引导线上用户到线下。” </p>
                        <p class="article-paragraph">  不同于传统微商模式，智慧茶仓根据茶叶商品的SKU进行专门的设计优化，以更简单的方式帮助商家发布常规商品、限时特卖、派发样品等新颖互动的商家活动，帮助茶商打通商品销路。</p>
                        <p class="article-paragraph"> 值得一提的是，除了面向B端用户的智慧茶仓，小程序内还开发了一款个人买卖交易电商平台——供需小程序，这里聚集了全国大量的茶叶收藏及交易爱好者。两款小程序相辅相成，可同步茶商的所有营销活动，帮助商家获取新用户，增加新销量。</p>
                        <div class="article-img-box"><img src="__STATIC__/index/img/u9322.png" width="373" height="436"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 合作伙伴 --><div class="partner" style="display:none;">
            <div class="partner-container">
                <h2 class="title-h2">合作伙伴</h2>
                <div class="partner-items">
                    <div class="tpl">
                        <img src="__STATIC__/index/img/p-logo1.png">
                    </div>
                </div>
                <div class="friendly-link">
                    <span class="link-title">友情链接：</span>
                    <a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a>
                    <a href="https://open.weixin.qq.com/" target="_blank">微信开放平台</a>
                    <a href="https://pay.weixin.qq.com/index.php" target="_blank">微信支付平台</a>
                    <a href="https://m.kuaidi100.com/" target="_blank">快递100</a>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-container">
                <div class="footer-about clearfix">
                    <div class="footer-f contact-container">
                        <h3>联系我们</h3>
                        <p>开店咨询：0755-36609696</p>
                        <p>周一到周日 9:00 ~ 18:00</p>
                    </div>
                    <div class="footer-f">
                        <h3>关于我们</h3>
                        <p><a href="{:url('index/index/about')}" class="cpy-contact">合作联系</a></p>
                    </div>
                    <div class="footer-f">
                        <h3>产品与服务</h3>
                        <p><a href="{:url('index/index/wisdom')}" class="cpy-contact">智慧茶仓</a></p>
                    </div>
                </div>
                <div class="footer-copy">
                    <div class="comm-copy">
                        <img src="__STATIC__/index/img/jgwablogo.png" width="20" height="20">
                        <span class="jgwbab-txt">备案/许可证编号为：京ICP备16042486号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/index/js/jquery.js"></script>
    <script src="__STATIC__/index/js/common.js"></script>
</body>
</html>