
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_626828_4pda2bnao1s.css" type="text/css" />
</head>
<body>
<style>
    #selectIcon .modal-dialog{width: 760px!important;}
    #selectIcon .modal-body{padding: 10px;}
    #selectIcon .main{height: 420px;overflow-y: auto;overflow-x: hidden;}
    #selectIcon .main nav{height: 60px;width: 80px;margin: 5px;display: block;float: left;cursor: pointer;}
    #selectIcon .main nav .iconfont{font-size: 30px;height: 38px;width: 80px;display: block;text-align: center;line-height: 42px;}
    #selectIcon .main nav .text{font-size: 10px;height: 22px;width: 80px;display: block;text-align: center;line-height: 16px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
    #selectIcon .main nav:hover{background: #f6f6f6;}
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">选择图标-图片</h4>
        </div>

        <ul class="nav nav-tabs" id="selectUrlTab">
            <li class="active tab11" id="tab1"><a href="javascript:;" onclick="tab(1)">常用</a></li>
            <li class="tab21" id="tab2"><a href="javascript:;" onclick="tab(2)">系统</a></li>
            <li style="margin-left: 20px;margin-top: 6px" id="search1"><input id="search_input1" type="text" name=""><span id="search_icon1" style="display: inline-block;margin-left: 10px;cursor: pointer;">搜索</span></li>

            <li style="margin-left: 20px;margin-top: 6px;display: none;" id="search2"><input id="search_input2" type="text" name=""><span id="search_icon2" style="display: inline-block;margin-left: 10px;cursor: pointer;">搜索</span></li>
        </ul>
        <!--常规图标-->
        <div class="modal-body set_c" id="set_c">
            <div class="main">
                <nav data-class="icon-c-360">
                    <span class="iconfont icon-c-360"></span>
                    <span class="text">360</span>
                </nav>
                
            </div>
        </div>
        <!--常规图标结束-->

        <!--系统图标-->
        <div class="modal-body set_x" id="set_x" style="display: none">
            <div class="main">
                <nav data-class="icon-x-bangzhu1">
                    <span class="iconfont icon-x-bangzhu1"></span>
                    <span class="text">帮助1</span>
                </nav>
                
            </div>
        </div>
        <!--系统图标结束-->


        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
        </div>
        <script>
            function tab(i){
                if(i==1){
                    $(".tab11").addClass("active");
                    $(".tab21").removeClass("active");
                    $(".set_c").show();
                    $(".set_x").hide();
                    $('#search1').show();
                    $('#search2').hide();
                }
                if(i==2){
                    $(".tab11").removeClass("active");
                    $(".tab21").addClass("active");
                    $(".set_c").hide();
                    $(".set_x").show();
                    $('#search2').show();
                    $('#search1').hide();
                }
            }

            $(function() {
                $("#selectUrl").find('#selectUrlTab a').click(function(e) {
                    $('#tab').val($(this).attr('href'));
                    e.preventDefault();
                    $(this).tab('show');
                });
            });

            $(function() {
                var search_input1 = $("#search_input1"),
                    set_c = $("#set_c");

                $('#search_icon1').click(function(){
                    if (search_input1.val() == '') {
                        $('#set_c nav').show();
                    }
                    $("#set_c .text:contains(" + search_input1.val().trim() + ")").show();
                    $("#set_c .text:not(:contains(" + search_input1.val().trim() + "))").parent().hide();
                })

            });
            $(function() {
                var search_input2 = $("#search_input2"),
                    set_x = $("#set_x");

                $('#search_icon2').click(function(){
                    if (search_input2.val() == '') {
                        $('#set_x nav').show();
                    }
                    $("#set_x .text:contains(" + search_input2.val().trim() + ")").show();
                    $("#set_x .text:not(:contains(" + search_input2.val().trim() + "))").parent().hide();
                })

            });
        </script>
    </div>
</body>