<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="__STATIC__/index/css/common.css">
        <link rel="stylesheet" href="__STATIC__/center/css/index.css">
</head>
<body>
	<div class="header">
            <!-- 登录条 start -->
            <div class="login_bar">
                <div class="login_bar_box">
                    <div class="change_language">
                        <p>
                            <a href="javascript:;">繁体&nbsp;&nbsp;</a>|&nbsp;&nbsp;
                            <a href="javascript:;">English</a>
                        </p>
                    </div>
                    <div class="login_box">
                        <p>
                            <a href="javascript:;">注册&nbsp;&nbsp;</a>|&nbsp;&nbsp;
                            <a href="javascript:;">登录</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 登录条 end -->
    
            <!-- 导航条 start -->
            <div class="nav_bar">
                <div class="nav_inner_box">
                    <div class="logo_box">
                        <img src="__STATIC__/index/img/logo.png" width="101" height="42" alt="公司logo">
                    </div>
                    <div class="nav_box">
                        <ul>
                            <li><a href="javascript:;">首页</a></li>|
                            <li><a href="javascript:;">模板商城</a></li>|
                            <li><a href="javascript:;">定制开发</a></li>|
                            <li><a href="javascript:;">云平台</a></li>|
                            <li><a href="javascript:;">投融介</a></li>|
                            <li><a href="javascript:;">代理加盟</a></li>|
                            <li><a href="javascript:;">关于我们</a></li>
                        </ul>
                    </div>
                    <div class="dzxq_box">
                        <a href="javascript:;">定制需求</a>
                    </div>
                </div>
            </div>
            <!-- 导航条 end -->
     </div>
	<div class="conter">   
			<!--个人信息-->
		<div class="ucenterTop">
			    <div class="headerimg">
			    	<div class="img_show"><img id="edit_headPic" class="headPicUrl" src="__STATIC__/center/img/touxiang.png"></div>
			    	<span class="UserType">个人</span>
			    </div>
			    <div class="cont">
			        <div class="name"><span class="nickname" title="lpiodn2647">15802584555</span></div>
			        <div class="ident"> 
			        	<div class="dengji"><img src="__STATIC__/center/img/dengji.png" width="100%" style="vertical-align: -2px; "/></div>
			        	<span class="text">普通会员</span>
			        </div>
			        <div class="up">
			        	升级代理
			        </div>
			        <p class="SelfIintroduction">
			           邀请码：iv98 
			        </p>
		         </div>
			    <div class="cont2">
			    	  <div class="money-show"><span class="money-ico"><img src="__STATIC__/center/img/money-ico.png" width="100%"/></span><span ><i class="cont1-title">  0000 </i>元</span></div>
					  <div class="opation">
					    	 <span class="recharge">充值</span>
					    	 <span class="Put-forward">提现</span>
					  </div>
			    </div>
			    <div class="cont1">
			                <p class="order"><img src="__STATIC__/center/img/dingdan.png" style="vertical-align: -2px;"/><span class="cont1-title">我的订单</span></p>
			                <div class="tasklist orderstatistical">
			                        <span class="notstart">
			                            <a href="/orderinfo/myorder?orderStatus=">
			                                <div class="icon1">
			                                	<img src="__STATIC__/center/img/订单.png" width="100%"/>
			                                </div>
			                                <p>未开始(<i class="number">0</i>)</p>
			                            </a>
			                        </span>
			                        <em></em>
			                        <span class="started">
			                            <a href="/orderinfo/myorder?orderStatus=">
			                                <div class="icon1">
			                                	<img src="__STATIC__/center/img/开始练习.png" width="100%"/>
			                                </div>
			                                <p>进行中(<i class="number">0</i>)</p>
			                            </a>
			                        </span>
			                        <em></em>
			                        <span class="completed">
			                            <a href="/orderinfo/myorder?orderStatus=">
			                                  <div class="icon1">
			                                	<img src="__STATIC__/center/img/订单(1).png" width="100%"/>
			                                </div>
			                                <p>已完成(<i class="number">0</i>)</p>
			                            </a>
			                        </span>
			
			                </div>
			            </div>
		
		      </div>
			<!--个人中心导航-->
			<div class="UCleft">
		    <input type="hidden" class="navlayout_parentMenu" value="HXY_FinanceCenter">
		    <div class="UCleft-fixed">
		            <dl class="curr">
		                <dt href="/orderinfo/myorder"><i class="iconfont2"></i>会员中心<font class="iconfont1"></font></dt>
		                <dd>
		                    <p><a href="/orderinfo/myorder" class="">安全中心</a></p>
		                      <p><a href="/orderinfo/myorder" class="">基础信息</a></p>
		                        <p><a href="/orderinfo/myorder" class="">邀请好友</a></p>
		                </dd>
		            </dl>
		            <dl class="">
		                <dt href="/DemandRelease/Index"><i class="iconfont2"></i>资产管理<font class="iconfont1"></font></dt>
		                <dd>
		                    <p><a href="/DemandRelease/Index" class="">资金明细</a></p>
		                    <p><a href="/demandDelivery/deliverylist" class="">快捷充值</a></p>
		                    <p><a href="/demandDelivery/deliverylist" class="">银行卡管理</a></p>
		                </dd>
		            </dl>
		            <dl class="">
		                <dt href="/umappointment/myappointment"><i class="iconfont2"></i> 定制订单<font class="iconfont1"></font></dt>
		                <dd>
		                    <p><a href="/umappointment/myappointment" class="">定制订单</a></p>
		                </dd>
		            </dl>
		            <dl class="">
		                <dt href="/productfinancingproject/myprojectfinance"><i class="iconfont2"></i>模版订购 <font class="iconfont1"></font></dt>
		                <dd>
		                        <p><a href="/productfinancingproject/myprojectfinance" class="">模版订购</a></p>
		                </dd>
		            </dl>
		            <dl class="">
		                <dt href="/paymentaccount/myaccountinfo"><i class="iconfont2"></i>   代理中心<font class="iconfont1"></font></dt>
		                <dd>
		                    <p><a href="/paymentaccount/myaccountinfo" class="curr">   代理中心</a></p>
		                    <p><a href="/paymenttopup/recharge" class="">业绩管理</a></p>
		             
		            </dl>
		            
		    </div>
		</div>

	
	</div>   

	<!-- 引入脚本 -->
<script src="__STATIC__/index/js/swiper-4.3.5.min.js"></script>
<script src="__STATIC__/index/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/center/js/index.js"> </script>
</body>
</html>