{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	label {
		text-align: left !important;
	}

	.layui-form-item {
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;

	}

	.layui-form-label {
		width: 30% !important;
	}

	.layui-inline {
		width: 30% !important;
		line-height: 36px;
		
	}

	#page {
		width: 96%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}
</style>



{/block}
<body>

	{block name="content"}

	<div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">用户名称：</label>
						<div class="layui-input-inline">
						8447466
						</div>
					</div>
				<div class="layui-inline">
					<label class="layui-form-label">总积分：</label>
					<div class="layui-input-inline">
					500
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">已消费积分：</label>
					<div class="layui-input-inline">
					500
					</div>
				</div>
				
				</div>

			</form>

		</blockquote>
		<div class="layui-form news_list">
			<table class="layui-table">
						<colgroup>
							<col width="3%">
		
						</colgroup>
						<thead>
							<tr>
								<th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
		
								<th>用户账号</th>
								<th>积分</th>
		
								<th>剩余积分</th>
								<th>类型</th>
								<th>时间</th>
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody class="news_content">
							<tr>
								<td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose"></td>
								<td>admin</td>
								<td>admin</td>
								<td>2</td>
								<td>111</td>
								<td>2018-09-26</td>
								<td>2018-09-26 </td>
													<td>
								<a href="/siring_ow/public/admin/admin_del/id/2.html" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del"
									 data-id="undefined"><i class="layui-icon"></i> 删除</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		<div id="page">

		</div>

	</div>


	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->



	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
			//是否展示

			//全选
			form.on('checkbox(allChoose)', function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				child.each(function(index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});

			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)", function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
				if (childChecked.length == child.length) {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
				} else {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
				}
				form.render('checkbox');
			})

			//是否展示
			form.on('switch(isShow)', function(data) {
				if ($(this).val() == 0) {
					$(this).val(1);
				} else {
					$(this).val(0);
				}
				var vals = data.value;
				var id = $(this).data("id");
				var status = $(this).val();
				console.log(status);
				$.ajax({
					type: "POST",
					url: "{:url('admin/admin/status')}",
					data: {
						"id": id,
						"status": status
					},
					success: function(data) {
						console.log("成功")
					},
					error: function(data) {
						console.log("错误")
					}
				});


			})


		})
	</script>

	{/block}

</body>
</html>
