<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>资金详情</title>
</head>
<script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<link rel="stylesheet" href="__STATIC__/admin/common/layui/css/layui.css">
<style type="text/css">
    * {margin: 0;padding: 0;}
    body {background: #fff;}
    .wrapper {padding: 20px;}
    

</style>

{/block}

<body>
{block name="content"}
    <div class="wrapper">
        
    </div>
{/block}


<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<script src="__STATIC__/admin/common/layui/layui.js"></script>
<script>
    layui.use(['laydate', 'form'], function(){
        var laydate = layui.laydate,
            form = layui.form;
        $('input[data-type="date"]').each(function(idx, elem){
            laydate.render({
                elem: elem
            })
        })
        form.render();
    })
</script>
{/block}
