{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }

    #page {
        width: 96%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }

    .childrenBody {
        display: flex;
        align-items: center;
        padding: 34px;
        flex-wrap: wrap;
    }

    .img {
        width: 186px;
        height: 186px;
    }

    .imgcontent {
        position: relative;
    }

    .text {
        border-width: 0px;
        width: 186px;
        height: 27px;
        background: inherit;
        background-color: rgba(0, 0, 0, 0.686274509803922);
        border: none;
        border-bottom: 0px;
        border-radius: 28px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 18px;
        color: #FFFFFF;
        position: absolute;
        top: 0;
        text-align: center;
        font-weight: 700;
    }

    .btns {
        display: flex;
        align-items: center;
        margin-top: 14px;
        flex-direction: row-reverse;
    }

    .btns div {
        width: 95px;
        height: 26px;
        font-size: 16px;
        color: #FFFFFF;
        
        text-align: center;
        line-height: 26px;
    }

    .btns_a {
        background-image: url('__STATIC__/admin/index/img/up25.png');
    }

    .btns_b {
        background-color: rgba(204, 0, 0, 0.737254901960784);
        border-radius: 48px;
        
    }

    .list {
        margin-right: 34px;
    }
</style>

{/block}

<body>

    {block name="content"}

    <div class="childrenBody">

        <div class="list">

            <div class="imgcontent">
                <div class="img"><img src="__STATIC__/admin/index/img/u14540.png" alt=""></div>
                <div class="text">万用模版</div>
            </div>
            <div class="btns">
                
                <a href="">
                    <div class="btns_b">历史编辑</div>
                </a>
                <div class="btns_a"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
            </div>
        </div>
        <div class="list">
            <div class="imgcontent">
                <div class="img"><img src="__STATIC__/admin/index/img/u14545.png" alt=""></div>
                <div class="text">茶行业版</div>
            </div>
            <div class="btns">
                <div class="btns_b" >切换版本</div>
                <div class="btns_a" style="display:none"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
            </div>
        </div>
        <div class="list">
            <div class="imgcontent">
                <div class="img"><img src="__STATIC__/admin/index/img/image322315.png" alt=""></div>
                <div class="text">茶进阶版</div>
            </div>
            <div class="btns">
                <div class="btns_b">切换版本</div>
                <div class="btns_a" style="display:none"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
            </div>
        </div>
    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        $.ajax({
            type: "POST",
            url: "{:url('admin/General/decoration_routine_index')}",
            data: "",
            success: (data) => {
                console.log(data)
            },
            error: (e) => {
                console.log(e);
            }
        })
        
        function save_id(id) {
            setCookie("edit_id", id, 1);
        }
        //设置cookie
        function setCookie(name, value, day) {
            var date = new Date();
            date.setDate(date.getDate() + day);
            document.cookie = name + '=' + value + ';expires=' + date;
        };
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //点击操作确认按钮
            var data_id = [];
            $("#opration_btu").click(function () {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                        ,
                        closeBtn: 0
                    });
                } else if (opration_val == 1) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function (index) {
                        layer.close(index);
                        var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
                        for (var i = 0; i < child.length; i++) {
                            data_id.push($(child[i])[0].dataset.id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('')}",
                            data: {
                                "id": data_id,
                            },
                            success: function (data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function (data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });

            //全选
            form.on('checkbox(allChoose)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function (data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

            form.on('switch(isShow)', function (data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                console.log(status);
                $.ajax({
                    type: "POST",
                    url: "{:url('')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function (data) {
                        console.log("成功")
                    },
                    error: function (data) {
                        console.log("错误")
                    }
                });

            })
        })
    </script>

    {/block}

</body>

</html>