{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }

    #page {
        width: 96%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }

    .childrenBody {
        display: flex;
        align-items: center;
        padding: 34px;
        flex-wrap: wrap;
    }

    .img {
        width: 186px;
        height: 186px;
    }

    .imgcontent {
        position: relative;
    }

    .text {
        border-width: 0px;
        width: 186px;
        height: 27px;
        background: inherit;
        background-color: rgba(0, 0, 0, 0.686274509803922);
        border: none;
        border-bottom: 0px;
        border-radius: 28px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 18px;
        color: #FFFFFF;
        position: absolute;
        top: 0;
        text-align: center;
        font-weight: 700;
    }

    .btns {
        display: flex;
        align-items: center;
        margin-top: 14px;
        flex-direction: row-reverse;

    }

    .btns div {
        width: 95px;
        height: 26px;
        font-size: 16px;
        color: #FFFFFF;

        text-align: center;
        line-height: 26px;
    }

    .btns_a {
        background-image: url('__STATIC__/admin/index/img/up25.png');
    }

    .btns_b {
        background-color: rgba(204, 0, 0, 0.737254901960784);
        border-radius: 48px;
        cursor: pointer;
    }

    .list {
        margin-right: 34px;
    }

    .noshow {
        display: none !important;
    }

    .popup {
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #D7D7D7;
        box-sizing: border-box;
    }

    .popup_doms {
        width: 700px;
        height: 400px;
        background: #fff;
    }

    .popup_doms1 {
        width: 900px;
        background: #fff;
    }

    .popup_content {
        padding: 20px;
    }

    .popup_title {
        height: 40px;
        line-height: 40px;
        /* color: #66662B; */
        background: #fff;
        padding-left: 20px;
        position: relative;
    }

    .popup_x {
        width: 25px;
        position: absolute;
        right: 12px;
        top: -4px;
        cursor: pointer;
    }

    .btn_all {
        text-align: center;
        margin-top: 100px;
    }

    .btn {
        width: 150px;
        height: 45px;
        color: #fff;
    }

    .btn:hover {
        background-color: rgb(0, 204, 255)
    }

    .btn_0 {
        margin-right: 70px;
    }

    .btn_1 {
        background-color: rgb(230, 45, 49)
    }
</style>

{/block}

<body>

    {block name="content"}
    <!-- 弹出框 -->
    <div class="popup popup_one noshow">
        <div class="popup_doms">

            <div class="popup_title">

                <div class="popup_x">
                    <img src="__STATIC__/admin/index/img/X.png" />
                </div>
            </div>
            <div style="text-align: center;">
                <h1>温馨提示：</h1>
                <div style="font-size:20px; margin-top:30px;">您需要前往<a style="font-weight: 800" href="{:url('admin/General/order_package_index')}">订单套餐</a>升级套餐版本
                </div>
            </div>
            <div class="btn_all">
                <button class="btn btn_0">返回</button>
                <button class="btn btn_1">确定</button>
            </div>
        </div>
    </div>
    
    <div class="childrenBody">


    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
       

        $.ajax({
            type: "POST",
            url: "{:url('admin/General/decoration_routine_index')}",
            data: "",
            success: (data) => {
                var new_data = JSON.parse(data);
                let val = new_data.data;
                console.log(new_data)
                let dhtml = '';
                if (new_data.status == '0') {
                    alert(new_data.info)
                    window.location.href = "{:url('admin/General/small_routine_index')}";
                }
                if (new_data.status == '1') {
                    // for(let i = 0; i < val.data[0].goods_names_test.length; i ++) {
                    //     if(val.data[0].goods_names_test[i].status == 1) {

                    //     }
                    // }
                    var datas =  val.data[0].goods_names_test;
                    var goods_names;
                    for(let l = 0; l < datas.length; l ++) {
                        if(datas[l].status_type == 1) {
                            goods_names = datas[l].goods_name;
                        }
                    }
                    var hy_change = 'change';
                    var jj_change = 'change';
                    var onclick_hy = '';
                    var onclick_jj = '';
                    if(datas.length == 2) {
                        ischange = '';
                        onclick_hy = `change_wy(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id})`;
                    }
                    if(datas.length == 3) {
                        ischange = '';
                        onclick_hy = `change_wy(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id})`;
                        onclick_jj = `change_jj(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id})`;
                    }
                    let path = `/admin/xiaochengxu_edit?appletid=${val.data[0].id}&tplid=${val.data[0].tplid}&goods_names=${goods_names}`;
                    if (goods_names == "万用版") {
                        dhtml = `<div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/u14540.png" alt=""></div>
                                    <div class="text">万用模版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b change_back" onclick="change_wy(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id});">历史编辑</div>
                                    <div class="btns_a wanyong"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>
                                <div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/u14545.png" alt=""></div>
                                    <div class="text">茶行业版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b change_hy ${ischange}" onclick ="${onclick_hy};">切换版本</div>
                                    <div class="btns_a noshow hangye"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>
                                <div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/image322315.png" alt=""></div>
                                    <div class="text">茶进阶版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b ${jj_change} now_use" onclick ="${onclick_jj};">切换版本</div>
                                    <div class="btns_a noshow jinjie"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>`;

                    } else if (goods_names == "行业版") {
                        dhtml = `<div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/u14540.png" alt=""></div>
                                    <div class="text">万用模版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b change_back" onclick="change_wy(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id});">切换版本</div>
                                    <div class="btns_a wanyong noshow"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>
                                <div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/u14545.png" alt=""></div>
                                    <div class="text">茶行业版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b change_hy" onclick="change_hy(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id});">历史编辑</div>
                                    <div class="btns_a hangye" ><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>
                                <div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/image322315.png" alt=""></div>
                                    <div class="text">茶进阶版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b ${jj_change} now_use">切换版本</div>
                                    <div class="btns_a noshow jinjie"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>`;
                    } else {
                        dhtml = `<div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/u14540.png" alt=""></div>
                                    <div class="text">万用模版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b change_back" onclick="change_wy(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id});">切换版本</div>
                                    <div class="btns_a wanyong noshow"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>
                                <div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/u14545.png" alt=""></div>
                                    <div class="text">茶行业版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b change_hy" onclick="change_hy(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id});">切换版本</div>
                                    <div class="btns_a noshow hangye"><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>
                                <div class="list">
                                <div class="imgcontent">
                                    <div class="img"><img src="__STATIC__/admin/index/img/image322315.png" alt=""></div>
                                    <div class="text">茶进阶版</div>
                                </div>
                                <div class="btns">
                                    <div class="btns_b now_use" onclick="change_jj(${val.data[0].id},${val.data[0].tplid},${val.data[0].store_id});">历史编辑</div>
                                    <div class="btns_a jinjie" ><span style="color: rgb(0, 191, 239);">当前使用</span></div>
                                </div>
                                </div>`;
                    }
                    $('.childrenBody').append(dhtml);
                }

                
                $(".change").on("click", function () {
                    $(".popup").removeClass("noshow");
                });
                $(".popup_x").click(function () {
                    $(".popup").addClass("noshow");
                });
                $(".btn_0").click(function () {
                    $(".popup").addClass("noshow");
                });
                $(".btn_1").click(function () {
                    $(".popup").removeClass("noshow");
                    window.location.href = "{:url('admin/General/order_package_index')}";
                });

            },
            error: (e) => {
                console.log(e);
            }
        })
        //wangyong
        function change_wy(a,b,c) {
            $(".change_back").html('历史编辑');
            $(".wanyong").removeClass("noshow");

            $(".now_use").html('切换版本');
            $(".jinjie").addClass("noshow");

            $(".change_hy").html('切换版本');
            $(".hangye").addClass("noshow");

            window.location.href = `/admin/xiaochengxu_edit?appletid=${a}&tplid=${b}&store_id=${c}&goods_names=万用版`;
        }
        //hangye
        function change_hy(a,b,c) {
            $(".change_hy").html('历史编辑');
            $(".hangye").removeClass("noshow");

            $(".now_use").html('切换版本');
            $(".jinjie").addClass("noshow");

            $(".change_back").html('切换版本');
            $(".wanyong").addClass("noshow");
            window.location.href = `/admin/xiaochengxu_edit?appletid=${a}&tplid=${b}&store_id=${c}&goods_names=行业版`;
        }
        //jinjie
        function change_jj(a,b,c) {
            $(".now_use").html('历史编辑');
            $(".jinjie").removeClass("noshow");

            $(".change_hy").html('切换版本');
            $(".hangye  ").addClass("noshow");

            $(".change_back").html('切换版本');
            $(".wanyong").addClass("noshow");
            window.location.href = `/admin/xiaochengxu_edit?appletid=${a}&tplid=${b}&store_id=${c}&goods_names=进阶版`;
        }
        function save_id(id) {
            setCookie("edit_id", id, 1);
        }
        //设置cookie
        function setCookie(name, value, day) {
            var date = new Date();
            date.setDate(date.getDate() + day);
            document.cookie = name + '=' + value + ';expires=' + date;
        };
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //点击操作确认按钮
            var data_id = [];
            $("#opration_btu").click(function () {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv', //样式类名

                        // closeBtn: 0
                    });
                } else if (opration_val == 1) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function (index) {
                        layer.close(index);
                        var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
                        for (var i = 0; i < child.length; i++) {
                            data_id.push($(child[i])[0].dataset.id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('')}",
                            data: {
                                "id": data_id,
                            },
                            success: function (data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    // closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function (data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    // closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });

            //全选
            form.on('checkbox(allChoose)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function (data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

            form.on('switch(isShow)', function (data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                console.log(status);
                $.ajax({
                    type: "POST",
                    url: "{:url('')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function (data) {
                        console.log("成功")
                    },
                    error: function (data) {
                        console.log("错误")
                    }
                });

            })

        })

    </script>

    {/block}

</body>

</html>