
{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />

<style type="text/css">
    *{margin: 0;padding: 0;}        
    body {background: #fff;}   
    .fl{float: left;}     
    .wrapper {padding: 20px;}  
    .clearfix::after{content: ''; display: block; clear: both; overflow: hidden;}      
    .title {border-bottom: 1px solid #c9c9c9;padding-bottom: 5px;}        
    .title a {font-size: 18px;padding: 0 10px 5px;color: #333; text-decoration: none;}        
    .title .tit-on {color: #0066FF;border-bottom: 2px solid #21a5fa;}        
    .form-group .layui-form-select {display: none;}
    .addr-block{margin: 30px 0;}
    .addr-block .addr-label{width: 88px; padding-right: 12px; text-align: right;}
    .addr-block .addr-label::before{content: '*'; color: #f00;}
    .addr-block li{line-height: 34px; margin-bottom: 15px;}
    .addr-block textarea{resize: none; width: 444px; height: 40px; border-radius: 4px; border: 1px solid #ccc; padding: 8px;}
    .addr-block input{width: 448px; border-radius: 4px; border: 1px solid #ccc; padding-left: 10px;}

</style>

{/block}
<body>
    {block name="content"}
    <div class="wrapper">
        <div class="title">
            <a href="general_index" title="店铺信息">店铺信息</a>
            <a href="javascript:void(0);" class="tit-on">收货地址</a>
        </div>
        <div class="addr-block">
            <ul>
                <li class="clearfix">
                    <label class="fl addr-label">地址信息:</label>
                    <div class="form-inline fl">
                        <div data-toggle="distpicker">
                            <div class="form-group">
                                <label class="sr-only" for="province2">Province</label>
                                <select class="form-control" name="address_city1" id="province2" data-province="---- 选择省 ----"></select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="city2">City</label>
                                <select class="form-control" name="address_city2" id="city2" data-city="---- 选择市 ----"></select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="district2">District</label>
                                <select class="form-control" name="address_city3" id="district2" data-district="---- 选择区 ----"></select>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <label class="addr-label fl">详细地址:</label>
                    <div class="fl">
                        <textarea placeholder="请输入详细地址信息，如道路、门牌号、小区、楼栋号、单元等信息"></textarea>
                    </div>
                </li>
                <li class="clearfix">
                    <label class="addr-label fl">联系电话:</label>
                    <div class="fl">
                        <input type="text" placeholder="填写联系电话">
                    </div>
                </li>
                <li class="clearfix">
                    <label class="addr-label fl">收货人姓名:</label>
                    <div class="fl">
                        <input type="text" placeholder="填写收货人姓名(长度不超过25个字符)">
                    </div>
                </li>
            </ul>
            
        </div>

    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script>

    </script>
    {/block}