{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    * {margin: 0;padding: 0;}
    body {background: #fff;}
    .wrapper {padding: 20px;}
    .title {border-bottom: 1px solid #c9c9c9;padding-bottom: 5px;}
    .title a{font-size: 18px; padding: 0 10px 5px; color: #333;}
    .title .tit-on {color: #0066FF;border-bottom: 2px solid #21a5fa;}
    .items {margin-top: 30px;}
    .item {display: flex;margin-bottom: 20px;}
    .item .item-key {width: 200px;text-align: right;font-size: 16px;color: #666;}
    .item .item-value {color: #333;}
    .item .item-value input {height: 25px;padding-left: 5px;}
    textarea {width: 400px;height: 100px;resize: none;padding: 10px;box-sizing: border-box;font-size: 16px;}
    .save {margin-left: 200px;padding: 3px 25px;color: #fff;background-color: #169bd5;border: 0;border-radius: 2px;cursor: pointer;outline: none;}
    .update {background-color: #fff;border: 0;color: #169bd5;cursor: pointer;outline: none;}
    .imgUpload {opacity: 0;filter: alpha(opacity=0);}
    /* 数据库展现图片样式 */
    .img {position: relative;display: inline-block;width: 100px;}
    .imgcontent {margin: 10px;}
    .img>i {display: inline-block;width: 20px;position: absolute;right: 0;top: 0;}

</style>

{/block}

<body>
    {block name="content"}

    <!--<div class="title">-->
    <!--<a href="javascript:void(0);" class="tit-on">店铺信息</a>-->
    <!--<a href="general_address" title="收货地址">收货地址</a>-->
    <!--</div>-->
    {if !empty($data)}
    <form action="{:url('admin/General/general_update',['id'=>$data.id])}" method="post" enctype="multipart/form-data">
        <div class="wrapper">
            <div class="title">
                <a href="javascript:void(0);" class="tit-on">店铺信息</a>
                <a href="general_address" title="收货地址">收货地址</a>
            </div>
            <div class="items">
                <div class="item">
                    <div class="item-key">店铺名称:</div>
                    <div class="item-value">
                        <input type="text" class="shop-name" name="store_name" value="{$data.store_name}">
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">店铺编号：</div>
                    <div class="item-value">
                        <input type="text" class="shop-num" name="store_number" value="{$data.phone_number}">
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">店铺版本：</div>
                    <div class="item-value">
                        <span>{$data.enter_meal}</span>
                        <a href="order_package_index" class="update">立即升级</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">认证主体：</div>
                    {if $data["is_business"] ==1}
                    <div class="item-value">个人</div>
                    {else}
                    <div class="item-value">公司</div>
                    {/if}
                </div>
                <div class="item">
                    <div class="item-key">主体信息：</div>
                    <div class="item-value">{$data['contact_name']}</div>
                </div>
                <div class="item">
                    <div class="item-key">证件号码：</div>
                    <div class="item-value">{$data['id_card']}</div>
                </div>
                <div class="item">
                    <div class="item-key">店铺logo：</div>
                    <div class="item-value">
                        <div class="img-edit">
                            {if !empty($data['store_logo'])}
                            <div class="imgcontent">
                                <span class="img">
                                    <img src="__UPLOADS__/{$data['store_logo']}" width="100%">
                                    <i class="remove-img" name="icon_image" value="" data-id="{$data['id']}"
                                        data-value="2">
                                        <img src="__STATIC__/admin/common/img/a7.png"></i>
                                </span>
                            </div>
                            {else}
                            <div class="form-input">
                                <div class="img-box full">
                                    <section class=" img-section">
                                        <div class="z_photo upimg-div clear">
                                            <section class="z_file fl">
                                                <img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
                                                <input type="file" name="store_logo" id="file" class="file" value=""
                                                    accept="image/jpg,image/jpeg,image/png,image/bmp" multiple
                                                    data-id="1" style="height:95px" />
                                            </section>
                                        </div>
                                    </section>
                                </div>
                                <aside class="mask works-mask">
                                    <div class="mask-content">
                                        <p class="del-p ">您确定要删除作品图片吗？</p>
                                        <p class="check-p"><span class="del-com wsdel-ok">确定</span><span
                                                class="wsdel-no">取消</span></p>
                                    </div>
                                </aside>

                            </div>
                            {/if}

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">店长QQ：</div>
                    <div class="item-value">
                        <input type="text" class="oicq" name="store_qq" value="{$data['store_qq']}">
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">店长注册手机号：</div>
                    <div class="item-value">{$data['phone_number']}</div>
                </div>
                <div class="item">
                    <div class="item-key">店铺简介：</div>
                    <div class="item-value">
                        <textarea name="store_introduction">{$data['store_introduction']}</textarea>
                    </div>
                </div>

                <button class="save">保存</button>
            </div>
        </div>
    </form>
    {else}
    <form action="{:url('admin/General/general_update')}" method="post">
        <div class="wrapper">
            <div class="title">
                <a href="javascript:void(0);" class="tit-on">店铺信息</a>
                <a href="general_address" title="收货地址">收货地址</a>
            </div>
            <div class="items">
                <div class="item">
                    <div class="item-key">店铺名称：</div>
                    <div class="item-value">
                        <input type="text" class="shop-name">
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">店铺编号：</div>
                    <div class="item-value">
                        <input type="text" class="shop-num">
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">店铺版本：</div>
                    <div class="item-value">
                        <span>万用版</span>
                        <a href="order_package_index" class="update">立即升级</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">认证主体：</div>
                    <div class="item-value">个人</div>
                </div>
                <div class="item">
                    <div class="item-key">主体信息：</div>
                    <div class="item-value">刘德华</div>
                </div>
                <div class="item">
                    <div class="item-key">证件号码：</div>
                    <div class="item-value">4561564678916*****</div>
                </div>
                <div class="item">
                    <div class="item-key">店铺logo：</div>
                    <div class="item-value">
                        <div class="img-edit">
                            <div class="imgcontent">
                                <span class="img">
                                    <img src="__STATIC__/admin/common/img/a11.png" width="100%">
                                    <i class="remove-img" name="icon_image" value="" data-id="" data-value="2"><img
                                            src="__STATIC__/admin/common/img/a7.png"></i>
                                </span>
                            </div>
                            <div class="form-input">
                                <div class="img-box full">
                                    <section class=" img-section">
                                        <div class="z_photo upimg-div clear">
                                            <section class="z_file fl">
                                                <img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
                                                <input type="file" name="icon_image" id="file" class="file" value=""
                                                    accept="image/jpg,image/jpeg,image/png,image/bmp" multiple
                                                    data-id="1" />
                                            </section>
                                        </div>
                                    </section>
                                </div>
                                <aside class="mask works-mask">
                                    <div class="mask-content">
                                        <p class="del-p ">您确定要删除作品图片吗？</p>
                                        <p class="check-p"><span class="del-com wsdel-ok">确定</span><span
                                                class="wsdel-no">取消</span></p>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="item-key">店长QQ：</div>
                    <div class="item-value">
                        <input type="text" class="oicq">
                    </div>
                </div>
                <div class="item">
                    <div class="item-key">店长注册手机号：</div>
                    <div class="item-value">13691853045</div>
                </div>
                <div class="item">
                    <div class="item-key">店铺简介：</div>
                    <div class="item-value">
                        <textarea></textarea>
                    </div>
                </div>
                <button class="save">保存</button>
            </div>
        </div>
    </form>
    {/if}
    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script>
        // 图片删除
        $(".remove-img").click(function () {
            var remove = $(this).parent();
            var id = $(this).data("id");
            var value = $(this).data("value");
            console.log(value)
            console.log(id);
            $.ajax({
                type: "POST",
                url: "{:url('admin/General/general_logo_del')}",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function (data) {
                    remove.remove();
                    alert(data.info);
                    location.reload();
                },
                error: function (data) {
                    console.log("错误");
                }
            });


        });
    </script>
    {/block}