<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小程序设置</title>
    <style>
        .items{margin-top: 40px;}
        .item{display: flex; align-items: flex-start; margin-bottom: 25px;}
        .item .item-key{width: 200px; text-align: right; font-size: 16px; color: #333; margin-right: 10px;}
        .item .item-value input{width: 450px; height: 40px; padding-left: 10px; box-sizing: border-box; border: 1px solid #e4e4e4; font-size: 14px; color: #333;}
        .item .item-value input:focus{border-color: #0066FF;}
        .item .item-value a{display: block; text-decoration: none; color: #0066FF; margin-top: 5px;}
        .item .item-value textarea{width: 450px; height: 150px; box-sizing: border-box; resize: none; padding-left: 10px; font-size: 14px; color: #333;}
        .confirm{margin-left: 200px; width: 140px; height: 40px; border: 0; color: #fff; font-size: 14px; text-align: center; background-color: #0099ff; border-radius: 5px;}
        .help{color: #0066FF;}
    </style>
</head>
<body>
{if !empty($data)}
<form action="{:url('admin/General/small_routine_edit',['id'=>$data['id']])}" method="post">
    <div class="wrapper">
        <div class="items">
            <div class="item">
                <div class="item-key">小程序名称</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="name" value="{$data.name}">
                    <a href="https://mp.weixin.qq.com/" target="_blank">我还没有小程序账号，如何申请？</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">小程序注册邮箱</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="email" value="{$data.email}">
                </div>
            </div>     
                <div class="item">
                <div class="item-key">小程序注册密码</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="password" value="{$data.password}">
                </div>
            </div>
            <div class="item">
                <div class="item-key">小程序AppID</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="appID" value="{$data.appID}">
                    <a href="https://developers.weixin.qq.com/miniprogram/introduction/#%E8%8E%B7%E5%8F%96appid" target="_blank">如何获得AppID？</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">小程序AppSecret</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="appSecret" value="{$data.appSecret}">
                    <a href="https://developers.weixin.qq.com/miniprogram/introduction/#%E8%8E%B7%E5%8F%96appid" target="_blank">如何获得AppSecret</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">微信支付商户号</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="mchid" value="{$data.mchid}">
                    <a href="https://pay.weixin.qq.com/index.php/core/home/login?return_url=%2F" target="_blank">财付通商户权限秘钥</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">微信支付API秘钥</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="signkey" value="{$data.signkey}">
                </div>
            </div>
            <!--<div class="item">-->
                <!--<div class="item-key">微信支付APIclient_key.pem</div>-->
                <!--<div class="item-value">-->
                    <!--<textarea></textarea>-->
                    <!--<a href="javascript:void(0);">使用文本编辑器打开apiclient_key.pem文件，将文件的全部内容复制进来</a>-->
                <!--</div>-->
            <!--</div>-->
            
            <div class="item">
                <div class="item-key"></div>
                <div class="item-value">
                    <a style="color: #333;" id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=415364124&amp;site=qq&amp;menu=yes">本人不太会小程序设置，立即申请<span class="help">客服帮助</span></a>
                </div>
            </div>
        </div>
        <button class="confirm" type="submit">确定</button>
    </div>
</form>
{else}
<form action="{:url('admin/General/small_routine_edit')}" method="post">
    <div class="wrapper">
        <div class="items">
            <div class="item">
                <div class="item-key">小程序名称</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="name">
                    <a href="https://mp.weixin.qq.com/" target="_blank">我还没有小程序账号，如何申请？</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">小程序注册邮箱</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="email">
                </div>
            </div>     
                <div class="item">
                <div class="item-key">小程序注册密码</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="password">
                </div>
            </div>
            <div class="item">
                <div class="item-key">小程序AppID</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="appID">
                    <a href="https://developers.weixin.qq.com/miniprogram/introduction/#%E8%8E%B7%E5%8F%96appid" target="_blank">如何获得AppID？</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">小程序AppSecret</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="appSecret">
                    <a href="https://developers.weixin.qq.com/miniprogram/introduction/#%E8%8E%B7%E5%8F%96appid" target="_blank">如何获得AppSecret</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">微信支付商户号</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="mchid">
                    <a href="https://pay.weixin.qq.com/index.php/core/home/login?return_url=%2F" target="_blank">财付通商户权限秘钥</a>
                </div>
            </div>
            <div class="item">
                <div class="item-key">微信支付API秘钥</div>
                <div class="item-value">
                    <input type="text" placeholder="请输入" name="signkey">
                </div>
            </div>
            <div class="item">
                <div class="item-key"></div>
                <div class="item-value">
                    <a style="color: #333;" id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=415364124&amp;site=qq&amp;menu=yes">本人不太会小程序设置，立即申请<span class="help">客服帮助</span></a>
                </div>
            </div>
            <!--<div class="item">-->
            <!--<div class="item-key">微信支付APIclient_key.pem</div>-->
            <!--<div class="item-value">-->
            <!--<textarea></textarea>-->
            <!--<a href="javascript:void(0);">使用文本编辑器打开apiclient_key.pem文件，将文件的全部内容复制进来</a>-->
            <!--</div>-->
            <!--</div>-->
        
        </div>
        <button class="confirm" type="submit">确定</button>
    </div>
</form>
{/if}

</body>
</html>