<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/security/css/index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/swiper-4.3.5.min.css">
	</head>
	<body>
	<div class="UCright">

            <div class="UCbox">
                <div class="UCbox_tt"><span><i class="iconfont1"></i> 安全中心</span></div>
                <div class="progress_safe">
                    <img src="/Images/safe.png">
                    <div class="cont">
                        <i class="fl">您当前账号的安全程度：</i>
                        <div class="progress_bar"><p class="safetyDegree" style="width: 50%;"></p></div>
                        <em class="c_org fl">中</em>
                    </div>
                </div>
                <table class="safeCont">
                    <colgroup>
                        <col width="180px">
                        <col>
                        <col width="23%">
                    </colgroup>
                    <tbody><tr>
                        <th><i class="iconfont1 icon"></i> 绑定手机</th>
                        <td class="two">当前绑定手机号：<i class="orange MobileNumber">158****7905</i>，绑定的手机号可以通过短信找回登录密码，资金交易密码。</td>
                        <td class="three">
                            <div class="show">
                                <span class="curr set phoneHaveset c_green" style="display: inline-block;"><i class="iconfont1"></i>已设置</span>
                                <span class="curr set phoneNotSet" style="display: none;"><i class="iconfont1"></i>未设置</span>
                                <i>|</i>
                                <a href="/useraccount/editbindingphone" class="bind phoneHaveset" style="display: inline-block;">修改绑定</a>
                                <a href="/useraccount/bindingphone" class="bind phoneNotSet" style="display: none;">绑定</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="iconfont1 icon"></i>设置登录密码</th>
                        <td class="two">网站密码用于用户登录，请妥善保管密码，汇新云工作人员不会以任何理由向您索取密码</td>
                        <td>
                            <div class="show">
                                <span class="curr set c_green"><i class="iconfont1"></i>已设置</span>
                                <i>|</i>
                                <a href="/useraccount/editloginpwd" class="bind">修改密码</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="icon"><img src=""></i>设置资金密码</th>
                        <td class="two">资金密码非常重要，是在资金账户变动时需要输入的密码，要及时设置</td>
                        <td>
                            <div class="show">
                                <span class="curr set haveSetpwd c_green" style="display:none"><i class="iconfont1"></i>已设置</span>
                                <span class="curr set notSetpwd"><i class="iconfont1"></i>未设置</span>
                                <i>|</i>
                                <a href="/useraccount/edittransactionpwd" style="display:none" class="bind haveSetpwd">修改</a>
                                <a href="/useraccount/findtransactionpwd" style="display:none" class="bind haveSetpwd">找回</a>
                                <a href="/useraccount/settransactionpwd" class="notSetpwd bind">设置</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="iconfont1 icon"></i>实名认证</th>
                        <td class="two">实名认证可以提高账户的安全性，享受更多汇新云平台的服务和保障。</td>
                        <td>
                            <div class="show">
                                <span class="curr set "><i class="iconfont icon-tishi"></i><span class="unverified curr set">未认证</span></span>
                                <i>|</i>
                                <a class="bind realname" href="/useraccount/userpersonalrealname">去认证</a>
                            </div>
                        </td>
                    </tr>

                </tbody></table>
            </div>
        </div>
        <!-- 引入脚本 -->
		<script src="__STATIC__/index/js/swiper-4.3.5.min.js"></script>
		<script src="__STATIC__/index/js/jquery.js"></script>
		<script type="text/javascript"  src="__STATIC__/security_index"></script>
	</body>
</html>
