{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }
    
    .proportion {
        width: 70%;
        margin: 20px auto;
        border: 0;
    }
    
    .proportion th {
        padding: 20px;
        background: #F9FAFC;
        text-align: center;
        border-color: #E4E4E4;
    }
    
    .proportion td {
        padding: 10px;
        text-align: center;
    }
    
    .proportion td input {
        width: 100%;
        border: 0;
        padding-left: 10px;
        box-sizing: border-box;
    }
</style>

{/block}

<body>
    {block name="content"}


    <form class="layui-form layui-form-lists" action="{:url('admin/Distribution/goods_save')}" method="post" enctype="multipart/form-data">
    

        <div class="form-title">分佣比例 </div>
        <table border="" cellspacing="" cellpadding="" class="proportion">
            <tr>
                <th>等级</th>
                <th>佣金比例(%)</th>
                <th>固定奖金(元)</th>
                <th>积分比例(%)</th>
                <th>固定积分</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="0级(购买者)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="" /></td>
                <td><input type="text" name="award[]" id="" value="" /></td>
                <td><input type="text" name="scale[]" id="" value="" /></td>
                <td><input type="text" name="integral[]" id="" value="" /></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="1级(上1级)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="" /></td>
                <td><input type="text" name="award[]" id="" value="" /></td>
                <td><input type="text" name="scale[]" id="" value="" /></td>
                <td><input type="text" name="integral[]" id="" value="" /></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="2级(上2级)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="" /></td>
                <td><input type="text" name="award[]" id="" value="" /></td>
                <td><input type="text" name="scale[]" id="" value="" /></td>
                <td><input type="text" name="integral[]" id="" value="" /></td>
            </tr>
            <!-- <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="3级(上3级)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="" /></td>
                <td><input type="text" name="award[]" id="" value="" /></td>
                <td><input type="text" name="scale[]" id="" value="" /></td>
                <td><input type="text" name="integral[]" id="" value="" /></td>
            </tr> -->
        </table>
        <div class="tips">
            *支付金额的百分比为佣金
        </div>

        <div class="form-title">高级设置 </div>
        <div class="form-item">
            <label class="form-label">等级条件</label>
            <div class="form-input">
                <input type="radio" name="way" value="1" title="适用全部会员" checked="">
                <input type="radio" name="way" value="0" title="不对普通会员开放">
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">状态</label>
            <div class="form-input">
                <input type="radio" name="status" value="1" title="开" checked="">
                <input type="radio" name="status" value="0" title="关">
            </div>
        </div>
	
        <div class="form-title">选择商品</div>
        <div class="childrenBody">
        <blockquote class="layui-elem-quote news_search">
            <div class="layui-form">
                <div class="seach">
                    <div class="seach_list">
                        <div class="seach_laber">输入搜索：</div>
                        <div class="seach_input">
                            <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入商品编码/商品名称" class="layui-input seach"  id="seach_val">
                        </div>
                    </div>
                    <button class="layui-btn" type="button" id="seach_button">立即搜索</button>
                </div>
    
            </div>
        </blockquote>
    
    
        <div class="layui-form news_list">
            <table class="layui-table">
                <colgroup>
                    <col width="3%">
    
                </colgroup>
                <thead>
                    <tr>
                         <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
                        <th>商品编号</th>
                        <th>商品图片</th>
                        <th>商品名称</th>
                        <th>库存</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    <!-- <tr>
                        <td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id=""></td>
                        <td>1000001</td>
                        <td class="">
                            <div class="tdimg"><img src="11" /></div>
                        </td>
                        
                        <td>1000001</td>
                        <td>1000001</td>
                        <td>
                            <a class="layui-btn layui-btn-mini edit" href="bonus_edit"> 参加活动
                            </a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            
    
    </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
    </form>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}


    <script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
			var form = layui.form(),
				$ = layui.jquery;
			form.render();
			$(".add_biao").click(function() {
				var dhtml = "";
				dhtml =
					'<div class="list" ><input type="checkbox" name="" lay-skin="primary" title="特色活动"><span style="color: #0EA9E3; font-size: 12px;"  class="change_text">修改</span></div>'
				$("#hot").append(dhtml);
				form.render();
			});
			  //全选
            form.on('checkbox(allChoose)', function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function(index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

            form.on('switch(isShow)', function(data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Goods/status')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function(data) {
                        console.log("成功")
                    },
                    error: function(data) {
                        console.log("错误")
                    }
                });

            })

			$("#hot").on('click', ".change_text", function() {
				var texts = $(this).siblings('input');
				layer.prompt({
						title: '请输入修改的文字',
						formType: 2
					},
					function(text, index) {
						texts.attr("title", text);
						layer.close(index);
						form.render();
					});

			})
			$('#beginTimes').datetimepicker({
//					yearOffset:222,
					lang:'ch',
					timepicker:false,
//					format:'d/m/Y',
					formatDate:'Y/m/d',
					minDate:'-2018/01/02', // yesterday is minimum date
					maxDate:'+2050/01/02' // and tommorow is maximum date calendar
				});
					$('#endTimes').datetimepicker({
//					yearOffset:222,
					lang:'ch',
					timepicker:false,
//					format:'d/m/Y',
					formatDate:'Y/m/d',
					minDate:'2018/01/02', // yesterday is minimum date
					maxDate:'2050/01/02' // and tommorow is maximum date calendar
				});

			$(".tan").click(function() {
				src = $(this).data("id");
				$(".tanchuang").removeClass("noshow");
				$(".tanimg").attr("src", src);
			});
			$(".tanchuang").click(function() {
				$(".tanchuang").addClass("noshow");
			});
			var seach_goods=[];
			$("#seach_button").click(function() {
				var seach_val=$("#seach_val").val();
				$.ajax({
                    type: "POST",
                    url: "{:url('admin/Bonus/coupon_search')}",
                    data: {
                        "goods_number": seach_val,
                    },
                    success: function(data) {
						var data=eval("("+data+")").data;
						var num=0;
						
						var dhtml='';
						for(var i=0;i<data.length;i++){
							console.log(seach_goods.length);
							for(var j=0;j<seach_goods.length;j++){
								if(data[i].goods_number==seach_goods[j].goods_number){
									num++;
								}
							}
							if(num==0){
								seach_goods.push(data[i]);
								dhtml+='<tr>';
								dhtml+='<td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="" value="'+data[i].id+'" name="goods_id[]"></td>';
								dhtml+='<td>'+data[i].goods_number+'</td>';
								dhtml+='<td class="">';
								dhtml+='<div class="tdimg"><img src="__UPLOADS__/'+data[i].goods_show_images+'" /></div>';
								dhtml+='</td>';
					
								dhtml+='<td>'+data[i].goods_name+'</td>';
								dhtml+='<td>'+data[i].goods_repertory+'</td>';
								dhtml+='<td>';
								dhtml+='<div class="layui-btn layui-btn-mini edit"> 参加活动</div>';
								dhtml+='</td>';
								dhtml+='</tr>';
								$('.news_content').append(dhtml);
								form.render('checkbox');
							}
							else{
								layer.msg('列表中已有此商品，请勿重复添加');
							}
						
						}
                    },
                    error: function(data) {
                        console.log("错误")
                    }
                });
			});
			

		});
	</script>


    {/block}

</body>

</html>