{include file="template/_meta" /} {block name="css"}
<style type="text/css">
	.layui-form {
		box-sizing: border-box;
		padding: 24px;
	}
	
	body {
		background: #fff;
	}
	
	
</style>

{/block} {block name="content"}
<div class="layui-form">
        <table class="layui-table">
               
                <thead>
                  <tr>
                    <th colspan="4">订单基本信息</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>用户账号</td>
                    <td>13922830809</td>
                    <td>商品数量</td>
                    <td>1</td>
                  </tr>
                
                  <tr>
                        <td>用户账号</td>
                        <td>1</td>
                        <td>商品数量</td>
                        <td>1</td>
                  </tr>
                </tbody>
              </table>

</div>
{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/common/zhexian/highcharts.js"></script>


<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<!--自定义内容-->
{/block}