{include file="template/_meta" /} {block name="css"}
<style type="text/css">
	.layui-form {
		box-sizing: border-box;
		padding: 24px;
	}
	
	body {
		background: #fff;
	}
	
	
</style>

{/block} {block name="content"}
<div class="layui-form">
        <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                <thead>
                  <tr>
                    <th colspan="4">订单基本信息</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>用户账号</td>
                    <td>13922830809</td>
                    <td>订单号</td>
                    <td>1</td>
                  </tr>
                  <tr>
                        <td>商品名称</td>
                        <td>13922830809</td>
                        <td>商品数量</td>
                        <td>1</td>
                      </tr>
                  <tr>
                        <td>下单时间</td>
                        <td>1</td>
                        <td>订单金额</td>
                        <td>1</td>
                  </tr>
                  
                  <tr>
                        <td>订单类型</td>
                        <td>1</td>
                        <td>仓储保险费</td>
                        <td>1</td>
                  </tr>
                  <tr>
                        <td>订单税费</td>
                        <td>1</td>
                        <td>仓储保险费</td>
                        <td>1</td>
                  </tr>
                  <tr>
                        <td>优惠劵</td>
                        <td>1</td>
                        <td>仓储地址</td>
                        <td>1</td>
                  </tr>
                  <tr>
                        <td>配送地址</td>
                        <td>1</td>
                        <td>收货人信息</td>
                        <td>1</td>
                  </tr>
                </tbody>
         </table>
         <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                <thead>
                  <tr>
                    <th colspan="4"> 商品退款/退货</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>用户账号</td>
                    <td>1</td>
                    <td>流水号</td>
                    <td>1</td>
                  </tr>
                  <tr>
                        <td>申请时间</td>
                        <td>1</td>
                        <td>退款/退货时间c</td>
                        <td>1</td>
                      </tr>
                      <tr>
                            <td>退款/退货类型</td>
                            <td>1</td>
                            <td>退款金额</td>
                            <td>1</td>
                          </tr>
                          <tr>
                                <td>配送类型</td>
                                <td>1</td>
                                <td>退货配送费用</td>
                                <td>1</td>
                              </tr>
               
                </tbody>
         </table>
         <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                <thead>
                  <tr>
                    <th colspan="4"> 茶圈活动</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>用户账号</td>
                    <td>1</td>
                    <td>订单号</td>
                    <td>1</td>
                  </tr>
                  <tr>
                        <td>活动名称</td>
                        <td>1</td>
                        <td>活动时间</td>
                        <td>1</td>
                      </tr>
                      <tr>
                            <td>活动报名费用</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                          </tr>
                         
                </tbody>
         </table>
         <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                <thead>
                  <tr>
                    <th colspan="4"> 申请会员</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>用户账号</td>
                    <td>1</td>
                    <td>订单号</td>
                    <td>1</td>
                  </tr>
                  <tr>
                        <td>申请会员等级</td>
                        <td>1</td>
                        <td>会员充值费用</td>
                        <td>1</td>
                      </tr>
                      <tr>
                            <td>申请时间</td>
                            <td>1</td>
                            <td>到期时间</td>
                            <td>1</td>
                          </tr>
                         
                </tbody>
         </table>
         <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                <thead>
                  <tr>
                    <th colspan="4"> 充值</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>用户账号</td>
                    <td>1</td>
                    <td>订单号</td>
                    <td>1</td>
                  </tr>
                  <tr>
                        <td>充值日期</td>
                        <td>1</td>
                        <td>会员充值费用</td>
                        <td>1</td>
                      </tr>
                      <tr>
                            <td>申请时间</td>
                            <td>1</td>
                            <td>到期时间</td>
                            <td>1</td>
                          </tr>
                         
                </tbody>
         </table>
         <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                <thead>
                  <tr>
                    <th colspan="4"> 提现</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>用户账号</td>
                    <td>1</td>
                    <td>订单号</td>
                    <td>1</td>
                  </tr>
                  <tr>
                        <td>提现日期</td>
                        <td>1</td>
                        <td>提现日期</td>
                        <td>1</td>
                      </tr>
                      <tr>
                            <td>提现方式</td>
                            <td>1</td>
                            <td>提现金额</td>
                            <td>1</td>
                          </tr>
                         
                </tbody>
         </table>

</div>
{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/common/zhexian/highcharts.js"></script>


<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<!--自定义内容-->
{/block}