{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body{
		background: #fff;
	}
.layui-form	label{
		width: 7%;
		text-align: left;
	}
.layui-form .layui-input-block input{
	width: 97%;
}
.layui-form-label span{
	color: red;
}
.layui-form{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}
	

</style>
{/block}


{block name="content"}
<div class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="{:url('admin/Agency/add')}" >添加</a>
		</div>
		
	</blockquote>
	<div class=" news_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col>
		    </colgroup>
		    <thead>
				<tr>
					<th>代理级别</th>
					<th>图标</th>
					<th>代理栏目优惠政策</th>
					<th>佣金比例</th>
					<th>年费</th>
					<th>操作</th>
				</tr>
		    </thead>
		    <tbody class="news_content">
			{volist name="agency" id="value"}
		    	<tr>
					<td align="left">{$value.name}</td>
					<td><img src="__UPLOADS__/{$value.images}"></td>
					<td>{$value.agency_test}</td>
					<td>{$value.commission}</td>
					<td>{$value.money}</td>
					<td>
						<a class="layui-btn layui-btn-mini edit" data-id="2"  href="{:url('admin/Agency/edit',['id'=>$value.id])}"><i class="iconfont icon-edit"></i> 编辑</a>
						<a href="{:url('admin/Agency/del',['id'=>$value.id])}" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="2"><i class="layui-icon"></i> 删除</a>
					</td>
				</tr>
			{/volist}
		    </tbody>
		</table>
		{$agency->render()}
	</div>
	<div id="page"></div>
	</div>

</script>

{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}

{/block}

</body>
</html>
