{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<style type="text/css">
	body{
		background: #fff;
	}
.layui-form	label{
		width: 15%;
		text-align: left;
	}
	.layui-form .layui-input-block{
		width: 80%;
	}
.layui-form .layui-input-block input{
	width: 97%;
}
.layui-form-label span{
	color: red;
}
.layui-form{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}
.layui-upload input{
	width: 22% !important;
}
</style>
{/block}
<body>

{block name="content"}
<form class="layui-form" action="{:url('admin/Agency/updata')}" method="post" enctype="multipart/form-data">

    {volist name="agency" id="value"}
    <div class="layui-form-item ">
        <label class="layui-form-label">代理级别</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{$value.name}" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>
   <div class="layui-upload">
    	 <label class="layui-form-label">代理图标</label>
    	<div class="layui-input-block">
			 <div class="img-box full">
				<section class=" img-section">
					<div class="z_photo upimg-div clear" >
							 <section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
							 </section>
					 </div>
				 </section>
			</div>
			<aside class="mask works-mask">
				<div class="mask-content">
					<p class="del-p ">您确定要删除作品图片吗？</p>
					<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
				</div>
			</aside>

</div>
  </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">优惠政策</label>
        <div class="layui-input-block">
        	<div> <script id="editor" type="text/plain" style="width:800px;height:500px;"></script></div>
			</div>
            <!--<textarea placeholder="{$value.agency_test}" class="layui-textarea" name="agency_test"></textarea>-->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">佣金比例</label>
        <div class="layui-input-block">
            <input type="text" name="commission" value="{$value.commission}" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">年费</label>
        <div class="layui-input-block">
            <input type="text" name="money" value="{$value.money}" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$value.id}">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
    {/volist}
</form>


{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}

	<script type="text/javascript">
		  var ue = UE.getEditor('editor');
layui.use('form', function(){
  var form = layui.form;

  //各种基于事件的操作，下面会有进一步介绍
});
</script>

{/block}

</body>
</html>
