<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>充值</title>
</head>
<script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
<script src="__STATIC__/admin/index/js/index.js"></script>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<link rel="stylesheet" href="__STATIC__/admin/common/layui/css/layui.css">
<style type="text/css">
    * {margin: 0;padding: 0;}
    [v-cloak]{display: none;}
    body {background: #fff;}
    .wrapper {padding: 20px 10px;}
    .star::before{content: '*'; color: #f00;}
    .hd{background-color: #f2f2f2; padding: 12px 20px; color: #333; margin-bottom: 40px;}
    .bd{display: flex;}
    .bd-left{width: 700px;}
    .bd-left>div{margin: 0 auto; width: 550px; border-right: 1px solid #ccc;}
    .layui-input-block{display: flex; width: 400px; position: relative; line-height: 36px;}
    .layui-form-select{flex: 1;}
    .bank-item .add-bank{border: 1px solid #f00; background-color: #fff; color: #f00;}
    .unit{border: 1px solid #ccc; color: #333; background-color: #f2f2f2; width: 45px; height: 36px; line-height: 38px; text-align: center;}
    .confirm{width: 100%; background-color: #E62D31; color: #fff; margin-top: 20px;}
    .tips{padding: 10px 0; color: #333; font-size: 13px; margin-left: 110px;}
    .bd-right-tip{font-size: 16px; margin-bottom: 20px; color: #f00;}
    .bank-card{border: 1px solid #ccc;}
    .bank-card .bank-card-hd{background-color: #fff; border-bottom: 1px solid #ccc; padding: 8px 10px;}
    .bank-card .bank-card-bd{background-color: #f2f2f2; color: #333; font-size: 14px; padding: 10px 20px;}
    .bd-right{position: relative;}
    .bd-right .arrow{position: absolute; left: -75px; top: -13px;}

    .mask{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .3);}
    .qrcode-bg{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; border-radius: 8px; padding: 30px 50px;}
    .scan-way{text-align: center;}
    .scan-way .scan-tip{font-size: 28px; color: #333;}
    .scan-way .support{margin: 10px 0;}
    .close{position: absolute; right: 5px; top: 5px; font-size: 28px; color: #949494; width: 20px; height: 20px; text-align: center; line-height: 20px; cursor: pointer;}
</style>

{/block}

<body>
{block name="content"}
    <div class="wrapper" id="wrapper" v-cloak>
        <div class="hd">
            <div>我要充值</div>
        </div>
        <div class="bd">
            <div class="bd-left">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">充值类型：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="pay_type" lay-filter="filter" value="1" title="在线充值">
                            <input type="radio" name="pay_type" lay-filter="filter" value="2" title="银行转账" checked>
                        </div>
                    </div>
                    <div>
                        <div class="bank-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label star">充值银行：</label>
                                <div class="layui-input-block">
                                        {if !empty($data)}
                                    <select name="bank_icard_id" lay-verify="required" lay-filter="bankcard">
                                        <option value="">请选择</option>
                                        {volist name="data" id="value"}
                                        <option value="{$value.id}">卡{$key+1}:{$value.count} {$value.two_bank} </option>
                                        {/volist}
                                        <a href="store_add_bankcard" class="layui-btn add-bank">+银行卡</a>
                                    </select>
                                    {else}
                                    <select name="bank_icard_id" lay-verify="required" lay-filter="bankcard">
                                        <option value="">请添加银行卡 →</option>
                                    </select>
                                    {/if}
                                    <a href="store_add_bankcard" class="layui-btn add-bank">+银行卡</a>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label star">充值金额：</label>
                                <div class="layui-input-block">
                                    <input type="text" required name="money" lay-verify="required" class="layui-input">
                                    <span class="unit">元</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label star">充值时间：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="create_time" readonly id="remitTime" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">留言</label>
                                <div class="layui-input-block">
                                    <textarea name="message" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn confirm confirm2">确定</button>
                                </div>
                                <p class="tips">单笔充值金额应不少于¥1000.00元</p>
                            </div>
                        </div>
                        <div class="online-item" style="display: none;">
                            <div class="layui-form-item">
                                <label class="layui-form-label star">用户名：</label>
                                <div class="layui-input-block">{$phone_number}</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label star">充值金额：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="money" required lay-verify="required" class="layui-input"
                                        v-model="amount">
                                    <span class="unit">元</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn confirm"
                                        @click="buy">确定</button>
                                </div>
                                <p class="tips">单笔充值金额应不少于¥100.00元</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-right">
                <img src="__STATIC__/admin/common/img/u25635.png" class="arrow">
                <div class="bd-right-tip">转账以下任意收款账号：</div>
                <div class="banks">
                    <div class="bank-card">
                        <div class="bank-card-hd">
                            <img src="__STATIC__/admin/common/img/u25463.png" width="20" height="20">
                            <span>北京农村商业银行股份有限公司</span>
                        </div>
                        <div class="bank-card-bd">
                            <div>户名：北京宣铭科技有限公司</div>
                            <div>账号：0203210103000015884</div>
                            <div>开户银行：北京农村商业银行股份有限公司马连道支行</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask" v-show="wayFlag"></div>
        <!-- 扫码 -->
        <div class="qrcode-bg" v-show="wayFlag">
            <span 
                class="close"
                @click="closePop"
            >×</span>
            <div class="scan-way">
                <div class="code-box">
                    <img :src="onlinePayImg" width="200" height="200">
                </div>
                <div class="support">
                    <a href="javascript:void(0);">
                        <input type="radio" checked>
                        <img src="__STATIC__/admin/common/img/g3.png" width="32" height="32">
                        <span>微信支付</span>
                    </a>
                    <a href="javascript:void(0);"
                        target="_blank"
                        @click="getAlipay"
                    >
                        <input type="radio" >
                        <img src="__STATIC__/admin/common/img/g4.png" width="32" height="32">
                        <span>支付宝</span>
                    </a>
                </div>
                <p class="scan-tip">扫一扫完成支付</p>
            </div>
        </div>
    </div>
{/block}


<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<script src="__STATIC__/admin/common/layui/layui.js"></script>
<script src="__STATIC__/admin/common/js/vue.js"></script>
<script src="__STATIC__/admin/common/js/vue-resource.js"></script>
<script src="__STATIC__/admin/common/js/vue-router.js"></script>
<script>
     var vm = new Vue({
        el: '#wrapper',
        data: {
            onlinePayImg: '', //微信、支付宝在线支付二维码路径
            wxPayInterval: null, //监听微信支付
            wayFlag: false,
            amount: null,
            // myWindow: null,
            aliPayInterval: null, //监听支付宝支付
        },
        methods: {
            // 获取数据
            myAjax: function (url, param, callback) {
                this.$http.post(url, param).then(function (res) {
                    callback(res);
                }, function (res) {
                    layer.msg(res.body.info, { time: 1000 });
                })
            },
            // 支付宝支付
            getAlipay: function () {
                clearInterval(this.wxPayInterval);
                var param = {
                    money: this.amount
                }
                var _this = this;
                this.myAjax('order_code_alipay2', param, function (data) {
                    // 付款二维码生成成功， 监听支付
                    if (data.body.status == 1) {
                        // _this.myWindow = window.open();
                        // _this.myWindow.document.write(data.body.data.url);
                        $('body').append(data.body.data.url);
                        _this.aliPayInterval = setInterval(function(){
                            _this.monitorOnlinePay(data.body.data.orderid);
                        }, 2000)
                        // window.parent.document.getElementById('tcdl').click();
                    }
                })
            },
            // 监听支付是否成功
            monitorOnlinePay: function (orderNum) {
                var param = { order_number: orderNum };
                var _this = this;
                this.myAjax('check_code_apy', param, function (data) {
                    console.log(data.body.status)
                    if (data.body.status == 1) {
                        layer.msg(data.body.info);
                        setTimeout(function () {
                            if(_this.wxPayInterval) clearInterval(_this.wxPayInterval);
                            if(_this.aliPayInterval) clearInterval(_this.aliPayInterval);
                            // window.parent.document.getElementById('tcdl').click();
                            // _this.myWindow ? _this.myWindow.close() : '';
                            window.location.reload();
                        }, 3000)
                    }
                })
            },
            // 获取微信支付二维码
            getWxCode: function () {
                var param = {
                    money: this.amount
                }
                var _this = this;
                this.myAjax('order_code_pay2', param, function (data) {
                    // 付款二维码生成成功， 监听支付
                    if (data.body.status == 1) {
                        _this.onlinePayImg = data.body.data.url;
                        _this.wxPayInterval = setInterval(function () {
                            _this.monitorOnlinePay(data.body.data.out_trade_no);
                        }, 2000)
                    }
                })
            },
            // 立即购买
            buy: function () {
                this.wayFlag = !this.wayFlag;
                if(this.amount >= 0){
                    this.getWxCode(); //获取微信支付二维码
                }else{
                    layer.msg('单笔充值金额应不少于¥100.00元！');
                }
            },
            // 关闭支付弹窗
            closePop: function () {
                clearInterval(this.wxPayInterval);
                clearInterval(this.aliPayInterval);
                this.wayFlag = false;
            },
        },
    })
</script>
<script>
    layui.use(['laydate', 'form', 'layer'], function(){
        var laydate = layui.laydate,
            form = layui.form,
            layer = layui.layer;
        laydate.render({elem: '#remitTime'});
        form.render();
        
        // 切换充值方式
        form.on('radio(filter)', function(data){
            var val = data.value;
            if(val == 1){
                $('.bank-item').add('.bd-right').hide();
                $('.online-item').show();
            }else{
                $('.bank-item').add('.bd-right').show();
                $('.online-item').hide();
            }
        })
        // 银行卡ID
        var card_id;
        form.on('select(bankcard)', function(data){
            card_id = data.value;
        })
        $('.confirm2').click(function(){
            var radio = $('input[name=pay_type]');
            for(var i = 0; i < 2; i++){
                if(radio[i].checked){
                    var pay_type = radio[i].value;
                    // if(pay_type == 1){
                    //     // 在线充值
                    //     var params = {
                    //         pay_type: pay_type,
                    //         money: $('.online-item input[name=money]').val()
                    //     }
                    //     myAjax(params);
                    // }else 
                    if(pay_type == 2){
                        // 银行转账
                        var params = {
                            pay_type: pay_type,
                            bank_icard_id: card_id,
                            money: $('.bank-item input[name=money]').val(),
                            create_time: $('input[name=create_time]').val(),
                            message: $('textarea[name=message]').val()
                        }
                        console.log(params)
                        if(params.bank_icard_id && params.money && params.create_time && params.message){
                            myAjax(params);
                        }else{
                            layer.msg('请将信息填写完整！');
                        }
                    }
                }
            }
        })
    })
    //  //银行转账提交
    function myAjax(params){
        $.ajax({
            url: 'OfflineRecharge',
            type: 'POST',
            dataType: 'JSON',
            data: params,
            success: function(res){
                // console.log(res);
                if(res.status == 1){
                    layer.msg(res.info);
                    setTimeout(function(){
                        location.reload();
                    }, 2500);
                }else{
                    layer.msg(res.info);
                }
            },
            error: function(){}
        })
    }
    
    //测试
   
    
</script>
{/block}
