<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin: 0; padding: 0;}
        i{font-style: normal;}
        a{text-decoration: none; color: #0066FF;}
        li{list-style: none;}
        .fl{float: left; text-align: right; width: 120px;}
        .red{color: #f00;}
        .pl150{padding-left: 150px;}
        .content{max-width: 1000px; min-width: 600px; margin: 50px auto 0;}
        .header{display: flex; align-items: center; justify-content: center;}
        .header i.item-i{display: inline-block; width: 40px; height: 40px; text-align: center; line-height: 40px; border-radius: 50%; background-color: #bcbcbc; color: #fff; font-size: 24px; margin-right: 10px;}
        .header i.item-i.curr-i{background-color: #428bca;}
        .header span.item-name{font-size: 20px; color: #333;}
        .header .hd-arrow{margin: 0 25px;}
        
        .mask{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5);}
        .mask img{position: absolute; left: 50%; top: 50%; width: 300px; height: 300px; margin: -150px 0 0 -150px;}
        .mask .close{font-size: 40px; color: #fff; position: absolute; left: 50%; top: 50%; margin: -200px 0 0 150px; cursor: pointer;}
        .tip-pop{width: 500px; min-height: 200px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #fff;}
        .tip-pop .title{height: 35px; line-height: 35px; background: #e4e4e4; padding-left: 20px;}
        .tip-pop .tip-cont{padding: 30px 20px; text-align: center;}
        .tip-pop .btns{text-align: center;}
        .tip-pop .btns button{width: 100px; height: 35px; border-radius: 3px; text-align: center; color: #fff; background-color: #6c6c6c; border: 0;}
        .tip-pop .btns button.confirm,
        .tip-pop .btns button.decorate{background-color: #169bd5; margin-left: 50px;}
        
        .main{width: 50%; margin: 50px auto 0;}
        .main ul li{padding: 15px 0;}
        .main ul li .qr-code{width: 70px; height: 70px; vertical-align: top;}
        .main li .wx-num{height: 25px;}
        .main li .set-btn{width: 100px; height: 30px; line-height: 30px; text-align: center; color: #fff; background-color: #169bd5; border: 0; border-radius: 3px;}
        .flow-btns{margin-top: 5px; text-align: center;}
        .flow-btns button{color: #fff; border-radius: 5px; height: 40px; line-height: 40px; border: 0; padding: 0 25px; cursor: pointer;}
        .flow-btns button.upload{background-color: #35aa47;}
        .flow-btns button.upload2{background-color: #d3d6d3;}
        .flow-btns button.get-code{background-color: #6699ff;}
        .flow-btns button.publish{border:2px solid #8d3ac3;color: #8d3ac3;background: #fff;}
        .flow-btns button.fabu{background-color: #ff9900;}
        .flow-btns button.relieve{background-color: #ff0000;}
        .flow-btns img{vertical-align: middle;}
        .flow-btns .dott{display: inline-block; width: 50px; border-top: 2px dashed #428bca; vertical-align: middle;}
    </style>
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="hd-one">
                <i class="item-i curr-i">1</i>
                <span class="item-name">小程序授权</span>
            </div>
            <div class="hd-arrow">
                <img src="__STATIC__/admin/index/img/u40262p000.png">
            </div>
            <div class="hd-two">
                <i class="item-i curr-i">2</i>
                <span class="item-name">发布小程序</span>
            </div>
        </div>
        <div class="main">
            <ul>
                <li>
                    <span class="fl">小程序名称</span>
                    <div class="pl150">{$data['wename']}</div>
                </li>
                <li>
                    <span class="fl">小程序AppID</span>
                    <div class="pl150">{$data['appid']}</div>
                </li>
                <li>
                    <span class="fl">小程序认证</span>
                    <div class="pl150">
                        {if $data['service_type_info']==1}
                          已认证
                        {else}
                        未认证
                        {/if}
                    </div>
                </li>
                <li style="display: flex;">
                    <span class="fl">小程序服务类目</span>
                    <div style="margin-left:30px;">
                        <select style="height: 25px;">
                            <option value="商家自营-食品类目">商家自营-食品类目</option>
                        </select>
                    </div>
                    <div style="margin-left:30px;" class="list_user">
                        <select style="height: 25px;" id="list_select">
                            <option value="0">更多分类</option>
                        </select>
                    </div>
                </li>
                <!-- <li>
                    <span class="fl">发布状态</span>
                    <div class="pl150">未发布
                        <a href="#" class="check-publish-det">查看发布详情</a>
                    </div>
                </li> -->
                <li>
                    <span class="fl">小程序二维码</span>
                    <div class="pl150">
                        <!-- <img src="{$data['head_img']}" class="qr-code"> -->
                        <img src="data:{$data['qr_img']}" class="qr-code">
                        <!-- 待获取 -->
                        <!-- <a href="#" class="show-big">查看大图</a> -->
                    </div>
                </li>
                <li>
                    <span class="fl">添加体验号</span>
                    <div class="pl150">
                        <input type="text" name="wx" class="wx-num" placeholder="请填写微信号">
                        <button class="set-btn set-tiyaner">设为体验者</button>
                    </div>
                </li>
            </ul>
        </div>
        <span style="color: red;">注：请按从左到右顺序操作</span>
        <div class="flow-btns">
            {if $is_chuan=='0'}
            <button class="upload">一键上传店铺代码</button>
            {else}
            <button class="upload upload2">店铺代码上传成功</button>
            {/if}
            <img src="__STATIC__/admin/index/img/u40262p000.png">
            <button class="get-code" >获取体验二维码</button>
            <img src="__STATIC__/admin/index/img/u40262p000.png">
            {if $is_que=='0'}
                 <button class="publish"><b>提交审核</b></button>
            {else}
                <button class="publish"><b>已提交审核</b></button>
            {/if}
            <img src="__STATIC__/admin/index/img/u40262p000.png">
            {if $is_fabu=='0'}
                <button class="fabu">发布正式版小程序</button>
            {else}
                <button class="fabu">正式版小程序已发布</button>
            {/if}
            <span class="dott"></span>
            <button class="relieve">解除授权绑定</button>
        </div>
        {if $is_que=='1'}
        <span style="margin-left:450px;font-size: 12px;"> 
            <span class="check_detail" style="color: blue;cursor: default;">查看审核详情</span> 
            <span class="che_detail" style="color: rgb(217, 18, 243);cursor: default;">撤销审核</span>
        </span>
        {/if}
        <!-- <span style="margin-left:52px;font-size: 12px;">未提交 <span class="check_publish" style="color: blue">查看发布详情</span> </span> -->
    </div>
    <input type="hidden"  name="url" value="{$pp}" >
    <input type="hidden"  name="is_chuan" value="{$is_chuan}" >
    <input type="hidden"  name="is_que" value="{$is_que}" >
    <input type="hidden"  name="is_fabu" value="{$is_fabu}" >

    <div class="mask" style="display: none;"></div>
    <!-- 发布提示 -->
    <div class="tip-pop fabu-confirm" style="display: none;">
        <p class="title">发布提示</p>
        <div class="tip-cont">正式版需微信平台方审核通过，一般需要3个工作日，您对体验版很满意，确定要发布正式版吗？</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="fabu2 confirm">确定</button>
        </div>
    </div>
    <div class="tip-pop publish-confirm" style="display: none;">
        <p class="title">提交提示</p>
        <div class="tip-cont">正式版需微信平台方审核通过，一般需要3个工作日，您对体验版很满意，确定要提交审核吗？</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="publish2 confirm">确定</button>
        </div>
    </div>
    <div class="tip-pop publish-no-code" style="display: none;">
        <p class="title">发布提示</p>
        <div class="tip-cont">您还没有上传店铺代码</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="confirm">确定</button>
        </div>
    </div>
    <div class="tip-pop che2" style="display: none;">
        <p class="title">撤销提示</p>
        <div class="tip-cont">单个帐号每天审核撤回次数最多不超过1次，一个月不超过10次。</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="che2_datail confirm">确定</button>
        </div>
    </div>
    <!-- 小程序发布详情 -->
    <div class="tip-pop publish-detail" style="display: none;">
        <p class="title">小程序发布详情</p>
        <div class="tip-cont">非正式版，暂无数据</div>
        <div class="btns">
            <button class="cancel">取消</button>
        </div>
    </div>
    <!-- 解绑提示 -->
    <div class="tip-pop unbind" style="display: none;">
        <p class="title">解绑提示</p>
        <div class="tip-cont">此操作不可逆，如对装修不满意，可解绑后，再次装修上传店铺代码</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="relieve2 confirm">确定</button>
        </div>
    </div>

    <!-- 上传模板代码提示 -->
    <div class="tip-pop renovation" style="display: none;">
        <p class="title">上传模板代码提示<span class="cancel" style="float: right;padding-right:10px;cursor:default">X</span></p>
        <div class="tip-cont">请认真装修您的店铺，只有规范的小程序装修，才能正式版通过</div>
        <div class="btns">
            <button class="decorate">立即装修</button>
            <button class="shangchuan confirm">一键上传</button>
        </div>
    </div>
    <div class="tip-pop check-qrcode" style="display: none;">
        <p class="title">上传模板代码提示</p>
        <div class="tip-cont">模版代码已上传，请耐心等待1~2天后，查看体验二维码</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="decorate confirm">立即装修</button>
        </div>
    </div>
    <div class="tip-pop check-qrcode2" style="display: none;">
        <p class="title">上传模板代码提示</p>
        <div class="tip-cont">您当前使用的已经是平台最新版，无需更新小程序平台代码，您还可以去店铺装修板块，装修您的店铺</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="decorate confirm">装修店铺</button>
        </div>
    </div>

    <!-- 提示 -->
    <div class="tip-pop no-upload-code" style="display: none;">
        <p class="title">提示</p>
        <div class="tip-cont">您还没有<span style="color: red;" class="shangchuan">上传店铺代码</span></div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="confirm">确定</button>
        </div>
    </div>
    <div class="tip-pop final-vers" style="display: none;">
        <p class="title">提示</p>
        <div class="tip-cont">您已经是正式版，请扫小程序二维码查阅</div>
        <div class="btns">
            <button class="cancel">取消</button>
            <button class="confirm">确定</button>
        </div>
    </div>


    <script src="__STATIC__/admin/index/js/jquery.js"></script>
    <script>
        //测试获取分类
        $('.list_user').click(function() {
            $.ajax({
                url:"cate_list",
                type:"get",
                success : function(res){
                    console.log(res.data);
                    if(res.status == 1) {
                        $('.list_user').empty();
                        var arr = '<option value="0">更多分类</option>';
                        for(let i = 0; i < res.data.length; i ++) {
                            arr += `<option value='${res.data[i].first_id}'>${res.data[i].first_class}-${res.data[i].second_class}</option>`
                        }
                        console.log(arr);
                        $("#list_select").append(arr);
                    }
                }
            })
        })
        // 取消
        $('.cancel').add('.confirm').click(function(){
            $('.tip-pop').add('.mask').hide();
        })
        // 立即装修
        $('.decorate').add('.confirm').click(function(){
            window.location.href="/admin/decoration_routine_index";
            // $('.tip-pop').add('.mask').hide();
        })
        // 上传代码
        $('.shangchuan').add('.confirm').click(function(){
            $.ajax({
                url:"send_message",
                type:"post",
                success : function(data) {
                    var data = JSON.parse(data);
                    if(data.status=='1'){
                        $('.upload').addClass('upload2');
                        //取消第一层弹窗
                        $('.tip-pop').add('.mask').hide();
                        alert("你的店铺已上传成功,可获取体验码预览小程序");
                        setTimeout(function(){
                             window.location.reload();
                        },3000);
                    }else{
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert('上传失败，请重新一键上传店铺代码');
                    }
                }
            })
            // $('.tip-pop').add('.mask').hide();
        })
        // 查看发布详情 
        $('.check-publish-det').click(function(){
            $('.mask').add('.publish-detail').show();
        })
        // 查看大图
        $('.show-big').click(function(){
            var src = $(this).prev('img')[0].src;
            $('.mask').show().append('<img src="'+src+'"><span class="close">×<span>');
            closeEven();
        })
        function closeEven(){
            // 查看大图 关闭
            $('.mask .close').add('.mask img').click(function(){
                $('.mask').hide().empty();
            })
        }
        // 一键上传店铺代码
        $('.upload').click(function(){
            //判断是否已上传
            var is_chuan=$('input[name="is_chuan"]').val();
             if(is_chuan==1){
                 alert('店铺代码已上传成功，请勿重复操作');
                 return false;
             }   
            if(is_chuan==0){
                //没有上传过店铺的代码
                $('.mask').add('.renovation').show();
            }else{
                $('.mask').add('.check-qrcode2').show();
            }
        })
        // 提交审核操作
        $('.publish2').click(function(){
            $.ajax({
                url:'publish',
                type:"post",
                success : function(data){
                    var data = JSON.parse(data);
                    if(data.status=='0'){
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert(data.data);
                    }else{
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert("提交审核成功");
                        setTimeout(function(){
                             window.location.reload();
                        },3000);
                    }
                }
            })
        })
        // 查看审核详情
        $('.check_detail').click(function(){
            $.ajax({
                url:'check_detail',
                type:"post",
                success : function(data){
                    var data = JSON.parse(data);
                    if(data.data=='2'){   //审核中
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert('审核中...');
                    }else if(data.data=='1'){
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert("提交审核成功");
                        setTimeout(function(){
                             window.location.reload();
                        },3000);
                    }else if(data.data==3){   
                        alert('审核失败');
                    }else{          //审核失败原因
                        alert(data.data);

                    }
                }
            })
        })
        // 撤销审核
        $('.che_detail').click(function(){
            $('.mask').add('.che2').show();
        })
        // 撤销审核
        $('.che2_datail').click(function(){
            $.ajax({
                url:'unDoCodeAudit',
                type:"get",
                success : function(data){
                    console.log(data);
                    var data = JSON.parse(data);
                    if(data.data.errcode=='87013'){   //审核中
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert('撤回次数达到上限（每天一次，每个月10次）');
                    }else if(data.data=='0'){
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert("撤销成功");
                        setTimeout(function(){
                             window.location.reload();
                        },3000);
                    }else{   
                         $('.tip-pop').add('.mask').hide();
                        alert('撤销失败');
                    }
                }
            })
        })
        // 获取体验二维码
        $('.get-code').click(function()
        {
            var url='https://api.weixin.qq.com/wxa/get_qrcode?access_token='+$('input[name="url"]').val();
            $('.mask').show().append('<img src="https://www.zhihuichacang.com/test.php?url='+url+'"><span class="close">×<span>');
             closeEven();
        })

        // 提交审核按钮点击事件判断
        $('.publish').click(function(){
            //判断是否已上传小城序代码
            //判断是否已上传
            var is_que=$('input[name="is_que"]').val();
             if(is_que==1){
                 alert('店铺提交审核，请勿重复操作');
                 return false;
             }   
            var num=$('.upload2');
            if(num.length==0){
                //没有上传代码
                $('.mask').add('.no-upload-code').show();
            }else{   //publish-confirm
                $('.mask').add('.publish-confirm').show();
            }
        })
        //发布正式版小程序按钮点击事件
        $('.fabu').click(function(){
            var is_fabu=$('input[name="is_fabu"]').val();
             if(is_fabu==1){
                 alert('正式版小城序已发布，请勿重复操作');
                 return false;
             }   
            $('.mask').add('.fabu-confirm').show();
        })
        //发布正式版小程序
        $('.fabu2').click(function(){
            $.ajax({
                url:'release',
                type:"post",
                success : function(data){
                    var data = JSON.parse(data);
                    if(data.status=='0'){
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert("发布失败");
                    }else{
                         //取消第一层弹窗
                         $('.tip-pop').add('.mask').hide();
                        alert("发布成功");
                        setTimeout(function(){
                             window.location.reload();
                        },3000);
                    }
                }
            })
        })
        // 解除授权绑定
        $('.relieve').click(function(){
            $('.mask').add('.unbind').show();
            // $('.unbind').show();
            
        })
        // 解除授权绑定
        $('.relieve2').click(function(){
            // $('.mask').add('.unbind').show();
            $.ajax({
                url:"relieve",
                type:"post",
                success : function(data){
                    var data = JSON.parse(data);
                    if(data.status=='1'){
                        alert("解除授权成功");
                        setTimeout(function(){
                            window.location.href="auth_pre";
                        },3000);
                    }else{
                        alert("解除授权失败，请联系管理员");
                    }
                }
            })
        })
        // 设置体验者
        $('.set-tiyaner').click(function(){
            var wxhao=$(this).prev('input[name="wx"]').val();  //微信号
            $.ajax({
                url:'set_tiyan',
                type:"post",
                data: {
								"wx": wxhao,
							},
                success : function(data){
                    var data = JSON.parse(data);
                    if(data.status=='1'){
                        alert("设置体验号成功");
                    }else{
                        alert(data.info);

                    }

                }
            })
        })

    </script>
</body>
</html>