{extend name="layout"} {block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	label {
		text-align: left !important;
	}

	.layui-form-item {
		width: 100%;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.layui-form-label {
		width: 26% !important;
	}

	.layui-input-inline {
		width: 70% !important;
	}

	#page {
		width: 96%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}

	select {
		font-size: 15px;
	}

	button {
		width: 60px;
		height: 40px;
		border-radius: 3px;
	}
</style>

{/block}

<body>

	{block name="content"}

	<div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">输入搜索：</label>
						<div class="layui-input-inline">
							<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="活动名称" class="layui-input">

						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">标签：</label>
						<div class="layui-input-inline">
							<select>
								<option value="1">全部</option>
								<option value="2">未发布</option>
								<option value="3">已发布</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">状态：</label>
						<div class="layui-input-inline">
							<select>
								<option value="1">全部</option>
								<option value="2">过期</option>
								<option value="3">未过期</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<a class="layui-btn search_btn">搜索</a>
					</div>
				</div>

			</form>

		</blockquote>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel" href="{:url('admin/Advertisement/accessories_business_add')}">添加广告</a>
		</div>
		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="3%">
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
						<th>活动名称</th>
						<th>活动图片</th>
						<th>活动地址</th>
						<th>活动分类</th>
						<th>价格</th>
						<th>标签</th>
						<th>排序</th>
						<th>活动时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
					<tr>
						<td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose"></td>
						<td>2</td>
						<td>
							<div style="width: 80px; height: 80px;"><img src="__STATIC__/admin/common/img/a11.png" /></div>
						</td>
						<td>管理员</td>
						<td>管理员</td>
						<td>2018</td>
						<td>
							<input type="checkbox" class="Status" name="show" value="1" lay-skin="switch" lay-text="是|否" lay-filter="isShow"
							 checked="" data-id="2">
						</td>
						<td>2018</td>
						<td>2018</td>
						<td>
							<a class="layui-btn layui-btn-mini edit" href="{:url('admin/Advertisement/accessories_business_edit')}"><i class="iconfont icon-edit"></i>
								编辑</a>
							<a href="/siring_ow/public/admin/admin_del/id/2.html" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del"
							 data-id="undefined"><i class="layui-icon"></i> 删除</a>

						</td>
					</tr>
				</tbody>
			</table>
			<div id="page">
				<div class="opation" style="width: 200px; float: left;">
					<select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
						<option check="" value="0">请选择</option>
						<option value="1">批量删除</option>
						<option value="2">活动上架</option>
						<option value="3">活动下架</option>
						<option value="4">批量删除</option>
						
					</select>
				</div>
				<div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
					<button type="button" id="opration_btu" style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
					</button>
				</div>


			</div>

		</div>


	</div>
	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
			//是否展示
			form.on('switch(isShow)', function(data) {
				if ($(this).val() == 0) {
					$(this).val(1);
				} else {
					$(this).val(0);
				}
				var vals = data.value;
				var id = $(this).data("id");
				var status = $(this).val();
				console.log(status);
				$.ajax({
					type: "POST",
					url: "{:url('admin/admin/status')}",
					data: {
						"id": id,
						"status": status
					},
					success: function(data) {
						console.log("成功")
					},
					error: function(data) {
						console.log("错误")
					}
				});


			});

			//全选
			form.on('checkbox(allChoose)', function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				child.each(function(index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});

			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)", function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
				if (childChecked.length == child.length) {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
				} else {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
				}
				form.render('checkbox');
			})


		})
	</script>

	{/block}

</body>

</html>
