{extend name="layout"} {block name="css"}
<style type="text/css">
	body {
		background: #fff;
	}
	
	.layui-form label {
		width: 17%;
		text-align: left;
	}
	
	.layui-form .layui-input-block input {
		width: 97%;
	}
	
	.layui-form-label span {
		color: red;
	}
	
	.layui-form {
		width: 98%;
		margin: 0 auto;
		padding-top: 40px;
	}
	
	.layui-input-block {
		min-height: 40px;
	}
	
	.biaoji .layui-form-radioed span {
		color: #fff;
		background: red;
		width: 33px;
		text-align: center;
		height: 13px;
		line-height: 13px;
		font-size: 9px;
		border-radius: 6px;
	}
	.form-group .layui-form-select{
		display: none;
	}
	.title {
		height: 50px;
		background: #F2F2F2;
		font-size: 20px;
		line-height: 50px;
		padding-left: 20px;
		font-weight: bold;
	}
	
</style>


{/block}

<body>

	{block name="content"}
	<div class="open">

	</div>
	<form class="layui-form" action="{:url('admin/Goods/save')}" method="post" enctype="multipart/form-data">
		<div class="basic-information title"> 基本信息
		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>活动名称:</label>
			<div class="layui-input-block">
				<input type="text" name="goods_name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_name">
			</div>
			<div class="tips">
				活动名称必须填写，最多100个字
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">活动地址：</label>
		<div class="form-inline">
			<div data-toggle="distpicker">
				<div class="form-group">
					<label class="sr-only" for="province2">Province</label>
					<select class="form-control" id="province2" data-province="---- 选择省 ----"></select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="city2">City</label>
					<select class="form-control" id="city2" data-city="---- 选择市 ----"></select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="district2">District</label>
					<select class="form-control" id="district2" data-district="---- 选择区 ----"></select>
				</div>
			</div>
		</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<div class="layui-input-block">
						<input type="text" name="sort_number" lay-verify="title" autocomplete="off" placeholder="请填写具体地址" class="layui-input" id="sort_number">
					
					
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">时间：</label>
			<div class="layui-input-block">
					<input type="text" value="" class="layui-input" placeholder="请选择活动开始时间" id="datetimepicker"/>
					
			</div>
		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label"><span>*</span>商品标记：</label>
			<div class="layui-input-block" id="goods_sign">
			 <input type="checkbox" name="like1[write]" lay-skin="primary" title="hot" checked="">
      <input type="checkbox" name="like1[read]" lay-skin="primary" title="aaa">
			<input type="checkbox" name="like1[read]" lay-skin="primary" title="aaa">
			</div>
			<div class="tips">
			*在活动名称前添加，文字标签可编辑多选和添加，文字最长10个一个标签
			</div>
		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>商品品牌:</label>
			<div class="layui-input-inline">
				<select name="goods_brand">
					<option value="浙江" selected="">浙江省</option>
					<option value="你的工号">江西省</option>
					<option value="你最喜欢的老师">福建省</option>
				</select>	</div>
				<div class="layui-input-inline">
					<a href="{:url('admin/Brand/add')}" style="line-height: 40px;">添加品牌</a>
				</div>
		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>商品排序:</label>
			<div class="layui-input-block">
				<input type="text" name="sort_number" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="sort_number">
			</div>
		</div>

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">商品描述：</label>
			<div class="layui-input-block">
				<!-- <textarea id="demo" style="display: none;"></textarea> -->
				<!-- <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea> -->
				<div id="goods_text">
					<script id="editor" type="text/plain" name="goods_text" style="width:800px;height:500px;"></script>
				</div>
			</div>
		</div>
		
		<div class="basic-information title"> 其他
		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label">上架年限：</label>
			<div class="layui-input-block" id="">
				<input type="radio" name="goods_putaway" value="1年10元/单个商品" title="1年10元/单个商品" checked="" class="hot">
				<input type="radio" name="goods_putaway" value="2年15元/单个商品" title="2年15元/单个商品" class="">
				<input type="radio" name="goods_putaway" value="3年25元/单个商品" title="3年25元/单个商品" class="">
			</div>
		</div>
		<div class="layui-form-item" pane="">
			<label class="layui-form-label">限购：</label>
			<div class="layui-input-inline">
				<input type="checkbox" lay-skin="primary" title="限制每人可购买数量"  >
			</div>
			<div class="layui-input-inline">
				<input type="text" name="goods_restriction" id="" value="" style="margin-right: 10px;" id="goods_restriction" />件
			</div>
		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label"><span>*</span>是否上架：</label>
			<div class="layui-input-block" id="goods_sign">
				<input type="radio" name="goods_status" value="hot" title="上架" checked="" class="hot">
				<input type="radio" name="goods_status" value="促销" title="不上架" class="">
		
			</div>
		</div>
		<div class="basic-information title"> 配送与安装服务
		</div>
	
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label">配送与安装服务：</label>
			<div class="layui-input-block" id="">
				<input type="checkbox" name="goods_delivery[]" value="到店自提" title="到店自提" checked="" class="hot">
				<input type="checkbox" name="goods_delivery[]" value="上门安装" title="上门安装" class="">
				<input type="checkbox" name="goods_delivery[]" value="送货上门" title="送货上门" class="">
				<input type="checkbox" name="goods_delivery[]" value="送货上门" title="平台配送" class="">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn submit_btn" lay-submit="" lay-filter="demo1" type="submit">保存</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>
			</div>
		</div>

	</form>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage','layedit'], function() {
			var form = layui.form(),
			layedit = layui.layedit,
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
				layedit.build('demo');
					form.render('select');
		

			
		})
	</script>

	<script type="text/javascript">
		//实例化编辑器
		//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
		var ue = UE.getEditor('editor');
// 		$('#datetimepicker1').datetimepicker({
// 			datepicker:false,
// 			format:'H:i',
// 			step:1
// 		});
$('#datetimepicker').datetimepicker({
	format: 'Y/m/d H:m',
	step:1,
	});
	</script>

	{/block}

</body>

</html>