{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }

    #hot {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .list {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    .list img {
        margin-left: 4px;
        height: 20px;
    }

    .list .texts {
        margin-left: 4px;
        width: 78px;
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        color: #669900;
        border: solid 1px #669900;
        border-radius: 6px;
    }

    .title {
        height: 50px;
        background: #F2F2F2;
        font-size: 20px;
        line-height: 50px;
        padding-left: 20px;
        font-weight: bold;
    }

    .special,
    .general,
    .special .layui-form-item,
    .general .layui-form-item {
        min-width: 100%;
    }

    .add-content {
        background: #F2F2F2;
        width: 100%;
    }

    .general-kuang {
        border: solid 1px #E4E4E4;
        padding-left: 10px;
    }

    .btus {
        background: #fff;
        border: solid 1px #E4E4E4;
        color: #0099FF;
        width: 141px;
        display: inline-block;
        margin: 10px;
    }

    #general-content .layui-form-item {
        width: 100%;
    }

    .sky-blue {
        color: #0099FF;
    }

    .bgwhite {
        background: #fff;
    }

    .noshow {
        display: none;
    }

    .special .layui-form-item {
        width: 100%;
    }

    .general .layui-form-item {
        width: 100%;
    }

    .special .layui-form-item label {
        width: 10%;
    }

    .general .layui-form-item label {
        width: 10%;
    }

    .operation-btus {
        width: 60px;
        height: 40px;
        border-radius: 3px;
        color: #fff;
    }

    .btu-delet {
        background: #FF0000;
    }

    .btu-cancel {}

    .btu-add {
        background: #0099FF;
    }

    .num-content {
        overflow: hidden;
    }

    #general_content>div {
        margin-top: 6px;
    }

    /* 弹窗 */

    .tanchuang {
        width: 100%;
        min-height: 1000px;
        background: RGBA(0, 0, 0, 0.3);
        position: fixed;
        z-index: 9999;
    }

    table .full {
        width: 100px !important;
        min-width: 100px !important;
    }

    table input {
        text-align: center;
        width: 80px !important;
        min-width: 80px !important;
    }

    table .z_photo {
        padding: 0;
    }

    table th {
        text-align: center;
    }

    table td {
        text-align: center;
    }

    table td input {
        border: 1px #DDDDDD solid;
        margin-top: 30px;
    }

    table td .layui-unselect {
        margin-top: 30px;
    }

    .tan {
        cursor: pointer;
    }

    .danwei {
        position: absolute;
        left: 175px;
    }

    .line {
        position: relative;
    }

    .change_danwei {
        color: #333;
        cursor: pointer;
    }

    .sever_list {
        background: #fff;
        display: flex;
    }

    /*
     * 弹窗
     */
    /*
     * 弹窗
     */
    .popup {
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #D7D7D7;
        box-sizing: border-box;
    }

    .submit_btns {
        width: 100px;
        height: 38px;
        color: #fff;
        background: #169BD5;
        border-radius: 10px;
    }

    .popup_doms {
        width: 790px;
        height: 400px;
        background: #fff;
    }

    .popup_doms1 {
        width: 900px;
        height: 500px;
        background: #fff;
    }

    .popup_content {
        padding: 20px;
    }

    .popup_title {
        height: 40px;
        line-height: 40px;
        color: #66662B;
        background: #EEF7EA;
        padding-left: 20px;
    }

    .span {
        display: inline-block;
        width: 80px;
        text-align: left;
        margin-right: 20px;
    }

    .repany .layui-input {
        width: 530px;
    }

    .repany {
        margin-bottom: 10px;
    }

    .operation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .chat {
        height: 210px;
    }

    .danhao {
        width: 200px;
        margin-right: 10px;
    }

    .operation select {
        width: 130px;
        height: 40px;
        border-color: #ABADB3;
        color: #000;
        background: #fff;
    }

    .operation div {
        margin-right: 10px;
    }

    .noshow {
        display: none;
    }

    .popup_title {
        position: relative;
    }

    .popup_x {
        width: 25px;
        position: absolute;
        right: 12px;
        top: -4px;
    }

    .repay_tip {
        display: inline-block;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        background: #669900;
    }

    .button {
        width: 100px;
        line-height: 30px;
        text-align: center;
        border: 1px solid #a2a2a2;
        border-radius: 10px;
    }

    .button_all {
        display: flex;
        justify-content: space-around;
        margin-top: 30PX;
    }

    .quxiao {}

    .queding {
        background: #169BD5;
        color: #fff;
    }

    /* 包装规格 */
    #packing_specification {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 768px;
    }

    #packing_specification input {
        width: 60px;
        margin-right: 5px;
    }

    .fuhao {
        font-size: 32px;
        color: #a2a2a2;
    }

    .packing_specifications {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 768px;

    }

    .packing_specifications select {
        display: block
    }

    .packing_specifications .layui-form-select {
        display: none;
    }

    .packing_specifications input {
        width: 60px;
        margin-right: 5px;
    }

    .add_danwei,
    .add_danwei1,
    .add_danwei2 {
        cursor: pointer;
    }

    .packing {
        height: 38px;
        margin-right: 5px
    }

    .danwei_content {
        display: flex;
        align-items: center;
        position: relative;
    }

    .delect_img {
        width: 14px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .add_danwei,
    .add_biao {
        color: #20A0FF
    }

    /* 包装规格 */
    /* 顶部导航 */
    .nav {
        display: flex;
        margin: 20px 0;
    }

    .nav a {
        color: #000;
        display: flex;
        width: 200px;
        height: 80px;
        border: solid 1px #000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

    .logistics {
        color: #bbb;
    }

    .ons {
        color: #20A0FF !important;
        border-color: #20A0FF !important;
    }

    input {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all
    }

    textarea::-webkit-scrollbar {
        display: none
    }

    /* 数据库展现图片样式 */

    .img {
        position: relative;
        display: inline-block;
        width: 100px;
    }

    .imgcontent {
        margin: 10px;
    }

    .img>i {
        display: inline-block;
        width: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }
</style>

{/block}

<body>
    {block name="content"}
    <div class="tanchuang noshow">
        <div style="width: 395px;height: 527px;margin: 10% auto;">
            <img src="" class="tanimg" />
        </div>

    </div>

    <form class="layui-form layui-form-lists" action="{:url('admin/Goods/crowd_update')}" method="post"
        enctype="multipart/form-data">
        {if !empty($goods)}{volist name="goods" id="value"}
        <input type="hidden" name="id" id="ids" value="{$value.id}" />
        <div class="form-title">基础信息 </div>
        <div class="form-item">
            <label class="form-label"><span class="red">*</span>项目名称</label>
            <div class="form-input">
                <input type="text" name="project_name" value="{$value.project_name}" lay-verify="title"
                    autocomplete="off" placeholder="请输入" class="layui-input" required>
                <div class="tips">
                    项目名称必须填写，最多100个字
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label"><span class="red">*</span>筹款天数</label>
            <div class="form-input" style="position: relative;">
                <input type="text" name="number_days" value="{$value.number_days}" lay-verify="title" autocomplete="off"
                    placeholder="请输入" class="layui-input" required>
                <div class="danwei" style="position: absolute;right: 20px;top: 7px;">天</div>
                <div class="tips">
                    （10到90天，建议30天）
                </div>
            </div>
        </div>

        <div class="form-item">
            <label class="form-label">卖点标签</label>
            <div class="form-input">
                <div id="hot">
                    <div class="list">
                        <input type="checkbox" name="goods_sign" lay-skin="primary" title="" checked="">
                        <span class="texts">古色生香</span>
                        <span style="color: #0EA9E3;font-size: 12px; line-height: 20px;" class="change_text">修改</span>
                    </div>
                    <div class="add_biao">
                        +添加文字标签
                    </div>

                </div>
                <div class="tips">
                    *在项目买点前加标记，可多选，文字标签字数不超过8个字
                </div>
            </div>

        </div>
        <div class="form-item">
            <label class="form-label">分享描述</label>
            <div class="form-input">
                <input type="text" name="goods_describe" value="{$value.goods_describe}" lay-verify="title"
                    autocomplete="off" placeholder="请输入" class="layui-input">
                <div class="tips">
                    微信分享给好友时会显示，建议36个字以内<span class="tan" style="color: #0E90D2;"
                        data-id="__STATIC__/admin/common/img/u27291.png">查看实例</span>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label"><span class="red">*</span>归属分类</label>
            <div class="form-input">
                {if !empty($goods_list)}
                <select name="pid" id="admin_role" class="role_list">
                    {volist name="goods_list" id="v"} {if condition="$value.pid eq $v.id"}
                    <option value="{$v.id}" selected="">{$v.name}</option>
                    {else}
                    <option value="{$v.id}">{$v.name}</option>
                    {/if} {/volist}
                </select><br /> {else}
                <select name="pid" class="role_list">
                </select><br /> {/if}
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">商品排序</label>
            <div class="form-input">
                <input type="number" name="sort_number" value="{$value.sort_number}" lay-verify="title"
                    autocomplete="off" placeholder="请输入" class="layui-input">
                <div class="tips">
                    *填写正整数，从大到小排序
                </div>
            </div>
        </div>
        <div class="form-title">数量价格 </div>
        <div class="form-item">
            <label class="form-label">服务承诺</label>
            <div class="form-input">
                <div class="list">
                    <img src="__STATIC__/admin/index/img/u159.png" alt="" style="width:20px">
                    <span>由</span>
                    <input type="text" name="company_name" value="{$value.company_name}" style="width:227px">
                    <span class="tips">特制商品&nbsp;&nbsp;&nbsp;&nbsp;*方框内填公司或工匠名</span>
                </div>
                <div class="list">
                    <img src="__STATIC__/admin/index/img/u159.png" alt="" style="width:20px">
                    <span>本产品为</span>
                    <input type="text" name="company_name1" value="{$value.company_name1}" style="width:156px">
                    <span class="tips">发货并提供售&nbsp;&nbsp;&nbsp;&nbsp;*方框内填公司或工匠名</span>
                </div>
                <div class="list">
                    <img src="__STATIC__/admin/index/img/u159.png" alt="" style="width:20px">
                    <input type="text" name="company_time" value="{$value.company_time}" style="width:313px">
                    <span class="tips">*方框内填预计发货时间</span>
                </div>
            </div>
        </div>

        <div class="form-item">
            <label class="form-label">商品规格</label>
            <div class="form-input">

            </div>
        </div>

        <div class="general_content">
            <div class="form-item general">
                <div class="layui-input-block general-kuang">

                    <div id="lv_table_con" class="control-group" style="">
                        <label class="control-label">规格项目表</label>
                        <div class="controls" style="">
                            <div id="lv_table" style="padding: 10px;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <!--//循环这里规格名称-->
                                            {if !empty($res)} {volist name="res" id="val"}
                                            <th width="50">
                                                <input value="{$val}" readonly="" style="border:0;">
                                            </th>
                                            {/volist} {/if}

                                            <!--//循环这里-->

                                            <th width="100px"><input value="众筹金额" readonly="" style="border:0;"></th>
                                            <th width="100px"><textarea name="" id="" cols="" rows=""
                                                    style="vertical-align:top;outline:none;border:0;width: 100px;overflow: hidden;    text-align: center;"
                                                    readonly="">众筹数量（多少起生产）</textarea></th>
                                            <th width="100px"><input value="规格编码" readonly="" style="border:0;"></th>
                                            <th width="100px"><input value="众筹故事" readonly="" style="border:0;"></th>
                                            <th width="100px"><input value="价格" readonly="" style="border:0;"></th>
                                            <th width="100px"><input value="图片" readonly="" style="border:0;"></th>
                                            <th width="100px"><textarea name="" id="" cols="" rows=""
                                                    style="vertical-align:top;outline:none;border:0;width: 100px;overflow: hidden;     text-align: center;"
                                                    readonly="">每人限购（-1表示不限）</textarea> </th>
                                            <th width="100px"><input value="存茶开关" readonly="" style="border:0;"></th>
                                            <th width="100px"><input value="是否上架" readonly="" style="border:0;"></th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        {if !empty($goods_standard)} {volist name="goods_standard" id="ve"}
                                        <!--//规格值循环这里-->
                                        <tr data-row="1">
                                            {volist name="$ve['title']" id="vs"}
                                            <td width="50" rowspan="1" data-rc="1_1">
                                                <input value="{$vs}" readonly="" style="border:0;">
                                            </td>
                                            {/volist}
                                            <td width="100px"><input type="text" value="{$ve.price}" data-id="{$ve.id}"
                                                    data-value="price" class="inputs" data-title="{$ve.price}"></td>
                                            <td width="100px"><input type="text" value="{$ve.stock}" data-id="{$ve.id}"
                                                    data-value="stock" class="inputs" data-title="{$ve.stock}"></td>
                                            <td width="100px"><input type="text" value="{$ve.coding}" data-id="{$ve.id}"
                                                    data-value="coding" class="inputs coding" data-title="{$ve.coding}">
                                            </td>
                                            <td width="100px"><textarea id="" cols="" rows=""
                                                    style="vertical-align: top; outline: none; text-align: center; height: 90px;">{$ve.story}</textarea>
                                            </td>
                                            <td width="100px"><input type="text" value="{$ve.cost}" data-id="{$ve.id}"
                                                    data-value="cost" class="inputs " data-title="{$ve.cost}"> </td>
                                            <td width="100px">
                                                <div class="img-box full">
                                                    <section class=" img-section">
                                                        <div class="z_photo upimg-div clear">
                                                            <section class="up-section fl">
                                                                <span class="up-span"></span><img class="close-upimg"
                                                                    src="/siring_ow/public/static/admin/common/upfile/img/a7.png">
                                                                <!--图片放这里-->

                                                                <img class="up-img" src="__UPLOADS__/{$ve.images}">
                                                                <!--图片放这里-->

                                                                <p class="img-name-p">u4594.png</p><input
                                                                    id="taglocation" value="__UPLOADS__/{$ve.images}"
                                                                    type="hidden">
                                                                <input id="tags" value="" type="hidden">
                                                            </section>
                                                            <section class="z_file fl" style="display: none;"> <img
                                                                    src="/teahouse/public/static/admin/common/upfile/img/a11.png"
                                                                    class="add-img">
                                                                <input type="file" id="file_0" class="file filedelect"
                                                                    value=""
                                                                    accept="image/jpg,image/jpeg,image/png,image/bmp"
                                                                    multiple="" data-id="1" data-value="images"
                                                                    data-name="{$ve.id}"> </section>

                                                        </div>
                                                    </section>
                                                </div>
                                                <aside class="mask works-mask">
                                                    <div class="mask-content">
                                                        <p class="del-p ">您确定要删除作品图片吗？</p>
                                                        <p class="check-p">
                                                            <span class="del-com wsdel-ok list_delet_img"
                                                                data-id="{$ve.id}" data-value="images">确定</span>
                                                            <span class="wsdel-no">取消</span>
                                                        </p>
                                                    </div>
                                                </aside>
                                            </td>
                                            <td width="100px"><input type="text" value="{$ve.limit}" data-id="{$ve.id}"
                                                    data-value="limit" class="inputs" data-title="{$ve.limit}"> </td>
                                            <td>
                                                {if $ve.save == 0}
                                                <input type="checkbox" class="Status" value="{$ve.save}"
                                                    lay-skin="switch" lay-text="是|否" lay-filter="isshelves"
                                                    data-id="{$ve.id}" data-value="status"> {else}
                                                <input type="checkbox" class="Status" value="{$ve.save}"
                                                    lay-skin="switch" lay-text="是|否" lay-filter="isshelves" checked
                                                    data-id="{$ve.id}" data-value="status"> {/if}
                                            </td>
                                            <td>
                                                {if $ve.status == 0}
                                                <input type="checkbox" class="Status" value="{$ve.status}"
                                                    lay-skin="switch" lay-text="是|否" lay-filter="isshelves"
                                                    data-id="{$ve.id}" data-value="status"> {else}
                                                <input type="checkbox" class="Status" value="{$ve.status}"
                                                    lay-skin="switch" lay-text="是|否" lay-filter="isshelves" checked
                                                    data-id="{$ve.id}" data-value="status"> {/if}
                                            </td>
                                        </tr>
                                        {/volist} {/if}
                                        <!--//规格值循环这里-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-item general ">
                <label class="form-label"></label>
                <div class="form-input add_danwei2"
                    style=" align-items: center;  color: #20A0FF;width: 61px;height: 20px;">
                    继续添加
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">商品折扣</label>
            <div class="form-input line">
                {if $value.goods_member == 1}
                <input type="checkbox" name="goods_member" value="1" lay-skin="primary" title="参加会员折扣" checked="">
                {else}
                <input type="checkbox" name="goods_member" value="" lay-skin="primary" title="参加会员折扣">{/if}
                <a href="">管理会员卡</a>
            </div>
        </div>

        <div class="form-item">
            <label class="form-label"><span class="red">*</span>项目图</label>
            <div class="img-edit">
                {if !empty($value.goods_show_images) }
                <div class="imgcontent">
                    {foreach name="$value.goods_show_images" id="val"}
                    <span class="img">
                        <img src="__UPLOADS__/{$val}" width="100%">
                        <i class="remove-img" data-id="{$val}" data-value="2" data-title="{$value.id}"><img
                                src="__STATIC__/admin/common/img/a7.png"></i>
                    </span> {/foreach}
                </div>
                <div class="form-input">
                    <div class="img-box full">
                        <section class=" img-section del_img_other">
                            <div class="z_photo upimg-div clear">
                                <section class="z_file fl">
                                    <img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
                                    <input type="file" name="goods_show_images[]" id="file" class="file" value=""
                                        accept="image/jpg,image/jpeg,image/png,image/bmp" multiple data-id="15" />
                                </section>
                            </div>
                        </section>
                    </div>
                    {else}
                    <div class="form-input">
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div clear">
                                    <section class="z_file fl">
                                        <img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
                                        <input type="file" name="goods_show_images[]" id="file" class="file" value=""
                                            accept="image/jpg,image/jpeg,image/png,image/bmp" multiple data-id="15" />
                                    </section>
                                </div>
                            </section>
                        </div>
                        <aside class="mask works-mask">
                            <div class="mask-content">
                                <p class="del-p ">您确定要删除作品图片吗？</p>
                                <p class="check-p"><span class="del-com wsdel-ok">确定</span><span
                                        class="wsdel-no">取消</span></p>
                            </div>
                        </aside>
                        <div class="tips">
                            建议尺寸：800*800像素，其中第一张为主图，你可以拖拽图片调整顺序，最多上传15张
                        </div>
                    </div>
                    {/if}
                    <aside class="mask works-mask del_img_other">
                        <div class="mask-content">
                            <p class="del-p ">您确定要删除作品图片吗？</p>
                            <p class="check-p"><span class="del-com wsdel-ok ">确定</span><span class="wsdel-no">取消</span>
                            </p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">主图视频链接</label>
            <div class="form-input">
                <input type="text" name="video_link" value="{$value.video_link}" lay-verify="title" autocomplete="off"
                    placeholder="请输入" class="layui-input">
                <div class="tips">*如何获取视频地址？免费上传视频到七牛云存储</div>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label"><span class="red">*</span>项目详情</label>
            <div class="form-input">
                <script id="editor" type="text/plain" name="goods_text"
                    style="width:800px;height:500px;">{$value.goods_text}</script>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label"><span class="red">*</span>团队介绍</label>
            <div class="form-input">
                <script id="editor1" type="text/plain" name="team"
                    style="width:800px;height:500px;">{$value.team}</script>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label"><span class="red">*</span>检测报告</label>
            <div class="form-input">
                <script id="editor2" type="text/plain" name="text"
                    style="width:800px;height:500px;">{$value.text}</script>
            </div>
        </div>
        <div class="form-title">价格库存 </div>
        <div class="form-item">
            <label class="form-label">配送方式</label>
            <div class="form-input line">
                {if $value.goods_delivery[0] == 1}
                <input type="checkbox" name="goods_delivery" value="1" lay-skin="primary" title="商家配送" checked="">
                <input type="checkbox" name="goods_delivery" value="2" lay-skin="primary" title="到店自提"> {else}
                <input type="checkbox" name="goods_delivery" value="1" lay-skin="primary" title="商家配送">
                <input type="checkbox" name="goods_delivery" value="2" lay-skin="primary" title="到店自提" checked="">{/if}
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">快递运费</label>

            <div style="display: flex;flex-direction:column" class="yunfei">
                {if !empty($value.goods_franking)}
                <div class="form-input line" style="margin-bottom: 4px;">
                    <input type="radio" title="统一邮费" checked="" name="aaa" value="0">
                    <input type="number" name="goods_franking" $value="{$value.goods_franking}" lay-verify="title"
                        autocomplete="off" placeholder="请输入  元" class="layui-input">
                    </input>
                    </input>

                </div>
                <div class="form-input line" style="margin-bottom: 4px;">
                    <input type="radio" title="运费模板" name="goods_franking" value="1" name="aaa">
                    <div class="tips">*运费模版支持按地区设置运费，按购买件数计算运费，按重量计算运费等</div>
                </div>

                {else}
                <div class="form-input line" style="margin-bottom: 4px;">
                    <input type="radio" title="统一邮费" name="aaa" value="0">
                    <input type="number" name="goods_franking" value="" lay-verify="title" autocomplete="off"
                        placeholder="请输入  元" class="layui-input">
                    </input>
                    </input>

                </div>
                <div class="form-input line" style="margin-bottom: 4px;">
                    <input type="radio" title="运费模板" name="aaa" value="1" name="aaa" checked="">
                    <div class="tips">*运费模版支持按地区设置运费，按购买件数计算运费，按重量计算运费等</div>
                </div>
                {/if}


                <div class="form-input line" style="margin-bottom: 4px;">
                    <input type="texr" title="运费模板" style="opacity: 0;width: 82px;">
                    <div class="add_muban"> 添加运费模板</div>
                </div>

                <div class="tips">*运费模版支持按地区设置运费，按购买件数计算运费，按重量计算运费等</div>

            </div>

        </div>

        <div class="form-item">
            <label class="form-label">状态</label>
            <div class="form-input">
                {if $value.label==0}
                <input type="radio" name="label" value="0" title="暂不上架" checked="">
                <input type="radio" name="label" value="1" title="立即上架"> {else}
                <input type="radio" name="label" value="0" title="暂不上架">
                <input type="radio" name="label" value="1" title="立即上架" checked="">{/if}
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">轮播介绍</label>
            <div class="form-input">
                {if $value.status == 1}
                <input type="radio" name="status" value="1" title="首页推荐" checked="">
                <input type="radio" name="status" value="0" title="首页不推荐"> {else}
                <input type="radio" name="status" value="1" title="首页推荐">
                <input type="radio" name="status" value="0" title="首页不推荐" checked="">{/if}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
                <button type="button" class="layui-btn layui-btn-primary"
                    onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
        {/volist}{/if}
    </form>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        var ids = $("#ids").val();
        var ue = UE.getEditor('editor');
        var ue1 = UE.getEditor('editor1');
        var codings = [];
        function jiequ(str) {
            var arr = str.split("_");
            return arr[1];
        }

        for (var r = 0; r < $(".coding").length; r++) {
            codings.push($(".coding")[r].value);
        }

        $.ajax({
            type: "POST",
            url: "{:url('admin/Goods/crowd_offer')}",
            data: {
                "id": ids,
            },
            success: function (data) {
                var data = eval('(' + data + ')');
                console.log(data);
                if (data.status == "1") {
                    var dhtmlss = '';
                    for (var i = 0; i < data.data.length; i++) {
                        if (data.data[i].num[0] != '') {
                            //   <!-- 编码循环这里 -->
                            dhtmlss += '<div class="form-item general" style=" align-items: center;position: relative;">';
                            dhtmlss += '<label class="form-label">包装规格</label>';
                            dhtmlss += ' <div class="form-input packing_specifications" id="" style=" align-items: center;width: 1200px;">';
                            dhtmlss += '<select name=""  class="packing packings" disabled="disabled">';
                            dhtmlss += '  <option value="">请选择规格编码</option>';
                            for (var w = 0; w < codings.length; w++) {
                                if (data.data[i].number == codings[w]) {
                                    dhtmlss += ' <option value="' + codings[w] + '" selected>' + codings[w] + '</option>';
                                }
                                else {
                                    dhtmlss += ' <option value="' + codings[w] + '">' + codings[w] + '</option>';
                                }

                            }

                            dhtmlss += ' </select>';
                            for (var j = 0; j < data.data[i].num.length; j++) {
                                for (var q = 0; q < data.data[i].unit.length; q++) {
                                    if (j == q) {
                                        //  <!-- 单位循环这里 -->
                                        dhtmlss += '<div class="danwei_content">';
                                        dhtmlss += '<div class="fuhao">=</div>';
                                        dhtmlss += '<input type="text" name="' + data.data[i].id + '_num[]" lay-verify="title" autocomplete="off" placeholder="数量" class="layui-input" value="' + data.data[i].num[j] + '" >';
                                        dhtmlss += '<input type="text" name="' + data.data[i].id + '_unit[]" lay-verify="title" autocomplete="off" placeholder="单位" class="layui-input" value="' + data.data[i].unit[q] + '" maxlength="2"> ';
                                        dhtmlss += '<img src="__STATIC__/admin/index/img/X.png" alt="" class="delect_img">';
                                        dhtmlss += '</div>';
                                        //   <!-- 单位循环这里 -->
                                    }
                                }
                            }

                            dhtmlss += ' <div class="add_danwei1" style="color: #20A0FF;" data-id="0"> 继续添加单位</div> ';
                            dhtmlss += ' </div>';
                            dhtmlss += ' <img src="__STATIC__/admin/index/img/X.png" alt="" class="delect_img"  style=" left:100px">';
                            dhtmlss += ' </div>';
                            //   <!-- 编码循环这里 -->
                        }

                    }
                    $(".add_danwei2").parent().before(dhtmlss);
                }

            },
            error: function (data) {
                console.log("失败")
            }
        });

        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function () {
            var form = layui.form(),
                $ = layui.jquery;
            form.render();
            // 运费模板
            var unit2 = [];

            Array.prototype.unique3 = function () {
                var res = [];
                var json = {};
                for (var i = 0; i < this.length; i++) {
                    if (!json[this[i]]) {
                        res.push(this[i]);
                        json[this[i]] = 1;
                    }
                }
                return res;
            }


            $(".general_content").on("blur", ".units", function () {
                id = $(this).data("id");
                if ($(this).data("value") != $(this).val()) {
                    $(".muban").remove();
                }

                // 填入的值不为空
                if ($(this).val() != '') {
                    console.log($(this).data("value"))
                    // 本来无值（存入）
                    if ($(this).data("value") == undefined) {

                        unit2.push($(this).val());
                    }
                    // 本来有值（修改）
                    else {
                        for (var k = 0; k < unit2.length; k++) {
                            if (unit2[k] == $(this).data("value")) {
                                unit2[k] = $(this).val();
                                break;
                            }
                        }
                    }
                }
                //   填入的值为空
                else {
                    // 本来无值（存入）
                    if ($(this).data("value") == '') {
                    }
                    // 本来有值（修改）
                    else {
                        for (var k = 0; k < unit2.length; k++) {
                            if (unit2[k] == $(this).data("value")) {
                                unit2.splice(k, 1);
                                break;
                            }
                        }
                    }

                }
                $(this).data("value", $(this).val());
            })

            $(".general_content").on('click', ".delect_img", function () {

                if ($(this).siblings(".units").val() != '') {
                    for (var k = 0; k < unit2.length; k++) {
                        if (unit2[k] == $(this).siblings(".units").val()) {
                            unit2.splice(k, 1);
                            break;
                        }
                    }
                }
                $(".muban").remove();
                $(this).parent().remove();
            })

            $(".add_muban").click(function () {

                var unit2_a = unit2.unique3();

                if (unit2_a.length > 0) {
                    var add_muban = '';
                    add_muban += ' <div class="form-input line muban" style="margin-bottom: 4px;position: relative;">';
                    add_muban += '<input type="texr" title="运费模板" style="opacity: 0;width: 82px;">';
                    add_muban += '<select name="templet_name[]"  class="role_list muban_list" >';
                    for (var n = 0; n < unit2_a.length; n++) {
                        add_muban += ' <option value="' + unit2_a[n] + '">' + unit2_a[n] + '</option>';
                    }
                    add_muban += '</select><br />';
                    add_muban += '<select name="templet_id[]"  class="role_list">';
                    for (var h = 0; h < templet.length; h++) {

                        add_muban += ' <option value="' + templet[h].id + '">' + templet[h].name + '</option>';
                    }
                    add_muban += '</select><br />';
                    add_muban += '<a href="delivery_goods_add_number">新建</a>';
                    add_muban += ' <img src="__STATIC__/admin/index/img/X.png" alt="" class="delect_img" style="right:200px">';
                    add_muban += '</div>';
                    $(this).parent().before(add_muban);
                    form.render();
                }
                else {
                    alert("请输入单位")
                }


            })
            $("form").submit(function (e) {
                var unit2_a = unit2.unique3();
                var vals = $('input[name="aaa"]:checked').val();

                var num = 0;
                for (var i = 0; i < $(".muban_list").length; i++) {
                    for (var j = i + 1; j < $(".muban_list").length; j++) {
                        if ($(".muban_list")[i].value == $(".muban_list")[j].value) {
                            num++;
                            break;
                        }

                    }
                }
                if (num > 0) {
                    alert("相同的单位不能有两套运费模板")
                    return false;
                }
                if (vals == "1") {
                    if ($(".muban").length != unit2_a.length) {
                        alert("包装规格”中的单位需要全部添加对应运费模版");
                        return false;
                    }
                }


            });

            // 运费模板

            //			价格库存等修改事件
            $(".inputs").change(function () {
                var change_val = $(this).val();
                var location_x = $(this).data("id");
                var location_y = $(this).data("value");
                if (change_val == '') {
                    $(this).val($(this).data("title"));
                    alert("修改的值不能为空");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/Goods/crowd_value')}",
                        data: {
                            "id": location_x,
                            "value": change_val,
                            "key": location_y,
                        },
                        success: function (data) {
                            $(this).data("title", change_val);
                            data = eval("(" + data + ")");
                            layer.msg(data.info);
                            form.render('select');
                        },
                        error: function (data) {
                            console.log("失败")
                        }
                    });
                }

            });
            //			  开关修改事件
            form.on('switch(isshelves)', function (data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var value = data.value;
                if (value == 0) {
                    value = 1;
                } else {
                    value = 0;
                }
                var id = data.elem.dataset.id;

                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Goods/crowd_switches')}",
                    data: {
                        "id": id,
                        "status": value,
                    },
                    success: function (data) {
                        layer.msg("修改成功");
                    },
                    error: function (data) {
                        console.log("失败")
                    }
                });

            });
            var phone_delect_id = '';
            //          删除图片事件
            $(".list_delet_img").click(function () {
                phone_delect_id = $(this).data("id");

            });
            //			添加图片
            $(".filedelect").change(function () {
                //				alert(111);
                var formData = new FormData();
                var filess = $(this)[0].files[0];
                var id = $(this).data("name");
                formData.append("id", id);
                formData.append("file", filess);
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Goods/crowd_photos')}",
                    data: {
                        "id": id,
                    },
                    success: function (data) {
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/Goods/crowd_addphoto')}",
                            processData: false,
                            contentType: false,
                            data: formData,
                            success: function (data) {
                                layer.msg("修改成功");
                            },
                            error: function (data) {
                                console.log("失败")
                            }
                        });

                    },
                    error: function (data) {
                        console.log("失败")
                    }
                });

            });

            $("#hot").on('click', ".change_text", function () {
                var texts = $(this).siblings('.texts');
                layer.prompt({
                    title: '请输入修改的文字',
                    formType: 2
                },
                    function (text, index) {
                        texts.html(text);
                        layer.close(index);

                    });

            });
            $(".sever_list").on('click', ".change_text", function () {
                var texts = $(this).siblings('.texts');
                layer.prompt({
                    title: '请输入修改的文字',
                    formType: 2
                },
                    function (text, index) {
                        texts.html(text);
                        layer.close(index);

                    });

            })
            $(".add_biao").click(function () {
                var dhtml = "";
                dhtml =
                    '<div class="list"> <input type="checkbox" name="goods_sign" lay-skin="primary" title=""> <span class="texts">古色生香</span> <span style="color: #0EA9E3;font-size: 12px; line-height: 20px;" class="change_text">修改</span> </div>'
                $(this).before(dhtml);
                form.render();
            });

            //TODO点击取消按钮
            $("#general_content").on('click', ".btu-cancel", function () {
                $(this).parent(".add-names").addClass("noshow");
                $(this).parent().siblings(".add-names").addClass("noshow");
                $(this).parent().siblings(".add-name").removeClass("noshow");
            });

            // TODO商品规格变化
            form.on('radio(guige)', function (data) {
                var checkval = data.value;
                console.log(checkval);
                if (checkval == "统一规格") {
                    $(".general").addClass("noshow");
                    $(".nomal").removeClass("noshow");
                    $("#general_content").children("div").remove();
                    $(".nomal").children(".form-item").children(".form-input").children("input").attr("disabled", false)

                } else {
                    $(".nomal").children(".form-item").children(".form-input").children("input").attr("disabled", true)
                    $(".nomal").addClass("noshow");
                    $(".general ").removeClass("noshow");
                }

            });
            var num = 0;
            //TODO点击通用添加规格项目添加页面
            //	TODO点击添加添加规格名
            $("#general_content").on('click', ".add-name", function () {
                $(this).addClass("noshow");
                $(this).siblings(".add-names").removeClass("noshow");
            });
            $("#general_content").on('click', ".guibtu-add", function () {
                var text = $(this).parent().siblings(".add-names").children("input").val();
                var data_id = $(this).data("id");
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Goods/name')}",
                    data: {
                        "goods_name": text
                    },
                    success: function (data) {
                        data = eval("(" + data + ")");
                        layer.msg(data.info);
                        if (data.info == "成功") {
                            var dhtmls = "";
                            dhtmls = '<option value="' + text + '">' + text + '</option> ';
                            $(".universal_standard_name_" + data_id).prepend(dhtmls);
                        }

                        form.render('select');
                    },
                    error: function (data) {
                        console.log(data)
                    }
                });

            });
            $(".tan").click(function () {
                src = $(this).data("id");
                $(".tanchuang").removeClass("noshow");
                $(".tanimg").attr("src", src);
            });
            $(".tanchuang").click(function () {
                $(".tanchuang").addClass("noshow");
            });

            // 图片删除
            $(".remove-img").click(function () {
                var remove = $(this).parent();
                var id = $(this).data("id");
                var value = $(this).data("value");
                var title = $(this).data("title");
                remove.remove();
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Goods/crowd_images')}",
                    data: {
                        "id": id,
                        "pid": title
                    },
                    dataType: "json",
                    success: function (data) {

                    },
                    error: function (data) {
                        console.log("错误");
                    }
                });

            });
            // 包装规格
            $(".add_danwei").click(function () {
                var danwei = ''
                danwei += '<div class="fuhao">=</div>';
                danwei += '<input type="text" name="num[]" lay-verify="title" autocomplete="off" placeholder="数量" class="layui-input">';
                danwei += '<input type="text" name="unit[]" lay-verify="title" autocomplete="off" placeholder="单位" class="layui-input" maxlength="2">';
                $(this).before(danwei);
            });
            $(".general_content").on("click", ".add_danwei1", function () {
                var i = parseInt($(this).data("id"));
                var select = $(this).siblings(".packing").val();
                var ids = $("#ids").val();
                var thisa = $(this);
                if (select != "0") {
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/Goods/crowd_standard')}",
                        data: {
                            "id": ids,
                            "coding": select
                        },
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            var danwei1 = '';
                            danwei1 += '<div class="danwei_content">';
                            danwei1 += '<div class="fuhao">=</div>';
                            danwei1 += '<input type="text" name="' + data.data + '_num[]" lay-verify="title" autocomplete="off" placeholder="数量" class="layui-input" required>';
                            danwei1 += '<input type="text" name="' + data.data + '_unit[]" lay-verify="title" autocomplete="off" placeholder="单位" class="layui-input" maxlength="2" required>';
                            danwei1 += ' <img src="__STATIC__/admin/index/img/X.png" alt="" class="delect_img">';
                            danwei1 += '</div>';

                            thisa.before(danwei1);

                        },
                        error: function (data) {
                            console.log("错误");
                        }
                    });

                }
                else {
                    alert("请选择规格编码");
                }
                $(this).data("id", i + 1);

            });
            $(".add_danwei2").click(function () {
                if ($(".packings").find("option").length != 1) {
                    var danwei2 = '';
                    danwei2 += '<div class="form-item general" style="align-items: center; position: relative;">';
                    danwei2 += '<label class="form-label"></label>';
                    danwei2 += '<div class="form-input packing_specifications" style=" align-items: center;">';
                    danwei2 += '<select name="" class="packing" >';
                    danwei2 += '<option value="0">请选择规格编码</option>';
                    for (var j = 0; j < codings.length; j++) {
                        danwei2 += '<option value="' + codings[j] + '">' + codings[j] + '</option>';
                    }
                    danwei2 += '</select>';
                    danwei2 += '<div class="add_danwei1" style="color: #20A0FF;" data-id="0"> 继续添加单位</div>';
                    danwei2 += '</div>';
                    danwei2 += ' <img src="__STATIC__/admin/index/img/X.png" alt="" class="delect_img"  style=" left:100px">';
                    danwei2 += ' </div>';
                    $(this).parent().before(danwei2)
                }
                else {
                    alert("请先添加规格编码")
                }
            });

            $(".general-kuang").on('focus', ".coding", function () {
                $(this).data("title", $(this).val());
            });

            $(".general-kuang").on('change', ".coding", function () {
                var title = $(this).data("title");

                if ($(this).data("title") == '') {
                    var dhtmlq = '';
                    dhtmlq += ' <option value="' + $(this).val() + '">' + $(this).val() + '</option>';
                    $(".packing").append(dhtmlq);
                    $(this).data("title", $(this).val());
                    codings.push($(this).val());
                }
                else {

                    //   for(var qq=0;qq<$("input[name='"+title+"_num[]']").length;qq++){
                    $("input[name='" + title + "_num[]']").attr('name', $(this).val() + "_num[]");
                    $("input[name='" + title + "_unit[]']").attr('name', $(this).val() + "_unit[]");
                    //    }
                    $(".packing option[value='" + $(this).data("title") + "']").text($(this).val());
                    $(".packing option[value='" + $(this).data("title") + "']").val($(this).val());

                    for (var i = 0; i < codings.length; i++) {
                        if (codings[i] == $(this).data("title")) {
                            codings[i] = $(this).val();
                        }
                    }
                    $(this).data("title", $(this).val());
                }
                //    console.log(codings);
            });
            $(".general_content").on('click', ".delect_img", function () {
                $(this).parent().siblings(".add_danwei1").data("id", parseInt($(this).parent().siblings(".add_danwei1").data("id")) - 1);

                $(this).parent().remove();
            })
            $(".general_content").on('change', ".packing", function () {
                var k = 0;
                for (var q = 0; q < $(".packing").length; q++) {
                    if ($(".packing")[q].value == $(this).val()) {
                        k++;
                    }
                }
                if (k > 1) {

                    $(this).children("option").remove();
                    var danwei4 = '';
                    danwei4 += '<option value="0">请选择规格编码</option>';
                    for (var j = 0; j < codings.length; j++) {
                        danwei4 += '<option value="' + codings[j] + '">' + codings[j] + '</option>';
                    }

                    $(this).append(danwei4);
                }
                else {
                    var ids = $("#ids").val();
                    var coding = $(this).val();
                    var data_id = null;
                    var change_name = $(this).siblings(".danwei_content").children("input")
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/Goods/crowd_standard')}",
                        data: {
                            "id": ids,
                            "coding": coding
                        },
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            for (var k = 0; k < change_name.length; k++) {
                                if (jiequ(change_name[k].name) == "num[]") {
                                    $("input[name='" + change_name[k].name + "']").attr('name', data.data + "_num[]")
                                }
                                else if (jiequ(change_name[k].name) == "umit[]") {
                                    $("input[name='" + change_name[k].name + "']").attr('name', data.data + "_unit[]")
                                }
                            }
                        },
                        error: function (data) {
                            console.log("错误");
                        }
                    });




                }

            })
            // 包装规格

        });

    </script>

    {/block}

</body>

</html>