{extend name="layout"} {block name="css"}
<style type="text/css">
	body {
		background: #fff;
	}
	
	.layui-form label {
		width: 17%;
		text-align: left;
	}
	
	.layui-form .layui-input-block input {
		width: 97%;
	}
	
	.layui-form-label span {
		color: red;
	}
	
	.layui-form {
		width: 98%;
		margin: 0 auto;
		padding-top: 40px;
	}
	
	.layui-input-block {
		min-height: 40px;
	}
	
	.biaoji .layui-form-radioed span {
		color: #fff;
		background: red;
		width: 33px;
		text-align: center;
		height: 13px;
		line-height: 13px;
		font-size: 9px;
		border-radius: 6px;
	}
</style>
<style type="text/css">
	.tree { min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #fbfbfb; border: 1px solid #999; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) }
	
	.tree ul {
		margin-left: 60px;
	}
	
	.tree li {
		list-style-type: none;
		margin: 0;
		padding: 10px 5px 0 5px;
		position: relative
	}
	
	.tree li::before,
	.tree li::after {
		content: '';
		left: -20px;
		position: absolute;
		right: auto
	}
	
	.tree li::before {
		border-left: 1px solid #999;
		bottom: 50px;
		height: 100%;
		top: 0;
		width: 1px
	}
	
	.tree li::after {
		border-top: 1px solid #999;
		height: 20px;
		top: 29px;
		width: 25px
	}
	
	.tree li span {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid #999;
		border-radius: 5px;
		display: inline-block;
		padding: 3px 8px;
		text-decoration: none
	}
	
	.tree li.parent_li>span {
		cursor: pointer
	}
	
	.tree>ul>li::before,
	.tree>ul>li::after {
		border: 0
	}
	
	.tree li:last-child::before {
		height: 30px
	}
	
	.tree li.parent_li>span:hover,
	.tree li.parent_li>span:hover+ul li span {
		background: #eee;
		border: 1px solid #94a0b4;
		color: #000
	}
	
	.title {
		height: 50px;
		background: #F2F2F2;
		font-size: 20px;
		line-height: 50px;
		padding-left: 20px;
		font-weight: bold;
	}
	
	.layui-form-item {
		padding-left: 20px;
	}
	
	.add-content {
		background: #F2F2F2;
		width: 100%;
	}
	
	.general-kuang {
		border: solid 1px #E4E4E4;
		width: 1000px;
	}
	
	.btus {
		background: #fff;
		border: solid 1px #E4E4E4;
		color: #0099FF;
		width: 141px;
		display: inline-block;
		margin: 10px;
	}
	
	#general-content .layui-form-item {
		width: 100%;
	}
	
	.sky-blue {
		color: #0099FF;
	}
	
	.bgwhite {
		background: #fff;
	}
	
	.noshow {
		display: none;
	}
	
	.special .layui-form-item {
		width: 100%;
	}
	
	.general .layui-form-item {
		width: 100%;
	}
	
	.special .layui-form-item label {
		width: 10%;
	}
	
	.general .layui-form-item label {
		width: 10%;
	}
	
	.operation-btus {
		width: 60px;
		height: 40px;
		border-radius: 3px;
		color: #fff;
	}
	
	.btu-delet {
		background: #FF0000;
	}
	
	.btu-cancel {}
	
	.btu-add {
		background: #0099FF;
	}
	
	.num-content {
		overflow: hidden;
	}
</style>

{/block}

<body>

	{block name="content"}
	<div class="open">

	</div>
	<form class="layui-form" action="{:url('admin/Goods/save')}" method="post" enctype="multipart/form-data">
		<div class="basic-information title"> 基本信息
		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>商品名:</label>
			<div class="layui-input-block">
				<input type="text" name="goods_name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_name">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">分享描述：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_describe" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_describe">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>商品显示图片</label>
			<div class="layui-input-block">
				<div class="img-box full">
					<section class=" img-section">
						<div class="z_photo upimg-div clear">
							<section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="goods_show_images" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
							</section>
						</div>
					</section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
					</div>
				</aside>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>商品图片</label>
			<div class="layui-input-block">
				<div class="img-box full">
					<section class=" img-section">
						<div class="z_photo upimg-div clear">
							<section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file"  id="files" name="goods_images[]" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
							</section>
						</div>
					</section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
					</div>
				</aside>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品分组：</label>
			<div class="layui-input-inline">
				<select name="goods_type_id" id="goods_type_id">
					{volist name="goods_list" id="value"}
					<option value="{$value.id}">{$value.name}</option>
					{/volist}
				</select>
			</div>
			<div class="layui-input-inline">
				<a href="{:url('admin/Category/add')}" style="line-height: 40px;">新建分类</a>
			</div>
		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>商品品牌:</label>
			<div class="layui-input-inline">
				<select name="goods_brand">
					<option value="浙江" selected="">浙江省</option>
					<option value="你的工号">江西省</option>
					<option value="你最喜欢的老师">福建省</option>
				</select>	</div>
				<div class="layui-input-inline">
					<a href="{:url('admin/Brand/add')}" style="line-height: 40px;">添加品牌</a>
				</div>
		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>商品排序:</label>
			<div class="layui-input-block">
				<input type="text" name="sort_number" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="sort_number">
			</div>
		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label"><span>*</span>商品标记：</label>
			<div class="layui-input-block" id="goods_sign">
				<input type="radio" name="goods_sign" value="hot" title="hot" checked="" class="hot">
				<input type="radio" name="goods_sign" value="促销" title="促销" class="">
				<input type="radio" name="goods_sign" value="清仓" title="清仓" class="">
				<input type="radio" name="goods_sign" value="推荐" title="推荐" class="">
			</div>
		</div>
		<div class="basic-information title">商品规格
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品规格</label>
			<div class="layui-input-block">
				<input type="radio" name="goods_standard" value="通用" title="通用" class="general-radio" lay-filter="guige">
				<input type="radio" name="goods_standard" value="专用" title="专用" class="special" lay-filter="guige">
			</div>
		</div>
		<div>
			<div class="layui-form-item general noshow">
				<label class="layui-form-label"></label>
				<div class="layui-input-block general-kuang">

					<div id="general_content"></div>
					<div class="add-content content" id="add_general_buts">
						<button type="button" class="btus general_buts">添加规格项目</button>
					</div>
				</div>

			</div>
			<div class="layui-form-item special noshow">
				<label class="layui-form-label"></label>
				<div class="layui-input-block general-kuang">
					<div class="layui-form-item">
						<label class="layui-form-label">适用车型：</label>
						<div class="layui-input-inline">
							<select name="dedicated_vehicle">
								<option value="">请选择省</option>
								<option value="浙江" selected="">浙江省</option>
								<option value="你的工号">江西省</option>
								<option value="你最喜欢的老师">福建省</option>
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="goods_car_brand">
								<option value="杭州">杭州</option>
								<option value="宁波">宁波</option>
								<option value="温州">温州</option>
								<option value="温州">台州</option>
								<option value="温州">绍兴</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">属性</label>
						<div class="layui-input-inline">
							<select name="dedicated_property">
								<option value="浙江" selected="">浙江省</option>
								<option value="你的工号">江西省</option>
								<option value="你最喜欢的老师">福建省</option>
							</select>
						</div>
						<div class="layui-input-inline add-attribute " style="">
							<button type="button" class="sky-blue bgwhite ">+添加属性</button>
						</div>
						<div class="layui-input-inline noshow add-attributes">
							<input type="text" name="" id="" value="" />
						</div>
						<div class="layui-input-inline noshow add-attributes">
							<button type="button" class="operation-btus btu-delet">删除</button>
							<button type="button" class="operation-btus btu-cancel">取消</button>
							<button type="button" class="operation-btus btu-add">添加</button>
						</div>
					</div>

					<div id="special_content"></div>
					<div class="add-content content" id="add_special_buts">
						<button type="button" class="btus special_buts">添加规格项目</button>
					</div>
				</div>

			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>规格：</label>
			<div class="layui-input-block">
				<input type="text" name="standard" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="standard">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品编码：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_number" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_number">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span> 价格：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_new_money" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_new_money">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">划线价：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_bottom_money" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_bottom_money">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"> <span>*</span> 库存：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_repertory" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_repertory">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">速度级别：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_speed" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_speed">
			</div>
			
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">载重指数：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_weight" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_weight">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">类别：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_category" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_category">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">花纹特点：</label>
			<div class="layui-input-block">
				<input type="text" name="goods_trait" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_trait">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">商品描述：</label>
			<div class="layui-input-block">
				<!-- <textarea id="demo" style="display: none;"></textarea> -->
				<!-- <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea> -->
				 <div id="goods_text">
					<script id="editor" type="text/plain" name="goods_text" style="width:800px;height:500px;"></script>
				</div>
			</div>
		</div>
		<div class="basic-information title"> 其他
		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label">上架年限：</label>
			<div class="layui-input-block" id="">
				<input type="radio" name="goods_putaway" value="1年10元/单个商品" title="1年10元/单个商品" checked="" class="hot">
				<input type="radio" name="goods_putaway" value="2年15元/单个商品" title="2年15元/单个商品" class="">
				<input type="radio" name="goods_putaway" value="3年25元/单个商品" title="3年25元/单个商品" class="">
			</div>
		</div>
		<div class="layui-form-item" pane="">
			<label class="layui-form-label">限购：</label>
			<div class="layui-input-inline">
				<input type="checkbox" lay-skin="primary" title="限制每人可购买数量"  >
			</div>
			<div class="layui-input-inline">
				<input type="text" name="goods_restriction" id="" value="" style="margin-right: 10px;" id="goods_restriction" />件
			</div>
		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label"><span>*</span>是否上架：</label>
			<div class="layui-input-block" id="goods_sign">
				<input type="radio" name="goods_status" value="hot" title="上架" checked="" class="hot">
				<input type="radio" name="goods_status" value="促销" title="不上架" class="">
		
			</div>
		</div>
		<div class="basic-information title"> 配送与安装服务
		</div>
	
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label">配送与安装服务：</label>
			<div class="layui-input-block" id="">
				<input type="checkbox" name="goods_delivery[]" value="到店自提" title="到店自提" checked="" class="hot">
				<input type="checkbox" name="goods_delivery[]" value="上门安装" title="上门安装" class="">
				<input type="checkbox" name="goods_delivery[]" value="送货上门" title="送货上门" class="">
				<input type="checkbox" name="goods_delivery[]" value="送货上门" title="平台配送" class="">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn submit_btn" lay-submit="" lay-filter="demo1" type="submit">保存</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>
			</div>
		</div>

	</form>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<!-- <script type="text/javascript">
		$(".submit_btn").click(function(){
			var goods_name=$("#goods_name").val();
			var goods_describe=$("#goods_describe").val();
			var standard=$("#standard").val();
			var goods_number=$("#goods_number").val();
			var goods_new_money=$("#goods_new_money").val();
			var goods_bottom_money=$("#goods_bottom_money").val();
			var goods_repertory=$("#goods_repertory").val();
			var goods_speed=$("#goods_speed").val();
			var goods_weight=$("#goods_weight").val();
			var goods_category=$("#goods_category").val();
			var goods_restriction=$("#goods_restriction").val();
			var goods_trait=$("#goods_trait").val();
			   
			var goods_type_id=$('#goods_type_id option:selected').text();
			var goods_sign=$('input:radio[name="goods_sign"]:checked').val();
			var goods_putaway=$('input:radio[name="goods_putaway"]:checked').val();
			var goods_delivery=$('input:radio[name="goods_delivery"]:checked').val();
			var sort_number=$("#sort_number").val();  
			var goods_status=$('input:radio[name="goods_status"]:checked').val();
			// 商品图片
	     var mycars=new Array();
			 var lenght=$('#file')[0].files.length;
			
			 for(var i = 0; i <lenght; i++){
            mycars[i]= $('#file')[0].files[i];
        }
			var goods_show_images=mycars;
			// 商品主图
      var mycars_b=new Array();
      var lenght=$('#files')[0].files.length;
      
      for(var i = 0; i <lenght; i++){
      			mycars_b[i]= $('#files')[0].files[i];
						}
      var goods_images=mycars_b;
			var goods_text=UE.getEditor('editor').getContent();
			// 商品规格
			var goods_standard=$('input:radio[name="goods_standard"]:checked').val();
			var click_general_buts=0;
			var universal_standard_name=new Array();  
			var universal_standard_value=new Array();  
			$(".general_buts").click(function(){
				click_general_buts++;
			});
			 if(goods_standard=="通用"){
				 var i=0;
         var j=0;
				 $(".universal_standard_name option:selected").each(function(){
					 
				    universal_standard_name[i]=$(this).text();
						i++;
				 });
				 $(".list input").each(function(){
				 	universal_standard_value[j]=$(this).val();
				 	j++;
				 });
				 console.log(universal_standard_value);
				 }
				 else{
					 
				 }
				 $.ajax({
				 	type: "POST",
				url : "{:url('admin/Goods/save')}",
				 	data: {"goods_name":goods_name,"goods_describe":goods_describe,},
				 	success: function(data){
				 		console.log("成功")
				 	},
				 	error:function (data) {
				 		console.log("错误")
				 	}
				 });
		})
		
	</script> -->
	<script type="text/javascript">
		var dhtml = "";

		dhtml += '<div>' +
			' 			<div class="layui-form-item">                                                                                 ' +
			' 				<label class="layui-form-label">规格名</label>                                                               ' +
			' 				<div class="layui-input-inline">                                                                          ' +
			' 					<select class="universal_standard_name" name="goods_standard_name[]">                                                                                 ' +
			' 						<option value="请选择省">请选择省</option>                                                                    ' +
			' 						<option value="浙江" selected="">浙江省</option>                                                       ' +
			' 						<option value="你的工号">江西省</option>                                                                 ' +
			' 						<option value="你最喜欢的老师">福建省</option>                                                              ' +
			' 					</select>                                                                                             ' +
			' 				</div>                                                                                                    '
			//      +'                                                                                                                        '
			+
			' 				<div class="layui-input-inline add-name" style="">                                                        ' +
			' 					<button type="button" class="sky-blue bgwhite">+添加规格名</button>                                        '
			//      +'                                                                                                                        '
			+
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline noshow add-names" style="">                                                ' +
			' 					<input type="text" name="" id="" value="" />   ' +

			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline noshow add-names" style="">                                                ' +
			' 				<button type="button" class="operation-btus btu-delet">删除</button>                                                                     ' +
			' 					<button type="button" class="operation-btus btu-cancel">取消</button>                                                                     ' +
			' 					<button type="button" class="operation-btus btu-add">添加</button>                                                                    ' +
			' 				</div>                                                                                                    ' +
			' 			</div>                                                                                                        ' +
			' 			<div class="layui-form-item">                                                                                 ' +
			' 				<label class="layui-form-label">规格值：</label>                                                              ' +
			' 			<div class="num-content">                                                                                 ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value=""  placeholder="请输入规格（规格）" style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value="" placeholder="请输入商品编码"  style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value="" placeholder="请输入商品价格（必填）"  style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value="" placeholder="请输入商品库存（必填）"  style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value="" placeholder="请输入速度级别"  style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value="" placeholder="请输入载重指数"  style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value="" placeholder="请输入类别"  style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				<div class="layui-input-inline list" style="padding-bottom:10px;margin-right: 25px;" >                                                                          ' +
			' 					<input type="text" name="goods_standard_value[]" id="" value="" placeholder="请输入花纹"  style="padding-left:10px;"/>                                                          ' +
			' 				</div>                                                                                                    ' +
			' 				</div>                                                                                                    ' +
			' 			</div>                                                                                                        ' +
			'          </div>                                                                                                        ';
	</script>
	<script type="text/javascript">
		$("#select_class").on("click", function() {

			if($(".tree").css('display') === 'none') {
				$(".tree").show();
			} else {

				$(".tree").hide();
			}
		});
		$(function() {
			$('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', '关闭');
			$('.tree li.parent_li > span').on('click', function(e) {
				var children = $(this).parent('li.parent_li').find(' > ul > li');
				if(children.is(":visible")) {
					children.hide('fast');
					$(this).attr('title', '展开').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
				} else {
					children.show('fast');
					$(this).attr('title', '关闭').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
				}
				e.stopPropagation();
			});
		});
	</script>
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage','layedit'], function() {
			var form = layui.form(),
			layedit = layui.layedit,
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
layedit.build('demo');
			// 点击添加页面
			$(".add-sevice").click(function() {
				layer.open({
					type: 1,
					skin: 'layui-layer-rim', //加上边框
					area: ['420px', '240px'], //宽高
					content: 'html内容'
				});
			})

			// 商品规格变化
			form.on('radio(guige)', function(data) {
				var checkval = data.value;
				if(checkval == "通用") {
					$(".general").removeClass("noshow");
					$(".special").addClass("noshow");
				} else {
					$(".special").removeClass("noshow");
					$(".general ").addClass("noshow");
				}

			});
			//      点击通用添加规格项目添加页面
			$(".special_buts").click(function() {
				$("#special_content").append(dhtml);
				form.render('select');

			});
			//      点击专用添加规格项目添加页面
			$(".general_buts").click(function() {
				$("#general_content").append(dhtml);
				form.render('select');

			});

			//	点击添加属性
			$(".add-attribute").on('click', function() {

				$(this).addClass("noshow");
				$(this).siblings(".add-attributes").removeClass("noshow");
			});
			//	点击添加添加规格名
			$("#general_content").on('click', ".add-name", function() {
				$(this).addClass("noshow");
				$(this).siblings(".add-names").removeClass("noshow");
			});
			$("#special_content").on('click', ".add-name", function() {
				$(this).addClass("noshow");
				$(this).siblings(".add-names").removeClass("noshow");
			});
			//	点击取消按钮
			$("#general_content").on('click', ".btu-cancel", function() {
				$(this).parent(".add-names").addClass("noshow");
				$(this).parent().siblings(".add-names").addClass("noshow");
				$(this).parent().siblings(".add-name").removeClass("noshow");
			});
			$("#special_content").on('click', ".add-name", function() {
				$(this).addClass("noshow");
				$(this).siblings(".add-names").removeClass("noshow");
			});
			// end商品规格变化
		})
	</script>

	<script type="text/javascript">
		//实例化编辑器
		//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
		var ue = UE.getEditor('editor');
	</script>

	{/block}

</body>

</html>