{extend name="layout"} {block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}
	.all-me,.bts{
	    width: 80%;
    text-align: right;
    margin-bottom: 30px;
    margin-top: 33px;
	}
 button{
 	    border-radius: 10px;
    width: 100px;
 }
	

</style>

{/block}

<body>

	{block name="content"}

	<div class="childrenBody">


		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
				
					<col width="20%">
					<col width="20%">
					<col width="20%">
				     <col width="20%">
					<col>
				</colgroup>
				<thead>
					<tr>
						<th>商家名称</th>
						<th>上架年限</th>
						<th>单价（元）</th>
						<th>共上架数量</th>
						<th>小计</th>
						
					</tr>
				</thead>
				<tbody class="news_content">
					<tr>
						<td>2</td>

						<td>张三</td>
						<td>2225</td>
						<td>管理员</td>
						<td>管理员</td>

						
					</tr>
					<tr >
						<td colspan="5" style="text-align: left;">
						
      <input type="checkbox" name="like1[write]" lay-skin="primary" title="我已阅读并同意" checked="">
  

						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
<div class="all-me" style="color: red;">应付金额：<span>￥2000.00</span></div>
<div class="bts">
	
	 <button class="layui-btn layui-btn-primary layui-btn-radius"   onClick="javascript :history.back(-1);">取消</button>
	    <button class="layui-btn layui-btn-normal layui-btn-radius" >立即付款</button>
</div>
	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
		

			

		})
	</script>

	{/block}

</body>

</html>