<div class="header">
	{if !empty($store_id)}
	<div class="right" style="display: flex;">
		<div style="float: left;
		padding-left: 13px;
		width: 35px;margin-right: 5px;">{if !empty($store_logo)}<img style="border-radius: 60px;margin-left: 2px;"
				src="__UPLOADS__/{$store_logo}" />{else}<img src="__STATIC__/admin/index/img/rest.png" />{/if}</div>
		<div class="name" style="font-size:20px">{$store_name}</div>
		<div id="cd-time"
			style="position: absolute; left: 180px; background-color: #fee; display: none; height: 30px; line-height: 30px; color: #f00; margin: 12px 0 0 20px; padding: 0 10px;">
		</div>
	</div>
	{else}
	<div class="right" style="display: flex;">
		<div style="float: left;
			padding-left: 13px;
			width: 35px;margin-right: 10px"><img src="__STATIC__/index/img/logo123.png" /></div>
		<div class="name" style="font-size:20px">智慧茶仓</div>
	</div>
	{/if}

	<!--<div class="company_information">
		<span >技术服务商：</span>
		<span >Siring思锐 </span>
		<span >www.siring.com.cn</span>
	</div>-->
	<!--<div class="loading" >
	
	</div>-->
	<div class="loading-box">
		<div class="message">
			<!-- <em class="unread">11</em> -->
			<img src="__STATIC__/admin/index/img/u44.png" />
			<ul class="dropdown">
				<!-- <li class="dropdown-item">[订单] 您有<span class="red">100</span>个<span class="red">普通</span>订单流程需及时处理</li> -->
				<div class="popper__arrow"></div>
				<!-- <div class="clearall">全部设为已处理</div> -->
			</ul>
		</div>
		<div class="self_information">
			<!--<span class="information-photo"><img src="__STATIC__/admin/index/img/u39.png"></span>-->
			<!--<span>siring</span>-->

			<!-- <span><div><a class="header-url" data-id="188" data-value="/admin/order_index"
					data-url="/admin/order_index.html" href="javascript:void(0);">初始订单</a>
					<a class="header-url" data-id="188" data-value="/admin/crowd_order_index"
					data-url="/admin/crowd_order_index.html" href="javascript:void(0);">众筹订单</a>
			</div>
			</span> -->
			<span><a class="header-url" data-id="213" data-value="/admin/capital_management"
					data-url="/admin/capital_management.html" href="javascript:void(0);">资金管理</a></span>
			<span><a class="header-url" data-id="179" data-value="/admin/order_package_index"
					data-url="/admin/order_package_index.html" href="javascript:void(0);">订购套餐</a></span>
			<span><a class="header-url" data-id="178" data-value="/admin/added_service_index"
					data-url="/admin/added_service_index.html" href="javascript:void(0);">增值服务</a></span>

			<span>
				<a id="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=415364124&amp;site=qq&amp;menu=yes">客服</a>
			</span>
			<span><a class="header-url" href="#">{$account}</a></span>
			<span><a href="{:url('admin/Login/logout')}" id="tcdl">退出登录</a></span>
		</div>
	</div>
</div>
<script>
	$(function () {
		$.ajax({
			url: '{:url("admin/index/shop_store_date")}',
			type: 'POST',
			dataType: 'json',
			success: function (res) {
				console.log(res);
				if (res.status == 1) {
					$('#cd-time').show().text('您的店铺当前版本： ' + res.data.goods_name + ' 剩余时间： ' + res.data.data_number + '天');
				}
			},
			error: function (res) {
				console.log(res.status, res.statusText);
			}
		})
		//获取消息提醒
		var store_id = {$store_id};
		// if (store_id > 0) {
			//店铺端
			$.ajax({
				url: '{:url("admin/index/get_info_store")}',
				type: 'post',
				data: {
					"store_id": store_id,
				},
				success: function (data) {
					var data = JSON.parse(data);
					if (data.status == 1) {
						var str = '';
						var num = 0;
						data.data.forEach(function (v, i) {
							num += v.number;
							if (v.type == 0) {
								str += '<li class="dropdown-item"><a class="header-url" data-id="' + v.id + '" data-value="/admin/order_index" data-url="/admin/order_index.html" href="javascript:void(0);">[订单] 您有<span class="red">' + v.number + '</span>个<span class="red">普通</span>订单流程需及时处理</a></li>'
							} else if (v.type == 1) {
								str += '<li class="dropdown-item"><a class="header-url" data-id="' + v.id + '" data-value="/admin/crowd_order_index" data-url="/admin/crowd_order_index.html" href="javascript:void(0);">[订单] 您有<span class="red">' + v.number + '</span>个<span class="red">众筹</span>订单流程需及时处理</a></li>'
							} else {
								str += '<li class="dropdown-item"><a class="header-url" data-id="' + v.id + '" data-value="/admin/refund_protection_index" data-url="/admin/refund_protection_index.html" href="javascript:void(0);">[订单] 您有<span class="red">' + v.number + '</span>个<span class="red">售后</span>订单流程需及时处理</a></li>'
							}
						})
						$('.dropdown').append(str);
						$('.message').append('<em class="unread">' + num + '</em>');

						$('.header-url').click(function () {
							var url = $(this).data('url');
							$.ajax({
								type: "get",
								url: url,
								cache: true,
								success: function () {
									$('#add').attr('src', url);
								}
							});
						})
					}
				}
			})
		// } else {
		// 	//总控端  get_info_zong
		// 	$.ajax({
		// 		url: '{:url("admin/index/get_info_zong")}',
		// 		type: 'post',
		// 		success: function (data) {
		// 			console.log(JSON.parse(data));
		// 		}
		// 	})
		// }
	})

	$(document).ready(function () {
		var it = setInterval(function () {
			refreshCount()
		}, 5000);

		function refreshCount() {
			$.ajax({
				type: 'POST',
				url:'{:url("admin/index/informationhint")}',
				dataType: 'json',
				success: function (data) {
					if (data.data == 1) {
						times();
					}
				},
				error: function () {
					console.log('失败')
				}
			})
		}
	});

	function times() {
		var audioElement = document.createElement('audio');
		audioElement.setAttribute('src', '__STATIC__/admin/orderprompt.mp3');
		audioElement.play();
		setTimeout(function () {
			audioElement.pause();
		}, 3200);
	}

</script>
<style>
	.message:hover .dropdown {
		display: block;
	}

	.dropdown {
		display: none;
		position: absolute;
		top: 45px;
		left: -600%;
		width: 320px;
		max-width: 320px;
		padding: 10px 0 20px;
		margin: 5px 0;
		background-color: #FFF;
		border: 1px solid #EBEEF5;
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	}

	.dropdown .dropdown-item {
		list-style: none;
		line-height: 36px;
		padding: 0 20px;
		margin: 0;
		font-size: 14px;
		cursor: pointer;
		outline: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.dropdown .dropdown-item a {
		color: #606266;
	}

	.dropdown .popper__arrow {
		border-bottom-color: #fff;
		border-width: 10px;
		top: -20px;
		margin-left: -10px;
	}

	.dropdown .clearall {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 20px;
		line-height: 20px;
		padding: 0 20px;
		text-align: right;
		color: #606266;
		background-color: #f1f1f1;
		cursor: pointer;
	}

	.dropdown .red {
		color: #F00;
	}

	.unread {
		position: absolute;
		top: 10px;
		right: -5px;
		border-radius: 10px;
		background-color: #e62d31;
		text-align: center;
		line-height: normal;
		font-size: 14px;
		animation: unicon .5s linear alternate infinite;
		font-style: normal;
	}

	@keyframes unicon {
		from {
			background-color: #e62d31;
		}

		to {
			background-color: #e62d3069;
		}
	}
</style>