<div class="header">
	<div class="logo"><img src="__STATIC__/admin/index/img/u36.png"/></div>
	<div class="name">siring后台</div>
	<div class="company_information">
		<span >技术服务商：</span>
		<span >Siring思锐 </span>
		<span >www.siring.com.cn</span>
	</div>

	<div class="loading" >
		<div class="message"><img src="__STATIC__/admin/index/img/u44.png"/></div>
		<div class="self_information">
			<span class="information-photo"><img src="__STATIC__/admin/index/img/u39.png"></span>
			<span>siring</span>
			<span><a href="#" id="password_edit">修改密码</a></span>
			<span><a href="{:url('admin/Login/logout')}">退出登录</a></span>
		</div>
	</div>



</div>

