<div class="UCleft">
	<input type="hidden" class="navlayout_parentMenu" value="HXY_FinanceCenter">
	<div class="UCleft-fixed">

		<!--<p class="index_text">首页</p>-->

		{volist name="menu_list" id="value"}
		{if isset($value["sub"])}
		<dl class="">
			<dt href="#"><span class="iconfont {$value['img']}"></span>{$value.name}<font class="iconfont1"></font></dt>
			<dd>
				{volist name="$value.sub" id="val"}
				<!--<p  class="" data-url="{:url($val['url'])}">{$val.name}</p>-->
				<p  class="" data-url="{:url($val['url'])}" data-id="{$val.id}" data-value="{$val['url']}">{$val.name}</p>
				{/volist}
			</dd>
		</dl>
		{else}
		<dl class="curr">
			<dt href="#">{$value.name}<font class="iconfont1"></font></dt>
		</dl>
		{/if}
		{/volist}
	</div>
</div>