{include file="template/_meta" /} {block name="css"}
<style type="text/css">
	.layui-form {
		box-sizing: border-box;
		padding: 24px;
	}
	
	body {
		background: #fff;
	}
	
	.part_title {
		color: #0099FF;
		font-size: 16px;
		font-weight: bold;
		padding-left: 20px;
		border-left: 3px solid #0099FF;
		margin: 10px 0px;
	}
	
	.part_content {
		border: 1px solid #f2f2f2;
	}
	
	.part_content_title {
		height: 40px;
		background: #f2f2f2;
	}
	
	.ping {
		width: 200px;
	}
	
	.part_content_content_content {
		display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .part_content_content_title{
        font-size: 14px;
        border-left:#999999 3px  solid; 
        padding-left: 20px;
        margin: 10px;
    }
	
	.table {
		width: 500px;
	}
</style>

{/block} {block name="content"}
<div class="layui-form">
	<div class="parta part">
		<div class="part_title">
			产品溯源品种访问对比
		</div>
		<div class="part_content">
			<div class="part_content_title">

			</div>
			<div class="part_content_content">
				<div class="part_content_content_title">
					对比
				</div>
				<div class="part_content_content_content">
					<div class="ping">
						<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
					</div>
					<div class="table">
						<table class="layui-table" lay-even="" lay-skin="nob">

							<thead>
								<tr>
									<th>品种</th>
									<th>次数</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>普洱1</td>
									<td>800</td>
								</tr>
								<tr>
									<td>普洱1</td>
									<td>800</td>
								</tr>
								<tr>
									<td>普洱1</td>
									<td>800</td>
								</tr>
								<tr>
									<td>普洱1</td>
									<td>800</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

    </div>
    <div class="partb part">
            <div class="part_title">
                    产品溯源年龄分布
            </div>
            <div class="part_content">
                <div class="part_content_title">
    
                </div>
                <div class="part_content_content">
                    <div class="part_content_content_title">
                            趋势图
                    </div>
                    <div class="part_content_content_content">
                        <div class="ping" style="width: 100%;">
                            <div id="container1" style="width: 90%; height: 400px; margin: 0 auto"></div>
                        </div>
                       
                    </div>
                </div>
            </div>
    
    </div>
    <div class="partc part">
            <div class="part_title">
                    产品溯源性别对比
            </div>
            <div class="part_content">
                <div class="part_content_title">
    
                </div>
                <div class="part_content_content">
                    <div class="part_content_content_title">
                        对比
                    </div>
                    <div class="part_content_content_content">
                        <div class="ping">
                            <div id="container2" style="width: 550px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <div class="table">
                            <table class="layui-table" lay-even="" lay-skin="nob">
    
                                <thead>
                                    <tr>
                                        <th>性别</th>
                                        <th>次数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>普洱1</td>
                                        <td>800</td>
                                    </tr>
                                    <tr>
                                        <td>普洱1</td>
                                        <td>800</td>
                                    </tr>
                                    <tr>
                                        <td>普洱1</td>
                                        <td>800</td>
                                    </tr>
                                    <tr>
                                        <td>普洱1</td>
                                        <td>800</td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>>

</div>
{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/common/zhexian/highcharts.js"></script>
<script language="JavaScript">
	var chart = {
		plotBackgroundColor: null,
		plotBorderWidth: null,
		plotShadow: false
	};
	var title = {
		text: ''
	};
	var tooltip = {
		pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	};
	var plotOptions = {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			dataLabels: {
				enabled: true,
				format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
				style: {
					color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
				}
			}
		}
	};
	var series = [{
		type: 'pie',
		name: 'Browser share',
		data: [
			['Firefox', 45.0],
			['IE', 26.8],
			{
				name: 'Chrome',
				y: 12.8,
				sliced: true,
				selected: true
			},
			['Safari', 8.5],
			['Opera', 6.2],
			['Others', 0.7]
		]
	}];

	var json = {};
	json.chart = chart;
	json.title = title;
	json.tooltip = tooltip;
	json.series = series;
	json.plotOptions = plotOptions;
    $('#container').highcharts(json);
    $('#container2').highcharts(json);
    var chart1 = {
      type: 'column'
   };
   var title1 = {
      text: ''   
   };
   var subtitle1 = {
      text: 'Source: runoob.com'  
   };
   var xAxis1 = {
      categories: ['0-10岁','10-20岁','20-30岁','30-40岁','50-60岁','60-70岁','70-80岁','80岁-90岁',],
      crosshair: true
   };
   var yAxis1 = {
      min: 0,
      title: {
         text: 'Rainfall (mm)'         
      }      
   };
   var tooltip1 = {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
         '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
   };
   var plotOptions1 = {
      column: {
         pointPadding: 0.2,
         borderWidth: 0
      }
   };  
   var credits1= {
      enabled: false
   };
   
   var series1= [{
        name: 'nan',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5,]
        },];     
      
   var json1 = {};   
   json1.chart = chart1; 
   json1.title = title1;   
   json1.subtitle = subtitle1; 
   json1.tooltip = tooltip1;
   json1.xAxis = xAxis1;
   json1.yAxis = yAxis1;  
   json1.series = series1;
   json1.plotOptions = plotOptions1;  
   json1.credits = credits1;
   $('#container1').highcharts(json1);
</script>

<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<!--自定义内容-->
{/block}