@font-face {font-family: "iconfont";
	src: url('iconfont.eot?t=1550543983257'); /* IE9 */
	src: url('iconfont.eot?t=1550543983257#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff?t=1550543983257') format('woff'),
	url('iconfont.ttf?t=1550543983257') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
	url('iconfont.svg?t=1550543983257#iconfont') format('svg'); /* iOS 4.1- */
  }
  
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 6px;
  color: #c3c3c3;
}

.icon-dianpu:before {
  content: "\f0135";
}

.icon-goods:before {
  content: "\e603";
}

.icon-kehuguanli:before {
  content: "\e686";
}

.icon-linedesign-07:before {
  content: "\e670";
}

.icon-digital:before {
  content: "\e614";
}

.icon-dingdan:before {
  content: "\e64f";
}

.icon-icon-test:before {
  content: "\e602";
}

.icon-zichan:before {
  content: "\e6aa";
}

.icon-jiankongkongzhiguanlijianguan:before {
  content: "\e668";
}

.icon-baasqukuailianfuwu:before {
  content: "\e89d";
}

.icon-cangkuguanli-:before {
  content: "\e630";
}
