{extend name="layout"}

{block name="css"}
<style type="text/css">
    body {
        background: #fff;
    }

    .layui-anim-upbit {
        width: 95% !important;
    }

    .err {
        border: red solid 1px;
    }

    .sample {
        color: rgb(14, 144, 210);
        font-weight: 700;
        cursor: pointer;
    }

    .seach {
        display: inline-block;
        background-color: rgb(255, 153, 0);
        color: #fff;
        line-height: 38px;
        width: 80px;
        text-align: center;
        cursor: pointer;
    }

    .layui-flow-more {
        margin: 0;
    }
</style>

{/block}

<body>
    {block name="content"}
    <!-- <form class="layui-form layui-form-lists" action="{:url('admin/Accompany/accompany_add')}" method="post"> -->
    <form class="layui-form layui-form-lists" id="form1" method="post" enctype="multipart/form-data">
        <div class="form-title">活动信息</div>

        <div class="form-item">
            <label class="form-label">选择模式</label>
            <div class="form-input">
                <input type="radio" name="choose_status" value="1" title="全向营销" checked>
                <input type="radio" name="choose_status" value="2" title="定向营销">
                <p class="tips">*全向营销二维码生成的是一个二维码，可重复扫码，定向营销生成二维码，只能扫码一次，请在列表中批量码下载</p>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">送存商品</label>
            <div class="form-input">
                <input type="text" name="goods_number" value="" placeholder="请输入商品/编号" style="width: 300px;"
                    class="layui-input" id="goods_number">
                <span class="seach">搜索</span>
                <p class="tips">*输入商品或编码后，此处需点击检索排查，只搜索可存单规格商品</p>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">面向范围</label>
            <div class="form-input" style="display: flex; align-items: center;flex-wrap:wrap;">
                {foreach name="scope" item="val" key="key"}
                <input type="checkbox" name="scope[]" lay-skin="primary" title="{$val.member_grade_name}"
                    value="{$val.member_grade_name}">
                {/foreach}
            </div>

        </div>
        <div class="form-item">
            <label class="form-label">送存设置</label>
            <div class="form-input">
                <span style="margin: 0 20px;">活动送存总量</span>
                <input type="number" name="accompany_number" value="" max="1000" min="0" class="layui-input"
                    style="width: 200px;" id="accompany_number">
                <span style="margin: 0 20px;">每人送存数量</span>
                <input type="number" name="single_number" value="" max="100" min="0" class="layui-input"
                    style="width: 200px;" id="single_number">
                <p class="tips" style="width: 330px;display: inline-block;margin-left: 15px;">*每人最多送存商品总量为1000</p>
                <p class="tips" style="display: inline-block;">*每人最多送存商品数量</p>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">送存时间</label>
            <div class="form-input line">
                <div class="texts">开始时间</div>
                <input type="text" name="start_time" value="" class="layui-input" placeholder="请选择活动开始时间"
                    id="datetimepicker2" autocomplete="off" />
            </div>
        </div>
        <div class="form-item">
            <label class="form-label"></label>
            <div class="form-input line">
                <div class="texts">结束时间</div>
                <input type="text" name="end_time" value="" class="layui-input" placeholder="请选择活动开始时间"
                    id="datetimepicker3" autocomplete="off" />
                <p class="tips">*送存时间指的是，送仓储时间</p>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">送存仓库</label>
            <div class="form-input">
                {if !empty($store_name)}
                <select name="store_house_name" id="admin_role" class="role_list">
                    <!-- <option value="">请选择</option> -->
                    {volist name="store_name" id="value"}
                    <option value="{$value.name}">{$value.name}</option>
                    {/volist}
                </select>
                {else}
                <select name="store_house_name" class="role_list">
                </select>
                {/if}
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">出仓限制</label>
            <div class="form-input">
                <input type="checkbox" name="one" lay-skin="primary" value="1">
                <span>最低消费满金额</span>
                <input type="number" name="min_price" min="0" class="layui-input" style="width: 100px;"
                    id="min_price"><span style="margin-right: 30px;">元</span>
                <input type="checkbox" name="two" lay-skin="primary" value="2">
                <span>最少消费次数</span>
                <input type="number" name="min_number" min="0" class="layui-input" style="width: 100px;"
                    id="min_number">次
                <p class="tips">*获得送存之后，出仓时需满足的条件</p>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">活动标签</label>
            <div class="form-input">
                <input type="text" name="label" placeholder="例如：送存" class="layui-input" id="label">
                <p class="tips" style="width: 400px;display: inline-block;">*活动期间展示于商品详情的价格下方，2至5字</p>
                <span class="sample">查看示例</span>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">祝福语</label>
            <div class="form-input">
                <input type="text" name="blessing" placeholder="例如：某某茶业，祝您身体健康，万事如意" class="layui-input" id="blessing">
                <p class="tips">*活动期间展示于商品详情的价格下方，2至5字</p>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">

                <button class="layui-btn layui-btn-normal" id="sub">
                    <div class="flow-default" id="LAY_demo1" style="display: inline-block;margin-right: 5px;">
                    </div>保存
                </button>
                <button type="button" class="layui-btn layui-btn-primary"
                    onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>

    </form>
    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        var isSearch = false;
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'flow'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery,
                flow = layui.flow;

            $('.seach').click(function () {
                let val = $('#goods_number').val();
                $.ajax({
                    type: "POST",
                    url: "serach_accompany",
                    data: {
                        "goods_number": val,
                    },
                    success: function (data) {
                        if (data.code == 1) isSearch = true;
                        else isSearch = false;
                        layer.msg(data.msg)
                    },
                    error: function (data) {
                        console.log("错误")
                    }
                });
            })

            $('#sub').click(function () {
                $('#sub').attr('disabled', true);
                layer.msg('正在生成，请稍等', {
                    icon: 16, //代表加载的图标
                    time: 0,  //0秒关闭（如果不配置，默认是3秒）
                    shade: 0.5
                });
                var datas = new FormData(document.getElementById("form1"));
                let goods_number = $("#goods_number").val(),
                    accompany_number = $("#accompany_number").val(),
                    single_number = $("#single_number").val(),
                    datetimepicker2 = $("#datetimepicker2").val(),
                    datetimepicker3 = $("#datetimepicker3").val();
                if (!goods_number) {
                    layer.msg("送存商品不能为空");
                    $('#sub').attr('disabled', false);
                    return false;
                } else if (!accompany_number) {
                    layer.msg("活动送存总量不能为空");
                    $('#sub').attr('disabled', false);
                    return false;
                } else if (!single_number) {
                    layer.msg("每人送存数量不能为空");
                    $('#sub').attr('disabled', false);
                    return false;
                } else if (!datetimepicker2) {
                    layer.msg("开始时间不能为空");
                    $('#sub').attr('disabled', false);
                    return false;
                } else if (!datetimepicker3) {
                    layer.msg("结束时间不能为空");
                    $('#sub').attr('disabled', false);
                    return false;
                } else if (!isSearch) {
                    layer.msg("请确认搜索相关商品");
                    $('#sub').attr('disabled', false);
                    return false;
                }
                $('#sub').attr('disabled', true);
                $.ajax({
                    url: 'accompany_add',
                    type: 'POST',
                    cache: false, //上传文件不需要缓存
                    data: datas,
                    processData: false, // 告诉jQuery不要去处理发送的数据
                    contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                    success: function (data) {
                        if (data.code == 1) {
                            window.layer.closeAll();
                            layer.msg(data.msg);
                            $('#sub').attr('disabled', false);
                            history.go(-1);
                        }
                    }
                })

                form.render();
            })

            form.render();
        });
        var datenow = new Date();
        datenow = datenow.getFullYear() + "/" + (datenow.getMonth() + 1) + "/" + (datenow.getDate());
        $('#datetimepicker2').datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
            minDate: datenow,
            step: 1,
        });
        $('#datetimepicker3').datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
            minDate: datenow,
            step: 1,
           
        });
    </script>
    {/block}


</body>

</html>