{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
        padding: 10px;
        ;
    }

    #page {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }

    .noshow {
        display: none !important;
    }
    /* 顶部导航 */
    .on {
        color: #21A5FA !important;
        border-bottom: solid 3px #21A5FA;
    }
    
    .distribution_list {
        margin-bottom: 10px;
        border-bottom: solid 1px #D7D7D7;
    }
    
    .distribution_list ul {
        display: flex;
        align-items: center;
    }
    
    .distribution_list a {
        font-size: 14px;
        padding: 9px;
        color: #5E5E5E;
    }
    /* 顶部导航 over */
    .btns a{
        margin: 0 10px;
    }
    .bules{background-color: rgb(10,135,255);}
</style>

{/block}

<body>
    {block name="content"}
    <div class="childrenBody">
        <blockquote class="layui-elem-quote news_search">
            <form class="layui-form" action="{:url('admin/Accompany/accompany_index')}">
                <div class="seach">
                    <div class="seach_list">
                        <div class="seach_laber">输入搜索：</div>
                        <div class="seach_input">
                            <input type="text" name="name" lay-verify="title" autocomplete="off"
                                placeholder="商品名称/商品编号" class="layui-input">
                        </div>
                    </div>
                    <div class="seach_list">
                        <div class="seach_laber">开始时间</div>
                        <div class="seach_input">
                            <span class="time">
                                <input name="start_time" type="text" class="text datetimepicker layui-input"
                                    readonly="readonly" id="beginTime" value="">
                            </span>
                        </div>
                    </div>
                    <div class="seach_list">
                        <div class="seach_laber">结束时间</div>
                        <div class="seach_input">
                            <span class="time">
                                <input name="end_time" type="text" class=" text datetimepicker layui-input"
                                    readonly="readonly" id="endTime" value="">
                            </span>
                        </div>
                    </div>
                    <button class="layui-btn" type="submit" id="seach">立即搜索</button>
                </div>
            </form>
        </blockquote>

        <a class="layui-btn bules batchDel" href="accompany_add">+添加商品</a>

        <div class="layui-form news_list">
            <table class="layui-table">
                <colgroup>
                    <col width="3%">

                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
                        <th>商品编号</th>
                        <th>商品图片</th>
                        <th>送存商品</th>
                        <th>送存数量</th>
                        <th>送存起始时间</th>
                        <th>送存结束时间</th>
                        <th>送存仓库</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                        {if !empty($data)}{volist name="data" id="value"}
                    <tr>
                        <td><input type="checkbox" name="" lay-skin="primary" lay-filter="choose" data-id="1">
                        </td>
                        <td>{$value.goods_number}</td>
                        <td><div class="tdimg"><img src="{$value.goods_show_image}" /></div></td>
                        <td>{$value.goods_name}</td>
                        <td>{$value.accompany_number}</td>
                        <td>{$value.start_time |date="Y-m-d H:i",###}</td>
                        <td>{$value.end_time |date="Y-m-d H:i",###}</td>
                        <td>{$value.store_house_name}</td>
                        <td>
                            <div class="btns">
                                {if $value.choose_status == 1}
                                <a href="#">唯一码</a>
                                {else}
                                <a href="#">批量码</a>
                                {/if}
                                <a href="{:url('admin/Accompany/accompany_edit',['id'=>$value.id])}">编辑</a>
                                <a href="{:url('admin/Accompany/accompany_del',['id'=>$value.id])}">删除</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {/volist}
                {/if}
            </table>
            <!-- <div id="page"> -->
                <!-- <div class="opation" style="width: 200px; float: left;">
                    <select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
                        <option check="" value="0">请选择</option>
                        <option value="1">商品上架</option>
                        <option value="2">批量下架</option>
                        <option value="3">移入回收站</option>
                    </select>
                </div> -->
                <!-- <div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
                    <button type="button" id="opration_btu"
                        style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
                    </button>
                </div> -->
            <!-- </div> -->
            {if !empty($data)}{$data->render()}{/if}
        </div>
        

    </div>
    {/block}


    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //批量操作
            var data_id = [];
            $("#opration_btu").click(function () {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                        ,
                        closeBtn: 0
                    });
                } else if (opration_val == 3) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        var child = $('.layui-form-checked');
                        for (var i = 0; i < child.length; i++) {
                            var id = child.eq(i).prev().attr('data-id');
                            data_id.push(id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/Goods/goods_del')}",
                            data: {
                                "id": data_id,
                            },
                            success: function (data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function (data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });

            //全选
            form.on('checkbox(allChoose)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });
            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function (data) {
                // console.log($(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0))

                var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"]):checked');
                if (childChecked.length === child.length) {
                    $(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = false;
                }
                form.render('checkbox');
            })

            
        })
        //测试

    </script>

    {/block}

</body>

</html>