<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>视频直播</title>
</head>
<script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
<script src="__STATIC__/admin/index/js/index.js"></script>
<!-- <script src="https://tv.swlive.cn/js/external-play.js"></script> -->
<script src="__STATIC__/admin/common/ezuikit/ezuikit.js"></script>
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<link rel="stylesheet" href="__STATIC__/admin/common/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/common/layui/css/layui.css" />

<style>
    *{margin: 0; padding: 0; list-style: none;}
    .wrapper{padding: 20px 10px; background-color: #fff;}
    .title {border-bottom: 1px solid #c9c9c9;padding-bottom: 5px; margin-bottom: 20px;}
    .title a{font-size: 18px; padding: 0 10px 5px; color: #333;}
    .title .tit-on {color: #009688;border-bottom: 2px solid #009688;}
    .search-hd{background-color: #f9f8f7; padding: 12px 0 12px 20px; margin-bottom: 10px; border-left: 5px solid #009688;}
    .search-box{display: flex; align-items: center; font-size: 14px; color: #333;}
    .search-box input{border: 1px solid #e4e4e4; background-color: #fff; padding-left: 5px; width: 180px; height: 35px; box-sizing: border-box;}
    .s-input{margin-right: 20px;}
    .search-box input::placeholder{color: #b2b2b2;}
    .my-form-select{margin: 0; width: 220px; display: flex; margin-right: 20px;}
    .search-hd label{margin-bottom: 0; margin-right: 10px; height: 35px; line-height: 35px;}
    .bot-operate{ width: 96%; height: 50px; line-height: 50px; border: solid 1px #e2e2e2; padding-left: 50px; background: #fdfdfd;}
    .bot-operate .opation{float: left}
    .bot-operate .opation select{color: #c1a5a5; border-color: #e4e4e4; height: 30px;}
    .bot-operate .operation-btn{width: 60px; background: #fff; color: #333; border:#ccc solid 1px; height: 30px; line-height: 30px; margin-left: 20px;}
    .noshow {display: none;}
    .videos_fd {position: relative;}
    .videos {position: absolute;  left: -170%;bottom:80%;z-index: 500;background: url(http://zhihuichacang.com/nu01.png)no-repeat 0px 0px;}
    .popup_x > img{ width: 20px;height: 20px; position: absolute;right: 10px;top: 5px;z-index: 1000;}
    .vk {position: relative;padding:0 10px;width: 380px;height: 240px;}

</style>
{/block}

</head>
<body>
    {block name="content"}

    <div class="wrapper">
        <div class="inner">
            <div class="title">
                <a href="direct_seeding" title="直播列表" class="tit-on">直播列表</a>
                <a href="direct_seeding_classification" title="直播分类">直播分类</a>
            </div>
            <form class="layui-form" action="{:url('admin/Material/direct_seeding_search')}">
            <div class="search-hd">
                <div class="search-box layui-form">
                    <div class="layui-form-item my-form-select">
                        <label>状态</label>
                        <select name="status" lay-filter="zhuagntai">
                            <option value="">请选择</option>
                            <option value="1">开启</option>
                            <option value="2">关闭</option>
                        </select>
                    </div>
                    <div class="layui-form-item my-form-select">
                        <label>开放</label>
                        <select name="open_status" lay-filter="kaifang">
                            <option value="">请选择</option>
                            <option value="公开">公开</option>
                            <option value="私有">私有</option>
                        </select>
                    </div>
                    <!-- <div class="s-input"> -->
                        <!-- <label>直播类型：</label>
                        <input type="text" placeholder="请输入" id="searchTxt">
                    </div> -->
            
                            <div class="seach_laber">直播类型：</div>
                            <div class="seach_input">
                                    {if !empty($direct)}
                                    <select name="classify_name" id="admin_role" class="role_list">
                                        <option value="">请选择</option>
                                        {volist name="direct" id="value"}
                                        <option value="{$value.title}">{$value.title}</option>
                                        {/volist}
                                    </select>
                                    {else}
                                    <select name="classify_name" class="role_list">
                                    </select>
                                    {/if}
                                    </select>
                            </div>
                        
                    
                    <button class="layui-btn search-btn">立即搜索</button>
                </div>
            </div>
        </form>
            <div class="operate-hd">
                <a href="direct_seeding_add" class="layui-btn layui-btn-danger">添加设备</a>
            </div>
            <div class="table layui-form">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th class="table-cell">
                                <div class="table-cell-div">
                                    <input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose">
                                </div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">直播分类</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">点播次数</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">评论次数</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">点赞次数</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">分享次数</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">直播标题</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">查看</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">设备序列号</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">应用场景</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">声音</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">状态</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">开放</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">操作</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            {if !empty($data)}
                            {volist name="data" id="value"}
                        <tr>
                            <td class="table-cell">
                                <div class="table-cell-div">
                                    <input type="checkbox" name="singleChoose" lay-skin="primary" lay-filter="choose" value={$value.id}>
                                </div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.classify_name}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.numbers}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.comments}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.clickings}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.shares}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.title}</div>
                            </td>
                            <td class="table-cell videos_fd">
                                <div class="table-cell-div">
                                    <button class="layui-btn layui-btn-mini" data-id="{$value.urls}" onclick="look(this)">查看</button>
                                </div>
                                
                                <div class="videos noshow" id="videos">
                                    <!-- <img width="100%" height="100%" src="http://zhihuichacang.com/u991.png" alt=""> -->
                                    <div class="vk">
                                        <div class="popup_x stop" >
                                          <img src="__STATIC__/admin/index/img/X.png" />
                                      </div>
                                        <video 
                                        id="myPlayer"
                                        autoplay
                                        height="220px"
                                        width="340px"
                                        src="{$value.urls}"
                                        controls
                                        playsInline 
                                        webkit-playsinline
                                      >
                                      </video>
                                    </div>
                                </div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.series_number}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.store_name}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.sound}</div>
                            </td>
                            <td>
                            {if $value.status == 0}
                            <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch"  lay-filter="isShow" data-id="{$value.id}"> {else}
                            <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch"  lay-filter="isShow" checked data-id="{$value.id}"> {/if}
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$value.open_status}</div>
                            </td>
                            <td>
                                <a class="layui-btn layui-btn-mini edit" href="{:url('admin/Material/direct_seeding_edit',['id'=>$value.id])}"> 编辑</a>
                                <a href="{:url('admin/Material/direct_seeding_delete',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i class="layui-icon"></i> 删除</a>
                            </td>
                        </tr>
                        {/volist}{/if}
                    </tbody>
                </table>
            </div>
            <div class="bot-operate">
                <div class="opation">
                    <select>
                        <option check="" value="0">请选择</option>
                        <option value="1">批量删除</option>
                    </select>
                </div>
                <div>
                    <button type="button" id="operation-btn" class="operation-btn">确定</button>
                </div>
            </div>
            {if !empty($data)}
            {$data->render()}
            {/if}
        </div>
    </div>

    {/block}
    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script src="__STATIC__/admin/common/layui/layui.js"></script>
    <script>
        $.ajax({
                    type: "POST",
                    url: "admin/Material/video_token",
                    data: {
                        
                    },
                    success: function (res) {
                        console.log(res)
                    },
                    error: function (err) {
                        console.log("错误"+err)
                    }
                });
        // $.ajax({
        //             type: "POST",
        //             url: "https://open.ys7.com/api/lapp/token/get",
        //             data: {
        //                 appKey:"97a6343476e24f969dcd649b3ca2fd77",
        //                 appSecret:"1612af977029b240d54d7111c34e38fb",
        //             },
        //             success: function (res) {
        //                 console.log(res.data.accessToken)
        //             },
        //             error: function (err) {
        //                 console.log("错误"+err)
        //             }
        //         });
        // $.ajax({
        //             type: "POST",
        //             url: "https://open.ys7.com/api/lapp/device/capture",
        //             data: {
        //                 accessToken:"at.0z9ozvv51b43i39x6bwc6vao3gnx9bxp-3k5xrzppxt-08cnb8j-7lzb3b1ok",
        //                 deviceSerial:612037990,
        //                 channelNo:1
        //             },
        //             success: function (res) {
        //                 console.log(res)
        //             },
        //             error: function (err) {
        //                 console.log("错误"+err)
        //             }
        //         });

        layui.use(['laydate', 'form'], function(){
            var laydate = layui.laydate,
                form = layui.form;
            form.render();

                //   修改状态
            form.on('switch(isShow)', function (data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Material/direct_seeding_status')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function (data) {
                        console.log("成功")
                    },
                    error: function (data) {
                        console.log("错误")
                    }
                });

            })

        })
        function look(e){
            // console.log( $(e).parents('.videos_fd').children('.videos'))
            $(e).parents('.videos_fd').children('.videos').removeClass('noshow');
            var player = new EZUIKit.EZUIPlayer('myPlayer');
            $(".stop").click(function () {
                player.stop();
                $(this).parents('.videos').addClass('noshow');
            })
        }
        
    </script>
    {/block}
</body>
</html>