{include file="template/_meta" /}
<title>直播列表-添加分类</title>

{block name="css"}
<style>
    *{margin: 0; padding: 0; list-style: none;}
    .wrapper{padding: 20px; background-color: #fff;}
    /* 数据库展现图片样式 */
    .img {position: relative;display: inline-block;width: 100px;}
    .imgcontent {margin: 10px;}
    .img>i {display: inline-block;width: 20px;position: absolute;right: 0;top: 0;}
</style>
{/block}

</head>
<body>
    {block name="content"}
        <div class="wrapper">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">分类名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label">一级图标</label>
                    <div class="form-input">
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div clear">
                                    <section class="z_file fl">
                                        <img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
                                        <input type="file" name="icon_image" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple data-id="1" />
                                    </section>
                                </div>
                            </section>
                        </div>
                        <aside class="mask works-mask">
                            <div class="mask-content">
                                <p class="del-p ">您确定要删除作品图片吗？</p>
                                <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上架</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="status" lay-skin="switch">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button class="layui-btn layui-btn-primary" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                </div>
            </form>
        </div>
    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        // 图片删除
        $(".remove-img").click(function () {
            var remove = $(this).parent();
            var id = $(this).data("id");
            var value = $(this).data("value");
            console.log(value)
            console.log(id);
            $.ajax({
                type: "POST",
                url: "{:url('admin/General/general_logo_del')}",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function (data) {
                    remove.remove();
                    alert(data.info);
                    location.reload();
                },
                error: function (data) {
                    console.log("错误");
                }
            });
        });
    </script>

    {/block}
</body>
</html>