{include file="template/_meta" /}
<title>直播分类</title>

{block name="css"}
<style>
    *{margin: 0; padding: 0; list-style: none;}
    .wrapper{padding: 20px 10px; background-color: #fff;}
    .title {border-bottom: 1px solid #c9c9c9;padding-bottom: 5px; margin-bottom: 20px;}
    .title a{font-size: 18px; padding: 0 10px 5px; color: #333;}
    .title .tit-on {color: #0066FF;border-bottom: 2px solid #21a5fa;}
    .operate-hd{background-color: #f2f2f2; padding: 10px 20px;}
    .operate-hd>div{display: flex; justify-content: space-between; align-items: center;}
    .operate-hd .import-box span{font-size: 14px; margin-right: 20px;}
    .my-form-select{margin: 0; width: 220px; display: flex; margin-right: 20px;}
    .operate-hd .layui-edge{right: 20px;}
    .bot-operate{ width: 96%; height: 50px; line-height: 50px; border: solid 1px #e2e2e2; padding-left: 50px; background: #fdfdfd;}
    .bot-operate .opation{float: left}
    .bot-operate .opation select{color: #c1a5a5; border-color: #e4e4e4; height: 30px;}
    .bot-operate .operation-btn{width: 60px; background: #fff; color: #333; border:#ccc solid 1px; height: 30px; line-height: 30px; margin-left: 20px;}
</style>
{/block}

</head>
<body>
    {block name="content"}

    <div class="wrapper">
        <div class="inner">
            <div class="title">
                <a href="direct_seeding" title="直播列表">直播列表</a>
                <a href="javascript:void(0);" title="直播分类" class="tit-on">直播分类</a>
            </div>
            <div class="operate-hd">
                <div class="layui-form">
                    <!-- <div class="import-box">
                        <span>数据列表</span>
                    </div> -->
                    <a class="layui-btn layui-btn-danger batchDel" href="{:url('admin/Material/direct_seeding_classification_add')}">添加分类</a>
                    <div class="layui-form-item my-form-select">
                        <select name="interest" lay-filter="tiaoshu">
                            <option value="0">显示条数</option>
                            <option value="1">1</option>
                            <option value="2">10</option>
                            <option value="3">20</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table layui-form">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th class="table-cell">
                                <div class="table-cell-div">
                                    <input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose">
                                </div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">分类名称</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">分类图表</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">状态</div>
                            </th>
                            <th class="table-cell">
                                <div class="table-cell-div">操作</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {if !empty($data)}
                        {volist name="data" id="value"}
                        <tr>
                            <td class="table-cell">
                                <div class="table-cell-div">
                                    <input type="checkbox" name="singleChoose" lay-skin="primary" lay-filter="choose" value={$value.id}>
                                </div>
                            </td>
                            <td>{$value.title}</td>
                            <td class="">
                                    <div class="tdimg"><img src="__UPLOADS__/{$value.icon_image}" /></div>
                            </td>
                            <td class="td-status">
                                    {if $value.status == 1}
                                    <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch" lay-text="" lay-filter="isShows" checked data-id="{$value.id}"> 
                                    {else}
                                    <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch" lay-text="" lay-filter="isShows" data-id="{$value.id}">
                                    {/if}
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">
                                    <a  class="layui-btn layui-btn-mini edit" href="{:url('admin/Material/direct_seeding_classification_edit',['id'=>$value.id])}">编辑</a>
                                    <a href="{:url('admin/Material/direct_seeding_classification_delete',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i class="layui-icon"></i> 删除</a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        {/if}
                    </tbody>
                </table>
            </div>
            <div class="bot-operate">
                <div class="opation">
                    <select>
                        <option check="" value="0">请选择</option>
                        <option value="1">批量删除</option>
                    </select>
                </div>
                <div>
                    <button type="button" id="operation-btn" class="operation-btn">确定</button>
                </div>
                {if !empty($data)}
                {$data ->render()}
                {/if}
            </div>
        </div>
    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'laydate'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery,
                laydate = layui.laydate;
            var vals = $("input").data("id");
            //点击操作确认按钮
            var data_id = [];
            $("#operation-btn").click(function () {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                        ,
                        closeBtn: 0
                    });
                } else if (opration_val == 1) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        var child = $("tbody").find('input[name="singleChoose"]:checked');
                        for (var i = 0; i < child.length; i++) {
                            data_id.push($(child[i])[0].dataset.id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/Goods/dels')}",
                            data: {
                                "id": data_id,
                            },
                            success: function (data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function (data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                    ,
                                    closeBtn: 0
                                });
                                console.log(data); 
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });
            //全选
            form.on('checkbox(allChoose)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[name="singleChoose"]');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            // //通过判断文章是否全部选中来确定全选按钮是否选中
            // form.on("checkbox(choose)", function (data) {
            //     var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
            //     var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
            //     if (childChecked.length == child.length) {
            //         $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
            //     } else {
            //         $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
            //     }
            //     form.render('checkbox');
            // })
            
        })
    </script>

    {/block}
</body>
</html>