{include file="template/_meta" /}
<title>直播列表</title>

{block name="css"}
<style>
    *{margin: 0; padding: 0; list-style: none;}
    .wrapper{padding: 20px; background-color: #fff;}
    .redStar::before{content: '*'; color: #f00;}
    .my-input-block, .my-input-line{display: flex;}
    .my-input-block>div{flex: 1; margin-right: 20px;}
    .live_c .layui-form-select {width: 455px; margin-right: 20px; }
    /* .layui-unselect {width: 50px;} */
</style>
{/block}

</head>
<body>
    {block name="content"}
        <div class="wrapper">
            <form class="layui-form" action="{:url('admin/Material/direct_seeding_add')}" method="post" enctype="multipart/form-data">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="red">*</span>直播分类</label>
                    <div class="layui-input-block my-input-block">
                        {if !empty($direct)}
                        <select name="classify_name" id="admin_role" class="role_list">
                            {volist name="direct" id="value"}
                            <option value="{$value.title}">{$value.title}</option>
                            {/volist}
                        </select>
                        {else}
                        <select name="classify_name" class="role_list">
                        </select>
                        {/if}
                        </select>
                        <a  class="layui-btn" href="{:url('admin/Material/direct_seeding_classification_add')}">添加分类</a>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label redStar">直播标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" required>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label redStar">介绍内容</label>
                    <div class="layui-input-block">
                        <textarea name="substance" required lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">直播链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="urls" placeholder="请输入" autocomplete="off" class="layui-input" required>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">设备序列号</label>
                    <div class="layui-input-block">
                        <input type="text" name="series_number" placeholder="请输入" autocomplete="off" class="layui-input" required>
                    </div>
                </div>
                <div class="layui-form-item " style="width: 100%;">
                    <label class="layui-form-label"><span class="red">*</span>应用场景</label>
                    <div class="layui-input-block my-input-line live_c">
                        <input type="radio" name="live" value="仓储直播"  title="仓储直播">
                        {if !empty($store_name)}
                        <select name="store_name" id="admin_role" class="role_list">
                            {volist name="store_name" id="value"}
                            <option value="{$value.name}">{$value.name}</option>
                            {/volist}
                        </select>
                        {else}
                        <select name="store_name" class="role_list">
                        </select>
                        {/if}
                        </select>
                        <a  class="layui-btn" href="{:url('admin/StoreHouse/store_house_add')}">添加仓库</a>
                    </div>
                </div>
                <div class="layui-form-item" style="width: 100%;">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block my-input-line">
                        <input type="radio" name="live" value="流动直播"  title="流动直播">
                        <input  style="width: 455px;" type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input" required>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">声音</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="sound" lay-filter="isShow" lay-skin="switch" value="0">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">视频</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="video" lay-filter="isShow" lay-skin="switch" value="0">
                    </div>
                </div>
                <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="1" title="开启" checked="">
                            <input type="radio" name="status" value="0" title="关闭"> 
                        </div>
                    </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单选框</label>
                    <div class="layui-input-block">
                        <input type="radio" name="open_status" value="公开"  title="公开" checked>
                        <input type="radio" name="open_status" value="私有"  title="私有">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button class="layui-btn layui-btn-primary" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                </div>
            </form>
        </div>
    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                $ = layui.jquery,
                upload = layui.upload;
                form.on('switch(isShow)', function (data) {
                    if ($(this).val() == 0) {
                        $(this).val(1);
                    } else {
                        $(this).val(0);
                    }

                });
        })
    </script>

    {/block}
</body>
</html>