
        <!-- 价格调整设置 -->

{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}
    h2,h4{
		text-align: center;
	}
	th,td{
		height: 40px;
		text-align: center;
		padding: 5px;
	}
	.layui-form-item{
		margin: 40px auto;
	}
</style>

 

{/block}
<body>

{block name="content"}
<h2 style="padding: 10px;">平台价格调整比例设置</h2>
<h4>(零售商品)</h4>
<form action="" method="post">
	
	
<div class="tab-content">
<table border="" cellspacing="" cellpadding="" style="margin: 0 auto;">
	<tr>
		<th>最小金额</th>
		<th>---</th>
			<th>最大金额</th>
			<th>加价比例</th>

	</tr>
	<tr>
		<td><input type="text" name="" id="" value="" /></td>
		<th>---</th>
		<td><input type="text" name="" id="" value="" /></td>
		<td><input type="text" name="" id="" value="" /></td>
	</tr>
	<tr>
		<td><input type="text" name="" id="" value="" /></td>
		<th>---</th>
		<td><input type="text" name="" id="" value="" /></td>
		<td><input type="text" name="" id="" value="" /></td>
	</tr>
	<tr>
		<td><input type="text" name="" id="" value="" /></td>
		<th>---</th>
		<td><input type="text" name="" id="" value="" /></td>
		<td><input type="text" name="" id="" value="" /></td>
	</tr><tr>
		<td><input type="text" name="" id="" value="" /></td>
		<th>---</th>
		<td><input type="text" name="" id="" value="" /></td>
		<td><input type="text" name="" id="" value="" /></td>
	</tr>
</table>
</div>
<div class="layui-form-item">
		<div class="layui-input-block">
			
				<button type="button" class="layui-btn  layui-btn-primary" onClick="javascript :history.back(-1);" > 返回</button>
	<button class="layui-btn" type="submit" id="submits" style="margin-left: 190px;">保存</button>
		</div>
			
	</div>
</form>
{/block}

<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}
<!--/_footer 作为公共模版分离出去-->



<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}

{/block}

</body>
</html>