{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
	body {
		background: #fff;
	}
    .on {
        color: #21A5FA !important;
        border-bottom: solid 3px #21A5FA;
    }
    
    .distribution_list {
        margin-bottom: 10px;
        border-bottom: solid 1px #D7D7D7;
    }
    
    .distribution_list ul {
        display: flex;
        width: 380px;
        justify-content: center;
        align-items: center;
    }
    
    .distribution_list a {
        font-size: 17px;
        padding: 9px;
        color: #5E5E5E;
    }
    
    .distribution_list ul li {
        flex: 1;
    }
	.danwei{
		position: absolute;
		right: 11px;
        top: 10px;
	}
</style>

{/block}

<body>

	{block name="content"}

	<div class="childrenBody">
		{include file="template/_top" /}
		<!--<div class="distribution_list">-->
            <!--<ul>-->
				<!--<li>-->
					<!--<a href="recharge_application"  style="text-decoration:none;"   >微信提现</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="withdrawal_application"   style="text-decoration:none;"  >银行卡提现</a>-->
				<!--</li>-->
				<!--<li>-->
					 <!--<a href="withdrawal_setting"   style="text-decoration:none;"  class="on">提现设置</a>-->
				 <!--</li>-->

            <!--</ul>-->
        <!--</div>-->

		{if !empty($data) }
		{volist name="data" id="vo"}
	<form class="layui-form layui-form-lists" action="{:url('admin/User/withdrawal_save')}" method="post" enctype="multipart/form-data">
	
		<div class="form-item">
			<label class="form-label">最少提现金额</label>
			<div class="form-input" style="position: relative;">
				<input type="text" name="min_money" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" value="{$vo.min_money}">
				<div class="danwei">元</div>
				<div class="tips">
					商低于设置金额时，前端提示最低多少才能提现
				</div>
			</div>
		</div>
		<div class="form-item">
			<label class="form-label">每日最高提现金额</label>
			<div class="form-input">
				<input type="text" name="day_max_money" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" value="{$vo.day_max_money}">
				<div class="tips">
					0表示不限制
				</div>
			</div>
		</div>
		<div class="form-item">
			<label class="form-label">每日提现比数</label>
			<div class="form-input">
				<input type="text" name="day_frequency" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" value="{$vo.day_frequency}">
				<div class="tips">
					0表示不限制
				</div>
			</div>
		</div>
		<!--<div class="form-item">-->
			<!--<label class="form-label">充值后再提现间隔天数</label>-->
			<!--<div class="form-input">-->
				<!--<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" value="{$vo.min_money}">-->
				<!--<div class="tips">-->
					<!--0表示不限制-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<div class="form-item">
                <label class="form-label">提现手续率</label>
                <div class="form-input" style="position: relative;">
					<input type="text" name="service_charge" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" value="{$vo.service_charge}">
					<div class="danwei">%</div>
                	<div class="tips">
						0表示不收取提现手续费
					</div>
                </div>
            </div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
			</div>
		</div>
	</form>
		{/volist}
		{/if}
	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}

	<script type="text/javascript">
		var ue = UE.getEditor('editor');
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
			var form = layui.form(),
				$ = layui.jquery;
			form.render();
		});
	</script>

	{/block}

</body>

</html>