{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }

    #page {
        width: 97%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
    }

    .sign {
        font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        line-height: 28px;
        width: 20%;
    }
    .change {
        margin-top: 30px;
        line-height: 1px;
    }
    .bottun_select {
        text-align: center;
        margin: auto;
        margin-top: 50px;

    }
    .distribution_list {
        margin-bottom: 10px;
        border-bottom: solid 1px #D7D7D7;
    }
    .on {
        color: #21A5FA !important;
        border-bottom: solid 3px #21A5FA;
    }
    .distribution_list ul {
        display: flex;
        align-items: center;
    }
    .line {
        justify-content: center;
    }
    .distribution_list a {
        font-size: 14px;
        padding: 9px;
        color: #5E5E5E;
    }
    .input_bottom {
        margin-bottom:20px;
    }
</style>

{/block}

<body>

    {block name="content"}
    {if !empty($offline_data)}{volist name="offline_data" id="value"}
    <div class="childrenBody">
        {include file="template/_top"/}
        <div class="layui-form news_list">
            <div class="form-title">充值</div>
            <table class="layui-table">
                <tbody class="news_content" >
                    
                    <tr class="tag" data-id="{$value.id}">
                        <td class="sign">账号：</td>
                        <td>{$value.store_number}</td>
                        <td class="sign">流水号：</td>
                        <td>{$value.serial_number}</td>
                    </tr>
                    <tr>
                        <td class="sign">充值日期：</td>
                        <td>{$value.create_time|date="Y-m-d ",###}</td>
                        <td class="sign">充值金额：</td>
                        <td>{$value.money}</td>
                    </tr>
                    <tr>
                        <td class="sign">充值方式：</td>
                        <td>线下充值</td>
                        <td class="sign">银行账户</td>
                        <td>{$value.count}</td>
                    </tr>
                    <tr>
                        <td class="sign">用户留言</td>
                        <td>{$value.message}</td>
                        <td class="sign"></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

            <div class="form-title">审核</div>
            <div class="change">
                <label class="layui-form-label" style="margin: 0 130px;color: #5E5E5E;">选择操作</label>
                {if $value.status == 1}
                <div class="input_bottom">
                    <input type="radio" name="status" value="2" title="通过">
                    <span>恭喜您，充值成功</span></br><span style="color:#949494;margin-left: 80px;">*弹框内容</span>
                </div>
                <div style="margin-left:340px;">
                    <input type="radio" name="status" value="3" title="驳回">
                    <span>资金未到帐，请自检确认，如需帮助请联系客服</span></br><span style="color:#949494; margin-left: 80px;">*弹框内容</span>
                </div>
                {/if}
                {if $value.status == 2}
                <div class="input_bottom">
                    <input type="radio" name="status" value="2" title="通过" checked="">
                    <span>恭喜您，充值成功</span></br><span style="color:#949494;margin-left: 80px;">*弹框内容</span>
                </div>
                <div style="margin-left:340px;">
                    <input type="radio" name="status" value="3" title="驳回">
                    <span>资金未到帐，请自检确认，如需帮助请联系客服</span></br><span style="color:#949494; margin-left: 80px;">*弹框内容</span>
                </div>
                {/if}
                {if $value.status == 3}
                <div class="input_bottom">
                    <input type="radio" name="status" value="2" title="通过" >
                    <span>恭喜您，充值成功</span></br><span style="color:#949494;margin-left: 80px;">*弹框内容</span>
                </div>
                <div style="margin-left:340px;">
                    <input type="radio" name="status" value="3" title="驳回" checked="">
                    <span>资金未到帐，请自检确认，如需帮助请联系客服</span></br><span style="color:#949494; margin-left: 80px;">*弹框内容</span>
                </div>
                {/if}

            </div>
            <div class="bottun_select">
                <button class="layui-btn layui-btn-primary" style="width:120px;margin-right: 80px">返回</button>
                <button class="layui-btn layui-btn-normal confirm" style="width:120px">确定</button>
            </div>
        </div>
        {/volist}
        {/if}

    </div>


    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->
    <script>
        layui.use(['laydate', 'form', 'layer'], function(){
            var laydate = layui.laydate,
                form = layui.form,
                layer = layui.layer;
            // laydate.render({elem: '#remitTime'});
            // form.render();
            var radio = $('input[name=status]');
            $('.confirm').click(function(){
                for(var i = 0; i < 2; i++){
                    if(radio[i].checked){
                        var status = radio[i].value,
                            id = $('.tag').attr('data-id');
                        $.ajax({
                            url: "{:url('admin/Analyse/control_charging_update')}",
                            type: 'POST',
                            dataType: 'JSON',
                            data: {
                                status: status,
                                id: id
                            },
                            success: function(res){
                                if(res.status == 1){
                                    layer.msg(res.info);
                                    setTimeout(function(){
                                        history.back(-1);
                                    }, 1200);
                                }else{
                                    layer.msg(res.info);
                                }
                            },
                            error: function(){}
                        })                        
                    }
                }
            })
        })
    </script>

</body>

</html>