{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }

    #page {
        width: 96%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }

    .on {
        color: #21A5FA !important;
        border-bottom: solid 3px #21A5FA;
    }

    .distribution_list {
        margin-bottom: 10px;
        border-bottom: solid 1px #D7D7D7;
    }

    .distribution_list ul {
        display: flex;
        align-items: center;
    }

    .distribution_list a {
        font-size: 14px;
        padding: 9px;
        color: #5E5E5E;
    }

   
</style>

{/block}

<body>

    {block name="content"}

    <div class="childrenBody">
        {include file="template/_top"/}
            <!--<div class="distribution_list">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="{:url('admin/Control/control_meal_index')}"  >入驻套餐</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="{:url('admin/Control/control_order_index')}"  class="on">入驻订单</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <blockquote class="layui-elem-quote news_search">
                    <form class="layui-form" action="{:url('admin/Control/control_order_search')}">
                        <div class="seach">
                            <div class="seach_list">
                                <div class="seach_laber">入驻商名称</div>
                                <div class="seach_input">
                                    <input type="text" name="contact_name" lay-verify="title" autocomplete="off" placeholder="姓名/公司名" class="layui-input">
        
                                </div>
                            </div>
     

                            <div class="form-item">
                                    <label class="form-label">套餐</label>
                                    <div class="form-input">
                                        {if !empty($enter_meal)}
                                        <select name="name" id="admin_role" class="role_list">
                                            <option value="" select>请选择</option>
                                            {volist name="enter_meal" id="val"}
                                             <option value="{$val.name}">{$val.name}</option>
                                            {/volist}
                                        </select> 
                                        {else}
                                        <select name="name" class="role_list">
                                            <option value="0">顶级</option>
                                        </select>
                                        {/if}
                                        </select>
                                    </div>
                                </div>


                            
                            <button class="layui-btn" type="submit" id="seach">立即搜索</button>
                        </div>
                    </div>

                    <button class="layui-btn" type="submit" id="seach">立即搜索</button>
                </div>

            </form>
        </blockquote>


        <div class="layui-form news_list">
            <table class="layui-table">

                <thead>
                    <tr>
                        <th>用户账号手机号</th>
                        <th>联系人姓名</th>
                        <th>店铺名</th>
                        <th>入驻商主体</th>
                        <th>地址</th>
                        <th>套餐选择</th>
                        <th>金额</th>
                        <th>生效时间</th>
                        <th>到期时间</th>
                        <th>店铺审核状态</th>
                        <th>付款审核状态</th>
                        <!--<th>操作</th>-->
                    </tr>
                </thead>
                <tbody class="news_content">
                    {if !empty($order)}{volist name="order" id="value"}
						<tr>
                            <td>{$value.phone_number}</td>
                            <td>{$value.contact_name}</td>
                            <td>{$value.store_name}</td>
                            {if $value.is_business == 1}
                            <td>个人</td>
                            {/if}
                            {if $value.is_business == 2}
                            <td>公司</td>
                            {/if}
                            <td>{$value.address_real_data}</td>
                            {if !empty($value.enter_meal)}
                            <td>{$value.enter_meal}</td>
                            <td>{$value.amount_money}</td>
                            <td>{$value.start_time}</td>
                            <td>{$value.end_time}</td>
                            {else}
                            <td>未选择套餐</td>
                            <td>￥0</td>
                            <td></td>
                            <td></td>
                            {/if}
                            <td>
                                <a href="{:url('admin/Control/control_order_add',['id'=>$value.store_id])}">{$value.store_status|enter_status}</a>
                            </td>
                            <td>
                                <a href="{:url('admin/Control/control_order_status',['id'=>$value.id])}">{$value.audit_status|audit_status}</a>
                            </td>
                            <!--<td>-->
                                <!--<a class="layui-btn layui-btn-mini edit" href="{:url('admin/Control/control_order_add',['id'=>$value.id])}"> 编辑-->
                                <!--</a>-->
                            <!--</td>-->
                        </tr>
                        {/volist}{/if}
                </tbody>
            </table>


        </div>
        {$order->render()}

    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            form.on('switch(isShow)', function (data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{:url('')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function (data) {
                        console.log("成功")
                    },
                    error: function (data) {
                        console.log("错误")
                    }
                });

            })

        })
    </script>

    {/block}

</body>

</html>