{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }

    td input {
        border: 0;
        text-align: center;
    }

    .texts {
        width: 200px;
    }

    .text {
        margin-right: 20px;
        line-height: 38px;
    }
</style>

{/block}

<body>
    {block name="content"}

    <form class="layui-form layui-form-lists" action="{:url('admin/Control/control_meal_add')}" method="post"
        enctype="multipart/form-data">
        <div class="form-title">添加</div>

        <div class="form-item">
            <label class="form-label">公告内容</label>
            <div class="form-input">
                <textarea style="width:600px;" name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">公告时间</label>
            <div class="text">开始时间</div>
            <input type="text" name="start_time" class="texts datetimepicker layui-input" readonly="readonly"
                id="datetimepicker2" placeholder="年/月/日" value="">
        </div>
        <div class="form-item">
            <label class="form-label"></label>
            <div class="text">结束时间</div>
            <input type="text" name="end_time" class="texts datetimepicker layui-input" readonly="readonly"
                id="datetimepicker3" placeholder="年/月/日" value="">
        </div>
        <div class="form-item">
            <label class="form-label">展示时长</label>
            <input type="number" step="1" min="0" max="10000000" onkeyup="value=value.replace(/^\\d+$/,'')"
                name="sort_number" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input texts">
            <div class="text">&nbsp;&nbsp;S</div>
        </div>
        <div class="form-item">
            <label class="form-label"></label>
            <div class="tips">*请输入数字</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
                <button type="button" class="layui-btn layui-btn-primary"
                    onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
    </form>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}

    <script type="text/javascript">
        var ue = UE.getEditor('editor');
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function () {
            var form = layui.form(),
                $ = layui.jquery;
            // $('#beginTimes').datetimepicker({
            //     //					yearOffset:222,
            //     lang: 'ch',
            //     timepicker: false,
            //     //					format:'d/m/Y',
            //     formatDate: 'Y/m/d',
            //     minDate: '-2018/01/02', // yesterday is minimum date
            //     maxDate: '+2050/01/02' // and tommorow is maximum date calendar
            // });
            // $('#endTimes').datetimepicker({
            //     //					yearOffset:222,
            //     lang: 'ch',
            //     timepicker: false,
            //     //					format:'d/m/Y',
            //     formatDate: 'Y/m/d',
            //     minDate: '2018/01/02', // yesterday is minimum date
            //     maxDate: '2050/01/02' // and tommorow is maximum date calendar
            // });
            $('#datetimepicker2').datetimepicker({
                format: 'Y/m/d H:i:s',
                step: 1,
            });
            $('#datetimepicker3').datetimepicker({
                format: 'Y/m/d H:i:s',
                step: 1,
            });
            form.render();

        });

    </script>

    {/block}

</body>

</html>
