{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
	body {
		background: #fff;
	}	
    td input{
        border: 0;
       text-align: center;
    }
</style>

{/block}

<body>
	{block name="content"}

	<form class="layui-form layui-form-lists" action="{:url('admin/Control/control_meal_update')}" method="post" enctype="multipart/form-data">
		{if !empty($meal_edit)}
		<input type="hidden" name="id" id="ids" value="{$meal_edit.id}" />
	
		<div class="form-item">
			<label class="form-label"><span class="red">*</span>版本名称</label>
			<div class="form-input">
				<input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请控制在30字以内" class="layui-input" readonly value="{$meal_edit.name}" style="border:0;color:#169BD5;">
			
			</div>
        </div>
        <div class="form-item">
                <label class="form-label">版本名称</label>
                <div class="form-input">
                    <table class="layui-table">
                        <tr>
                            <th>年份</th>
                            <th>原价</th>
                            <th>优惠价</th>
						</tr>
						<tr>
								<td>10天试用</td>
								<td><input type="text" name="cost[0]" value="{$meal_edit['cost'][0]}"></td>
								<td><input type="text" name="favourable_cost[0]"value="{$meal_edit.favourable_cost[0]}"></td>
							</tr>
						<tr>
							<td>1年</td>
							<td><input type="text" name="cost[1]" value="{$meal_edit['cost'][1]}"></td>
							<td><input type="text" name="favourable_cost[1]"value="{$meal_edit.favourable_cost[1]}"></td>
						</tr>
                        <tr>
                            <td>2年</td>
							<td><input type="text" name="cost[2]" value="{$meal_edit['cost'][2]}"></td>
							<td><input type="text" name="favourable_cost[3]"value="{$meal_edit['favourable_cost'][3]}"></td>
						</tr>
						<tr>
							<td>3年</td>
							<td><input type="text" name="cost[3]" value="{$meal_edit['cost'][3]}"></td>
							<td><input type="text" name="favourable_cost[3]"value="{$meal_edit['favourable_cost'][3]}"></td>
						</tr>
						<tr>
							<td>4年</td>
							<td><input type="text" name="cost[4]" value="{$meal_edit['cost'][4]}"></td>
							<td><input type="text" name="favourable_cost[4]"value="{$meal_edit['favourable_cost'][4]}"></td>
						</tr>
						<tr>
							<td>5年</td>
							<td><input type="text" name="cost[5]" value="{$meal_edit['cost'][4]}"></td>
							<td><input type="text" name="favourable_cost[5]" value="{$meal_edit['favourable_cost'][5]}"></td>
						</tr>						
                    </table>
                </div>
            </div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
			</div>
		</div>
		{/if}
	</form>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	
	<script type="text/javascript">
		var ue = UE.getEditor('editor');
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
			var form = layui.form(),
				$ = layui.jquery;
			form.render();
			
		});
	</script>

	{/block}

</body>

</html>