{extend name="layout"}

 {block name="css"}

 <style type="text/css">
	body {
		background: #fff;
	}
 	.layui-icon {
		position: absolute;
		right: 0;
		top: -9px;
	}
 	.on {
		color: #21A5FA !important;
		border-bottom: solid 3px #21A5FA;
	}
 	.distribution_list {
		margin-bottom: 10px;
		border-bottom: solid 1px #D7D7D7;
	}
 	.distribution_list ul {
		display: flex;
		align-items: center;
	}
 	.distribution_list a {
		font-size: 14px;
		padding: 9px;
		color: #5E5E5E;
	}
 	.distribution_list ul li {}
</style>

 {/block}

 <body>

 	{block name="content"}


 	<div class="childrenBody">
		{include file="template/_top" /}
		<!--<div class="distribution_list">-->
		<!--<ul>-->
		<!--<li>-->
		<!--<a href="{:url('admin/admin/index')}" class="on">账号管理</a>-->
		<!--</li>-->
		<!--<li>-->
		<!--<a href="{:url('admin/role/index')}"  >角色管理</a>-->
		<!--</li>-->
		<!--<li>-->
		<!--<a href="{:url('admin/menu/index')}">菜单管理</a>-->
		<!--</li>-->
		<!--</ul>-->
		<!--</div>-->
		<div class="layui-inline line">
				<a class="layui-btn layui-btn-danger bataadone" href="{:url('admin/Control/control_notice_add')}">添加</a>
				<div class="tip" style="display:flex;align-items: center;">
					<img src="__STATIC__/admin/index/img/u39113.png" alt="" class="laba"
						style="width:16px;margin-right: 10px;margin-left: 10px;">
					<span style="font-size: 13px;color: #333333;">注：为满足用户体验，每次只展示一个公告通知</span>
				</div>
			</div>

 		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col>
					<col width="40%">
					<col width="12%">
					<col width="12%">
					<col width="9%">
					<col width="9%">
					<col width="15%">
				</colgroup>
				<thead>
					<tr>
						<th>id</th>
						<th>内容</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>展示时长</th>
						<th>是否展示</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
					{volist name="account_list" id="value"}
					<tr>

 						<td>{$value.id}</td>
						<td align="left">{$value.con}</td>
						<td>{$value.add_time|date="Y-m-d H:i:s",###}</td>
						<td>{$value.end_time|date="Y-m-d H:i:s",###}</td>
						<td>{$value.duration}s</td>
						<td>

 							{if $value.status == 1}
							<input type="checkbox" class="Status" name="show" value="{$value.status}" lay-skin="switch"
								lay-text="是|否" lay-filter="isShow" data-id="{$value.id}" checked="" />
							{else /}
							<input type="checkbox" class="Status" name="show" value="{$value.status}" lay-skin="switch"
								lay-text="是|否" lay-filter="isShow" data-id="{$value.id}" />
							{/if}

 						<td>
							<a class="layui-btn layui-btn-mini edit"
								href="{:url('admin/Control/control_notice_edit',['id'=>$value.id])}"> 编辑</a>
							<a href="{:url('admin/Control/control_notice_del',['id'=>$value.id])}"
								onclick="if(!confirm('确定要删除吗？')) return false"
								class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i
									class="layui-icon"></i> 删除</a>
						</td>
					</tr>
					{/volist}
				</tbody>
            </table>
           
		</div>
		<div id="page">
                {if !empty($account_list)}{$account_list->render()}{/if}
        </div>
	</div>

 	{/block}

 	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

 	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function () {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
			//是否展示
			form.on('switch(isShow)', function (data) {
				if ($(this).val() == 1) {
					$(this).val(2);
				}
				else {
					$(this).val(2);
				}
				var vals = data.value;
				var id = $(this).data("id");
				var status = $(this).val();
				console.log(status);
				$.ajax({
					type: "POST",
					url: "{:url('admin/Control/control_notice_status')}",
					data: { "id": id, "status": status },
                    dataType: 'json',
                    success: function (json) {
                    if (json.code == 1) {
                        layer.msg(json.msg);
                        window.location.href = "";
                    } else {
                        layer.msg(json.msg);
                        window.location.href = "";
                    }
                    }
					// success: function (data) {
					// 	console.log("成功");
                    //     window.location.href = "";
					// },
					// error: function (data) {
					// 	console.log("错误");
                    //     window.location.href = "";
					// }
				});
 			})
 		})
 	</script>

 	{/block}

 </body>

 </html> 