{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {background: #fff;}
    #page {width: 97%;height: 50px;line-height: 50px;border: solid 1px #E2E2E2;padding-left: 50px;background: #FDFDFE;}
    .on {color: #21A5FA ; border-bottom: solid 3px #21A5FA;}
    .distribution_list {margin-bottom: 10px; border-bottom: solid 1px #D7D7D7;}
    .distribution_list ul {display: flex; align-items: center;}
    .distribution_list a {font-size: 14px; padding: 9px; color: #5E5E5E;}
    .static_btus {display: inline-block; height: 24px; line-height: 24px; margin: 0 12px; overflow: hidden;color: white;}
    .static_btus >a {color: #fff;}
    .static_btus button {width: 100%; padding: 0 10px; border-radius: 4px; }
    .payment-has-been {background: #669900;}
    a {color: #669900;}
    .line-exam {background-color: transparent; color: rgb(188, 188, 188); border: 1px solid rgb(188, 188, 188);}
    .line-ing {background-color: transparent; color: rgb(255, 153, 0); border: 1px solid rgb(255, 153, 0);}
    .line-pass {background-color: transparent; color: rgb(102, 153, 0); border: 1px solid rgb(102, 153, 0);}    
    .line-exam:hover {color: rgb(188, 188, 188);}
    .line-ing:hover {color: rgb(255, 153, 0);}
    .line-pass:hover {color: rgb(102, 153, 0);}
    .mask{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); z-index: 9;}
    .pop{position: absolute; top: 50%; left: 50%; margin: -183px 0 0 -325px; width: 650px; border: 1px solid #d6d6d6; background-color: #fff; z-index: 9;}
    .pop .head{position: relative; padding-left: 16px; background-color: rgb(238, 247, 234); border-bottom: 1px solid #d6d6d6;}
    .pop .head p{height: 35px; line-height: 36px; font-size: 13px;}
    .pop .close{position: absolute; right: 10px; top: 50%; transform: translateY(-50%); font-size: 26px; cursor: pointer; font-style: normal; user-select: none;}
    .content{padding: 0 16px;}
    .top, .mid, .bot{padding: 0 30px;}
    .top{height: 50px; line-height: 50px;}
    .lb{font-size: 16px; font-weight: 700; color: #333; margin-right: 30px;}
    .top span{font-size: 24px; color: #f00; font-weight: 700;}
    .mid{border: 1px dashed #d2d2d2; border-left: 0; border-right: 0;}
    .mid>div{height: 50px; line-height: 50px; display: flex; align-items: baseline;}
    .mid input{height: 30px; width: 300px; padding-left: 10px;}
    .address p{line-height: normal; flex: 1;}
    .change-addr{text-align: right;height: 35px; line-height: 35px; }
    .change-addr a{color: #199ED8;}
    .bot li{height: 65px; line-height: 65px; list-style: disc;}
    .bot li button{background-color: #f00; float: right; transform: translateY(50%);}
    .bot li a{color: #669900;}
    td.table-cell{display: flex; align-items: center;padding: 9px 0px;}
    .table-cell button{height: 22px; line-height: 22px; border-radius: 4px; padding: 0 10px;}
    
    .wait-check{color: #669900;margin-left: 10px;}
    .check-fail{color: #f00;}
    .layui-table th{padding: 9px 0;}
    .layui-table td{padding: 4px 25px;;font-size: 13px;}
</style>

{/block}

<body>

    {block name="content"}

    <div class="childrenBody">
        {include file="template/_top"/}
        <!--<div class="distribution_list">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<a href="{:url('admin/Control/control_meal_index')}"  >入驻套餐</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="{:url('admin/Control/control_order_index')}"  class="on">入驻订单</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <blockquote class="layui-elem-quote news_search">
            <form class="layui-form" action="{:url('admin/Control/control_order_search')}">
                <div class="seach">
                    <div class="seach_list">
                        <div class="seach_laber">入驻商名称</div>
                        <div class="seach_input">
                            <input type="text" name="contact_name" lay-verify="title" autocomplete="off"
                                placeholder="姓名/公司名" class="layui-input">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label">入驻审核：</label>
                        <div class="form-input" style="width: 250px;">
                            {if !empty($type_meal)}
                            <select name="name" id="admin_role" class="role_list">
                                <option value="" select>请选择</option>
                                {volist name="type_meal" id="val" key="k"}
                                <option value="{$k}">{$val.audit_status}</option>
                                {/volist}
                            </select>
                            {else}
                            <select name="name" class="role_list">
                                <option value="0">顶级</option>
                            </select>
                            {/if}
                            </select>
                        </div>
                    </div>
                    <button class="layui-btn" type="submit" id="seach">立即搜索</button>
                </div>
            </form>
        </blockquote>
        <div class="layui-form news_list">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>用户账号手机号</th>
                        <th>联系人姓名</th>
                        <th>店铺名</th>
                        <th>入驻商主体</th>
                        <th>地址</th>
                        <th>套餐选择</th>
                        <th>金额</th>
                        <th>生效时间</th>
                        <th>到期时间</th>
                        <th>支付方式</th>
                        <th>到账情况</th>
                        <!-- <th>付款审核状态</th>
                    <th>店铺审核状态</th> -->
                        <th colspan="3" >操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    {if !empty($order)}{volist name="order" id="value"}
                    <tr>
                        <td>{$value.phone_number}</td>
                        <td>{$value.contact_name}</td>
                        <td>{$value.store_name}</td>
                        {if $value.is_business == 1}
                        <td>个人</td>
                        {/if}
                        {if $value.is_business == 2}
                        <td>公司</td>
                        {/if}
                        <td>{$value.address_real_data}</td>
                        <td>{$value.goods_name}</td>
                        <td>{$value.pay_money}</td>
                        <td>{if !empty($value.start_time)} {$value.start_time |date="Y-m-d H:i",###} {/if} </td>
                        <td>{if !empty($value.end_time)}{$value.end_time |date="Y-m-d H:i",###}{/if}</td>
                        <td>                               
                            {switch name="$value.pay_type"}
                            {case value="1"}扫码支付{/case}
                            {case value="2"}汇款支付{/case}
                            {default /}余额支付
                            {/switch}
                        </td>
                        <td>                            
                            {switch name="$value.pay_status"}
                            {case value="1"}已到账{/case}
                            {case value="2"}待审核{/case}
                            {default /}未到账
                            {/switch}
                        </td>
                        <td class="table-cell">
                            <div data-id="{$value.store_id}" data-value="{$value.store_status}">
                                <a class="wait-check" href="{:url('admin/Control/control_order_add',['id'=>$value.store_id])}">{$value.store_status|enter_status}</a>
                            </div>
                            {if $value.pay_type == 2}
                            <a class="static_btus" href="{:url('admin/Control/control_order_status',['id'=>$value.id])}">{$value.audit_status|audit_statues}</a>
                            {else}
                            <a class="static_btus" href="{:url('admin/Control/control_order_status',['id'=>$value.id])}">{$value.audit_status|audit_status}</a>
                            {/if}
                            
                            <div>
                                {switch name="$value.apply"}
                                {case value="1"}<button class="layui-btn line-btn line-exam" data-id="{$value.id}">未申请开票</button>{/case}
                                {case value="2"}<button class="layui-btn line-btn line-ing" data-id="{$value.id}">已申请开票</button>{/case}
                                {default /}<button class="layui-btn line-btn line-pass" data-id="{$value.id}">已开票完成</button>
                                {/switch}
                            </div>
                            
                        </td>
                        <!-- <td>
                                        <a
                                            href="{:url('admin/Control/control_order_status',['id'=>$value.id])}">{$value.audit_status|audit_status}</a>
                                    </td> -->
                        <!--<td>-->
                        <!--<a class="layui-btn layui-btn-mini edit" href="{:url('admin/Control/control_order_add',['id'=>$value.id])}"> 编辑-->
                        <!--</a>-->
                        <!--</td>-->
                    </tr>
                    {/volist}{/if}
                </tbody>
            </table>
        </div>
        {$order->render()}
    </div>

    <div class="mask" style="display: none;"></div>
    <!-- 弹窗 -->
    <div class="pop" style="display: none;">
        <div class="head">
            <p>请填写</p>
            <i class="close">×</i>
        </div>
        <div class="content">
            <div class="top">
                <div class="invoice-money">
                    <label class="lb">开票金额</label>
                    <span></span>
                </div>
            </div>
            <div class="mid">
                <div class="invoice-head"> 
                    <label class="lb">发票抬头</label>
                    <input type="text" placeholder="请填写公司名">
                </div>
                <div class="invoice-num">
                    <label class="lb">企业税号</label>
                    <input type="text" placeholder="请填写企业税号">
                </div>
                <div class="address">
                    <label for="" class="lb">邮寄地址</label>
                    <p></p>
                </div>
                <!-- <p class="change-addr">
                    <a href="general_address">管理收货地址</a>
                </p> -->
            </div>
            <div class="bot">
                <ul>
                    <li style="display: none;">
                        <span>客户已申请开票</span>
                        <button class="layui-btn bill-btn">立即开票</button>
                    </li>
                    <li style="display: none;">
                        <span>平台已开票</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer'], function () {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer;

            $('.line-btn').click(function () {
                $('.mask').add('.pop').show();
                $('.pop .close').click(function () {
                    $('.mask').add('.pop').hide();
                })
                var id = this.getAttribute('data-id');
                $.ajax({
                    url: 'store_examine_receipt',
                    data: {
                        'id': id,
                    },
                    type: 'POST',
                    dataType: 'json',
                    success: function (res) {
                        console.log(res);
                        var data = res.data;
                        // 开票金额
                        $('.invoice-money span').text('￥' + data.money);
                        // 地址
                        if (data.location) {
                            $('.address p').text(data.location.address + ' ' + data.location.street + ' ' + data.location.zip + ' (' + data.location.name + '收)' + data.location.phone + ' 默认地址');
                        }
                        if (data.apply == 1) {
                            $('.mid').css('border', 0);
                        } else if (data.apply == 2) {
                            $('.bot li:eq(0)').show();
                            $('.invoice-head input').val(data.title).attr('readonly', true);
                            $('.invoice-num input').val(data.company_number).attr('readonly', true);

                            // 立即开票
                            var key = true;
                            $('.bill-btn').click(function () {
                                if (key) {
                                    key = false;
                                    $.ajax({
                                        url: 'admin_auditing_receipt',
                                        data: {
                                            'id': id,
                                        },
                                        type: 'POST',
                                        dataType: 'JSON',
                                        success: function (res) {
                                            console.log(res);
                                            if (res.status == 1) {
                                                layer.msg('审核成功！');
                                                setTimeout(function () {
                                                    location.reload();
                                                }, 1200);
                                            } else {
                                                layer.msg(res.info);
                                            }
                                        }
                                    })
                                }
                            })
                        } else if(data.apply == 3){
                            $('.bot li:eq(1)').show();
                            $('.invoice-head input').val(data.title).attr('readonly', true);
                            $('.invoice-num input').val(data.company_number).attr('readonly', true);
                        }
                    }
                })
            })

        })
    </script>

    {/block}

</body>

</html>