<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>增值订单</title>
</head>
<script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
<script src="__STATIC__/admin/index/js/index.js"></script>
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<link rel="stylesheet" href="__STATIC__/admin/common/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/common/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/jquery.datetimepicker.css" />

<style type="text/css">
    * {margin: 0;padding: 0;}
    body {background: #fff;}
    .wrapper {padding: 20px 10px;}
    .on {color: #21A5FA !important; border-bottom: solid 3px #21A5FA;}
    .distribution_list {margin-bottom: 10px; border-bottom: solid 1px #D7D7D7;}
    .distribution_list ul {display: flex; align-items: center; margin-bottom: 10px;}
    .distribution_list a {font-size: 14px; padding: 9px; color: #5E5E5E;}
    .search-hd{background-color: #f9f8f7; padding: 12px 0 12px 20px; margin-bottom: 10px; border-left: 5px solid #009688;}
    .search-box{display: flex; flex-wrap: wrap; font-size: 14px; color: #333;}
    .search-box input{border: 1px solid #e4e4e4; background-color: #fff; padding-left: 5px; width: 180px; height: 35px; box-sizing: border-box;}
    .search-box button{margin-left: 20px; height: 35px; line-height: 35px;}
    .search-box input::placeholder{color: #b2b2b2;}
    .search-box .layui-form-label{margin-bottom: 0;}
    .search-box label{float: left; display: block; margin-right: 10px; line-height: 38px;}
    .bot-operate{ width: 96%; height: 50px; line-height: 50px; border: solid 1px #e2e2e2; padding-left: 50px; background: #fdfdfd;}
    .bot-operate .opation{float: left}
    .bot-operate .opation select{color: #c1a5a5; border-color: #e4e4e4; height: 30px;}
    .bot-operate .operation-btn{width: 60px; background: #fff; color: #333; border:#ccc solid 1px; height: 30px; line-height: 30px; margin-left: 20px;}
    .line-exam{background-color: transparent; color: rgb(188, 188, 188); border: 1px solid rgb(188, 188, 188);}
    .line-ing{background-color: transparent; color: rgb(255, 153, 0); border: 1px solid rgb(255, 153, 0);}
    .line-pass{background-color: transparent; color: rgb(102, 153, 0); border: 1px solid rgb(102, 153, 0);}
    .table-cell .dtl{color: rgb(0, 153, 255);}
    .btn-all{background-color: #F4FBFF; color: #333;}
    .btn-all:hover{color: #333;}
    .btn-sqz{background-color: #6666FF;}
    .btn-clz{background-color: #00CCFF;}
    .btn-wchh{background-color: #FF9900;}
    .btn-wctk{background-color: #CCA444;}
    .btn-ycx{background-color: #CC00FF;}
    .btn-ygb{background-color: #996600;}
    .btn-yjj{background-color: #A1A1A1;}
    #page {
        width: 97%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
    }
    .static_btus > a, .seach_button_all >a {
		width: 60px;
	}
    /*
     * 弹窗
     */

	.popup {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 99999;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 1px #D7D7D7;
		box-sizing: border-box;
	}

	.submit_btns {
		width: 100px;
		height: 38px;
		color: #fff;
		background: #169BD5;
		border-radius: 10px;
        border: 0;
	}

	.popup_doms {
		width: 765px;
		height: 413px;
		background: #fff;
	}

	.popup_content {
		padding: 20px;
	}

	.popup_title {
		height: 40px;
		line-height: 40px;
		color: #66662B;
		background: #EEF7EA;
		padding-left: 20px;
	}

	.span {
		display: inline-block;
		width: 80px;
		text-align: left;
		margin-right: 20px;
	}

	.repany .layui-input {
		width: 510px;
	}

	.repany {
		margin-bottom: 10px;
	}

	.operation {
		display: flex;
		align-items: center;
	}

	.chat {
		height: 172px;
		overflow-y: scroll;
	}

	.danhao {
		width: 200px;
		margin-right: 10px;
	}

	.operation select {
		width: 130px;
		height: 40px;
		border-color: #ABADB3;
		color: #000;
	}

	.operation div {
		margin-right: 10px;
	}

	.noshow {
		display: none;
	}

	.popup_title {
		position: relative;
	}

	.popup_x {
		width: 25px;
		position: absolute;
		right: 12px;
		top: -4px;
	}
    .popup_x > img {
        width: 25px;
        height: 25px;
    }
	.img_content {
		display: flex;
		margin-left: 80px;
	}

	.img_content img {
		width: 40px;
	}

	.local_host_repay {
		width: 100px;
		height: 38px;
		color: #fff;
		background: #669900;
		border-radius: 10px;
        border:0;
	}

	.layui-inputs {
		width: 200px;
	}

	/*
     * 弹窗end
     */
</style>

{/block}

<body>
{block name="content"}
<div class="popup popup_tree noshow">
    <div class="popup_doms">
        <div class="popup_title">
            处理回复（个人信息处有提示信息）
            <div class="popup_x">
                <img src="__STATIC__/admin/index/img/X.png" />
            </div>
        </div>
        <div class="popup_content">
            <div class="repay_list" id="repay_list">

            </div>
            <div class="repany">
                <span class="span">官方回复</span>
                <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入处理备注"
                    class="layui-input Information" value="">
                <button class="local_host_repay">回复</button>
            </div>
            <div class="chat">

            </div>
            <div class="operation" style="justify-content: space-between;" data-id="">

            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    {include file="template/_top" /}
    <div class="inner">
        <div class="search-hd">
            <div class="search-box layui-form">
                <div>
                    <label>请搜索</label>
                    <input type="text" class="layui-input" placeholder="订单编号/商品名称">
                </div>
                <div class="date-input">
                    <label>下单时间</label>
                    <input type="text" data-type="date" id="searchDateStart">~
                    <input type="text" data-type="date" id="searchDateend">
                </div>
                <button class="layui-btn">搜索</button>
            </div>
        </div>
        <div class="seach_button_all">
            <a href="#" class="layui-btn layui-btn-mini btn-all">全部</a>
            <a href="#" class="layui-btn layui-btn-mini btn-sqz">申请中</a>
            <a href="#" class="layui-btn layui-btn-mini btn-clz">处理中</a>
            <a href="#" class="layui-btn layui-btn-mini btn-wchh">完成换货</a>
            <a href="#" class="layui-btn layui-btn-mini btn-wctk">完成退款</a>
            <a href="#" class="layui-btn layui-btn-mini btn-ycx">已撤销</a>
            <a href="#" class="layui-btn layui-btn-mini btn-ygb">已关闭</a>
            <a href="#" class="layui-btn layui-btn-mini btn-yjj">已拒绝</a>
        </div>
        <div class="layui-form" lay-filter="test2">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th class="table-cell">
                            <div class="table-cell-div">
                                <input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose">
                            </div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">服务单号</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">原始订单号</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">申请时间</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">退款金额</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">提交图片</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">店铺名</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">订单用户</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">收货地址</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">状态</div>
                        </th>
                        <th class="table-cell">
                            <div class="table-cell-div">处理时间</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="data" id="vo"}
                        <tr>
                            <td class="table-cell">
                                <div class="table-cell-div">
                                    <input type="checkbox" name="singleChoose" lay-skin="primary" lay-filter="choose">
                                </div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$vo['sale_order_number']}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$vo['buy_order_number']}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$vo['operation_time'] | date="Y-m-d H:i:s",###}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$vo['application_amount']}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">暂无</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$vo['store_name']}</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">8</div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">9</div>
                            </td>
                            <td class="table-cell">
                                <!-- <div class="table-cell-div static_btus">
                                    <a href="store_order_after_ing" class="layui-btn layui-btn-mini btn-sqz">申请中</a>
                                    <a href="store_order_after_ing" class="layui-btn layui-btn-mini btn-clz">处理中</a>
                                    <a href="store_order_after_ing" class="layui-btn layui-btn-mini btn-wchh">完成换货</a>
                                    <a href="store_order_after_ing" class="layui-btn layui-btn-mini btn-wctk">完成退款</a>
                                    <a href="store_order_after_ing" class="layui-btn layui-btn-mini btn-ycx">已撤销</a>
                                    <a href="store_order_after_ing" class="layui-btn layui-btn-mini btn-ygb">已关闭</a>
                                    <a href="store_order_after_ing" class="layui-btn layui-btn-mini btn-yjj">已拒绝</a>
                                </div> -->
                                <div class="static_btus" data-id="{$vo.id}" id="static_btus"
                                    style="border-radius:4px;overflow:hidden">
                                    {:after_sale_status($vo.status,$vo.who_handle)}
                                </div>
                            </td>
                            <td class="table-cell">
                                <div class="table-cell-div">{$vo['handle_time'] | date="Y-m-d H:i:s",###}</div>
                            </td>
                        </tr>
                        {/volist}
                </tbody>
            </table>
        </div>
        <div class="bot-operate" id="page">
            <div class="opation">
                <select>
                    <option check="" value="0">请选择</option>
                    <option value="1">批量删除</option>
                </select>
            </div>
            <div>
                <button type="button" id="operation-btn" class="operation-btn">确定</button>
            </div>
            {$access}
        </div>
    </div>
</div>
{/block}


<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<script src="__STATIC__/admin/index/common/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: "js/"
    }).use(['form', 'layer', 'jquery', 'laypage'], function () {
        var form = layui.form(),
            layer = parent.layer === undefined ? layui.layer : parent.layer,
            laypage = layui.laypage,
            $ = layui.jquery;
       
        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

        //通过判断文章是否全部选中来确定全选按钮是否选中
        form.on("checkbox(choose)", function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
            var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
            if (childChecked.length == child.length) {
                $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
            } else {
                $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
            }
            form.render('checkbox');
        })
     
    })
    $(".static_btus").click(function () {
        $(".popup_tree").removeClass("noshow");
    });
    $(".popup_x").click(function () {
        $(".popup").addClass("noshow");
    });
</script>
<script>
    // 退款退货换货,第一部分
    var dhtml_a = '';
    dhtml_a += '<div class="repany">';
    dhtml_a += '<span class="span">客户申请</span>';
    dhtml_a += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款80元"  style="border:0">';
    dhtml_a += '</div>';
    // 退款退货换货,第二部分
    var dhtml_b = '';
    dhtml_b += '<div class="chat_list_content">';
    dhtml_b += '<div class="chat_list">';
    dhtml_b += '<span class="span">20180811</span>';
    dhtml_b += '<span>官方备注已用户要求高可顺非邮寄</span>';
    dhtml_b += '</div>';
    dhtml_b += '<div class="img_content">';
    dhtml_b += '<img src="__STATIC__/admin/index/img/u168.png" alt="">';
    dhtml_b += '</div>';
    dhtml_b += '</div>';
    // 退款退货换货,第三部分
    var dhtml_c = '';
    dhtml_c = '<div class="select_static">';
    dhtml_c = '<span class="operation_title">选择操作</span>';
    dhtml_c = '<select name="">';
    dhtml_c = '<option value="" selected="">请选择</option>';
    dhtml_c = '<option value="1">拒绝</option>';
    dhtml_c = '<option value="0">收货中</option>';
    dhtml_c = '</select>';
    dhtml_c = '</div>';
    dhtml_c = '<button type="button" class="submit_btns">确定</button>';
    // 收货中,第一部分
    var dhtml_d = '';
    dhtml_d += '<div class="repany">';
    dhtml_d += '<span class="span">客户申请</span>';
    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款80元"  style="border:0">';
    dhtml_d += '</div>';
    dhtml_d += '<div class="repany">';
    dhtml_d += '<span class="span"> 快递公司 </span>';
    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=""  style="border:0">';
    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=""  style="border:0">';
    dhtml_d += '</div>';
    // 收货中,第三部分
    var dhtml_c = '';
    dhtml_c = '<div class="select_static">';
    dhtml_c = '<span class="operation_title">选择操作</span>';
    dhtml_c = '<select name="">';
    dhtml_c = '<option value="" selected="">请选择</option>';
    dhtml_c = '<option value="1">拒绝</option>';
    dhtml_c = '<option value="0">收货中</option>';
    dhtml_c = '</select>';
    dhtml_c = '</div>';
    dhtml_c = '<button type="button" class="submit_btns">确定</button>';
    // 换货处理
    var dhtml1 = "";
    dhtml1 += '<div class="select_static">';
    dhtml1 += '<span class="operation_title">选择操作</span>';
    dhtml1 += '<select name="" class="operation_select">';
    dhtml1 += '<option value="1" selected="">已发货</option>';
    dhtml1 += '</select>';
    dhtml1 += '</div>';
    dhtml1 += '<div class="select_courier">';
    dhtml1 += '<span class="operation_title">选择快递</span>';
    dhtml1 += '<select name="" class="curier">';
    dhtml1 += '<option value="ems">EMS</option>';
    dhtml1 += '<option value="shentong">申通</option>';
    dhtml1 += '<option value="shentong">顺丰</option>';
    dhtml1 += '<option value="shentong">圆通</option>';
    dhtml1 += '<option value="shentong">中通</option>';
    dhtml1 += '<option value="shentong">韵达</option>';
    dhtml1 += '<option value="shentong">天天快递</option>';
    dhtml1 += '<option value="shentong">宅急送</option>';
    dhtml1 += '<option value="shentong">中国邮政</option>';
    dhtml1 += '<option value="shentong">全峰快递</option>';
    dhtml1 += '<option value="shentong">速尔快递</option>';
    dhtml1 += '<option value="shentong">快捷快递</option>';
    dhtml1 += '<option value="shentong">中铁快运</option>';
    dhtml1 += '<option value="shentong">优速快递</option>';
    dhtml1 += '<option value="shentong">龙邦</option>';
    dhtml1 += '<option value="shentong">德邦物流</option>';
    dhtml1 += '<option value="shentong">华宇物流</option>';
    dhtml1 += '<option value="shentong">佳吉快运</option>';
    dhtml1 += '</select>';
    dhtml1 += '</div>';
    dhtml1 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" class="layui-input danhao"  >';
    dhtml1 += '<button type="button" class="submit_btns" data-id="">确定</button>';
    // 退款退货完成
    var dhtml2 = "";
    dhtml2 += '<div class="select_static">';
    dhtml2 += '<span class="operation_title">选择操作</span>';
    dhtml2 += '<select name="" class="operation_select">';
    dhtml2 += '<option value="" selected="">请选择</option>';
    dhtml2 += '<option value="4">已退款</option>';
    dhtml2 += '</select>';
    dhtml2 += '</div>';
    dhtml2 += '<div class="select_courier"  >';
    dhtml2 += '<span class="operation_title">选择退款金额</span>';
    dhtml2 += ' <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="输入退款金额" class="layui-input danhao" >';
    dhtml2 += '</div>';
    dhtml2 += '<button type="button" class="submit_btns"  data-id="">确定</button>';
    $(".static_btus").click(function () {
        var data_id = $(this).data("id");
        $(".local_host_repay").data("id", data_id);
        $.ajax({
            type: "POST",
            url: "{:url('admin/Analyse/adder_after_sale_information')}",
            data: {
                "after_sale_id": data_id,
            },
            async: false,
            success: function (data) {
                var data = eval('(' + data + ')');
                console.log(data);
                way = data.data.status;
                $("#repay_list").empty();
                $(".chat").empty();
                $(".operation").empty();
                $(".operation").data("id", way);
                $(".operation").data("value", data_id);
                $(".operation").data("name", data.data.is_return_goods);
               
                // 申请中
                if (way == 1) {
                    var dhtml_a = '';
                    dhtml_a += '<div class="repany">';
                    dhtml_a += '<span class="span">客户申请</span>';
                    dhtml_a += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
                    dhtml_a += '</div>';
                    $("#repay_list").append(dhtml_a);
                    var dhtml_b = '';
                    dhtml_b += '<div class="chat_list_content">';
                    dhtml_b += '<div class="chat_list">';
                    dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
                    dhtml_b += '<span>' + data.data.return_reason + '</span>';
                    dhtml_b += '</div>';
                    dhtml_b += '<div class="img_content">';
                    // for (var i = 0; i < data.data.images.length; i++) {
                    //     // console.log(data.data.images[i])
                    //     dhtml_b += '<img src="' + data.data.images[i].url + '" alt="" >';
                    // }
                    dhtml_b += '</div>';
                    dhtml_b += '</div>';
                    $(".chat").append(dhtml_b);
                    for (var j = 0; j < data.data.reply.length; j++) {

                        var dhtml_e = '';
                        dhtml_e += '<div class="chat_list_content">';
                        dhtml_e += '<div class="chat_list">';
                        dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
                        dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
                        dhtml_e += '</div>';
                        dhtml_e += '<div class="img_content">';
                        dhtml_e += '</div>';
                        dhtml_e += '</div>';
                        $(".chat").append(dhtml_e);
                    }
                    var dhtml_c = '';
                    dhtml_c += '<div class="select_static">';
                    dhtml_c += '<span class="operation_title">选择操作</span>';
                    dhtml_c += '<select name="" class="operation_select">';
                    dhtml_c += '<option value="0" selected="">请选择</option>';
                    dhtml_c += '<option value="5">拒绝</option>';
                    dhtml_c += '<option value="3">收货中</option>';
                    dhtml_c += '</select>';
                    dhtml_c += '</div>';
                    dhtml_c += '<button type="button" class="submit_btns" data_id="">确定</button>';
                    $(".operation").append(dhtml_c);
                }
                // 收货中
                else if (way == 3) {
                    var dhtml_d = '';
                    dhtml_d += '<div class="repany">';
                    dhtml_d += '<span class="span">客户申请</span>';
                    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
                    dhtml_d += '</div>';
                    dhtml_d += '<div class="repany">';
                    dhtml_d += '<span class="span"> 快递公司 </span>';
                    dhtml_d += '<input type="text" name="" id="courier_company" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_company + '"  style="border:0">';
                    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
                    dhtml_d += '<input type="text" name="" id="tracking_number" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_number + '"  style="border:0">';
                    dhtml_d += '</div>';
                    $("#repay_list").append(dhtml_d);
                    var dhtml_b = '';
                    dhtml_b += '<div class="chat_list_content">';
                    dhtml_b += '<div class="chat_list">';
                    dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
                    dhtml_b += '<span>' + data.data.return_reason + '</span>';
                    dhtml_b += '</div>';
                    dhtml_b += '<div class="img_content">';
                    // for (var i = 0; i < data.data.images.length; i++) {
                    //     // console.log(data.data.images[i])
                    //     dhtml_b += '<img src="' + data.data.images[i].url + '" alt="" >';
                    // }
                    dhtml_b += '</div>';
                    dhtml_b += '</div>';
                    $(".chat").append(dhtml_b);
                    for (var j = 0; j < data.data.reply.length; j++) {
                        var dhtml_e = '';
                        dhtml_e += '<div class="chat_list_content">';
                        dhtml_e += '<div class="chat_list">';
                        dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
                        dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
                        dhtml_e += '</div>';
                        dhtml_e += '<div class="img_content">';
                        dhtml_e += '</div>';
                        dhtml_e += '</div>';
                        $(".chat").append(dhtml_e);
                    }
                    var dhtml_c = '';
                    dhtml_c += '<div class="select_static">';
                    dhtml_c += '<span class="operation_title">选择操作</span>';
                    dhtml_c += '<select name="" class="operation_select">';
                    dhtml_c += '<option value="0" selected="">请选择</option>';
                    dhtml_c += '<option value="5">拒绝</option>';
                    dhtml_c += '<option value="2">已收货</option>';
                    dhtml_c += '</select>';
                    dhtml_c += '</div>';
                    dhtml_c += '<button type="button" class="submit_btns" data_id="">确定</button>';
                    $(".operation").append(dhtml_c);
                } else if (way == 2) {
                    if (data.data.is_return_goods == 1) {
                        var dhtml_d = '';
                        dhtml_d += '<div class="repany">';
                        dhtml_d += '<span class="span">客户申请</span>';
                        dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
                        dhtml_d += '</div>';
                        dhtml_d += '<div class="repany">';
                        dhtml_d += '<span class="span"> 快递公司 </span>';
                        dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off"  placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_company + '"  style="border:0">';
                        dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
                        dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off"  placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_number + '"  style="border:0">';
                        dhtml_d += '</div>';
                        $("#repay_list").append(dhtml_d);
                        var dhtml_b = '';
                        dhtml_b += '<div class="chat_list_content">';
                        dhtml_b += '<div class="chat_list">';
                        dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
                        dhtml_b += '<span>' + data.data.return_reason + '</span>';
                        dhtml_b += '</div>';
                        dhtml_b += '<div class="img_content">';
                        // for (var i = 0; i < data.data.images.length; i++) {
                        //     // console.log(data.data.images[i])
                        //     dhtml_b += '<img src="' + data.data.images[i].url + '" alt="" >';
                        // }
                        dhtml_b += '</div>';
                        dhtml_b += '</div>';
                        $(".chat").append(dhtml_b);
                        for (var j = 0; j < data.data.reply.length; j++) {
                            var dhtml_e = '';
                            dhtml_e += '<div class="chat_list_content">';
                            dhtml_e += '<div class="chat_list">';
                            dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
                            dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
                            dhtml_e += '</div>';
                            dhtml_e += '<div class="img_content">';
                            dhtml_e += '</div>';
                            dhtml_e += '</div>';
                            $(".chat").append(dhtml_e);
                        }
                        var dhtml1 = "";
                        dhtml1 += '<div class="select_static">';
                        dhtml1 += '<span class="operation_title">选择操作</span>';
                        dhtml1 += '<select name="" class="operation_select">';
                        dhtml1 += '<option value="4" selected="">已发货</option>';
                        dhtml1 += '<option value="5">拒绝</option>';
                        dhtml1 += '</select>';
                        dhtml1 += '</div>';
                        dhtml1 += '<div class="select_courier">';
                        dhtml1 += '<span class="operation_title">选择快递</span>';
                        dhtml1 += '<select name="" class="curier">';
                        dhtml1 += '<option value="EMS">EMS</option>';
                        dhtml1 += '<option value="申通">申通</option>';
                        dhtml1 += '<option value="顺丰">顺丰</option>';
                        dhtml1 += '<option value="圆通">圆通</option>';
                        dhtml1 += '<option value="韵达">韵达</option>';
                        dhtml1 += '<option value="天天快递">天天快递</option>';
                        dhtml1 += '<option value="宅急送">宅急送</option>';
                        dhtml1 += '<option value="中国邮政">中国邮政</option>';
                        dhtml1 += '<option value="全峰快递">全峰快递</option>';
                        dhtml1 += '<option value="速尔快递">速尔快递</option>';
                        dhtml1 += '<option value="快捷快递">快捷快递</option>';
                        dhtml1 += '<option value="中铁快运">中铁快运</option>';
                        dhtml1 += '<option value="优速快递">优速快递</option>';
                        dhtml1 += '<option value="龙邦">龙邦</option>';
                        dhtml1 += '<option value="德邦物流">德邦物流</option>';
                        dhtml1 += '<option value="华宇物流">华宇物流</option>';
                        dhtml1 += '<option value="佳吉快运">佳吉快运</option>';
                        dhtml1 += '</select>';
                        dhtml1 += '</div>';
                        dhtml1 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" class="layui-input danhao"  >';
                        dhtml1 += '<button type="button" class="submit_btns" data-id="">确定</button>';
                        $(".operation").append(dhtml1);
                    } else {
                        var dhtml_d = '';
                        dhtml_d += '<div class="repany">';
                        dhtml_d += '<span class="span">客户申请</span>';
                        dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
                        dhtml_d += '</div>';
                        dhtml_d += '<div class="repany">';
                        dhtml_d += '<span class="span"> 快递公司 </span>';

                        if (data.data.buy_express_company != null) {
                            dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_company + '"  style="border:0">';
                        }
                        else {
                            dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="未寄送"  style="border:0">';
                        }
                        dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
                        if (data.data.buy_express_number != null) {
                            dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_number + '"  style="border:0">';
                        }
                        else {
                            dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="未寄送"  style="border:0">';
                        }
                        dhtml_d += '</div>';
                        $("#repay_list").append(dhtml_d);
                        var dhtml_b = '';
                        dhtml_b += '<div class="chat_list_content">';
                        dhtml_b += '<div class="chat_list">';
                        dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
                        dhtml_b += '<span>' + data.data.return_reason + '</span>';
                        dhtml_b += '</div>';
                        dhtml_b += '<div class="img_content">';
                        // for (var i = 0; i < data.data.images.length; i++) {
                        //     // console.log(data.data.images[i])
                        //     dhtml_b += '<img src="' + data.data.images[i].url + '" alt="" >';
                        // }
                        dhtml_b += '</div>';
                        dhtml_b += '</div>';
                        $(".chat").append(dhtml_b);
                        for (var j = 0; j < data.data.reply.length; j++) {
                            var dhtml_e = '';
                            dhtml_e += '<div class="chat_list_content">';
                            dhtml_e += '<div class="chat_list">';
                            dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
                            dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
                            dhtml_e += '</div>';
                            dhtml_e += '<div class="img_content">';
                            dhtml_e += '</div>';
                            dhtml_e += '</div>';
                            $(".chat").append(dhtml_e);

                        }
                        var dhtml2 = "";
                        dhtml2 += '<div class="select_static">';
                        dhtml2 += '<span class="operation_title">选择操作</span>';
                        dhtml2 += '<select name="" class="operation_select">';
                        dhtml2 += '<option value="" selected="">请选择</option>';
                        dhtml2 += '<option value="4">已退款</option>';
                        dhtml2 += '<option value="5">拒绝</option>';
                        dhtml2 += '</select>';
                        dhtml2 += '</div>';
                        dhtml2 += '<div class="select_courier"  >';
                        dhtml2 += '<span class="operation_title">选择退款金额</span>';
                        dhtml2 += ' <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="输入退款金额" class="layui-input danhao" >';
                        dhtml2 += '</div>';
                        dhtml2 += '<button type="button" class="submit_btns"  data-id="">确定</button>';
                        $(".operation").append(dhtml2);
                    }
                } else {
                    var dhtml_d = '';
                    dhtml_d += '<div class="repany">';
                    dhtml_d += '<span class="span">客户申请</span>';
                    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
                    dhtml_d += '</div>';
                    dhtml_d += '<div class="repany">';
                    dhtml_d += '<span class="span"> 快递公司 </span>';
                    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_company + '"  style="border:0">';
                    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
                    dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="' + data.data.buy_express_number + '" style="border:0">';
                    dhtml_d += '</div>';
                    $("#repay_list").append(dhtml_d);
                    var dhtml_b = '';
                    dhtml_b += '<div class="chat_list_content">';
                    dhtml_b += '<div class="chat_list">';
                    dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
                    dhtml_b += '<span>' + data.data.return_reason + '</span>';
                    dhtml_b += '</div>';
                    dhtml_b += '<div class="img_content">';
                    // for (var i = 0; i < data.data.images.length; i++) {
                    //     // console.log(data.data.images[i])
                    //     dhtml_b += '<img src="' + data.data.images[i].url + '" alt="" >';
                    // }
                    dhtml_b += '</div>';
                    dhtml_b += '</div>';
                    $(".chat").append(dhtml_b);
                    for (var j = 0; j < data.data.reply.length; j++) {
                        var dhtml_e = '';
                        dhtml_e += '<div class="chat_list_content">';
                        dhtml_e += '<div class="chat_list">';
                        dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
                        dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
                        dhtml_e += '</div>';
                        dhtml_e += '<div class="img_content">';
                        dhtml_e += '</div>';
                        dhtml_e += '</div>';
                        $(".chat").append(dhtml_e);
                    }
                }

            },
            error: function (data) {

            }
        });
    })
    $(".operation").on("click", ".submit_btns", function () {
        var static = $(".operation").data("id");
        var value = $(".operation").data("value");   //退款维权记录id
        //  申请中  收货中
        if (static == 1) {
            var val = $(".operation_select  option:selected").val();
            if (val != "0") {
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Analyse/adder_after_sale_status')}",
                    data: {
                        "after_sale_id": value,
                        "status": val,
                    },
                    async: false,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                    }
                });

            }

            $(".popup").addClass("noshow");
        } else if (static == 2) {
            //获取快递信息
            //  处理中
            var val = $(".operation_select  option:selected").val();
            var kuaidi = $(".curier  option:selected").val();
            var danhao = $(".danhao").val();
            if ($(".operation").data("name") == 1) {
                if (val != 0 || danhao != '') {
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/Analyse/adder_after_sale_express_add')}",
                        data: {
                            "after_sale_id": value,
                            "status": val,
                            "sell_express_company": kuaidi,
                            "sell_express_number": danhao,
                        },
                        async: false,
                        success: function (data) {
                            location.reload();
                        },
                        error: function (data) {

                        }
                    });

                } else {
                    alert("单号不能为空")
                }
            }
            else {   //退款操作
                if (val != 0 || danhao != '') {
                    $.ajax({
                        type: "POST",
                        // url: "{:url('index/Api/order_refund')}",
                        url: "{:url('admin/Analyse/adder_after_sale_refound')}",
                        data: {
                            "after_sale_id": value,
                            "status": val,
                            "business_return_money": danhao,
                        },
                        async: false,
                        success: function (data) {
                            alert('已退款至余额，请提醒用户及时查看');
                            location.reload();
                        },
                        error: function (data) {

                        }
                    });

                }
                else {
                    alert("钱数不能为空")
                }
            }
        } else if (static == 3) {
            var val = $(".operation_select  option:selected").val();
            var tracking_number = $('#tracking_number').val(); 
            var courier_company = $('#courier_company').val(); 
            if (val != 0 && courier_company != 'null' && tracking_number != 'null') {
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Analyse/adder_after_sale_status')}",
                    data: {
                        "after_sale_id": value,
                        "status": val,
                    },
                    async: false,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                    }
                });

            } else {
                alert('客户尚未填写物流信息')
            }

            $(".popup").addClass("noshow");
        }
    })
    $(".local_host_repay").on("click", function () {
        var data_id = $(this).data("id")
        var Information = $(".Information").val();
        if (Information != '') {
            $.ajax({
                type: "POST",
                url: "{:url('admin/Analyse/adder_business_replay')}",
                data: {
                    "after_sale_id": data_id,
                    "content": Information,
                },
                async: false,
                success: function (data) {
                    var data = eval('(' + data + ')');
                    console.log(data);
                    var dhtm0 = "";
                    dhtm0 += '<div class="chat_list">';
                    dhtm0 += '	<span class="span">' + timestampToTime(data.data.create_time) + '</span>';
                    dhtm0 += '<span>' + data.data.content + '</span>';
                    dhtm0 += '</div>';
                    $(".chat").append(dhtm0);
                    $(".Information").val("");

                },
                error: function (data) {

                }
            });

        } else {
            alert("回复不能为空");
        }
    })
    function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear();
        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
        D = date.getDate();
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y + M + D;
    }
</script>
{/block}
