{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
	body {
		background: #fff;
	}	
    td input{
        border: 0;
       text-align: center;
    }
</style>

{/block}

<body>
	{block name="content"}
    {if !empty($optimize)}{volist name="optimize" id="value" }
	<form class="layui-form layui-form-lists" action="{:url('admin/Analyse/analyse_optimize_update')}" method="post" enctype="multipart/form-data">
	
		<div class="form-item">
			<label class="form-label">网站名称WEBSITE NAM</label>
			<div class="form-input">
                <input type="text" name="website_name" lay-verify="title" value="{$value.website_name}"autocomplete="off" placeholder="" class="layui-input" >
                <div class="tips">注意：针对搜索引擎网站起名时如果只用行业性、地域性的的词来做为网站的名称，而没有加入自己特有的词来做为名称，这就会导致大量同名网站产生。</div>
			</div>
        </div>
        <div class="form-item">
                <label class="form-label">网站短名称</label>
                <div class="form-input">
                    <input type="text" name="short_name" lay-verify="title" value="{$value.short_name}" autocomplete="off" placeholder="" class="layui-input" >
                    <div class="tips">针对搜索引擎设置的标题   </div>
			
                </div>
        </div>
        <div class="form-item">
                <label class="form-label"> 网站关键字</label>
                <div class="form-input">
                    <input type="text" name="key_words" lay-verify="title" value="{$value.key_words}" autocomplete="off" placeholder="请控制在30字以内" class="layui-input" >
                    <div class="tips">*关键字中间用半角逗号,隔开   </div>
			
                </div>
        </div>
        <div class="form-item">
                <label class="form-label">网站描述</label>
                <div class="form-input">
                    <textarea name="describe" id="" cols="100" rows="30">{$value.describe}</textarea>
                    <div class="tips">*针对搜索引擎设置的网站描述</div>
			
                </div>
        </div>
        <div class="form-item">
                <label class="form-label">版权信息 </label>
                <div class="form-input">
                    <input type="text" name="copyright" lay-verify="title" autocomplete="off" value="{$value.copyright}"placeholder=" Copyright © 2013 - 2016, 版权所有 粤ICP备11111111" class="layui-input" >
                </div>
        </div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
			</div>
		</div>
    </form>
    {/volist}{/if}

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	
	<script type="text/javascript">
		var ue = UE.getEditor('editor');
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
			var form = layui.form(),
				$ = layui.jquery;
			form.render();
			
		});
	</script>

	{/block}

</body>

</html>