{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	#page {
		width: 97%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}

	.on {
		color: #21A5FA !important;
		border-bottom: solid 3px #21A5FA;
	}

	.static_btus1 {
		width: 100px;
		text-align: center;
		cursor: pointer;
	}

	/* 没申请 */
	.not_apply {
		color: #BCBCBC;
		background-color: transparent;
		border: solid 1px #BCBCBC;
		border-radius: 3px;
	}

	/* 申请 */
	.apply {
		color: #FF9900;
		border: solid 1px #FF9900;
		border-radius: 3px;
	}

	/* 已开票
	 */
	.applyed {
		color: #669900;
		border: solid 1px #669900;
		border-radius: 3px;
	}

	.static_btus2 {
		height: 30px;
		line-height: 30px;
		color: #0099FF;
		cursor: pointer;
		text-align: center;
	}

	.distribution_list {
		margin-bottom: 10px;
		border-bottom: solid 1px #D7D7D7;
	}

	.distribution_list ul {
		display: flex;
		align-items: center;
	}


	.line {
		justify-content: center;
	}


	.distribution_list a {
		font-size: 14px;
		padding: 9px;
		color: #5E5E5E;
	}

	.distribution_list ul li {}

	.static_btus {
		border-radius: 5px;
	}


	.state {
		width: 100px;
		height: 30px;
		line-height: 30px;
		border-radius: 4px;
		/* background: #007AFF; */
		color: #fff;
		margin: 0 auto;
	}

	/*
     * 弹窗
     4*/

	.popup {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 99999;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 1px #D7D7D7;
		box-sizing: border-box;
	}

	.submit_btns {
		width: 100px;
		height: 38px;
		color: #fff;
		background: #169BD5;
		border-radius: 10px;
	}

	.popup_doms {
		width: 790px;
		height: 400px;
		background: #fff;
	}

	.popup_doms1 {
		width: 900px;
		background: #fff;
	}

	.popup_content {
		padding: 20px;
	}

	.popup_title {
		height: 40px;
		line-height: 40px;
		color: #66662B;
		background: #EEF7EA;
		padding-left: 20px;
	}

	.span {
		display: inline-block;
		width: 80px;
		text-align: left;
		margin-right: 20px;
	}

	.repany .layui-input {
		width: 530px;
	}

	.repany {
		margin-bottom: 10px;
	}

	.operation {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.chat {
		height: 210px;
	}

	.danhao {
		width: 200px;
		margin-right: 10px;
	}

	.operation select {
		width: 130px;
		height: 40px;
		border-color: #ABADB3;
		color: #000;
		background: #fff;
	}

	.operation div {
		margin-right: 10px;
	}

	.tip {
		color: red;
		margin-left: 200px;
	}

	.noshow {
		display: none;
	}

	.popup_title {
		position: relative;
	}

	.popup_x {
		width: 25px;
		position: absolute;
		right: 12px;
		top: -4px;
	}

	.repay_tip {
		display: inline-block;
		width: 100px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		color: #fff;
		background: #669900;
		border-radius: 5px;
	}

	.button {
		width: 100px;
		line-height: 30px;
		text-align: center;
		border: 1px solid #a2a2a2;
		border-radius: 5px;
		cursor: pointer;
	}

	.button_all {
		display: flex;
		justify-content: space-around;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	/* .quxiao {} */

	.daying {
		background: rgb(22, 155, 213);
		color: #fff;
	}


	/*
     * 弹窗end
		 */
	/* .seach_button_all {} */

	.seach_button {
		border-radius: 4px;
		display: inline-block;
		width: 80px;
		line-height: 30px;
		color: #fff;
		text-align: center;
	}

	.all0 {
		background: #F4FBFF;
		color: #999;
	}

	.all1 {
		background: #CC3366;
	}

	.all2 {
		background: #CC00CC;
	}

	.all3 {
		background: #FF0000;
	}

	.all4 {
		background: #669900;
	}

	.all5 {
		background: #A1A1A1;
		color: #000;
	}

	/* 状态颜色 */
	/* 待付款 */
	.color1 {
		background: #CC3366;
	}

	/* 待发货 */
	.color2 {
		background: #CC00CC;
	}

	/* 已发货 */
	.color3 {
		background: #FF0000;
	}

	/* 已完成 */
	.color4 {
		background: #669900;
	}

	/* 已关闭 */
	.color5 {
		background: #A1A1A1;
	}

	/* 已退款 */
	.color6 {
		background: #CC9900;
	}

	/* 已入仓 */
	.color7 {
		background: #0000CC;
	}


	/*  待发货*/
	.color8 {
		background: #CC00CC;
	}

	/* 已取消 */
	.color9 {
		background: #831626;
	}

	.chenge_money {
		display: flex;
		margin-left: 10px;
		text-align: center;
		justify-content: space-between;
		padding-top: 20px;
		border-top: 2px dashed rgb(223, 223, 223)
	}

	.danwei {
		position: absolute;
		top: 10px;
		left: 170px;

	}

	td.three>div,
	td.four>div,
	td.five>div {
		border-bottom: 1px solid #e2e2e2;
	}

	td.four>div {
		line-height: 50px;
		white-space: nowrap;
		max-width: 450px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	td.three>div:last-of-type,
	td.four>div:last-of-type,
	td.five>div:last-of-type {
		border: 0;
	}

	td {
		padding: 4px 0 !important;
	}

	td img {
		width: 50px;
		height: 50px;
	}

	.popup_content1 {
		padding: 0 15px;
	}

	.popup_content1>td {
		width: 120px;
	}

	.popup_t {
		font-size: 18px;
		font-weight: 500;
		color: black;
		line-height: 40px;
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
		align-items: flex-end;
	}

	.norm>div:last-child {
		border-bottom: 0px;
	}

	.norm_div {
		border-bottom: 1px solid rgb(226, 226, 226);
		line-height: 25px;
	}
	.zt_all {
		font-size: 25px;
		font-weight: 700;
	}
	.zt_red {
		color:red;
	}
	.zt_greed {
		color: rgb(102, 153, 0);
	}
</style>

{/block}

<body>

	{block name="content"}
	<div class="popup popup_one noshow">
		<div class="popup_doms">
			<div class="popup_title">
				处理回复（个人信息处有提示信息）
				<div class="popup_x">
					<img src="__STATIC__/admin/index/img/X.png" />
				</div>
			</div>
			<div class="popup_content">
				<div class="repany">
					<span class="span">官方批注</span>
					<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入处理备注"
						class="layui-input Information">
					<span class="repay_tip">批注</span>
				</div>
				<div class="chat"></div>
				<div class="operation"></div>
				<div class="chenge_money" data-id="">
					<!-- <div class="zt noshow">
						<div style=" display:flex;">
							<div style="color: rgb(168, 134, 148);text-align: center; font-size: 18px;margin: auto;">
								自提点：</div>
							<div style=" font-size: 18px;margin-left: 20px;align-items: center;">
								<div style="text-align: left;"><span></span>北京8号</span><span style="margin-left: 20px;">075-5569116</span></div>
								<div>数据库连接后发货的价格</div>
							</div>
						</div>
						<div style="margin-left:45px;">
							<button class="layui-btn changePrice"
								style="background-color:rgb(22, 155, 213);border-radius: 5px;">确定发货</button>
						</div>
					</div>
					<div class="zy"> -->
					<div style="position:relative; margin-right: 100px;">
						订单金额 <input type="text" name="amount" readonly autocomplete="off" class="layui-input"
							style="width:150px;"><span class="danwei">元</span>
					</div>
					<div style="position:relative">
						修改订单金额 <input type="text" name="changePriceVal" required lay-verify="required" placeholder="请输入"
							autocomplete="off" class="layui-input" style="width:190px;"><span class="danwei"
							style="left: 240px;">元</span>
					</div>
					<div style="margin-left:45px;">
						<button class="layui-btn changePrice"
							style="background-color:rgb(22, 155, 213);border-radius: 5px;">确定改价</button>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup_two noshow">
		<div class="popup_doms1">
			<div id="dvMain">

			</div>
			<div class="button_all">
				<div class="quxiao button">取消</div>
				<div class="daying button">打印</div>
			</div>
		</div>
	</div>
	<div class="childrenBody">
		{include file="template/_top" /}
		<!--<div class="distribution_list">-->
		<!--<ul>-->
		<!--<li>-->
		<!--<a href="order_index" class="on" style="text-decoration:none;">初始订单</a>-->
		<!--</li>-->
		<!--<li>-->
		<!--<a href="order_integral" style="text-decoration:none;">积分订单</a>-->
		<!--</li>-->

		<!--</ul>-->
		<!--</div>-->
		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="{:url('admin/Order/order_search')}">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">请搜索：</div>
						<div class="seach_input">
							<input type="text" name="search_a" lay-verify="title" autocomplete="off"
								placeholder="订单编号/商品名称/用户账号" class="layui-input">
						</div>
					</div>
					<!--<div class="seach_list">-->
					<!--<div class="seach_laber">商品名称：</div>-->
					<!--<div class="seach_input">-->
					<!--<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">-->
					<!--</div>-->
					<!--</div>-->
					<div class="seach_list">
						<div class="seach_laber">订单类型：</div>
						<div class="seach_input">
							<select name="order_type">
								<option value="0" selected="">全部</option>
								<option value="1">选择直邮</option>
								<option value="2">到店自提</option>
								<option value="3">选择存茶</option>
							</select>
						</div>
					</div>
					<!--<div class="seach_list">-->
					<!--<div class="seach_laber">订单状态：</div>-->
					<!--<div class="seach_input">-->
					<!--<select name="">-->
					<!--<option value="-1" selected="">全部</option>-->
					<!--<option value="0">已关闭</option>-->
					<!--<option value="1">待支付</option>-->
					<!--<option value="2">已付款</option>-->
					<!--<option value="3">待发货</option>-->
					<!--<option value="4">已发货</option>-->
					<!--<option value="5">待收货</option>-->
					<!--<option value="6">已收货</option>-->
					<!--<option value="7">待评价</option>-->
					<!--<option value="8">已完成</option>-->
					<!--<option value="9">未付款取消订单</option>-->
					<!--<option value="10">已付款取消订单</option>-->
					<!--<option value="11">退货</option>-->
					<!--</select>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="seach_list">-->
					<!--<div class="seach_laber">用户账号：</div>-->
					<!--<div class="seach_input">-->
					<!--<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">-->
					<!--</div>-->
					<!--</div>-->
					<div class="seach_list">
						<div class="seach_laber">开始时间</div>
						<div class="seach_input">
							<span class="time">
								<input name="date_min" type="text" class="text datetimepicker layui-input"
									readonly="readonly" id="beginTime" value="">
							</span>
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">结束时间</div>
						<div class="seach_input">
							<span class="time">
								<input name="date_max" type="text" class=" text datetimepicker layui-input"
									readonly="readonly" id="endTime" value="">
							</span>
						</div>
					</div>
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
					<img src="data:{$qrcode}">
				</div>
			</form>
		</blockquote>
		<div class="seach_button_all">
			<a href="{:url('admin/Order/order_index')}" class=" layui-btn layui-btn-mini all0">全部</a>
			<a href="{:url('admin/Order/order_way_pay')}" class=" layui-btn layui-btn-mini all1">待付款</a>
			<a href="{:url('admin/Order/order_wait_send')}" class=" layui-btn layui-btn-mini all2">待发货</a>
			<a href="{:url('admin/Order/order_shipped')}" class=" layui-btn layui-btn-mini all3">已发货</a>
			<a href="{:url('admin/Order/order_completed')}" class=" layui-btn layui-btn-mini all4">已完成</a>
			<a href="{:url('admin/Order/order_closed')}" class=" layui-btn layui-btn-mini all5">已关闭</a>
		</div>
		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="3%">
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
						<th>订单号</th>
						<th>商品图片</th>
						<th>产品名称</th>
						<th>订单数量</th>
						<th>用户昵称</th>
						<th>用户账号</th>
						<th>下单时间</th>
						<th>订单金额</th>
						<th>订单类型</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
					{if !empty($data)}
					{volist name="data" id="vo"}
					<tr>
						<td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="{$vo.id}">
						</td>
						<td class="orderNumber">{$vo.parts_order_number}</td>
						<td class="three">
							{volist name="vo['detail']" id="vo2"}
							{if !empty($vo2["goods_image"])}
							<div><img src="__UPLOADS__/{$vo2.goods_image}" /></div>
							{else}
							<div>无</div>
							{/if}
							{/volist}
						</td>
						<td class="four">
							{volist name="vo['detail']" id="vo2"}
							<div>{$vo2.parts_goods_name}</div>
							{/volist}
						</td>
						<td class="five">
							{volist name="vo['detail']" id="vo2"}
							<div style="height: 50px; line-height: 50px;">{$vo2.order_quantity}</div>
							{/volist}
						</td>

						<!-- <td>
								<div class="overflow">{$vo2.parts_goods_name}</div>
							</td>
							<td>{$vo2.order_quantity}</td> -->
						<td>{$vo.user_account_name}</td>
						<td>{$vo.user_phone_number}</td>
						<td>{$vo.order_create_time|date="Y-m-d H:i:s",###}</td>
						<td class="am">{$vo.order_real_pay}</td>
						<td>
							{$vo.order_type|order_type_status}
						</td>
						<td>
							<div class="line">
								<div class="static_btus" data-id="{$vo.parts_order_number}" data-value="{$vo.status}"
									data-type="{$vo.order_type|order_type_status}">
									{if $vo.order_type !=3}
										{if $vo.order_type == 2 && $vo.status == 5}
										 	<button type="button" class=" layui-btn layui-btn-mini color3" >未自提</button>
										  {elseif $vo.order_type == 2 && $vo.status == 7}
										  <button type="button" class=" layui-btn layui-btn-mini color3" >已自提</button>
										  {else}
										  {$vo.status|show_order_status}

										  {/if}

									{else}
									{$vo.status|show_house_order}
									{/if}
								</div>
								<div class="static_btus1">
									<div class=" layui-btn layui-btn-mini not_apply">未申请开票</div>
								</div>
								<div class="static_btus2" data-id="{$vo.parts_order_number}">
									订单详情
								</div>
							</div>
						</td>
					</tr>
					{/volist}
					{/if}
				</tbody>
			</table>
			<div id="page">
				<div class="opation" style="width: 200px; float: left;">
					<select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
						<option check="" value="0">请选择</option>
						<option value="1">批量删除</option>
					</select>
				</div>
				<div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
					<button type="button" id="opration_btu"
						style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
					</button>
				</div>
			</div>
		</div>
	</div>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function () {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
			//点击操作确认按钮
			var data_id = [];
			$("#opration_btu").click(function () {
				var opration_val = $(".opation select option:selected").val();
				if (opration_val == 0) {
					layer.alert('请选择操作', {
						skin: 'layui-layer-molv', //样式类名
						closeBtn: 0
					});
				} else if (opration_val == 1) {
					layer.confirm('你确认要删除吗？', {
						btn: ['确认', '取消'] //按钮
					}, function (index) {
						layer.close(index);
						var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
						for (var i = 0; i < child.length; i++) {
							data_id.push($(child[i])[0].dataset.id);
						}
						$.ajax({
							type: "POST",
							url: "{:url('admin/Category/dels')}",
							data: {
								"id": data_id,
							},
							success: function (data) {
								console.log("成功");
								console.log(data);
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
									,
									closeBtn: 0
								});
								location.reload();
								data_id.splice(0, data_id.length);
							},
							error: function (data) {
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
									,
									closeBtn: 0
								});
								console.log(data);
								console.log("错误");
								data_id.splice(0, data_id.length);
							}
						});
					});

				}

			});

			//全选
			form.on('checkbox(allChoose)', function (data) {
				var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
				child.each(function (index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});
			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)", function (data) {
				// console.log($(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0))

				var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"]):checked');
				if (childChecked.length === child.length) {
					$(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = true;
				} else {
					$(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = false;
				}
				form.render('checkbox');
			})

			form.on('switch(isShow)', function (data) {
				if ($(this).val() == 0) {
					$(this).val(1);
				} else {
					$(this).val(0);
				}
				var vals = data.value;
				var id = $(this).data("id");
				var status = $(this).val();
				$.ajax({
					type: "POST",
					url: "{:url('')}",
					data: {
						"id": id,
						"status": status
					},
					success: function (data) {
						console.log("成功")
					},
					error: function (data) {
						console.log("错误")
					}
				});

			})
		})
		// $(".static_btus").click(function () {
		// 	$(".popup_one").removeClass("noshow");
		// })
		$(".static_btus").click(function () {
			var _this = this;
			var name = $(this).find('.state').text();
			if (name == '已入仓') {
				window.location.href = "/admin/stores_divergence/data-id/152";
				return false;
			}
			// 订单金额
			var amount = +$(this).parents('tr').children('td.am').text();
			$('input[name=amount]').val(amount);
			var data_id = $(this).data("id");    //订单id
			var way = 0;
			$(".operation").data("value", data_id);
			$(".repay_tip").data("value", data_id);
			var data_value = $(this).data("value");    //订单状态
			var data_type = $(this).data("type");    //订单类型
			$(".operation").empty();
			$(".chat").empty();
			//获取批注
			$.ajax({
				type: "POST",
				url: "{:url('admin/Notification/notice_index')}",
				data: {
					"order_id": data_id,
				},
				async: false,
				success: function (data) {
					var data = JSON.parse(data);
					// console.log(data)
					way = data.data.order_type;   //邮寄方式    
					for (var i = 0; i < data.data.datas.length; i++) {
						var dhtm0 = "";
						dhtm0 += '<div class="chat_list">';
						dhtm0 += '	<span class="span">' + timestampToTime(data.data.datas[i].create_time) + '</span>';
						dhtm0 += '<span>' + data.data.datas[i].information + '</span>';
						dhtm0 += '</div>';
						$(".chat").append(dhtm0);
					}
				},
				error: function (data) {

				}
			});
			//获取订单的信息
			var express = 0;
			var express_name = 'EMS';
			var harvester_address, harvester, harvest_phone_num;
			$.ajax({
				type: "POST",
				url: "{:url('admin/Order/order_information_return')}",
				data: {
					"order_id": data_id,
				},
				async: false,
				success: function (data) {
					var data = JSON.parse(data);
					// console.log(data)
					way = data.data.order_type;   //邮寄方式  
					express = data.data.courier_number;
					express_name = data.data.express_name_ch;
					harvest_phone_num = data.data.harvest_phone_num;
					harvester_address = data.data.harvester_address;
					harvester = data.data.harvester;
					order_type = data.data.order_type;
					order_type_status = data.data.status;
					// $(".operation").find('.curier').value(express);
					// $(".operation").find('.danhao').val(express_name);
				},
				error: function (data) {

				}
			});
			var dhtml1 = "";
			dhtml1 += '<div class="select_static">';
			dhtml1 += '<span class="operation_title">选择操作</span>';
			dhtml1 += '<select name="" class="operation_select">';
			dhtml1 += '<option value="1" selected="">已发货</option>';
			dhtml1 += '</select>';
			dhtml1 += '</div>';
			dhtml1 += '<div class="select_courier">';
			dhtml1 += '<span class="operation_title">选择快递</span>';
			dhtml1 += '<select name="" class="curier">';
			dhtml1 += '<option value="ems">EMS</option>';
			dhtml1 += '<option value="youzhengguonei">邮政包裹/平邮</option>';
			dhtml1 += '<option value="bjemstckj">北京EMS</option>';
			dhtml1 += '<option value="shunfeng">顺丰</option>';
			dhtml1 += '<option value="shentong">申通</option>';
			dhtml1 += '<option value="yuantong">圆通 </option>';
			dhtml1 += '<option value="zhongtong">中通</option>';
			dhtml1 += '<option value="huitongkuaidi">百世汇通</option>';
			dhtml1 += '<option value="baishiwuliu">百世物流</option>';
			dhtml1 += '<option value="yunda">韵达</option>';
			dhtml1 += '<option value="zhaijisong">宅急送</option>';
			dhtml1 += '<option value="tiantian">天天</option>';
			dhtml1 += '<option value="debangwuliu">德邦</option>';
			dhtml1 += '<option value="guotongkuaidi">国通</option>';
			dhtml1 += '<option value="zengyisudi">增益</option>';
			dhtml1 += '<option value="suer">速尔</option>';
			dhtml1 += '<option value="ztky">中铁物流</option>';
			dhtml1 += '<option value="zhongtiewuliu">中铁快运</option>';
			dhtml1 += '<option value="ganzhongnengda">能达</option>';
			dhtml1 += '<option value="youshuwuliu">优速</option>';
			dhtml1 += '<option value="quanfengkuaidi">全峰</option>';
			dhtml1 += '<option value="quanfengkuaidi">其他物流</option>';

			dhtml1 += '</select>';
			dhtml1 += '</div>';
			dhtml1 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" class="layui-input danhao"  >';
			dhtml1 += '<button type="button" class="submit_btns" data-id="">确认发货</button>';
			var dhtml2 = "";

			dhtml2 += '<div class="select_courier">';
			dhtml2 += '<span class="operation_title">选择快递</span>';
			dhtml2 += '<select name="" class="curier">';
			// dhtml2 += '<option value="ems">EMS</option>';
			// dhtml2 += '<option value="youzhengguonei">邮政包裹/平邮</option>';
			// dhtml2 += '<option value="bjemstckj">北京EMS</option>';
			// dhtml2 += '<option value="shunfeng">顺丰</option>';
			// dhtml2 += '<option value="shentong">申通</option>';
			// dhtml2 += '<option value="yuantong">圆通 </option>';
			// dhtml2 += '<option value="zhongtong">中通</option>';
			// dhtml2 += '<option value="huitongkuaidi">百世汇通</option>';
			// dhtml2 += '<option value="baishiwuliu">百世物流</option>';
			// dhtml2 += '<option value="yunda">韵达</option>';
			// dhtml2 += '<option value="zhaijisong">宅急送</option>';
			// dhtml2 += '<option value="tiantian">天天</option>';
			// dhtml2 += '<option value="debangwuliu">德邦</option>';
			// dhtml2 += '<option value="guotongkuaidi">国通</option>';
			// dhtml2 += '<option value="zengyisudi">增益</option>';
			// dhtml2 += '<option value="suer">速尔</option>';
			// dhtml2 += '<option value="ztky">中铁物流</option>';
			// dhtml2 += '<option value="zhongtiewuliu">中铁快运</option>';
			// dhtml2 += '<option value="ganzhongnengda">能达</option>';
			// dhtml2 += '<option value="youshuwuliu">优速</option>';
			// dhtml2 += '<option value="quanfengkuaidi">全峰</option>';
			// dhtml2 += '<option value="quanfengkuaidi">其他物流</option>';
			dhtml2 += '<option value="' + express_name + '">' + express_name + '</option>';
			dhtml2 += '</select>';
			dhtml2 += '</div>';
			$('.tip').remove();
			var tip = '';
			if (data_value == '8' || data_value == 0) {    //已完成
				dhtml2 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" readonly class="layui-input danhao" value="' + express + '" style="width:58%;"  >';
			} else {
				dhtml2 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" class="layui-input danhao" value="' + express + '" style="width:58%;"  >';
				dhtml2 += '<button type="button" class="submit_btns" data-id="">修改单号</button>';

			}

			var dhtml3 = "";
			dhtml3 += '<div class="select_courier">';
			dhtml3 += '<span class="operation_title">选择快递</span>';
			dhtml3 += '<select name="" class="curier">';
			dhtml3 += '<option value="ems">EMS</option>';
			dhtml3 += '<option value="youzhengguonei">邮政包裹/平邮</option>';
			dhtml3 += '<option value="bjemstckj">北京EMS</option>';
			dhtml3 += '<option value="shunfeng">顺丰</option>';
			dhtml3 += '<option value="shentong">申通</option>';
			dhtml3 += '<option value="yuantong">圆通 </option>';
			dhtml3 += '<option value="zhongtong">中通</option>';
			dhtml3 += '<option value="huitongkuaidi">百世汇通</option>';
			dhtml3 += '<option value="baishiwuliu">百世物流</option>';
			dhtml3 += '<option value="yunda">韵达</option>';
			dhtml3 += '<option value="zhaijisong">宅急送</option>';
			dhtml3 += '<option value="tiantian">天天</option>';
			dhtml3 += '<option value="debangwuliu">德邦</option>';
			dhtml3 += '<option value="guotongkuaidi">国通</option>';
			dhtml3 += '<option value="zengyisudi">增益</option>';
			dhtml3 += '<option value="suer">速尔</option>';
			dhtml3 += '<option value="ztky">中铁物流</option>';
			dhtml3 += '<option value="zhongtiewuliu">中铁快运</option>';
			dhtml3 += '<option value="ganzhongnengda">能达</option>';
			dhtml3 += '<option value="youshuwuliu">优速</option>';
			dhtml3 += '<option value="quanfengkuaidi">全峰</option>';
			dhtml3 += '<option value="quanfengkuaidi">其他物流</option>';
			dhtml3 += '</select>';
			dhtml3 += '</div>';

			dhtml3 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" class="layui-input danhao"  style="width:58%;" >';
			dhtml3 += '<button type="button" class="submit_btns" data-id="">确认发货</button>';
			tip += '<text class="tip" >注：选择顺丰时单号前要加：SF</text>';

			let dhtml4 = '';
			dhtml4 += '<div style=" display:flex;"><div style="color: rgb(168, 134, 148);text-align: center; font-size: 18px;margin: auto;">自提点：</div>';
			dhtml4 += '<div style=" font-size: 18px;margin-left: 20px;align-items: center;">';
			dhtml4 += '<div style="text-align: left;"><span></span>' + harvester + '</span><span style="margin-left: 20px;">' + harvest_phone_num + '</span></div>';
			dhtml4 += '<div>' + harvester_address + '</div></div></div>';
			if(order_type_status == 2 || order_type_status == 3 || order_type_status == 4 || order_type_status == 5) {
				dhtml4 += '<div class="zt_all zt_red">未自提</div>';
			} else if (order_type_status == 6 || order_type_status == 7 || order_type_status == 8 ){
				dhtml4 += '<div class="zt_all zt_greed">已自提</div>';
			}
			// var dhtml2="";
			// dhtml2+='<div class="select_static">';
			// dhtml2+='<span class="operation_title">选择操作</span>';
			// dhtml2+='<select name="" class="operation_select">';
			// dhtml2+='<option value="" selected="">请选择</option>';
			// dhtml2+='<option value="1">已退款</option>';
			// dhtml2+='</select>';
			// dhtml2+='</div>';
			// dhtml2+='<div class="select_courier"  >';
			// dhtml2+='<span class="operation_title">选择退款金额</span>';
			// dhtml2+=' <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="输入退款金额" class="layui-input danhao" >';
			// dhtml2+='</div>';
			// dhtml2+='<button type="button" class="submit_btns"  data-id="">确定</button>';
			// var dhtml3="";
			// dhtml3+='<button type="button" class="submit_btns"  data-id="">确定</button>';
			if (data_value == 2 || data_value == 3) {   //代发货
				$('.chenge_money').hide();
				$(".operation").data("id", data_value);
				$(".operation").data("order_type", order_type);
				if (data_type == '到店自提') {
					$(".operation").append(dhtml4);
				} else {
					$(".operation").append(dhtml3);
					$(".popup_content").append(tip);
				}
			} else if (data_value == 4 || data_value == 5 || data_value == 6 || data_value == 7) {
				$('.chenge_money').hide();
				if (data_type == '到店自提') {
					$(".operation").append(dhtml4);
				} else {
					$(".operation").append(dhtml2);
				}
				$(".operation").data("order_type", order_type);
				$(".operation").data("id", data_value);
			} else if (data_value == '8' || data_value == 0) {    	  //已完成
				$('.chenge_money').hide();
				if (data_type == '到店自提') {
					$(".operation").append(dhtml4);
				} else {
					$(".operation").append(dhtml2);
				}
				$(".operation").data("order_type", order_type);
				$(".operation").data("id", data_value);
			} else {
				$('.chenge_money').show();
			}
			$(".popup_one").removeClass("noshow");

			// 改价
			$('.changePrice').click(function () {
				var orderNumber = $(_this).parents('tr').children('td.orderNumber').text().trim();
				var order_real_pay = $('input[name=changePriceVal]').val();
				if (+order_real_pay > 0) {
					$.ajax({
						url: 'changeOderPrice',
						type: 'POST',
						dataType: 'JSON',
						data: {
							status: data_value,
							id: data_id,
							order_real_pay: order_real_pay,
						},
						success: function (res) {
							if (res.status == 1) {
								layer.msg(res.info, {
									icon: 1
								});
								setTimeout(function () {
									location.reload();
								}, 1200)
							} else {
								layer.msg(res.info, {
									icon: 2
								});
							}
						}
					})
				} else {
					layer.alert('请输入正确金额！', {
						skin: 'layui-layer-molv', //样式类名
						closeBtn: 0
					});
				}
			})
		});
		//弹窗隐藏
		$(".popup_x").click(function () {
			$(".popup").addClass("noshow");
		});
		//点击操作按钮

		$(".operation").on("click", ".submit_btns", function () {
			$(".popup").addClass("noshow");
			var repay = $(".repay").val();
			var id = $(this).parent(".operation").data("id");   //订单状态
			var value = $(this).parent(".operation").data("value");   //订单的id
			var order_type = $(this).parent(".operation").data("order_type");   //订单的类型
			console.log(order_type)
			//    快递选择
			var curier = $(".curier option:selected").val();
			var curier2 = $(".curier option:selected").text();
			//    操作选择
			var operation_select = $(".operation_select option:selected").val();
			//    快递单号
			var danhao = $(".danhao").val();

			if (order_type == 2) {
				danhao = ''; curier = ''; curier2 = '';
			}
			if (danhao != '' || order_type == 2) {  //判断单号
				//根据id判断订单的类型
				if (id == '2' || id == '4') {     //待发货----已发货
				console.log(order_type)
					$.ajax({
						type: "POST",
						url: "{:url('admin/Order/order_confirm_shipment')}",
						data: {
							"order_id": value,
							"courier_number": danhao,
							"status": 4,
							"express_name": curier,
							"express_name_ch": curier2,
							"order_type" : order_type
						},
						success: function (data) {
							location.reload();
							var data = eval('(' + data + ')');
							console.log(data);

						},
						error: function (data) {

						}
					});
				} else {

					$.ajax({
						type: "POST",
						url: "{:url('admin/Order/order_confirm_shipment')}",
						data: {
							"order_id": value,
							"courier_number": danhao,
							"status": 5,
							"express_name": curier,
							"express_name_ch": curier2,
							"order_type" : order_type
						},
						success: function (data) {
							location.reload();
							var data = eval('(' + data + ')');
							console.log(data);

						},
						error: function (data) {

						}
					});
				}

			}
			else {
				alert("请输入单号");
			}

		});

		// 点击订单详情
		$(".static_btus2").click(function () {
			$(".popup_two").removeClass("noshow");
			$("#dvMain").empty();
			var data_id = $(this).data("id");
			$.ajax({
				type: "POST",
				url: "{:url('admin/Order/order_information_return')}",
				data: {
					"order_id": data_id,
				},
				async: false,
				success: function (data) {
					var data = eval('(' + data + ')');
					let dhtm9 = "";
					dhtm9 += '<div class="popup_t" >';
					dhtm9 += '<div>订单基本信息</div>';
					dhtm9 += '<div><h1>' + data.data.store_name + '</h1></div>';
					dhtm9 += '<div>账号：' + data.data.user_phone_number + '</div>';
					dhtm9 += '</div>';
					dhtm9 += '<div class="popup_content1">';
					dhtm9 += '<table class="layui-table">';
					dhtm9 += '<tbody class="news_content">';
					dhtm9 += '	<tr>';
					dhtm9 += '	<td>昵称：</td>';
					dhtm9 += '<td>' + data.data.user_account_name + '</td>';
					dhtm9 += '<td>订单号：</td>';
					dhtm9 += '<td>' + data.data.parts_order_number + '</td>';
					dhtm9 += '</tr>';
					dhtm9 += '<tr>';
					dhtm9 += '<td>商品名称：</td>';
					dhtm9 += '<td class="norm">';
					for (let i = 0; i < data.data.parts_goods_name.length; i++) {

						dhtm9 += '<div class="norm_div">' + data.data.parts_goods_name[i].parts_goods_name + '</div>';
					}
					dhtm9 += '</td>';
					dhtm9 += '<td>商品数量：</td>';
					dhtm9 += '<td class="norm">';
					for (let i = 0; i < data.data.order_quantity.length; i++) {

						dhtm9 += '<div class="norm_div">' + data.data.order_quantity[i].order_quantity + '</div>';
					}
					dhtm9 += '</td>';
					dhtm9 += '</tr>';
					dhtm9 += '<tr>';
					dhtm9 += '<td>下单时间：</td>';
					dhtm9 += '<td>' + new Date(data.data.order_create_time) + '</td>';
					dhtm9 += '<td>订单金额：</td>';
					dhtm9 += '<td>' + data.data.order_amount + '</td>';
					dhtm9 += '	</tr>';
					dhtm9 += '<tr>';
					dhtm9 += '<td>订单类型：</td>';
					if (data.data.order_type == 1) {
						dhtm9 += '<td>直邮</td>';
					} else if (data.data.order_type == 2) {
						dhtm9 += '<td>到店自提</td>';
					} else {
						dhtm9 += '<td>存茶</td>';
					}
					dhtm9 += '<td>订单配送费用：</td>';
					dhtm9 += '<td>' + data.data.goods_franking + ' </td>';
					dhtm9 += '	</tr>';
					dhtm9 += '	<tr>';
					dhtm9 += '<td>订单税费：</td>';
					dhtm9 += '<td>' + data.data.receipt_price + ' </td>';
					dhtm9 += '<td>仓储保险费：</td>';
					dhtm9 += '	<td>0</td>';
					dhtm9 += '</tr>';
					dhtm9 += '<tr>';
					dhtm9 += '<td>优惠劵：</td>';
					dhtm9 += '<td>' + data.data.coupon_deductible + ' </td>';
					dhtm9 += '<td>仓储地址：</td>';
					dhtm9 += '<td>' + data.data.harvester_address + ' </td>';
					dhtm9 += '</tr>';
					dhtm9 += '<tr>';
					dhtm9 += '<td>仓储费：</td>';
					dhtm9 += '<td>' + data.data.storage + ' </td>';
					dhtm9 += '<td>到店自提：</td>';
					dhtm9 += '<td>' + data.data.harvester_address + ' </td>';
					dhtm9 += '</tr>';
					dhtm9 += '<tr>';
					dhtm9 += '<td>运费：</td>';
					dhtm9 += '<td>' + data.data.freight + ' </td>';
					dhtm9 += '<td>运费单号：</td>';
					dhtm9 += '<td>' + data.data.courier_number + ' </td>';
					dhtm9 += '</tr>';
					dhtm9 += '<tr>';
					dhtm9 += '	<td>配送地址：</td>';
					dhtm9 += '<td>' + data.data.harvester_address + '</td>';
					dhtm9 += '<td>收货人信息：</td>';
					dhtm9 += '<td>收件人：' + data.data.harvester + '联系电话：' + data.data.harvest_phone_num + '</td>';
					dhtm9 += '	</tr>';
					dhtm9 += '</tbody>';
					dhtm9 += '	</table>';
					dhtm9 += '	</div>';
					// console.log(dhtm9)
					$("#dvMain").append(dhtm9);

				},
				error: function (data) {

				}
			});


		})
		// 点击申请开票
		// 点击批注

		$(".repay_tip").click(function () {
			var data_id = $(this).data("value");
			var Information = $(".Information").val();
			if (Information != '') {
				$.ajax({
					type: "POST",
					url: "{:url('admin/Notification/option_add_notice')}",
					data: {
						"order_id": data_id,
						"information": Information,
					},
					async: false,
					success: function (data) {
						var data = eval('(' + data + ')');
						var dhtm0 = "";
						dhtm0 += '<div class="chat_list">';
						dhtm0 += '	<span class="span">' + timestampToTime(data.data.create_time) + '</span>';
						dhtm0 += '<span>' + data.data.information + '</span>';
						dhtm0 += '</div>';
						$(".chat").append(dhtm0);
						$(".Information").val("");

					},
					error: function (data) {

					}
				});

			}
			else {
				alert("批注不能为空");
			}
		});
		$(".button").click(function () {
			$(".popup").addClass("noshow");
		});
		$('.daying').click(function testprint() {
			var headstr = "<html><head><title></title></head><body>";
			var footstr = "</body>";
			var printData = document.getElementById("dvMain").innerHTML;
			// var printMain = document.getElementById("dvMain").innerHTML;
			var oldstr = document.body.innerHTML;
			document.body.innerHTML = headstr + printData + footstr;
			window.print();
			document.body.innerHTML = oldstr;
		})

		function timestampToTime(timestamp) {
			var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
			Y = date.getFullYear();
			M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
			D = date.getDate();
			h = date.getHours() + ':';
			m = date.getMinutes() + ':';
			s = date.getSeconds();
			return Y + M + D;
		}
	</script>

	{/block}

</body>

</html>