{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}
	
	#page {
		width: 96%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}
	
	.on {
		color: #21A5FA !important;
		border-bottom: solid 3px #21A5FA;
	}
	
	.distribution_list {
		margin-bottom: 10px;
		border-bottom: solid 1px #D7D7D7;
	}
	
	.distribution_list ul {
		display: flex;
		align-items: center;
	}
	
	.distribution_list a {
		font-size: 17px;
		padding: 9px;
		color: #5E5E5E;
	}
	
	.distribution_list ul li {
		flex: 1;
	}
	
	.static_btus {
		width: 100px;
		height: 30px;
		line-height: 30px;
		border-radius: 10px;
		background: #007AFF;
		color: #fff;
		margin: 0 auto;
	}
	/*
     * 弹窗
     */
	
	.popup {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 99999;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 1px #D7D7D7;
		box-sizing: border-box;
	}
	
	.submit_btns {
		width: 100px;
		height: 38px;
		color: #fff;
		background: #169BD5;
		border-radius: 10px;
	}
	
	.popup_doms {
		width: 765px;
		height: 413px;
		background: #fff;
	}
	
	.popup_content {
		padding: 20px;
	}
	
	.popup_title {
		height: 40px;
		line-height: 40px;
		color: #66662B;
		background: #EEF7EA;
		padding-left: 20px;
	}
	
	.span {
		display: inline-block;
		width: 80px;
		text-align: left;
		margin-right: 20px;
	}
	
	.repany .layui-input {
		width: 510px;
	}
	
	.repany {
		margin-bottom: 10px;
	}
	
	.operation {
		display: flex;
		align-items: center;
	}
	
	.chat {
		height: 172px;
		overflow-y: scroll;
	}
	
	.danhao {
		width: 200px;
		margin-right: 10px;
	}
	
	.operation select {
		width: 130px;
		height: 40px;
		border-color: #ABADB3;
		color: #000;
	}
	
	.operation div {
		margin-right: 10px;
	}
	
	.noshow {
		display: none;
	}
	
	.popup_title {
		position: relative;
	}
	
	.popup_x {
		width: 25px;
		position: absolute;
		right: 12px;
		top: -4px;
	}
	
	.img_content {
		display: flex;
		margin-left: 80px;
	}
	
	.img_content img {
		width: 40px;
	}
	
	.local_host_repay {
		width: 100px;
		height: 38px;
		color: #fff;
		background: #669900;
		border-radius: 10px;
	}
	
	.layui-inputs {
		width: 200px;
	}
	/*
     * 弹窗end
     */
	
	.seach_button_all {}
	
	.seach_button {
		display: inline-block;
		width: 80px;
		line-height: 30px;
		color: #fff;
		text-align: center;
	}
	
	.all0 {
		background: #F4FBFF;
		color: #999;
	}
	
	.all1 {
		background: #6666FF;
	}
	
	.all2 {
		background: #66CC00;
	}
	
	.all3 {
		background: #FF9900;
	}
	
	.all4 {
		background: #CCA444;
	}
	
	.all5 {
		background: #A1A1A1;
		color: #fff;
	}
</style>

{/block}

<body>

	{block name="content"}
	<div class="popup popup_tree noshow">
		<div class="popup_doms">
			<div class="popup_title">
				处理回复（个人信息处有提示信息）
				<div class="popup_x">
					<img src="__STATIC__/admin/index/img/X.png" />
				</div>
			</div>
			<div class="popup_content">
				<div class="repay_list" id="repay_list">

				</div>
				<div class="repany">
					<span class="span">官方回复</span>
					<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入处理备注" class="layui-input Information" value="">
					<button class="local_host_repay">回复</button>
				</div>
				<div class="chat">

				</div>
				<div class="operation" style="justify-content: space-between;" data-id="">

				</div>
			</div>
		</div>
	</div>
	<div class="childrenBody">

		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="{:url('admin/Order/refund_protection_search')}" >
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">请搜索：</div>
						<div class="seach_input">
							<input type="text" name="search_a" lay-verify="title" autocomplete="off" placeholder="服务单号/订单号/用户账号" class="layui-input">
						</div>
					</div>
					<!--<div class="seach_list">-->
						<!--<div class="seach_laber">订单号：</div>-->
						<!--<div class="seach_input">-->
							<!--<input type="text" name="search_b" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="seach_list">-->
						<!--<div class="seach_laber">用户账号：</div>-->
						<!--<div class="seach_input">-->
							<!--<input type="text" name="search_c" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">-->
						<!--</div>-->
					<!--</div>-->

					<div class="seach_list">
						<div class="seach_laber">开始时间</div>
						<div class="seach_input">
							<span class="time"><input name="date_min" type="text" class="text datetimepicker layui-input" readonly="readonly" id="beginTime" value=""  >
							</span>
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">结束时间</div>
						<div class="seach_input">
							<span class="time"><input name="date_max" type="text" class=" text datetimepicker layui-input" readonly="readonly" id="endTime" value=""  ></span>

						</div>
					</div>

					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

			</form>
		</blockquote>
		<div class="seach_button_all">
			<a href="{:url('admin/Order/refund_protection_index')}" class="seach_button all0">全部</a>
			<a href="{:url('admin/Order/refund_protection_processing')}" class="seach_button all1">处理中</a>
			<a href="{:url('admin/Order/refund_protection_receipting')}" class="seach_button all2">收货中</a>
			<a href="{:url('admin/Order/refund_protection_completed')}" class="seach_button all3">完成换货</a>
			<a href="{:url('admin/Order/refund_protection_completed')}" class="seach_button all4">完成退款</a>
			<a href="{:url('admin/Order/refund_protection_refuse')}" class="seach_button all5">拒绝</a>
		</div>
		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="3%">
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
						<th>服务单号</th>
						<th>原始订单号</th>
						<th>昵称</th>
						<th>申请时间</th>
						<th>用户账号</th>
						<th>联系人</th>
						<th>退款金额</th>
						<th>提交图片</th>
						<th>状态</th>
						<th>处理时间</th>
					</tr>
				</thead>
				<tbody class="news_content">
					{if !empty($data)} {volist name="data" id="vo"}
					<tr>
						<td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="{$vo.id}"></td>
						<td>{$vo.sale_order_number}</td>
						<td class="">
							{$vo.buy_order_number}
						</td>
						<td>{$vo.member_name}</td>
						<td>{$vo.operation_time|date="Y-m-d H:i:s",###}</td>

						{if !empty($vo["member_phone_num"])}
						<td>{$vo.member_phone_num}</td>
						{else}
						<td>未绑定</td>
						{/if} {if !empty($vo["member_real_name"])}
						<td>{$vo.member_real_name}</td>
						{else}
						<td>未绑定身份证</td>
						{/if}

						<td>{$vo.application_amount}</td>
						<td>
							<div class="tdimg">
								{if !empty($vo["images"])} {volist name="vo['images']" id ="value"}
								<img src="__UPLOADS__/{$value.url}" /> {/volist} {else} 无 {/if}
							</div>
						</td>
						<td>
							<div class="static_btus" data-id="{$vo.id}" id="static_btus">
								{:after_sale_status($vo.status,$vo.who_handle)}
							</div>
						</td>
						{if !empty($vo["handle_time"])}
						<td>{$vo.handle_time|date="Y-m-d H:i:s",###}</td>
						{else}
						<td>未处理</td>
						{/if}
					</tr>
					{/volist} {/if}
				</tbody>
			</table>
			<div id="page">
				<div class="opation" style="width: 200px; float: left;">
					<select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
						<option check="" value="0">请选择</option>
						<option value="1">批量删除</option>
					</select>
				</div>
				<div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
					<button type="button" id="opration_btu" style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
					</button>
				</div>
				{if !empty($data)} {$access} {/if}
			</div>

		</div>

	</div>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
			//点击操作确认按钮
			var data_id = [];
			$("#opration_btu").click(function() {
				var opration_val = $(".opation select option:selected").val();
				if(opration_val == 0) {
					layer.alert('请选择操作', {
						skin: 'layui-layer-molv' //样式类名
							,
						closeBtn: 0
					});
				} else if(opration_val == 1) {
					layer.confirm('你确认要删除吗？', {
						btn: ['确认', '取消'] //按钮
					}, function(index) {
						layer.close(index);
						var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
						for(var i = 0; i < child.length; i++) {
							data_id.push($(child[i])[0].dataset.id);
						}
						$.ajax({
							type: "POST",
							url: "{:url('')}",
							data: {
								"id": data_id,
							},
							success: function(data) {
								console.log("成功");
								console.log(data);
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
										,
									closeBtn: 0
								});
								location.reload();
								data_id.splice(0, data_id.length);
							},
							error: function(data) {
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
										,
									closeBtn: 0
								});
								console.log(data);
								console.log("错误");
								data_id.splice(0, data_id.length);
							}
						});
					});

				}

			});

			//全选
			form.on('checkbox(allChoose)', function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				child.each(function(index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});

			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)", function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
				if(childChecked.length == child.length) {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
				} else {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
				}
				form.render('checkbox');
			})

			form.on('switch(isShow)', function(data) {
				if($(this).val() == 0) {
					$(this).val(1);
				} else {
					$(this).val(0);
				}
				var vals = data.value;
				var id = $(this).data("id");
				var status = $(this).val();
				$.ajax({
					type: "POST",
					url: "{:url('')}",
					data: {
						"id": id,
						"status": status
					},
					success: function(data) {
						console.log("成功")
					},
					error: function(data) {
						console.log("错误")
					}
				});

			})
		})
		$(".static_btus").click(function() {
			$(".popup_tree").removeClass("noshow");
		});
		$(".popup_x").click(function() {
			$(".popup").addClass("noshow");
		});
	</script>
	<script>
		// 退款退货换货,第一部分
		var dhtml_a = '';
		dhtml_a += '<div class="repany">';
		dhtml_a += '<span class="span">客户申请</span>';
		dhtml_a += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款80元"  style="border:0">';
		dhtml_a += '</div>';
		// 退款退货换货,第二部分
		var dhtml_b = '';
		dhtml_b += '<div class="chat_list_content">';
		dhtml_b += '<div class="chat_list">';
		dhtml_b += '<span class="span">20180811</span>';
		dhtml_b += '<span>官方备注已用户要求高可顺非邮寄</span>';
		dhtml_b += '</div>';
		dhtml_b += '<div class="img_content">';
		dhtml_b += '<img src="__STATIC__/admin/index/img/u168.png" alt="">';
		dhtml_b += '</div>';
		dhtml_b += '</div>';
		// 退款退货换货,第三部分
		var dhtml_c = '';
		dhtml_c = '<div class="select_static">';
		dhtml_c = '<span class="operation_title">选择操作</span>';
		dhtml_c = '<select name="">';
		dhtml_c = '<option value="" selected="">请选择</option>';
		dhtml_c = '<option value="1">拒绝</option>';
		dhtml_c = '<option value="0">收货中</option>';
		dhtml_c = '</select>';
		dhtml_c = '</div>';
		dhtml_c = '<button type="button" class="submit_btns">确定</button>';
		// 收货中,第一部分
		var dhtml_d = '';
		dhtml_d += '<div class="repany">';
		dhtml_d += '<span class="span">客户申请</span>';
		dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款80元"  style="border:0">';
		dhtml_d += '</div>';
		dhtml_d += '<div class="repany">';
		dhtml_d += '<span class="span"> 快递公司 </span>';
		dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="顺丰"  style="border:0">';
		dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
		dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="77777377373773"  style="border:0">';
		dhtml_d += '</div>';
		// 收货中,第三部分
		var dhtml_c = '';
		dhtml_c = '<div class="select_static">';
		dhtml_c = '<span class="operation_title">选择操作</span>';
		dhtml_c = '<select name="">';
		dhtml_c = '<option value="" selected="">请选择</option>';
		dhtml_c = '<option value="1">拒绝</option>';
		dhtml_c = '<option value="0">收货中</option>';
		dhtml_c = '</select>';
		dhtml_c = '</div>';
		dhtml_c = '<button type="button" class="submit_btns">确定</button>';
		// 换货处理
		var dhtml1 = "";
		dhtml1 += '<div class="select_static">';
		dhtml1 += '<span class="operation_title">选择操作</span>';
		dhtml1 += '<select name="" class="operation_select">';
		dhtml1 += '<option value="1" selected="">已发货</option>';
		dhtml1 += '</select>';
		dhtml1 += '</div>';
		dhtml1 += '<div class="select_courier">';
		dhtml1 += '<span class="operation_title">选择快递</span>';
		dhtml1 += '<select name="" class="curier">';
		dhtml1 += '<option value="ems">EMS</option>';
		dhtml1 += '<option value="shentong">申通</option>';
		dhtml1 += '<option value="shentong">顺丰</option>';
		dhtml1 += '<option value="shentong">圆通</option>';
		dhtml1 += '<option value="shentong">中通</option>';
		dhtml1 += '<option value="shentong">韵达</option>';
		dhtml1 += '<option value="shentong">天天快递</option>';
		dhtml1 += '<option value="shentong">宅急送</option>';
		dhtml1 += '<option value="shentong">中国邮政</option>';
		dhtml1 += '<option value="shentong">全峰快递</option>';
		dhtml1 += '<option value="shentong">速尔快递</option>';
		dhtml1 += '<option value="shentong">快捷快递</option>';
		dhtml1 += '<option value="shentong">中铁快运</option>';
		dhtml1 += '<option value="shentong">优速快递</option>';
		dhtml1 += '<option value="shentong">龙邦</option>';
		dhtml1 += '<option value="shentong">德邦物流</option>';
		dhtml1 += '<option value="shentong">华宇物流</option>';
		dhtml1 += '<option value="shentong">佳吉快运</option>';
		dhtml1 += '</select>';
		dhtml1 += '</div>';
		dhtml1 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" class="layui-input danhao"  >';
		dhtml1 += '<button type="button" class="submit_btns" data-id="">确定</button>';
		// 退款退货完成
		var dhtml2 = "";
		dhtml2 += '<div class="select_static">';
		dhtml2 += '<span class="operation_title">选择操作</span>';
		dhtml2 += '<select name="" class="operation_select">';
		dhtml2 += '<option value="" selected="">请选择</option>';
		dhtml2 += '<option value="4">已退款</option>';
		dhtml2 += '</select>';
		dhtml2 += '</div>';
		dhtml2 += '<div class="select_courier"  >';
		dhtml2 += '<span class="operation_title">选择退款金额</span>';
		dhtml2 += ' <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="输入退款金额" class="layui-input danhao" >';
		dhtml2 += '</div>';
		dhtml2 += '<button type="button" class="submit_btns"  data-id="">确定</button>';
		$(".static_btus").click(function() {
			var data_id = $(this).data("id");
			$(".local_host_repay").data("id", data_id);
			$.ajax({
				type: "POST",
				url: "{:url('admin/AfterSale/business_after_sale_information')}",
				data: {
					"after_sale_id": data_id,
				},
				async: false,
				success: function(data) {
					var data = eval('(' + data + ')');
					console.log(data);
					way = data.data.status;
					$("#repay_list").empty();
					$(".chat").empty();
					$(".operation").empty();
					$(".operation").data("id", way);
					$(".operation").data("value", data_id);
					$(".operation").data("name", data.data.is_return_goods);
					// 申请中
					if(way == 1) {
						var dhtml_a = '';
						dhtml_a += '<div class="repany">';
						dhtml_a += '<span class="span">客户申请</span>';
						dhtml_a += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
						dhtml_a += '</div>';
						$("#repay_list").append(dhtml_a);
						var dhtml_b = '';
						dhtml_b += '<div class="chat_list_content">';
						dhtml_b += '<div class="chat_list">';
						dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
						dhtml_b += '<span>' + data.data.return_reason + '</span>';
						dhtml_b += '</div>';
						dhtml_b += '<div class="img_content">';
						for(var i = 0; i < data.data.images.length; i++) {
							// console.log(data.data.images[i])
							dhtml_b += '<img src="__UPLOADS__/' + data.data.images[i].url + '" alt="" >';
						}
						dhtml_b += '</div>';
						dhtml_b += '</div>';
						$(".chat").append(dhtml_b);
						for(var j = 0; j < data.data.reply.length; j++) {
						
							var dhtml_e = '';
							dhtml_e += '<div class="chat_list_content">';
							dhtml_e += '<div class="chat_list">';
							dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
							dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
							dhtml_e += '</div>';
							dhtml_e += '<div class="img_content">';
							dhtml_e += '</div>';
							dhtml_e += '</div>';
							$(".chat").append(dhtml_e);
						}
						var dhtml_c = '';
						dhtml_c += '<div class="select_static">';
						dhtml_c += '<span class="operation_title">选择操作</span>';
						dhtml_c += '<select name="" class="operation_select">';
						dhtml_c += '<option value="0" selected="">请选择</option>';
						dhtml_c += '<option value="5">拒绝</option>';
						dhtml_c += '<option value="3">收货中</option>';
						dhtml_c += '</select>';
						dhtml_c += '</div>';
						dhtml_c += '<button type="button" class="submit_btns" data_id="">确定</button>';
						$(".operation").append(dhtml_c);
					}
					// 收货中
					else if(way == 3) {
						var dhtml_d = '';
						dhtml_d += '<div class="repany">';
						dhtml_d += '<span class="span">客户申请</span>';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
						dhtml_d += '</div>';
						dhtml_d += '<div class="repany">';
						dhtml_d += '<span class="span"> 快递公司 </span>';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="顺丰"  style="border:0">';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="77777377373773"  style="border:0">';
						dhtml_d += '</div>';
						$("#repay_list").append(dhtml_d);
						var dhtml_b = '';
						dhtml_b += '<div class="chat_list_content">';
						dhtml_b += '<div class="chat_list">';
						dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
						dhtml_b += '<span>' + data.data.return_reason + '</span>';
						dhtml_b += '</div>';
						dhtml_b += '<div class="img_content">';
						for(var i = 0; i < data.data.images.length; i++) {
							// console.log(data.data.images[i])
							dhtml_b += '<img src="__UPLOADS__/' + data.data.images[i].url + '" alt="" >';
						}
						dhtml_b += '</div>';
						dhtml_b += '</div>';
						$(".chat").append(dhtml_b);
						for(var j = 0; j < data.data.reply.length; j++) {
							alert(111);
							var dhtml_e = '';
							dhtml_e += '<div class="chat_list_content">';
							dhtml_e += '<div class="chat_list">';
							dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
						    dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
							dhtml_e += '</div>';
							dhtml_e += '<div class="img_content">';
							dhtml_e += '</div>';
							dhtml_e += '</div>';
							$(".chat").append(dhtml_e);
						}
						var dhtml_c = '';
						dhtml_c += '<div class="select_static">';
						dhtml_c += '<span class="operation_title">选择操作</span>';
						dhtml_c += '<select name="" class="operation_select">';
						dhtml_c += '<option value="0" selected="">请选择</option>';
						dhtml_c += '<option value="5">拒绝</option>';
						dhtml_c += '<option value="2">已收货</option>';
						dhtml_c += '</select>';
						dhtml_c += '</div>';
						dhtml_c += '<button type="button" class="submit_btns" data_id="">确定</button>';
						$(".operation").append(dhtml_c);
					} else if(way == 2) {
						if(data.data.is_return_goods == 1) {
							var dhtml_d = '';
							dhtml_d += '<div class="repany">';
							dhtml_d += '<span class="span">客户申请</span>';
							dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
							dhtml_d += '</div>';
							dhtml_d += '<div class="repany">';
							dhtml_d += '<span class="span"> 快递公司 </span>';
							dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="顺丰"  style="border:0">';
							dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
							dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="77777377373773"  style="border:0">';
							dhtml_d += '</div>';
							$("#repay_list").append(dhtml_d);
							var dhtml_b = '';
							dhtml_b += '<div class="chat_list_content">';
							dhtml_b += '<div class="chat_list">';
							dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
							dhtml_b += '<span>' + data.data.return_reason + '</span>';
							dhtml_b += '</div>';
							dhtml_b += '<div class="img_content">';
							for(var i = 0; i < data.data.images.length; i++) {
								// console.log(data.data.images[i])
								dhtml_b += '<img src="__UPLOADS__/' + data.data.images[i].url + '" alt="" >';
							}
							dhtml_b += '</div>';
							dhtml_b += '</div>';
							$(".chat").append(dhtml_b);
							for(var j = 0; j < data.data.reply.length; j++) {
								var dhtml_e = '';
								dhtml_e += '<div class="chat_list_content">';
								dhtml_e += '<div class="chat_list">';
								dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
								dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
								dhtml_e += '</div>';
								dhtml_e += '<div class="img_content">';
								dhtml_e += '</div>';
								dhtml_e += '</div>';
								$(".chat").append(dhtml_e);
							}
							var dhtml1 = "";
							dhtml1 += '<div class="select_static">';
							dhtml1 += '<span class="operation_title">选择操作</span>';
							dhtml1 += '<select name="" class="operation_select">';
							dhtml1 += '<option value="4" selected="">已发货</option>';
							dhtml1 += '<option value="5">拒绝</option>';
							dhtml1 += '</select>';
							dhtml1 += '</div>';
							dhtml1 += '<div class="select_courier">';
							dhtml1 += '<span class="operation_title">选择快递</span>';
							dhtml1 += '<select name="" class="curier">';
							dhtml1 += '<option value="ems">EMS</option>';
							dhtml1 += '<option value="shentong">申通</option>';
							dhtml1 += '<option value="shentong">顺丰</option>';
							dhtml1 += '<option value="shentong">圆通</option>';
							dhtml1 += '<option value="shentong">韵达</option>';
							dhtml1 += '<option value="shentong">天天快递</option>';
							dhtml1 += '<option value="shentong">宅急送</option>';
							dhtml1 += '<option value="shentong">中国邮政</option>';
							dhtml1 += '<option value="shentong">全峰快递</option>';
							dhtml1 += '<option value="shentong">速尔快递</option>';
							dhtml1 += '<option value="shentong">快捷快递</option>';
							dhtml1 += '<option value="shentong">中铁快运</option>';
							dhtml1 += '<option value="shentong">优速快递</option>';
							dhtml1 += '<option value="shentong">龙邦</option>';
							dhtml1 += '<option value="shentong">德邦物流</option>';
							dhtml1 += '<option value="shentong">华宇物流</option>';
							dhtml1 += '<option value="shentong">佳吉快运</option>';
							dhtml1 += '</select>';
							dhtml1 += '</div>';
							dhtml1 += '<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入单号" class="layui-input danhao"  >';
							dhtml1 += '<button type="button" class="submit_btns" data-id="">确定</button>';
							$(".operation").append(dhtml1);
						} else {
							var dhtml_d = '';
							dhtml_d += '<div class="repany">';
							dhtml_d += '<span class="span">客户申请</span>';
							dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
							dhtml_d += '</div>';
							dhtml_d += '<div class="repany">';
							dhtml_d += '<span class="span"> 快递公司 </span>';
						
							if(data.data.buy_express_company!=null){
								dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="顺丰"  style="border:0">';
							}
							else{
								dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="未寄送"  style="border:0">';
							}
							dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
							if(data.data.buy_express_number!=null){
							 dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="'+data.data.buy_express_number+'"  style="border:0">';
							}
							else{
								dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="未寄送"  style="border:0">';
							}
							dhtml_d += '</div>';
							$("#repay_list").append(dhtml_d);
							var dhtml_b = '';
							dhtml_b += '<div class="chat_list_content">';
							dhtml_b += '<div class="chat_list">';
							dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
							dhtml_b += '<span>' + data.data.return_reason + '</span>';
							dhtml_b += '</div>';
							dhtml_b += '<div class="img_content">';
							for(var i = 0; i < data.data.images.length; i++) {
								// console.log(data.data.images[i])
								dhtml_b += '<img src="__UPLOADS__/' + data.data.images[i].url + '" alt="" >';
							}
							dhtml_b += '</div>';
							dhtml_b += '</div>';
							$(".chat").append(dhtml_b);
							for(var j = 0; j < data.data.reply.length; j++) {
								var dhtml_e = '';
								dhtml_e += '<div class="chat_list_content">';
								dhtml_e += '<div class="chat_list">';
								dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
								dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
								dhtml_e += '</div>';
								dhtml_e += '<div class="img_content">';
								dhtml_e += '</div>';
								dhtml_e += '</div>';
								$(".chat").append(dhtml_e);

							}
							var dhtml2 = "";
							dhtml2 += '<div class="select_static">';
							dhtml2 += '<span class="operation_title">选择操作</span>';
							dhtml2 += '<select name="" class="operation_select">';
							dhtml2 += '<option value="" selected="">请选择</option>';
							dhtml2 += '<option value="4">已退款</option>';
							dhtml2 += '<option value="5">拒绝</option>';
							dhtml2 += '</select>';
							dhtml2 += '</div>';
							dhtml2 += '<div class="select_courier"  >';
							dhtml2 += '<span class="operation_title">选择退款金额</span>';
							dhtml2 += ' <input type="text" name="" lay-verify="title" autocomplete="off" placeholder="输入退款金额" class="layui-input danhao" >';
							dhtml2 += '</div>';
							dhtml2 += '<button type="button" class="submit_btns"  data-id="">确定</button>';
							$(".operation").append(dhtml2);
						}
					} else {
						var dhtml_d = '';
						dhtml_d += '<div class="repany">';
						dhtml_d += '<span class="span">客户申请</span>';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-input" value="退货退款' + data.data.application_amount + '元"  style="border:0">';
						dhtml_d += '</div>';
						dhtml_d += '<div class="repany">';
						dhtml_d += '<span class="span"> 快递公司 </span>';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="顺丰"  style="border:0">';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value=" 快递单号"  style="border:0">';
						dhtml_d += '<input type="text" name="" lay-verify="title" autocomplete="off" readonly="readonly" placeholder="请输入处理备注" class="layui-inputs" value="77777377373773"  style="border:0">';
						dhtml_d += '</div>';
						$("#repay_list").append(dhtml_d);
						var dhtml_b = '';
						dhtml_b += '<div class="chat_list_content">';
						dhtml_b += '<div class="chat_list">';
						dhtml_b += '<span class="span">' + timestampToTime(data.data.operation_time) + '</span>';
						dhtml_b += '<span>' + data.data.return_reason + '</span>';
						dhtml_b += '</div>';
						dhtml_b += '<div class="img_content">';
						for(var i = 0; i < data.data.images.length; i++) {
							// console.log(data.data.images[i])
							dhtml_b += '<img src="__UPLOADS__/' + data.data.images[i].url + '" alt="" >';
						}
						dhtml_b += '</div>';
						dhtml_b += '</div>';
						$(".chat").append(dhtml_b);
						for(var j = 0; j < data.data.reply.length; j++) {
							var dhtml_e = '';
							dhtml_e += '<div class="chat_list_content">';
							dhtml_e += '<div class="chat_list">';
							dhtml_e += '<span class="span">' + timestampToTime(data.data.reply[j].create_time) + '</span>';
							dhtml_e += '<span>' + data.data.reply[j].content + '</span>';
							dhtml_e += '</div>';
							dhtml_e += '<div class="img_content">';
							dhtml_e += '</div>';
							dhtml_e += '</div>';
							$(".chat").append(dhtml_e);
						}
					}

				},
				error: function(data) {

				}
			});
		})
		$(".operation").on("click", ".submit_btns", function() {
					var static = $(".operation").data("id");
					var value = $(".operation").data("value");
					//  申请中  收货中
					if(static == 1 || static == 3) {
						var val = $(".operation_select  option:selected").val();
						if(val != "0") {
							$.ajax({
								type: "POST",
								url: "{:url('admin/AfterSale/after_sale_status')}",
								data: {
									"after_sale_id": value,
									"status": val,
								},
								async: false,
								success: function(data) {
									location.reload();
								},
								error: function(data) {

								}
							});

						}

						$(".popup").addClass("noshow");
					}
					//  处理中
					else if(static == 2) {
						var val = $(".operation_select  option:selected").val();
						var kuaidi = $(".curier  option:selected").val();
						var danhao = $(".danhao").val();
						if($(".operation").data("name") == 1) {
							if(val != 0 || danhao != '') {
								$.ajax({
									type: "POST",
									url: "{:url('admin/AfterSale/after_sale_express_add')}",
									data: {
										"after_sale_id": value,
										"status": val,
										"sell_express_company": kuaidi,
										"sell_express_number": danhao,
									},
									async: false,
									success: function(data) {
										location.reload();
									},
									error: function(data) {

									}
								});

							} else {
								alert("单号不能为空")
							}
						} 
						else {
								if(val != 0 || danhao != '') {
									$.ajax({
										type: "POST",
										url: "{:url('index/Api/order_refund')}",
										data: {
											"after_sale_id": value,
											"status": val,
											"business_return_money": danhao,
										},
										async: false,
										success: function(data) {
											location.reload();
										},
										error: function(data) {

										}
									});

								}
								 else {
									alert("钱数不能为空")
								}
						}
						}
					})
		$(".local_host_repay").on("click", function() {
			var data_id = $(this).data("id")
			var Information = $(".Information").val();
			if(Information != '') {
				$.ajax({
					type: "POST",
					url: "{:url('admin/AfterSale/business_replay')}",
					data: {
						"after_sale_id": data_id,
						"content": Information,
					},
					async: false,
					success: function(data) {
						var data = eval('(' + data + ')');
						console.log(data);
						var dhtm0 = "";
						dhtm0 += '<div class="chat_list">';
						dhtm0 += '	<span class="span">' + timestampToTime(data.data.create_time)+ '</span>';
						dhtm0 += '<span>' + data.data.content + '</span>';
						dhtm0 += '</div>';
						$(".chat").append(dhtm0);
						$(".Information").val("");

					},
					error: function(data) {

					}
				});

			} else {
				alert("回复不能为空");
			}
			})
			function timestampToTime(timestamp) {
				var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
				Y = date.getFullYear() ;
				M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) ;
				D = date.getDate() ;
				h = date.getHours() + ':';
				m = date.getMinutes() + ':';
				s = date.getSeconds();
				return Y+M+D;
    }
	</script>

	{/block}

</body>

</html>