{extend name="layout"}

{block name="css"}
<style type="text/css">
	
	.layui-form label {
		width: 20%;
		text-align: left;
	}
	
	.layui-form .layui-input-block input {
		width: 95%;
	}
	
	.layui-form-label span {
		color: red;
	}
	
.layui-form{
		width: 90%;
		margin: 10px auto;
		border: #BCBCBC solid 1px;
	
	}
	
	body {
		background: #fff;
	}
	
	.layui-anim-upbit {
		width: 95% !important;
	}
	.err{
		    border: red solid 1px;
	}
    .title{
		height: 50px;
		line-height: 50px;
		background: #F2F2F2;
		padding-left: 20px;
	}
	.layui-form-item{
		padding-left: 20px;
	}
	/* 数据库展现图片样式 */
	.img{
		    position: relative;
    display: inline-block;
    width: 100px;
	}
	.img>i{
		position: absolute;
    right: 0;
    top: 0;
	}
	.form-group .layui-form-select{
		display: none;
	}
</style>

{/block}
<body>

{block name="content"}
<form class="layui-form" action="{:url('admin/admin/updata')}" method="post">
	
	<p class="title">店铺基本信息</p>
	<div class="layui-form-item ">
		<label class="layui-form-label">店铺名称:</label>
		<div class="layui-input-block">
			<input type="text" name="account" value="" placeholder="" class="layui-input" id="account">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">负责人姓名：</label>
		<div class="layui-input-block">
			<input type="text" name="department" value="" placeholder="" class="layui-input" id="department">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">手机号：</label>
		<div class="layui-input-block">
			<input type="text" name="name" value="" placeholder="" class="layui-input" id="name">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">座机号：</label>
		<div class="layui-input-block">
			<input type="text" name="name" value="" placeholder="" class="layui-input" id="name">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">店铺logo：</label>
		<div class="layui-input-block">
			<!-- 数据库展现图片 -->
			<div class="imgcontent">
				<span class="img"><img src="__STATIC__/admin/common/img/a11.png"  width="100%"><i class="layui-icon remove-img">&#x1007;</i></span>
			</div>
			<div class="img-box full">
				<section class=" img-section">
					<div class="z_photo upimg-div clear">
						<section class="z_file fl">
							<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
							<input type="file" name="goods_show_images" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
						</section>
					</div>
				</section>
			</div>
			<aside class="mask works-mask">
				<div class="mask-content">
					<p class="del-p ">您确定要删除作品图片吗？</p>
					<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
				</div>
			</aside>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">店铺所在地：</label>
		<div class="form-inline">
			<!-- <input type="text"  placeholder="" class="layui-input" id="repassword"> -->
			<div data-toggle="distpicker">
				<div class="form-group">
					<label class="sr-only" for="province2">Province</label>
					<select class="form-control" id="province2" data-province="---- 选择省 ----"></select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="city2">City</label>
					<select class="form-control" id="city2" data-city="---- 选择市 ----"></select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="district2">District</label>
					<select class="form-control" id="district2" data-district="---- 选择区 ----"></select>
				</div>
			</div>
		</div>
	</div>

	
	<div class="layui-form-item">
		<label class="layui-form-label">店铺详细地址</label>
		<div class="layui-input-block">
			<input type="text" name="email" value="" placeholder="" class="layui-input" id="email">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">营业时间：</label>
		<div class="layui-input-block">
			<input type="text"  placeholder="" class="layui-input" id="repassword">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">服务范围：</label>
		<div class="layui-input-block">
			 <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
      <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
      <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" >
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">邮件</label>
		<div class="layui-input-block">
			<input type="text" name="email" value="" placeholder="" class="layui-input" id="email">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">绑定微信</label>
		<div class="layui-input-block">
			<input type="text" name="email" value="" placeholder="" class="layui-input" id="email">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">我要加盟为：</label>
		<div class="layui-input-block">
			   <select name="interest" lay-filter="aihao">
        <option value=""></option>
        <option value="0">写作</option>
        <option value="1" selected="">阅读</option>
        <option value="2">游戏</option>
        <option value="3">音乐</option>
        <option value="4">旅行</option>
      </select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">店铺信息：</label>
		<div class="layui-input-block">
			<textarea rows="10" cols="60">
				
			</textarea>
		</div>
	</div>
	<p class="title">身份认证</p>
		<div class="layui-form-item">
				<label class="layui-form-label">验证身份证：</label>
				<div class="layui-input-inline">
					<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
				</div>
				<div class="layui-input-inline">
					<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
				</div>
			</div>
			<div class="layui-form-item">
					<label class="layui-form-label">验证营业执照：</label>
					<div class="layui-input-inline">
						<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
					</div>
					<div class="layui-input-inline">
						<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
					</div>
				</div>
				<div class="layui-form-item">
						<label class="layui-form-label">验证真实地址：</label>
						<div class="layui-input-block">
							<input type="text" name="" id="" value="" />
						</div>
					</div>
				<div class="layui-form-item">
						<label class="layui-form-label">验证实体店面：</label>
						<div class="layui-input-inline">
							<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
						</div>
						<div class="layui-input-inline">
							<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
						</div>
						<div class="layui-input-inline" style="margin-left: 20%;">
							<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
						</div>
						<div class="layui-input-inline">
						<img src="__STATIC__/admin/common/img/a11.png" width="100%" >
						</div>
					</div>

	<div class="layui-form-item">
		<div class="layui-input-block">
			<input type="hidden" name="id" value="">
			<button class="layui-btn" type="submit" id="submits">保存</button>
			<button type="button" class="layui-btn  layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>
		</div>
	</div>
	
</form>
{/block}
<!--_footer 作为公共模版分离出去-->
{include file="template/_footer" /}

<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
{block name="bottom"}
<script type="text/javascript">
layui.config({
		base: "js/"
	}).use(['form', 'layer', 'jquery', 'laypage'], function() {
		var form = layui.form(),
			layer = parent.layer === undefined ? layui.layer : parent.layer,
			laypage = layui.laypage,
			$ = layui.jquery;
		    form.render();
	});
	$("#submits").click(function(){
		
		checks();
	});
	
	
	function checks(){

		if($("#account")[0].value==''){
			$("#account").addClass("err");
			return false; 
		}
		else{
			$("#account").removeClass("err");
//			return true;
		}
		if($("#department")[0].value==''){
			$("#department").addClass("err");
			return false;
			 
		}else{
			$("#department").removeClass("err");
//			return true;
		}
		if($("#name")[0].value==''){
			$("#name").addClass("err");
			return false;
			 	 
			 
		}else{
			$("#name").removeClass("err");
//			return true;
		}if($("#password")[0].value==''){
			
			$("#password").addClass("err");
			return false;
			 
		}else{
			$("#password").removeClass("err");
//			return true;
		}if($("#repassword")[0].value==''){
			$("#repassword").addClass("err");
			return false;
			 
		}else{
			$("#repassword").removeClass("err");
//			return true;
		}if($("#phone")[0].value==''){
			$("#phone").addClass("err");
			return false;
			 
		}
		else{
			$("#phone").removeClass("err");
//			return true;
		}if($("#email")[0].value==''){
			$("#email").addClass("err");
			return false;
			 
		}
		else{
			$("#email").removeClass("err");
//			return true;
		}
		if($("#repassword")[0].value!=$("#password")[0].value){
			alert("两次密码不一致");
			return false;
		}
     $("#submits").attr("type","submit");
		
	}
	// 图片删除
	$(".remove-img").click(function(){
		var remove=$(this).parent();
	    
		   $.ajax({
							type:"POST",
							url:"{:url('')}",
							data:{},
							dataType:"json",
							success:function (data) {
						     remove.remove();

													},
							error:function (data) {
							console.log("错误");
													}
							});
	});
	</script>
{/block}


</body>
</html>
