{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
  body {
    background: #fff;
  }

  #page {
    width: 97%;
    height: 50px;
    line-height: 50px;
    border: solid 1px #E2E2E2;
    padding-left: 50px;
    background: #FDFDFE;
  }

  .change-addr a {
    color: #199ED8;
  }

  .bot li {
    height: 65px;
    line-height: 65px;
    list-style: disc;
  }

  .bot li button {
    background-color: #669900;
  }

  .bot li a {
    color: #669900;
  }

  .distribution_list {
    margin-bottom: 10px;
    border-bottom: solid 1px #D7D7D7;
  }

  .on {
    color: #21A5FA !important;
    border-bottom: solid 3px #21A5FA;
  }

  .distribution_list ul {
    display: flex;
    align-items: center;
  }


  .line {
    justify-content: center;
  }


  .distribution_list a {
    font-size: 14px;
    padding: 9px;
    color: #5E5E5E;
  }
  .status{
    display: inline-block;
    color: #FFFFFF;
    height: 22px;
    line-height: 22px;
    width: 60px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
  }
  .unanswered{
    background-color: rgb(134,134,134);
  }
  .answered{
    background-color: rgb(36,187,94);
  }
</style>

{/block}

<body>
  {block name="content"}

  <div class="childrenBody">
    {include file="template/_top" /}

    <blockquote class="layui-elem-quote news_search">
      <form class="layui-form" action="{:url('admin/Analyse/analyse_search')}">
        <div class="seach">
          <div class="seach_list">
            <div class="seach_laber" style="width: 100px;">请输入：</div>
            <div class="seach_input">
              <input type="text" name="goods_number" lay-verify="title" autocomplete="off" placeholder="用户账号/联系人姓名"
                class="layui-input">
            </div>
          </div>
          <button class="layui-btn" type="submit" id="seach">立即搜索</button>
        </div>

      </form>
    </blockquote>

    <div class="layui-form news_list">
      <table class="layui-table">
        <thead>
          <tr>
            <th>用户账号（手机号）</th>
            <th>联系人姓名</th>
            <th>选择城市</th>
            <th>反馈内容</th>
            <th width="200px">操作</th>
          </tr>
        </thead>
        <tbody class="news_content">
          {if !empty($data)}{volist name="data" id="value"}
          <tr>
            <td>{$value.phone_number}</td>
            <td>{$value.user_name}</td>
            <td>{$value.city_address}</td>
            <td>{$value.return_text}</td>
            <td>
              {if empty($value.return_text)}
              <a href="{:url('admin/City/city_market_feedback',['id'=>$value.id])}" class="status unanswered">未回复</a>
              {else}

              <span class="status answered">已回复</span>
              {/if}
              <a href="{:url('admin/City/city_market_delete',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false"
                class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="">
                <i class="layui-icon"></i> 删除</a>
            </td>
          </tr>
          {/volist}{/if}
        </tbody>
      </table>
      {if !empty($data)}
      {$data ->render()}
      {/if}

    </div>

  </div>
  {/block}

  <!--_footer 作为公共模版分离出去-->
  {include file="template/_footer" /}
  <!--/_footer 作为公共模版分离出去-->

  <!--请在下方写此页面业务相关的脚本-->
  {block name="bottom"}
  <script type="text/javascript">
    layui.config({
      base: "js/"
    }).use(['form', 'layer', 'jquery', 'laypage'], function () {
      var form = layui.form(),
        layer = parent.layer === undefined ? layui.layer : parent.layer,
        laypage = layui.laypage,
        $ = layui.jquery;
   
      });
  </script>

  {/block}

</body>

</html>