{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
  body {background: #fff;}
    #page {width: 97%;height: 50px;line-height: 50px;border: solid 1px #E2E2E2;padding-left: 50px;background: #FDFDFE;}
    .on {color: #21A5FA ; border-bottom: solid 3px #21A5FA;}
    .distribution_list {margin-bottom: 10px; border-bottom: solid 1px #D7D7D7;}
    .distribution_list ul {display: flex; align-items: center;}
    .distribution_list a {font-size: 14px; padding: 9px; color: #5E5E5E;}
    .static_btus {display: inline-block; height: 24px; line-height: 24px; margin: 0 12px; overflow: hidden;color: white;}
    .static_btus >a {color: #fff;}
    .static_btus button {width: 100%; padding: 0 10px; border-radius: 4px; }
    .payment-has-been {background: #669900;}
    a {color: #669900;}
    .line-exam {background-color: transparent; color: rgb(188, 188, 188); border: 1px solid rgb(188, 188, 188);}
    .line-ing {background-color: transparent; color: rgb(255, 153, 0); border: 1px solid rgb(255, 153, 0);}
    .line-pass {background-color: transparent; color: rgb(102, 153, 0); border: 1px solid rgb(102, 153, 0);}    
    .line-exam:hover {color: rgb(188, 188, 188);}
    .line-ing:hover {color: rgb(255, 153, 0);}
    .line-pass:hover {color: rgb(102, 153, 0);}
    .mask{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); z-index: 9;}
    .pop{position: absolute; top: 50%; left: 50%; margin: -183px 0 0 -325px; width: 650px; border: 1px solid #d6d6d6; background-color: #fff; z-index: 9;}
    .pop .head{position: relative; padding-left: 16px; background-color: rgb(238, 247, 234); border-bottom: 1px solid #d6d6d6;}
    .pop .head p{height: 35px; line-height: 36px; font-size: 13px;}
    .pop .close{position: absolute; right: 10px; top: 50%; transform: translateY(-50%); font-size: 26px; cursor: pointer; font-style: normal; user-select: none;}
    .content{padding: 0 16px;}
    .top, .mid, .bot{padding: 0 30px;}
    .top{height: 50px; line-height: 50px;}
    .lb{font-size: 16px; font-weight: 700; color: #333; margin-right: 30px;}
    .top span{font-size: 24px; color: #f00; font-weight: 700;}
    .mid{border: 1px dashed #d2d2d2; border-left: 0; border-right: 0;}
    .mid>div{height: 50px; line-height: 50px; display: flex; align-items: baseline;}
    .mid input{height: 30px; width: 300px; padding-left: 10px;}
    .address p{line-height: normal; flex: 1;}
    .change-addr{text-align: right;height: 35px; line-height: 35px; }
    .change-addr a{color: #199ED8;}
    .bot li{height: 65px; line-height: 65px; list-style: disc;}
    .bot li button{background-color: #f00; float: right; transform: translateY(50%);}
    .bot li a{color: #669900;}
    td.table-cell{display: flex; align-items: center;padding: 9px 0px;}
    .table-cell button{height: 22px; line-height: 22px; border-radius: 4px; padding: 0 10px;}
    
    .wait-check{color: #669900; margin-left: 10px;}
    .check-fail{color: #f00;}
    .layui-table th{padding: 9px 0;}
    .layui-table td{font-size: 13px;}
    body {
        background: #fff;
    }

    .form-input {
        width: auto;
    }

    .form-input > input {
        width: 130px;
    }

    .m_r {
        margin-right: 50px;
    }

    .m_t {
        margin-top: 20px;
    }
    .p_l {
        padding-left: 6px;
    }

    .layui-btn {
        border-radius: 6px;
        height: 50px;
    }

    .layui-form-lists .layui-btn {
        width: 170px;
    }

    .layui-btn-primary {
        margin-right: 150px;
    }

    .layui-form-item {
        margin-left: 200px;
        margin-top: 80px;
    }
   #app {display: flex;justify-content : space-around;}
   .layui-elem-quote{border-left: 0;}
   .flex_mian{padding: 6px;}
   .flex{display: flex;justify-content : space-between;width: 100%;line-height: 30px;padding: 2px;position: relative;}
   .felx_c{border-top:1px solid rgb(26, 188, 156);border-bottom:1px solid rgb(26, 188, 156);background-color: rgb(249, 249, 249);}
   .input_k{border:1px solid rgb(26, 188, 156);border-radius: 3px;display: flex;justify-content : space-between;width: 100%;line-height: 30px;padding: 2px;}
   .all_btn{color: rgb(26, 188, 156);cursor:pointer;}
   .move{margin-right: 5px;}
   /* .del, .move{display: none;} */
   .noshow {display: none;}
   .save{margin-right: 5px;}
   .add{text-align:center;font-size: 18px;border: 1px dashed rgb(153, 153, 153);color: rgb(153, 153, 153);cursor:pointer;margin-top: 5px;width:100%;padding: 2px;}
   .tog{position: absolute;right: 0;top: 30px;background-color: #fff;border: 1px solid rgb(255, 223, 223);padding: 10px;z-index: 1000;}
   .tog>div{cursor:pointer;}
   .seach_laber{width: auto !important; text-align: left;}
</style>

{/block}

<body>
    {block name="content"}
    <div class="childrenBody">
        {include file="template/_top"/}
    </div>
    <div id="app">
        
        <!-- <form class="layui-form layui-form-lists" action="{:url('')}" method="post" enctype="multipart/form-data"> -->
            <div style="width: 15%;">
                <blockquote class="layui-elem-quote news_search">
                    <div class="seach_laber">
                        省份
                        <span id="province_number"></span>
                    </div>
                </blockquote>
                <div class="flex_mian m_t" id="province" data-id="1">
                    
                   
                    <!-- {if !empty($data['one'])}{volist name="$data['one']" id="one"}
                    <div class="flex"  data-id="{$one.id}">
                            <div class="names">{$one.name}</div>
                            <div style="flex: 1;"></div>
                            <div class="all_btn del noshow">删除</div>
                        </div>
                    {/volist}{/if}

                    <div class="add" onclick="add(this)">
                        新增
                    </div> -->
                </div>
            </div>
            <div style="width: 15%;">
                <blockquote class="layui-elem-quote news_search">
                    <div class="seach_laber">
                        特级城市
                        <span id="supers_number">（{$data.two_number}个）</span>
                    </div>
                </blockquote>
                <div class="flex_mian m_t" id="supers" data-id="2">

                        {if !empty($data['two'])}{volist name="$data['two']" id="two"}
                        <div class="flex"  data-id="{$two.id}">
                                <div class="names">{$two.name}</div>
                                <div style="flex: 1;"></div>
                                <div class="all_btn move noshow">移动</div>
                                <div class="all_btn del noshow">删除</div>
                                <div class="tog noshow">
                                        <div class="choose" data-city="supers" data-id="2">特级城市</div>
                                        <div class="choose" data-city="one" data-id="3">一级城市</div>
                                        <div class="choose" data-city="two" data-id="4">二级城市</div>
                                        <div class="choose" data-city="three" data-id="5">三级城市</div>
                                </div>
                            </div>
                        {/volist}{/if}
                    <div class="add" onclick="add(this)">
                            新增
                    </div>
                </div>
            </div>
            <div style="width: 15%;">
                <blockquote class="layui-elem-quote news_search">
                    <div class="seach_laber">
                        一级城市
                        <span id="one_number">（{$data.three_number}个）</span>
                    </div>
                </blockquote>
                <div class="flex_mian m_t" id="one" data-id="3">
                        {if !empty($data['three'])}{volist name="$data['three']" id="three"}
                        <div class="flex"  data-id="{$three.id}">
                                <div class="names">{$three.name}</div>
                                <div style="flex: 1;"></div>
                                <div class="all_btn move noshow">移动</div>
                                <div class="all_btn del noshow">删除</div>
                                <div class="tog noshow">
                                        <div class="choose" data-city="supers" data-id="2">特级城市</div>
                                        <div class="choose" data-city="one" data-id="3">一级城市</div>
                                        <div class="choose" data-city="two" data-id="4">二级城市</div>
                                        <div class="choose" data-city="three" data-id="5">三级城市</div>
                                </div>
                            </div>
                        {/volist}{/if}
                    <div class="add" onclick="add(this)">
                            新增
                    </div>
                </div>
            </div>
            <div style="width: 15%;">
                <blockquote class="layui-elem-quote news_search">
                    <div class="seach_laber">
                        二级城市
                        <span id="two_number">（{$data.four_number}个）</span>
                    </div>
                </blockquote>
                <div class="flex_mian m_t" id="two" data-id="4">
                        {if !empty($data['four'])}{volist name="$data['four']" id="four"}
                        <div class="flex"  data-id="{$four.id}">
                                <div class="names">{$four.name}</div>
                                <div style="flex: 1;"></div>
                                <div class="all_btn move noshow">移动</div>
                                <div class="all_btn del noshow">删除</div>
                                <div class="tog noshow">
                                        <div class="choose" data-city="supers" data-id="2">特级城市</div>
                                        <div class="choose" data-city="one" data-id="3">一级城市</div>
                                        <div class="choose" data-city="two" data-id="4">二级城市</div>
                                        <div class="choose" data-city="three" data-id="5">三级城市</div>
                                </div>
                            </div>
                        {/volist}{/if}
                    <div class="add" onclick="add(this)">
                            新增
                    </div>
                </div>
            </div>
            <div style="width: 15%;">
                <blockquote class="layui-elem-quote news_search">
                    <div class="seach_laber">
                        三级城市
                        <span id="three_number">（{$data.five_number}个）</span>
                    </div>
                </blockquote>
                <div class="flex_mian m_t" id="three" data-id="5">
                        {if !empty($data['five'])}{volist name="$data['five']" id="five"}
                        <div class="flex"  data-id="{$five.id}">
                                <div class="names">{$five.name}</div>
                                <div style="flex: 1;"></div>
                                <div class="all_btn move noshow">移动</div>
                                <div class="all_btn del noshow">删除</div>
                                <div class="tog noshow">
                                        <div class="choose" data-city="supers" data-id="2">特级城市</div>
                                        <div class="choose" data-city="one" data-id="3">一级城市</div>
                                        <div class="choose" data-city="two" data-id="4">二级城市</div>
                                        <div class="choose" data-city="three" data-id="5">三级城市</div>
                                </div>
                            </div>
                        {/volist}{/if}
                    <div class="add" onclick="add(this)">
                            新增
                    </div>
                </div>
            </div>
            
        <!-- </form> -->
    </div>
    {/block}
    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], () =>  {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;

            //删除某项
            $('.del').click(function(e) {
                var _this = $(this);
                var city_id = _this.parent(".flex").data("id");
                layer.open({
                    content:'确定删除？',
                    btn:['确定','取消'],
                    yes:function(index, layero) {
                        $.ajax({
                            url: "city_rank_delete",
                            type: "POST",
                            data: {
                                id : city_id
                            },
                            success: (res) => {
                                if(res.code == 1) {
                                    alert(res.msg)
                                    _this.parent().remove();
                                    layer.close(index);
                                } else {
                                    alert(res.msg);
                                }
                            },
                            error: (e) => {
                                console.error(e);
                            }
                        })
                    }  
                })
                
            })
            form.render();
        })
    </script>
    <script src="__STATIC__/admin/common/diliweizhi/new_distpicker.js"></script>
    <script>
        function dHtml(id, name) {
            let dHtml = `<div class="flex"  data-id="${id}">
                                    <div class="names">${name}</div>
                                    <div style="flex: 1;"></div>
                                    <div class="all_btn move noshow">移动</div>
                                    <div class="all_btn del noshow">删除</div>
                                    <div class="tog noshow">
                                            <div class="choose" data-city="supers" data-id="2">特级城市</div>
                                            <div class="choose" data-city="one" data-id="3">一级城市</div>
                                            <div class="choose" data-city="two" data-id="4">二级城市</div>
                                            <div class="choose" data-city="three" data-id="5">三级城市</div>
                                    </div>
                                </div>`;
            return dHtml;
        }
        //获取省份
        let province_lv = ChineseDistricts_new["86"], pro_num = new Array;
        for (let i in province_lv) {
            var dhtml;
            dhtml = `<div class="flex"  data-id="${i}">
                    <div class="names">${province_lv[i]}</div>
                    </div>`;
            $("#province").append(dhtml);
            pro_num.push(province_lv[i]);
        }
        $('#province_number').text(`（${pro_num.length}个）`);


        $('#province').on('click', '.flex', function () {
            let province_id = $(this).data('id');
            let citys = ChineseDistricts_new[province_id], arr=new Array;
            for(let i in citys) {
                arr.push(citys[i]);
            }
            $.ajax({
                url: "city_rank_search",
                type: "POST",
                data: { city: arr},
                success: (res) => {
                    let data = res.data;
                    if(res.code == 1) {
                        $('#supers').find(".flex").remove();
                        $('#one').find(".flex").remove();
                        $('#two').find(".flex").remove();
                        $('#three').find(".flex").remove();
                        if(data.two != '' || data.two != null) {
                            $('#supers_number').text(`（${data.two.length}个）`);
                            for(let i = 0; i < data.two.length; i ++) {
                                $('#supers').find(".add").before(dHtml(data.two[i].id, data.two[i].name));
                            }
                        }
                        if(data.three != '' || data.three != null) {
                            $('#one_number').text(`（${data.three.length}个）`);
                            for(let i = 0; i < data.three.length; i ++) {
                                $('#one').find(".add").before(dHtml(data.three[i].id, data.three[i].name));
                            }
                        }
                        if(data.four != '' || data.four != null) {
                            $('#two_number').text(`（${data.four.length}个）`);
                            for(let i = 0; i < data.four.length; i ++) {
                                $('#two').find(".add").before(dHtml(data.four[i].id, data.four[i].name));
                            }
                        }
                        if(data.five != '' || data.five != null) {
                            $('#three_number').text(`（${data.five.length}个）`);
                            for(let i = 0; i < data.five.length; i ++) {
                                $('#three').find(".add").before(dHtml(data.five[i].id, data.five[i].name));
                            }
                        }
                        
                    }

                },
                error: (e) => { console.error(e)}
                
            })
        })
        
        //新增input框
        function add(e) {
            let dif = $(e).parent()[0].id;
            let html_add = `<div class="input_k">
                        <input class="input_text" type="text" style="border:none;"  autofocus="autofocus">
                        <div style="flex: 1;"></div>
                        <div class="all_btn save" onclick="save(this,${dif})">保存</div>
                        <div class="all_btn" onclick="cancel(this)">取消</div>
                    </div>`;
                    $(e).before(html_add);
        }
        //input框取消
        function cancel(e) {
            $(e).parent(".input_k").remove();
        }
        //input保存
        function save(e,dif) {
            let input_text = $(e).parent(".input_k").children(".input_text").val();
            let city_id = $(e).parents(".flex_mian").data("id");
            let html_save = `<div class="flex">
                        <div>${input_text}</div>
                        <div style="flex: 1;"></div>`;
            if(dif != "province") {
                html_save  +=` <div class="all_btn move noshow">移动</div>`;
            }
            html_save += `<div class="all_btn del noshow">删除</div>
                        <div class="tog noshow">
                                <div class="choose" data-city="supers" data-id="2">特级城市</div>
                                <div class="choose" data-city="one" data-id="3">一级城市</div>
                                <div class="choose" data-city="two" data-id="4">二级城市</div>
                                <div class="choose" data-city="three" data-id="5">三级城市</div>
                        </div>
                        </div>`;
            $.ajax({
                url: "city_rank_add",
                type: "POST",
                data: {
                    name: input_text,
                    rank_status: city_id
                },
                success: (res) => {
                    if(res.code == 1) {
                        $(e).parent(".input_k").before(html_save);
                        $(e).parent(".input_k").remove();
                        alert(res.msg);
                        window.location.reload();
                    } else {
                        alert(res.msg);
                    }
                },
                error: (e) => {
                    console.error(e)
                }
                
            })
        }

        //点击选中改变样式
        $('#province').add('#one').add('#two').add('#three').add('#supers').on('click','.flex', function(){
        //  $(".flex").click(function() {
                $(this).addClass("felx_c");
                $(this).find(".del").removeClass("noshow");
                $(this).find(".move").removeClass("noshow");
                $(this).siblings().find(".del").addClass("noshow");
                $(this).siblings().find(".move").addClass("noshow");
                $(this).siblings().removeClass("felx_c");
        })

        //移动弹框
        $('#province').add('#one').add('#two').add('#three').add('#supers').on('click','.move', function(){
            $(this).parent().find(".tog").toggle();
        })
        //移动分组
        $('#province').add('#one').add('#two').add('#three').add('#supers').on('click','.choose', function(){
            let choose_name = $(this).parents(".flex").find('.names').text();//城市名
            let choose_city_id = $(this).data("id"); //城市等级
            let choose_city = $(this).data("city"); //城市所属id
            let choose_id = $(this).parents(".flex").data("id");//城市数据库id
            let html_save = `<div class="flex">
                        <div>${choose_name}</div>
                        <div style="flex: 1;"></div>
                        <div class="all_btn move noshow">移动</div>
                        <div class="all_btn del noshow">删除</div>
                        <div class="tog noshow">
                            <div class="choose" data-city="supers" data-id="2">特级城市</div>
                            <div class="choose" data-city="one" data-id="3">一级城市</div>
                            <div class="choose" data-city="two" data-id="4">二级城市</div>
                            <div class="choose" data-city="three" data-id="5">三级城市</div>
                        </div>
                        </div>`;
            $.ajax({
                url: "city_rank_update",
                type: "POST",
                data: {
                    id: choose_id,
                    rank_status: choose_city_id
                },
                success: (res) => {
                    if(res.code == 1) {
                        $(`#${choose_city}`).find(".add").before(html_save);
                        $(this).parents(".flex").remove();
                        alert(res.msg);
                        window.location.reload();
                    } else {
                        alert(res.msg);
                    }
                },
                error: (e) => {
                    console.error(e)
                }
            })
        })
    </script>
    {/block}

</body>

</html>