{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }
    .red{color: red;}
    .form-input>input {width: 30%;}
    .city{margin: auto 0;}
    .city_s{color: rgb(22, 155, 213);font-weight: 700;}
</style>

{/block}

<body>
    {block name="content"}
    <form class="layui-form layui-form-lists" action="{:url('admin/City/city_rank_meal_add')}" method="post" enctype="multipart/form-data">
        <div class="form-item">
            <label class="form-label"><span class="red">*</span> 等级名称</label>
            <div class="form-input city">
                <input type="text" name="city_meal_name" value="" required lay-verify="title" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">套餐价格</label>
            <div class="form-input">
                <input type="text" name="meal_price" value="" required lay-verify="title" autocomplete="off" placeholder="                                       元" class="layui-input" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">套餐划线价格</label>
            <div class="form-input">
                <input type="text" name="line_price" value="" required lay-verify="title" autocomplete="off" placeholder="                                       元" class="layui-input" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">卖点介绍</label>
            <div class="form-input">
               <textarea name="selling_point" placeholder="请输入内容" required lay-verify="required"
					class="layui-textarea"></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
    </form>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}

    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
            var form = layui.form(),
                $ = layui.jquery;
            form.render();
            //创建一个编辑器
            //var editIndex = layedit.build('LAY_demo_editor');

        });
    </script>

    {/block}

</body>

</html>