{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }
    .red{color: red;}
    /* .form-input>input {width: 30%;} */
    .city{margin: auto 0;}
    .city_s{color: rgb(148, 148, 148);}
    .city>img {width: 250px; height: 150px; margin-right: 30px;}
    .m_t{margin-top: 50px;}
</style>

{/block}

<body>
    {block name="content"}
    {if !empty($user_data)}
    <form class="layui-form layui-form-lists" action="{:url('admin/City/city_datum_verify_update')}" method="post" enctype="multipart/form-data">
        <blockquote class="layui-elem-quote news_search">
                <div class="seach_laber">
                   基础信息
                </div>
        </blockquote>
        <input type="hidden" name="id" id="" value="{$user_data.user_id}" />
        <div class="form-item">
            <label class="form-label" style="width:10%;">入驻身份</label>
            <div class="form-input city">
                {if $user_data.id_status == 1}
                <span class="city_s">企业</span>
                {else}
                <span class="city_s">个人</span>
                {/if}
            </div>
        </div>
        <div class="form-item">
            <label class="form-label" style="width:10%;">合伙人账号</label>
            <div class="form-input city">
                <span class="city_s">{$user_data.phone_number}</span>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label" style="width:10%;">联系人姓名</label>
            <div class="form-input city">
                <span class="city_s">{$user_data.user_name}</span>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label" style="width:10%;">联系人身份证</label>
            <div class="form-input city">
                <span class="city_s">{$user_data.id_card}</span>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label" style="width:10%;">证明文件</label>
            <div class="form-input city">
                <img src="{$user_data.id_image}" alt="">
                <img src="{$user_data.id_image_reverse}" alt="">
            </div>
        </div>
        <div class="form-item">
                <label class="form-label" style="width:10%;">申请城市</label>
                <div class="form-input city">
                    <span class="city_s">{$user_data.city_address}</span>
                </div>
        </div>
        <div class="form-item">
            <label class="form-label" style="width:10%;">我的优势</label>
            <div class="form-input">
               <textarea  placeholder="请输入内容" required lay-verify="required"
					class="layui-textarea">{$user_data.advantage}</textarea>
            </div>
        </div>
        <div class="form-item m_t">
                <label class="form-label" style="width:10%;">审核状态</label>
                <div class="form-input" style="width: 10%;">
                        <select name="status" >
                        {if $user_data.status == 3}
								<option value="1" >通过</option>
                                <option value="3" selected="">不通过</option>
                        {else}
                            <option value="1" selected="">通过</option>
                            <option value="3" >不通过</option>
                        {/if}
						</select>
                </div>
        </div>
        <div class="form-item m_t">
                <label class="form-label" style="width:10%;">审核说明</label>
                <div class="form-input">
                    <input type="text" name="admin_explain" value="{$user_data.admin_explain}" lay-verify="title" autocomplete="off" placeholder="  您的店铺资料不完整，得重新申请"
                    class="layui-input">
                    <div class="tips">
                        *少于20字
                    </div>
                </div>
        </div>

        <div class="layui-form-item m_t">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
    </form>
    {/if}

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}

    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
            var form = layui.form(),
                $ = layui.jquery;
            form.render();

        });
    </script>

    {/block}

</body>

</html>