{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	#page {
		width: 97%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}

	.on {
		color: #21A5FA !important;
		border-bottom: solid 3px #21A5FA;
	}

	.static_btus1, .static_btus_y {
		width: 100px;
		text-align: center;
		cursor: pointer;
	}
	
	/* 没申请 */
	.not_apply {
		color: #BCBCBC;
		background-color: transparent;
		border: solid 1px #BCBCBC;
		border-radius: 3px;
	}

	/* 申请 */
	.apply {
		color: #FF9900;
		border: solid 1px #FF9900;
		border-radius: 3px;
	}

	/* 已开票
	 */
	.applyed {
		color: #669900;
		border: solid 1px #669900;
		border-radius: 3px;
	}

	.static_btus2 {
		height: 30px;
		line-height: 30px;
		color: #0099FF;
		cursor: pointer;
		text-align: center;
        margin-right: 10px;
	}

	.distribution_list {
		margin-bottom: 10px;
		border-bottom: solid 1px #D7D7D7;
	}

	.distribution_list ul {
		display: flex;
		align-items: center;
	}


	.line {
		justify-content: center;
	}


	.distribution_list a {
		font-size: 14px;
		padding: 9px;
		color: #5E5E5E;
	}

	.distribution_list ul li {}

	.static_btus {
		border-radius: 5px;
	}


	.state {
		width: 100px;
		height: 30px;
		line-height: 30px;
		border-radius: 4px;
		/* background: #007AFF; */
		color: #fff;
		margin: 0 auto;
	}

	/*
     * 弹窗
     4*/

	.popup {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 99999;
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid 1px #D7D7D7;
		box-sizing: border-box;
	}

	.submit_btns, .invoice_btns {
		width: 100px;
		height: 38px;
		color: #fff;
		background: #169BD5;
		border-radius: 10px;
	}

	.popup_doms {
		width: 790px;
		height: 400px;
		background: #fff;
	}

	.popup_doms1 {
		width: 900px;
		background: #fff;
	}

	.popup_content {
		padding: 20px;
	}

	.popup_title {
		height: 40px;
		line-height: 40px;
		color: #66662B;
		background: #EEF7EA;
		padding-left: 20px;
	}

	.span {
		display: inline-block;
		width: 80px;
		text-align: left;
		margin-right: 20px;
	}

	.repany .layui-input {
		width: 530px;
	}

	.repany {
		margin-bottom: 10px;
	}

	.operation {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.chat {
		height: 210px;
	}

	.danhao {
		width: 200px;
		margin-right: 10px;
	}

	.operation select {
		width: 130px;
		height: 40px;
		border-color: #ABADB3;
		color: #000;
		background: #fff;
	}

	.operation div {
		margin-right: 10px;
	}

	.tip {
		color: red;
		margin-left: 200px;
	}

	.noshow {
		display: none;
	}

	.popup_title {
		position: relative;
	}

	.popup_x {
		width: 25px;
		position: absolute;
		right: 12px;
		top: -4px;
	}

	.repay_tip {
		display: inline-block;
		width: 100px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		color: #fff;
		background: #669900;
		border-radius: 5px;
	}

	.button {
		width: 100px;
		line-height: 30px;
		text-align: center;
		border: 1px solid #a2a2a2;
		border-radius: 5px;
		cursor: pointer;
	}

	.button_all {
		display: flex;
		justify-content: space-around;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	/* .quxiao {} */

	.daying {
		background: rgb(22, 155, 213);
		color: #fff;
	}


	/*
     * 弹窗end
		 */
	/* .seach_button_all {} */

	.seach_button {
		border-radius: 4px;
		display: inline-block;
		width: 80px;
		line-height: 30px;
		color: #fff;
		text-align: center;
	}

	.all0 {
		background: #F4FBFF;
		color: #999;
	}

	.all1 {
		background: #CC3366;
	}

	.all2 {
		background: #CC00CC;
	}

	.all3 {
		background: #FF0000;
	}

	.all4 {
		background: #669900;
	}

	.all5 {
		background: #A1A1A1;
		color: #000;
	}

	/* 状态颜色 */
	/* 待付款 */
	.color1 {
		background: #CC3366;
	}

	/* 待发货 */
	.color2 {
		background: #CC00CC;
	}

	/* 已发货 */
	.color3 {
		background: #FF0000;
	}

	/* 已完成 */
	.color4 {
		background: #669900;
	}

	/* 已关闭 */
	.color5 {
		background: #A1A1A1;
	}

	/* 已退款 */
	.color6 {
		background: #CC9900;
	}

	/* 已入仓 */
	.color7 {
		background: #0000CC;
	}


	/*  待发货*/
	.color8 {
		background: #CC00CC;
	}

	/* 已取消 */
	.color9 {
		background: #831626;
	}

	.chenge_money {
		display: flex;
		margin-left: 10px;
		text-align: center;
		justify-content: space-between;
		padding-top: 20px;
		border-top: 2px dashed rgb(223, 223, 223)
	}

	.danwei {
		position: absolute;
		top: 10px;
		left: 170px;

	}

	td.three>div,
	td.four>div,
	td.five>div {
		border-bottom: 1px solid #e2e2e2;
	}
	td.four {
		width: 350px;
	}
	td.four>div {
		line-height: 50px;
		white-space: nowrap;
		max-width: 350px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	td.three>div:last-of-type,
	td.four>div:last-of-type,
	td.five>div:last-of-type {
		border: 0;
	}

	td {
		padding: 4px 0 !important;
	}

	td img {
		width: 50px;
		height: 50px;
	}

	.popup_content1 {
		padding: 0 15px;
	}

	.popup_content1>td {
		width: 120px;
	}

	.popup_t {
		font-size: 18px;
		font-weight: 500;
		color: black;
		line-height: 40px;
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
		align-items: flex-end;
	}

	.norm>div:last-child {
		border-bottom: 0px;
	}

	.norm_div {
		border-bottom: 1px solid rgb(226, 226, 226);
		line-height: 25px;
	}
	.zt_all {
		font-size: 25px;
		font-weight: 700;
	}
	.zt_red {
		color:red;
	}
	.zt_greed {
		color: rgb(102, 153, 0);
	}
	.beizhu {color: rgb(255, 177, 201);margin:110px 0 10px 10px ;}
	.chat_1{height: 110px;}
	.fl_text{float: left;font-weight: 700;font-size: 20px;}
	.fr_text{float: right;color: rgb(254, 151, 80);}
	.fp_div{width: 100%;height: 30px;}
	.invoice{padding: 0 30px;}

</style>

{/block}

<body>

	{block name="content"}

	<div class="childrenBody">
		{include file="template/_top" /}
		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="{:url('admin/City/city_price_examine')}">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">入驻商名称：</div>
						<div class="seach_input">
							<input type="text" name="name" lay-verify="title" autocomplete="off"
								placeholder="姓名/公司名/用户账号" class="layui-input">
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">入驻审核：</div>
						<div class="seach_input">
							<select name="status">
								<option value="" selected="">全部</option>
								<option value="2">入驻审核</option>
								<option value="1">入驻审核通过</option>
								<option value="3">入驻审核不通过</option>
							</select>
						</div>
					</div>
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>
			</form>
		</blockquote>
		<div class="seach_button_all">
			<a href="{:url('admin/City/order_preparation',['status'=>0])}" class=" layui-btn layui-btn-mini all5">全部</a>
			<a href="{:url('admin/City/order_preparation',['status'=>1])}" class=" layui-btn layui-btn-mini color7">汇款待审核</a>
			<a href="{:url('admin/City/order_preparation',['status'=>2])}" class=" layui-btn layui-btn-mini all4">到账审核通过</a>
			<a href="{:url('admin/City/order_preparation',['status'=>3])}" class=" layui-btn layui-btn-mini all3">汇款未到账</a>
			<a href="{:url('admin/City/order_preparation',['status'=>4])}" class=" layui-btn layui-btn-mini all4">线上付款通过</a>
		</div>
		<div class="layui-form news_list">
			<table class="layui-table">
				<thead>
					<tr>
						<!-- <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th> -->
						<th>订单编号</th>
						<th>用户账号（手机号）</th>
						<th>联系人姓名</th>
						<th>入驻身份</th>
						<th>选择城市</th>
						<th>金额</th>
						<th>生效时间</th>
						<th>到期时间</th>
						<th>支付方式</th>
						<th>到账情况</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
					{if !empty($data)}{volist name="data" id="value"}
					<tr>
						<!-- <td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="">
						</td> -->
						<td>{$value.order_number}</td>
						<td>{$value.phone_number}</td>
						<td>{$value.user_name}</td>
						<td>{if $value.id_status == 1}企业{else}个人{/if}</td>
						<td>{$value.city_address}</td>
						<td>￥{$value.order_price}</td>
						<td>{$value.start_time|date="Y-m-d H:i",###}</td>
						<td>{$value.end_time|date="Y-m-d H:i",###}</td>
						<td>{$value.pay_status|city_pay}</td>
						<td>{$value.account_status|city_pay_status}</td>
						<td>
							<div class="line">
								<div class="static_btus" data-id="" data-value="" data-type="">
									{if $value.pay_status == 3}
									<a href="{:url('admin/City/city_price_examine_update',['id'=>$value.id])}" class="">{$value.account_status|city_remit}</a>
									{else}
									<div class="layui-btn-mini all4" style="width: 90px;color: #fff;">线上付款通过</div>
									{/if}
								</div>
                                <div class="static_btus1" data-id="">
                                    <div class=" layui-btn layui-btn-mini not_apply ">未申请开票</div>
                                </div>
							</div>
						</td>
					</tr>
					{/volist}{/if}
				</tbody>
			</table>
			<div id="page">
				<!-- <div class="opation up-form-select" style="width: 200px; float: left;">
					<select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
						<option check="" value="0">请选择</option>
						<option value="1">批量删除</option>
						<option value="2">批量关闭</option>
					</select>
				</div>
				<div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
					<button type="button" id="opration_btu"
						style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
					</button>
				</div> -->
			</div>
			{if !empty($data)}{$data->render()}{/if}
		</div>
	</div>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function () {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
			//点击操作确认按钮
			var data_id = [];
			$("#opration_btu").click(function () {
				var opration_val = $(".opation select option:selected").val();
				if (opration_val == 0) {
					layer.alert('请选择操作', {
						skin: 'layui-layer-molv', //样式类名
						closeBtn: 0
					});
				} else if (opration_val == 1) {
					layer.confirm('你确认要删除吗？', {
						btn: ['确认', '取消'] //按钮
					}, function (index) {
						layer.close(index);
						var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
						for (var i = 0; i < child.length; i++) {
							data_id.push($(child[i])[0].dataset.id);
						}
						$.ajax({
							type: "POST",
							url: "{:url('admin/Category/dels')}",
							data: {
								"id": data_id,
							},
							success: function (data) {
								console.log("成功");
								console.log(data);
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
									,
									closeBtn: 0
								});
								location.reload();
								data_id.splice(0, data_id.length);
							},
							error: function (data) {
								var data = $.parseJSON(data);
								layer.alert(data.info, {
									skin: 'layui-layer-molv' //样式类名
									,
									closeBtn: 0
								});
								console.log(data);
								console.log("错误");
								data_id.splice(0, data_id.length);
							}
						});
					});

				}

			});

			//全选
			form.on('checkbox(allChoose)', function (data) {
				var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
				child.each(function (index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});
			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)", function (data) {
				// console.log($(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0))

				var child = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[lay-skin="primary"]:not([name="show"]):checked');
				if (childChecked.length === child.length) {
					$(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = true;
				} else {
					$(data.elem).parents('table').find('thead input[lay-filter="allChoose"]').get(0).checked = false;
				}
				form.render('checkbox');
			})

			form.on('switch(isShow)', function (data) {
				if ($(this).val() == 0) {
					$(this).val(1);
				} else {
					$(this).val(0);
				}
				var vals = data.value;
				var id = $(this).data("id");
				var status = $(this).val();
				$.ajax({
					type: "POST",
					url: "{:url('')}",
					data: {
						"id": id,
						"status": status
					},
					success: function (data) {
						console.log("成功")
					},
					error: function (data) {
						console.log("错误")
					}
				});

			})
		})
		
		// $(".static_btus").click(function () {
		// 	$(".popup_one").removeClass("noshow");
		// })
	
		//弹窗隐藏
		$(".popup_x").click(function () {
			$(".popup").addClass("noshow");
		});
		
		//开票
		$(".static_btus1").click(function () {
			$(".popup_kp").removeClass("noshow");
			var data_id = $(this).data("id");
			$('.popup_content_kp').empty();
			$.ajax({
				type: "POST",
				url: "{:url('admin/Order/get_receipt_detail')}",
				data: { 
					parts_order_number: data_id
				},
				success: function(data) {
					var data = eval('(' + data + ')');
					let time = timestampToTime(data.data.create_time),
					money = (data.data.receipt_money).toFixed(2);
					let dhtml = ``;
					dhtml = `<div class="invoice">	
					<div class="fp_div">
						<div class="fl_text">办理时间</div>
						<div class="fr_text">${time}</div>
					</div>
					<div class="fp_div">
						<div class="fl_text">发票抬头</div>
						<div class="fr_text">${data.data.company}</div>
					</div>
					<div class="fp_div">
						<div class="fl_text">发票金额</div>
						<div class="fr_text">${money}元</div>
					</div>
					<div class="fp_div">
						<div class="fl_text">邮寄地址</div>
						<div class="fr_text">${data.data.address}</div>
					</div>

				</div>
				<div class="operation"></div>
				<div class="beizhu">备注：如果是客户购物车多订单下单，此处已合并发票金额，只开一张发票即可</div>
				<div class="chenge_money">
						<div class="select_static">
						<span class="operation_title">选择操作</span>
						<select name="" class="operation_select">
						<option value="0" selected="">请选择</option>
						<option value="1" >已开票</option>
						</select>
						</div>
						<button type="button" class="invoice_btns">确定</button>
						</div>`
						$('.popup_content_kp').append(dhtml);
						$('.invoice_btns').click(function() {
							var operation_select = $(".operation_select option:selected").val();
							if(operation_select == 0) {
								$(".popup_kp").addClass("noshow");
							} else {
								$.ajax({
									type: "POST",
									url: "{:url('admin/Order/receipt_do')}",
									data: { 
										parts_order_number: data_id
									},
									success: function(data) {
										alert('修改成功');
										$(".popup_kp").addClass("noshow");
										window.location.reload();
									}
								});
							}
						})
				}
			})
		});
	
	</script>

	{/block}

</body>

</html>