{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }
    .red{color: red;}
    /* .form-input>input {width: 30%;} */
    .city{margin: auto 0;}
    .city_s{color: rgb(148, 148, 148);}
    .city>img {width: 250px; height: 150px;}
    .m_t {margin-top: 50px;}
</style>

{/block}

<body>
    {block name="content"}
    {if !empty($order_data)}
    <form class="layui-form layui-form-lists" action="{:url('admin/City/city_price_examine_replace')}" method="post" enctype="multipart/form-data">
        <blockquote class="layui-elem-quote news_search">
                <div class="seach_laber">
                   支付信息
                </div>
        </blockquote>
        <div class="form-item">
            <label class="form-label" style="width:10%;">付款账号</label>
            <div class="form-input city">
                <span class="city_s">{$order_data.remittance_account}</span>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label" style="width:10%;">付款凭证</label>
            <div class="form-input city">
                <img src="{$order_data.payment_document}" alt="">
            </div>
        </div>
        <blockquote class="layui-elem-quote news_search m_t">
                <div class="seach_laber" style="width: 9%;">
                   选择代理城市费用信息
                </div>
        </blockquote>
        <div class="form-item">
                <label class="form-label" style="width:10%;">城市金额</label>
                <div class="form-input city">
                    <span class="city_s">{$order_data.order_price}</span>
                </div>
        </div>
        <div class="form-item">
                <label class="form-label" style="width:10%;">审核状态</label>
                <div class="form-input" style="width: 10%;">
                        <select name="order_type" >
								<option value="1" selected="">通过</option>
								<option value="3">不通过</option>
						</select>
                </div>
        </div>
        <div class="form-item">
                <label class="form-label" style="width:10%;">审核说明</label>
                <div class="form-input">
                    <input type="text" name="admin_explain" value="{$order_data.admin_explain}" lay-verify="title" autocomplete="off" placeholder="  您的店铺资料不完整，得重新申请"
                    class="layui-input">
                    <div class="tips">
                        *少于20字
                    </div>
                </div>
        </div>

        <div class="layui-form-item m_t">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
    </form>
    {/if}

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}

    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
            var form = layui.form(),
                $ = layui.jquery;
            form.render();

        });
    </script>

    {/block}

</body>

</html>