.wrapper{
    position: relative;
    width: 100%;
    min-width: 1000px;
}

/* main 板块 */
.main_box{
    width: 100%;
}

.main_box .about_content{
    position: relative;
    background: url(../img/fix_bg.jpg) no-repeat center center;
    height: 353px;
    background-attachment: fixed;
}
.main_box .about_content .bg_box{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
}
.main_box .about_content p{
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 16px;
}

/* 模板商城 start*/
.model_mall{
    width: 100%;
}
.model_mall .model_mall_inner{
    background-color: #f4f5f9;
    padding-bottom: 20px;
}
.model_mall .model_mall_inner .model_ul_box{
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}
.model_mall_inner .model_ul_box ul{
    width: 100%;
    display: flex;
}
.model_ul_box ul li{
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin-right: 38px;
    margin-bottom: 40px;
}
.model_mall .model_mall_img{
    width: 361px;
    height: 227px;
    background: url(../img/model_mall.png) no-repeat center center;
    background-size: 100% 100%;
    transition: background-size .8s;
    -webkit-transition: background-size .8s;
    -moz-transition: background-size .8s;
}
.model_mall .model_mall_img:hover{
    background-size: 120% 120%;
}
.model_mall .model_mall_info_box .name_box{
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.model_mall_info_box .name_box .top, .model_mall_info_box .name_box .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.model_mall_info_box .top .goods_name{
    font-size: 18px;
}
.model_mall_info_box .top .hot{
    display: -webkit-box;
    text-align: center;
    font-size: 10px;
    color: #fff;
    background-color: #e30d0b;
    border-radius: 3px;
    padding: 1px 2px;
}
.model_mall_info_box .bottom .desc_span{
    font-size: 14px;
    color: #6b6b6b;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.model_mall_info_box .bottom .ljgm a{
    text-decoration: none;
    font-size: 14px;
    color: #ff0000;
}
.model_mall .model_mall_info_box .time_box{
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.model_mall_info_box .time_box p{
    width: 100%;
    text-align: right;
}
.model_mall_info_box .time_box p i{
    display: inline-block;
    background: url(../img/icon1.png) no-repeat center center;
    width: 32px;
    height: 31px;
    vertical-align: middle;
}
.model_mall .more_box{
    width: 100%;
    text-align: center;
}
.model_mall .more_box a{
    display: inline-block;
    width: 140px;
    height: 40px;
    border: 1px solid #B1120E;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #B1120E;
    font-size: 20px;
}
/* 模板商城 end*/

/* 定制开发 start */
.custom_develop .custom_develop_inner{
    background-color: #f4f5f9;
    padding-bottom: 20px;
    
}
.custom_develop .custom_ul_box{
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}
.custom_develop .custom_ul_box ul{
    display: flex;
    width: 100%;
}
.custom_develop .custom_ul_box ul li{
    margin-right: 40px;
    margin-bottom: 40px;
}
.custom_develop .custom_ul_box li a{
    display: inline-block;
    width: 260px;
    height: 260px;
    background: url(../img/u259.png) no-repeat center center;
}
.custom_develop .custom_ul_box li a span.cover{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.custom_develop .custom_ul_box li a span.cover1{
    background: url(../img/u260.png) no-repeat center center;
}
.custom_develop .custom_ul_box li a span.cover2{
    background: url(../img/u261.png) no-repeat center center;
}
.custom_develop .custom_ul_box li a span.cover3{
    background: url(../img/u262.png) no-repeat center center;
}
.custom_develop .custom_ul_box li a span.cover4{
    background: url(../img/u263.png) no-repeat center center;
}
.custom_develop .custom_ul_box li a span{
    transition: transform .7s;
}
.custom_develop .custom_ul_box li:hover span{
    transform: rotateY(-90deg);
}
.custom_develop .more_box{
    width: 100%;
    text-align: center;
}
.custom_develop .more_box a{
    display: inline-block;
    width: 140px;
    height: 40px;
    border: 1px solid #B1120E;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #B1120E;
    font-size: 20px;
}
/* 定制开发 end */

/* 小程序saas平台 start */
.small_program{
    width: 100%;
}
.small_program .small_program_bg{
    position: relative;
    background: url(../img/fix_bg.jpg) no-repeat center center;
    height: 520px;
    background-attachment: fixed;
}
.small_program .small_program_bg .cover_box{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}
.small_program .small_program_inner{
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
}
.small_program .small_program_inner .advantage{
    width: 100%;
    display: flex;
    height: 75px;
}
.small_program_inner .advantage .icon_box{
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
}
.small_program_inner .advantage .icon_box i{
    background: url(../img/icon2.png) no-repeat center center;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.small_program_inner .advantage .text_box{
    flex: 9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.small_program_inner .advantage .text_box p{
    color: #fff;
    font-size: 17px;
    line-height: 28px;
}

.small_program .small_program_inner .disadvantage{
    width: 100%;
    display: flex;
    height: 55px;
}
.small_program_inner .disadvantage .icon_box{
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
}
.small_program_inner .disadvantage .icon_box i{
    background: url(../img/icon3.png) no-repeat center center;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.small_program_inner .disadvantage .text_box{
    flex: 9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.small_program_inner .disadvantage .text_box p{
    color: #fff;
    font-size: 17px;
    line-height: 28px;
}
.tab_box{
    height: 390px;
    display: flex;
}
.tab_box .left_tab{
    flex: 1;
    padding: 18px 0;
}
.tab_box .left_tab ul{
    border-right: 1px solid #fff;
    height: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tab_box .left_tab ul li{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.tab_box .left_tab ul li.on{
    background-color: #3091f2;
    border-radius: 3px;
    /* background-color: rgba(215, 215, 215, .7); */
}
.tab_box .right_tab{
    flex: 8;
    padding: 18px 0 0 0; 
    margin-left: 68px;
    width: 1000px;
    height: 325px;
    overflow: hidden;
}
.tab_box .right_tab .content{
    display: flex;
    width: 100%;
    height: 100%;
}
.right_tab .intro{
    flex: 8;
}
.right_tab .intro .intro_img{
    margin-bottom: 30px;
}
.right_tab .intro .intro_img ul{
    display: flex;
}
.right_tab .intro .intro_img ul li{
    margin-right: 60px;
    text-align: center;
}
.right_tab .intro .intro_img ul li img{
    display: inherit;
}
.right_tab .intro .intro_img ul li .white_bg{
    background-color: rgba(251, 251, 251, .2);
    padding: 5px;
    margin-bottom: 15px;
}
.right_tab .intro .intro_img ul li p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.right_tab .intro .intro_text{
    color: #fff;
}
.right_tab .intro .intro_text h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.right_tab .intro .intro_text p{
    font-size: 16px;
    line-height: 32px;
}
.right_tab .content .ljsq{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_tab .content .ljsq a{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.right_tab .content .ljsq a:hover{
    color: #ff0000;
}
/* 小程序saas平台 end */

/* 弹窗样式 start*/
.mask{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9998;
}
.pop_close{
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    color: #000;
}
.pop_close:hover{
    color: #f00;
}
.pop{
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -275px 0 0 -260px;
    width: 520px;
    height: 550px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 5px;
    z-index: 9999;
}
.pop .pop_inner{
    width: 350px;
    margin: 40px auto 0;
}
.pop_inner .pop_title{
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}
.pop_inner .pop_cont{
    width: 100%;
}
.pop_cont .phone_num{
    width: 100%;
}
.pop_cont .phone_num input{
    width: 218px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: middle;
}
.pop_cont .phone_num select{
    height: 40px;
    width: 133px;
    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 14px;
    margin-left: -1px;
}
.pop_cont .password{
    width: 100%;
}
.pop_cont .password input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
}
.pop_cont .yzm .cerify-code-panel{
    display: flex;
    flex-direction: row-reverse;
}
.pop_cont .yzm .cerify-code-panel .verify-code{
    box-sizing: border-box;
    margin-left: -1px;
}
.pop_cont .yzm .cerify-code-panel .verify-code-area input{
    width: 218px !important;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
.pop_cont .phone_verify{
    width: 100%;
}
.pop_cont .phone_verify input,
.pop_cont .invitation_code input{
    font-size: 14px;
    width: 218px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
}
.pop_cont .phone_verify button,
.pop_cont .invitation_code button{
    font-size: 14px;
    width: 133px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    margin-left: -1px;
    cursor: pointer;
}
.pop_cont .invitation_code{
    width: 100%;
}
.pop_btn{
    width: 100%;
}
.pop_btn .sign_up{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(230, 45, 45, 1);
    background-color: rgba(230, 45, 45, 1);
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}
.pop_btn .sign_up:hover{
    background-color: rgba(200, 30, 30, 1);
    border: 1px solid rgba(200, 30, 30, 1);
}
.agreement{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.agreement .agree1 input{
    vertical-align: middle;
}
.agreement .agree1 a{
    text-decoration: none;
    color: #0099FF;
}
.agreement .agree2{
    color: #666;
}
.agreement .agree2 a{
    color: #c81e1e;
}
.pop .pop_logo{
    text-align: center;
    margin-bottom: 20px;
}
.pop .pop_logo img{
    width: 40%;
}
/* pop2 start */
.pop2{
    height: 500px;
}
.pop2 .pop_cont .phone_num input{
    width: 100%;
}
.pop2 .register_forget{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.pop2 .register_forget .register a{
    color: #f00;
}
.pop2 .register_forget .forget a{
    color: #f00;
    text-decoration: none;
}
.pop2 .pop_cont .password{
    position: relative;
}
.pop2 .pop_cont i.eyes_psw{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: url(../img/eyes-close.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.pop2 .pop_cont i.eyes_open{
    background: url(../img/eyes-open.png) no-repeat;    
    background-size: 100%;
}
/* pop2 end */

/* pop2 start */
.pop3{
    height: 480px;
}
.pop3 .phone_num input{
    width: 100%;
}
/* pop2 end */
/* 弹窗样式 end*/
