.model_mall{
    width: 100%;
}
.model_mall .model_mall_inner{
    background-color: #f4f5f9;
    padding-bottom: 20px;
}
.model_mall .model_mall_inner .model_ul_box{
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}
.model_mall_inner .model_ul_box ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.model_ul_box ul li{
    flex-basis: 22%;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin-right: 32px;
    margin-bottom: 40px;
    cursor: pointer;
}
.model_mall .model_mall_img{
    width: 100%;
    height: 174px;
    background: url(../img/model_mall.png) no-repeat center center;
    background-size: 100% 100%;
    transition: background-size .8s;
    -webkit-transition: background-size .8s;
    -moz-transition: background-size .8s;
}
.model_mall .model_mall_img:hover{
    background-size: 120% 120%;
}
.model_mall .model_mall_info_box .name_box{
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.model_mall_info_box .name_box .top, .model_mall_info_box .name_box .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.model_mall_info_box .top .goods_name{
    font-size: 18px;
}
.model_mall_info_box .top .hot{
    display: -webkit-box;
    text-align: center;
    font-size: 10px;
    color: #fff;
    background-color: #e30d0b;
    border-radius: 3px;
    padding: 1px 2px;
}
.model_mall_info_box .bottom .desc_span{
    font-size: 14px;
    color: #6b6b6b;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.model_mall_info_box .bottom .ljgm a{
    text-decoration: none;
    font-size: 14px;
    color: #ff0000;
}
.model_mall .model_mall_info_box .time_box{
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.model_mall_info_box .time_box p{
    width: 100%;
    text-align: right;
}
.model_mall_info_box .time_box p i{
    display: inline-block;
    background: url(../img/icon1.png) no-repeat center center;
    width: 32px;
    height: 31px;
    vertical-align: middle;
}