.content{
    width: 100%;
    /* height: 1000px; */
}
.goods_detail_box{
    max-width: 1200px;
    min-width: 1000px;
    height: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.goods_detail_box .goods_detail_left{
    width: 850px;
}
.goods_info_box{
    height: 251px;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.goods_info_box .goods_img_box{
    float: left;
    width: 377px;
    height: 251px;
}
.goods_info_box .goods_img_box img{
    width: 100%;
    height: 100%;
}
.goods_info_box .goods_detail_info{
    float: right;
    width: 450px;
    height: 100%;
    padding: 20px 20px 10px 0;
    box-sizing: border-box;
}
.goods_detail_info .name_and_number h2.name{
    font-size: 20px;
    font-weight: bold;
}
.goods_detail_info .name_and_number span.number{
    font-size: 14px;
    color: #999;
    line-height: 26px;
}
.goods_detail_info .price_and_collect p.price .login_before{
    font-size: 16px;
    font-weight: bold;
    color: #f00;
}
.goods_detail_info .price_and_collect .login_after i{
    font-size: 14px;
    font-style: normal;
}
.goods_detail_info .price_and_collect i.del_price{
    text-decoration: line-through;
}
.goods_detail_info .price_and_collect i.present_price{
    font-weight: bold;
    color: #f00;
}
.goods_detail_info .price_and_collect .collect{
    font-size: 14px;
}
.goods_detail_info .price_and_collect i.icon_star{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon-like.png) no-repeat;
    background-size: 100%;
    vertical-align: bottom;
    cursor: pointer;
}
.goods_detail_info .price_and_collect i.on{
    background: url(../img/icon-like-on.png) no-repeat;
    background-size: 100%;
}
.goods_detail_info .goods_type_and_time p.type{
    font-size: 13px;
}
.goods_detail_info .goods_type_and_time i.icon_time{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon-clock.png) no-repeat;
    background-size: 100%;
    vertical-align: bottom;
}
.goods_detail_info .goods_type_and_time span.day{
    color: #f00;
}
.goods_detail_info .version p{
    font-size: 14px;
}
.goods_detail_info .buy_btn_box a{
    float: left;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.goods_detail_info .buy_btn_box a.demo_a{
    background-color: rgba(22, 155, 213, 1);
}
.goods_detail_info .buy_btn_box a.demo_a:hover{
    background-color: rgba(22, 135, 203, 1);
}
.goods_detail_info .buy_btn_box a.buy_a{
    background-color: rgba(246, 46, 46, 1);
}
.goods_detail_info .buy_btn_box a.buy_a:hover{
    background-color: rgba(216, 46, 46, 1);
}
.goods_desc_comment{
    width: 850px;
}
.goods_desc_comment .tab_a_box{
    width: 100%;
    height: 33px;
    line-height: 43px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 4px;
    padding-top: 6px;
    margin-bottom: 20px;
}
.goods_desc_comment .tab_a_box a{
    float: left;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
.goods_desc_comment .tab_a_box a.active{
    background-color: #fff;
    border-radius: 3px;
}
.goods_desc_comment .goods_desc_cont li,
.goods_desc_comment .goods_comment_cont li{
    font-size: 13px;
    line-height: 32px;
}
.goods_detail_box .recommend_right{
    width: 280px;
}
.recommend_right ul{
    width: 100%;
    box-sizing: border-box;
}
.recommend_right ul li{
    padding: 15px 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-top: 0;
}
.recommend_right ul li a{
    color: #000;
    text-decoration: none;
    display: flex;
}
.recommend_right .li_title{
    height: 42px;
    line-height: 42px;
    padding: 0 12px;
    font-size: 14px;
    background-color: rgba(246, 246, 246, 1);
}
.recommend_right .li_title i{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/icon-hot.png) no-repeat;
    background-size: 100%;
    vertical-align: text-bottom;
}
.recommend_right li .recommend_img{
    width: 130px;
    height: 86px;
}
.recommend_right li .recommend_img img{
    width: 100%;
    height: 100%;
}
.recommend_right li .recommend_info{
    margin-left: 6px;
    width: 120px;
}
.recommend_right li .recommend_info .recommend_name{
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.recommend_right li .recommend_info .recommend_time{
    margin: 10px 0; 
}
.recommend_right li .recommend_info .recommend_time i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon-clock.png) no-repeat;
    background-size: 100%;
    vertical-align: text-bottom;
}
.recommend_right li .recommend_info .recommend_time span{
    color: #f00;
}
.recommend_right li .recommend_info .recommend_version{
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.recommend_right a.more_recommend{
    display: inherit;
    width: 100%;
    text-decoration: none;
    color: #000;
    text-align: right;
    font-size: 14px;
    padding: 8px 5px;
    box-sizing: border-box;
}
.recommend_right a.more_recommend:hover{
    color: #f00;
}